[2015-05-04 14:33] chrisdone opened #1 "Architecture and requirements for this library"
Here is the list of things that our Stackage library needs to be able to do:
- Download the package index. Options: use all-cabal-files (optionally with GPG verification), download 00-index from Hackage, use the new TUF stuff, etc. Currently there is a Hackage downloader reference implementation in [Stackage.PackageIndex](https://github.com/fpco/stackage-common/blob/master/src/Stackage/PackageInde

[2015-05-05 10:17] chrisdone opened #2 "Stackage.Environment"
We'll need some functionality for determining the right environment variables based on the configuration. Making this issue to track any discussion needed.

[code]

[2015-05-05 10:18] chrisdone opened #3 "Stackage.Config"
Basic API is fleshed out below. @DanBurton will implement enough needed for stackage-cli and then we'll review for updates later.

[code]

[2015-05-05 10:27] chrisdone opened #4 "Stackage.PackageIndex"
We need based on `Stackage.Config` to download a package index. That means:
- Downloading from our [all-cabal-hashes](https://github.com/commercialhaskell/all-cabal-hashes).
- Putting it somewhere sensible e.g. `~/.stackage/index`.
- Verifying the git commit via gpg?

[code]

This is a rough sketch of the types. Getting versions available for a package is useful for the dependency resolution proce

[2015-05-05 12:04] chrisdone opened #5 "Stackage.Package"
So we already have an implementation of this in `stackage-common` but under slightly different superficial arguments. We'd like it updated to match the proposal (see end of ticket). Currently,

[code]

the two flag structure arguments are redundant, it can be just one. And the final action is remnant from fpbuild, it's really only used to determine whether the test suite or benchmarks are enabled.

[2015-05-06 06:21] chrisdone opened #6 "Extract build/test/copy/register functions from stackage-build"
Assigning to myself as I wrote this code and it's nontrivial.

[code]

[2015-05-07 17:04] #5 closed, assigned to nobody

[2015-05-08 07:35] chrisdone opened #7 "Stackage.FetchPackage"
[code]

There is some existing reference implementation code under [Stackage.Fetch](https://github.com/fpco/stackage-common/blob/master/src/Stackage/Fetch.hs) taken from stackage-build which does the necessary unpack and updates the .cabal file from the index, which is necessary because Hackage does not update .tar.gz downloads with subsequent cabal file revisions. But in this version, it will use

[2015-05-08 07:36] chrisdone opened #8 "Stackage.BuildPlan"
[code]

[2015-05-08 07:37] chrisdone opened #9 "Stackage.PackageDatabase"
[code]

There is already a bit of code for this in `Stackage.GhcPkg`.

[2015-05-08 07:38] chrisdone opened #10 "Stackage.Package build functionality"
To be taken from stackage-build which already has tried and tested code for this. We already have the basic `Stackage.Package` module which can read a package description:

[code]

In particular, we need these functions garnered from the Shake-based code in stackage-build:

[code]

[2015-05-08 07:41] #6 closed, assigned to chrisdone

[2015-05-11 17:09] snoyberg opened #11 "Add build plan code to stackage-common"
Discussed in Slack: https://fpcomplete.slack.com/archives/stackage/p1431363938000114

Will subsume much of: https://github.com/fpco/stackage-build-plan/blob/master/Stackage/BuildPlan.hs

[2015-05-12 14:01] snoyberg opened #12 "Import sourceAllCabalFiles"
See: https://github.com/commercialhaskell/all-cabal-metadata-tool/blob/3a2c8d94ff9ef74e3b7bda9b1ba460b5d82afabe/all-cabal-metadata-tool.hs#L18

Once stackage-common is out the door, we should switch all-cabal-metadata-tool to use it

[2015-05-14 08:13] #8 closed, assigned to chrisdone

[2015-05-15 06:18] #4 closed, assigned to dysinger

[2015-05-15 06:27] dysinger opened #14 "GPG verification"
We need to make sure that GPG signatures are checked on both
- package index
- individual package tarballs

[2015-05-15 10:05] snoyberg opened #15 "Improvements to registering packages"
We can consider overcoming limitations in package registration. Two things I've found so far:

* `--enable-multi-instance` would be the key to having sandbox-like functionality without having to create sandboxes
* We could replace the description field with the contents of the README file

[2015-05-16 19:17] snoyberg opened #16 "Automatically install necessary build-tools"
A common user error with cabal is when alex or happy is not available. We should do better: why not install them automatically when they aren't present?

[2015-05-17 05:59] snoyberg opened #17 "Rename to stack"
* [x] Rename the repo to `stack`
* [x] Rename the cabal file and module hierarchy (just a flat `Stack.*`?)
* [x] Put the repo in commercialhaskell instead of fpco
* [x] Setup a Travis job and add a Travis badge
* [x] Release to Hackage
* [x] Publish blog post

[2015-05-17 06:04] snoyberg opened #18 "User stories for stack executable"
These are some stories that we should address before considering the tool ready. Assigning to myself, @chrisdone and I will need to break out smaller work items most likely.
1. We offer the `stack` executable for all relevant platforms
2. User downloads the executable and puts it somewhere on his/her PATH
3. User goes into a project directory and types `stack build`
4. stack notices: oh, you don't

[2015-05-17 06:07] snoyberg opened #19 "Find compatible snapshot for a project"
Necessary for implementing good defaulting for #18. Some tricks we can employ would be:
- Only check newest minor release in an LTS series. Theoretically check for a relevant upper bound in a config file, though it's rare to have such upper bounds mid-major release
- Look at the bounds on base to immediately eliminate build plans with incompatible GHC versions

@chrisdone I'm thinking this code wo

[2015-05-17 15:41] snoyberg opened #21 "Merge stackage-types in"
Then we need to have stackage-curator and stackage-server depend on stack, which makes perfect sense.

[2015-05-17 16:13] snoyberg opened #22 "Drop Stackage.Resolve"
Should be replaced with usage of Stackage.BuildPlan instead

[2015-05-17 16:23] snoyberg opened #23 "Drop dependency on classy-prelude"
As mentioned in Slack:

[2015-05-17 17:09] snoyberg opened #24 "s/PackageVersion/Version"
Make all naming consistent, like we have with PackageName and FlagName.

[2015-05-17 17:21] #19 closed, assigned to snoyberg

[2015-05-17 17:41] #21 closed, assigned to snoyberg

[2015-05-17 17:42] #23 closed, assigned to snoyberg

[2015-05-17 17:56] #24 closed, assigned to snoyberg

[2015-05-17 18:15] #22 closed, assigned to snoyberg

[2015-05-17 18:15] #11 closed, assigned to chrisdone

[2015-05-17 18:24] #12 closed, assigned to snoyberg

[2015-05-17 20:01] #14 closed, assigned to nobody

[2015-05-18 16:52] snoyberg opened #25 "Stack.Setup"
Will be used to install GHC and other necessary tools. Will handle all OS-specific issues. Will have an API along the lines of:

[code]

[2015-05-18 17:00] snoyberg opened #26 "Put together a test suite"
Assigned to @DanBurton, who will do initial design of how the test suite will work.

[2015-05-18 17:19] #3 closed, assigned to nobody

[2015-05-18 17:20] #2 closed, assigned to nobody

[2015-05-18 17:26] snoyberg opened #27 "Add missing cabal functionality to stack"
After we've addressed our basic use cases, we should run through all of the commands that `cabal` supports and see which ones we want to port. For example, I can imagine wanting to run `stack unpack`.

[2015-05-19 04:21] snoyberg opened #28 "When do we update the package index?"
One annoyance of dealing with `cabal` is having to remember to update the package index. Should we be more intelligent? Since we're defaulting to LTS releases, we may have an easy option here:
1. If package index doesn't exist, update it (obviously, it's a cabal stupidity that it doesn't do that)
2. If the index exists, but is missing some package/version combinations that exist in the snapshot we

[2015-05-19 04:24] snoyberg opened #29 "Support for multiple/non-standard package indices"
One thing cabal did right was support for multiple package indices (remote-repos). I think we should probably do the same thing. One thing cabal did badly was how multiple repos get coalesced from multiple config files. We can do better. Here's a proposal:
- Each repo/index gets a unique identifier (e.g., hackage.haskell.org)
- Each repo can have Git and HTTP URLs configured for it
- We follow nor

[2015-05-19 04:25] snoyberg opened #30 "Output from command line utilities"
In particular: git output and the output from Stack.Setup is pretty noisy. Perhaps we should by default stream to a log file, with an option/config value to send to stdout.

[2015-05-19 05:05] #7 closed, assigned to chrisdone

[2015-05-19 07:39] snoyberg opened #31 "Graceful handling of GPG verification failure"
If GPG verification is turned on and updating the index fails, we should check the GPG keychain to see if the relevant key is present and notify the user. Either way, we should print a link to some documentation on how to securely set up GPG verification.

[2015-05-19 08:49] snoyberg opened #32 "Detect when a module is compiled but not listed in the cabal file"
Would have caught this bug @chrisdone just introduced ;)

[code]

FYI: I'm fixing that problem in the codebase right now

[2015-05-19 10:46] snoyberg opened #33 "Make installation of GHC optional"
Possibly: config setting to say "use whatever GHC is on the path." Also possible: config setting giving path to various GHC installations that can be used.

[2015-05-19 14:23] snoyberg opened #34 "Should support both Setup.hs and Setup.lhs"
It looks like the current code base won't allow for Setup.lhs, which could be important for the use case of custom Cabal files.

[2015-05-19 14:24] snoyberg opened #35 "Set PATH appropriately when calling build tools"
It looks like this is not currently happening in Stack.Build

[2015-05-19 14:25] snoyberg opened #36 "Detect when wrong GHC version is used"
The `Config` now tracks the expected GHC version. Ideally we'll be getting the correct GHC version set on the PATH automatically. However, if that doesn't happen for some reason we should give the user a meaningful error message.

[2015-05-19 14:38] snoyberg opened #37 "Determine package databases intelligently"
Consider a project with a stack.yaml at $DIR/stack.yaml. I propose the following rules:
- If using an LTS or Nightly, and none of the packages in the stack.yaml file shadow a package in the LTS or Nightly:
  - install dependencies into ~/.stack/shared-database/lts-X.Y or something like that
  - install local packages to $DIR/.stack-database
- Otherwise, put everything in $DIR/.stack-database

We c

[2015-05-19 14:45] snoyberg opened #38 "Unregister conflicting packages WAS: Inconsistent package database is possible"
I just ended up in a situation where I got an inconsistent package database. We need to ensure that can't happen and get a test case in place for triggering the problem (pinging @DanBurton). Here's the output I just saw:

[code]

[2015-05-19 15:17] chrisdone opened #39 "Detect unused dependencies"
Would be nice. Based on whatever code we're using to detect dependencies for the setup code, we could use that to detect what's _not_ being used to aid in cleaning up dependencies.

[2015-05-19 15:25] snoyberg opened #40 "Revisit how dependencies are determined/installed/selected"
Putting down thoughts here before I take a break. In Slack, I wrote that I think we need to do something like:
1. Let Stack.BuildPlan figure out which package versions it thinks should be used
2. Compare that to the version ranges
3. Ensure that all of those packages are present

We need to be careful about getting this right vs using whatever's already installed, which may not work (see #38). Let

[2015-05-19 16:01] snoyberg opened #41 "Allow specifying custom package-versions in package list"
I think I described this requirement elsewhere, and it may already be implemented (in which case, we can close it). Motivation: add an additional package not found in LTS/Nightly, and/or tweak a single package. Functionality would be:
- Unpack that to somewhere like $DIR/.stack/extra-packages/foo-1.2.3
- Treat it like any other local dependency

[2015-05-20 04:06] snoyberg opened #42 "Clarify/test the two-step build process"
Highly related to #37. I'm going to propose an entire philosophy here of how the system works: building of _dependencies_ is completely separate of building _local packages_. They get installed to different package databases, they run as two separate internal steps, etc. One important outcome here (which we need a test case for) is that dependencies can't depend on local packages. Let me give an e

[2015-05-20 04:11] snoyberg opened #43 "Always use Map FlagName Bool for setting flags"
The codebase currently uses about 3 different approaches:
- [FlagName]
- Set FlagName
- Map FlagName Bool

The first two give a list of `True` flags. This is incorrect: we should set the flag by default to its default value, and then overwrite based on the parameter here.

[2015-05-20 04:13] snoyberg opened #44 "Confirm that multi-directory projects work"
- [x] Running a command from a subdirectory should find the main config file
- [ ] Referring to packages via ../directory should work
- [x] Possible to set the project's stack.yaml via an environment variable (STACK_YAML?)

[2015-05-20 09:35] #9 closed, assigned to chrisdone

[2015-05-20 10:34] snoyberg opened #45 "Add some kind of 00-index.cache file"
cabal-install uses this to avoid the need to traverse the entire 00-index.tar file in some cases. We could use this for a sourcePackageIndexIdents function or something like that, and use it in findNewestVersions.

[2015-05-20 11:25] #45 closed, assigned to nobody

[2015-05-20 16:53] #36 closed, assigned to nobody

[2015-05-20 16:54] #35 closed, assigned to nobody

[2015-05-20 18:20] #43 closed, assigned to nobody

[2015-05-20 18:25] snoyberg opened #46 "Introduce a "snapshot cache""
The build plan files are massive, containing a lot of information we don't need in general in a format that's difficult to parse (YAML). We basically need to know (1) the GHC major version and (2) a list of package identifiers. Let's have a simple datatype with that information, and create a cache with that.

[2015-05-20 18:30] snoyberg opened #47 "Data files not being resolved correctly"
As an example:

[code]

I think the code in `Stack.Package` just needs to take the `data-dir` into account.

[2015-05-21 04:58] #46 closed, assigned to nobody

[2015-05-21 07:55] snoyberg opened #48 "Give warnings on unexpected config keys"
Should help avoid confusion around typos in a config file leading to `stack` doing something the user doesn't expect

[2015-05-21 09:53] snoyberg opened #49 "Write log files from dependencies outside of the temporary directory"
Currently, if a dependency fails to build, there is no way to read the log file for it.

[2015-05-21 10:03] snoyberg opened #50 "Need to respect buildable: False and flags for dependency tracking"
I haven't tracked down exactly what the problem is yet, but somehow I'm seeing that vector-algorithms's dependency on mwc-random - which is in an executable which is off by default - is causing build failures.

[2015-05-21 10:36] snoyberg opened #51 "Set GHC_PACKAGE_PATH when calling runhaskell"
This will avoid the (incredibly annoying) cabal bugs of letting the user package database leak into the build

[2015-05-21 11:05] #50 closed, assigned to nobody

[2015-05-21 11:26] #42 closed, assigned to nobody

[2015-05-21 11:41] snoyberg opened #52 "Remove dependency on system-filepath and system-fileio"
Mostly applies to Stack.Docker, so assigning to @manny-fp

[2015-05-22 04:17] snoyberg opened #53 "New Resolver: custom plan"
This may be the right way to get access to the dependency solver route. We have a new Resolver constructors which points to a custom build plan. A custom build plan would just be a GHC version and a list of package identifiers. Unlike LTS/Nightly, we wouldn't use shared package databases, but otherwise it should work the same way.

[2015-05-22 05:56] snoyberg opened #54 "Set bindir, libdir, etc during configure"
Instead of installing wherever cabal decides is appropriate. Specifically with bindir, we should than modify the PATH to include that directory. Likely we'll need two sets of directories, one for dependencies and one for locals.

[2015-05-22 12:22] #47 closed, assigned to snoyberg

[2015-05-22 13:05] #34 closed, assigned to snoyberg

[2015-05-22 14:32] #54 closed, assigned to snoyberg

[2015-05-24 17:44] chrisdone opened #55 "`stack hoogle` command"
I want this! It should:

1. Run hoogle with the right database according to the stack config in the directory in which it's run (so it's easily ran from a terminal or by IDEs).
2. Automatically download the hoogle database from stackage.org e.g. `https://www.stackage.org/snapshot/lts-2.1/db.hoo` for lts-2.1.
3. Put it in some reasonable place like `~/.stack/hoogle-databases/lts-2.1.hoo`.
2. Or whe

[2015-05-25 07:27] snoyberg opened #56 "Explicit packages to be used for Setup.hs"
When running Setup.hs (or Setup.lhs), we need to pass in appropriate flags to tell it which libraries to use. The flags will be `-hide-all-packages` and `-package` (or `-package-id` possibly). Otherwise, which version of the Cabal library is used will be nondeterministic. Furthermore, libraries like Cabal-ide-backend will wreak absolute havoc.

[2015-05-25 07:29] snoyberg opened #57 "When building dependencies, don't use local packages"
Should affect us in two ways:
- The package databases available
- The PATH should not include local package executables

I think the first bullet is already addressed, I just need to take care of the second

[2015-05-25 07:31] snoyberg opened #58 "Helpful error messages when shadowing a snapshot package"
Use case: someone is working on a package that depends on `warp`, and is also modifying `wai`, which `warp` depends on. The error message the user sees should be something like:

[2015-05-25 07:33] snoyberg opened #59 "Smart behavior for exec/ghc/etc commands outside of a project"
Desired behavior: you're working on a project that uses LTS 2.9. You leave that project and go to a directory which has no stack.yaml file. You run `stack runghc foo.hs`. Instead of using some random snapshot, it should use the most recently used snapshot (LTS 2.9) so that there's a good chance that your desired libraries are available. It should also print out a message to the user explaining wha

[2015-05-25 07:43] #51 closed, assigned to nobody

[2015-05-25 07:46] #37 closed, assigned to nobody

[2015-05-25 07:47] #1 closed, assigned to nobody

[2015-05-25 07:47] #10 closed, assigned to chrisdone

[2015-05-25 07:49] #41 closed, assigned to nobody

[2015-05-25 07:49] #40 closed, assigned to nobody

[2015-05-25 08:33] snoyberg opened #60 "Include GHC version in install root/package database"
This will avoid the situation of upgrading from GHC 7.10.1 to 7.10.2 causing mayhem.

[2015-05-25 08:34] snoyberg opened #61 "Write up a meaningful README"
Should explain basic usage and design philosophy (e.g., break between dependencies and locals, clear build plan step, shared sandboxes, GHC version checking)

[2015-05-25 09:25] snoyberg opened #62 "Only configure when necessary"

[2015-05-25 09:26] snoyberg opened #63 "Improvements to the stack deps command"
Use case: point it at a .hs file, it will parse the file, determine the modules it needs, look in a build plan, find the packages providing those modules, and install them. Could also provide it with just the names of packages.

[2015-05-25 09:27] snoyberg opened #64 "stack test and bench"

[2015-05-25 09:33] #18 closed, assigned to snoyberg

[2015-05-25 09:52] snoyberg opened #65 "Add Docker FAQ entry WAS: Get the docker use case working again"

[2015-05-25 09:57] snoyberg opened #66 "Fix the FIXMEs in the codebase"

[2015-05-25 10:05] snoyberg opened #67 "Possibly: combine the two Shake build steps"
Currently we do dependencies and local packages separately. Instead, we may want to do them in a single build step. Not high urgency, as the current approach works.

[2015-05-25 10:17] #60 closed, assigned to snoyberg

[2015-05-25 10:26] snoyberg opened #68 "Add exec-wrapping functions"
These would be virtually identical to `stack exec foo` I think.
- repl and/or ghci
- ghc
- runghc and/or runhaskell

Others?

[2015-05-25 12:28] #57 closed, assigned to snoyberg

[2015-05-25 12:58] #53 closed, assigned to snoyberg

[2015-05-25 14:22] snoyberg opened #69 "package.conf.inplace: inappropriate type"
[code]

Seems to be from using a different version of cabal and/or GHC previously. Running `cabal clean` in that directory fixes things. We need to have some kind of way of detecting and solving this automatically, as people will be using both build tools.

[2015-05-25 14:25] snoyberg opened #70 "Set sandbox environment variable during test run"
A common bug encountered when using `cabal test` with doctests is that it doesn't use the local cabal sandbox. There's some quasi-standard (which I think I instituted) around using some environment variable like CABAL_SANDBOX_PATH or the like. `stack test` should implement this and hopefully make doctests reliable.

[2015-05-25 14:59] snoyberg opened #71 "Better build tools handling"
- [x] Should not throw an exception if a build tool is missing, since there's no standard on the meaning of the build-tool field (could mean package name, exe name, or something else)
- [x] If we need to find executables (not sure that it's required after bullet 1 is implemented), take modified PATH into account
- [x] Try and guess the right dependencies to install based on build-tools, like we do

[2015-05-25 16:17] snoyberg opened #72 "Create an Ubuntu PPA for stack"
Ping me for details

[2015-05-25 16:20] snoyberg opened #73 "How do we do Stack.Setup on Mac?"

[2015-05-25 16:27] snoyberg opened #74 "Figure out the right way to do distribution/update across OSes"
This would be things like PPAs, Windows installers, Homebrew, etc. Need to think about the options and come up with a plan.

[2015-05-25 17:02] snoyberg opened #75 "Review and clean up all config fields"
At the very least, we've agreed that configInstallDeps should be removed.

[2015-05-25 17:21] snoyberg opened #76 "Large amounts of stderr cause everything to freeze"
This appears to be due to the sequential nature of the code in the `runhaskell` function. I thought it would be trivial to use `concurrently` on that code, but it didn't fix anything. Strangely enough, added `-threaded` results in "<STDOUT> resource vanished" from the child process. Requirements more investigation, but I'm out of energy today.

[2015-05-26 05:08] #62 closed, assigned to snoyberg

[2015-05-26 06:47] snoyberg opened #77 "Executable-only packages can't be built"
When building the yesod project, I get the following error message:

[code]

[2015-05-26 06:48] snoyberg opened #78 "New version of Cabal repeatedly reinstalled"
When building the yesod project with a nightly snapshot, Cabal (the library) keeps getting reinstalled. Investigating as to why.

[2015-05-26 06:49] #76 closed, assigned to snoyberg

[2015-05-26 07:00] #78 closed, assigned to snoyberg

[2015-05-26 07:09] #77 closed, assigned to snoyberg

[2015-05-26 07:32] snoyberg opened #79 "Changing GHC options forces extra-deps to recompile"
I wrote the initial code around this but wasn't thorough enough. @chrisdone would you mind fixing this problem? To reproduce:

[code]

[2015-05-26 09:59] chrisdone opened #80 "Put FinalAction in the GenConfig"
And add that setting to `configFileChanged` and `configFileInvalidated`, and adjust [this](https://github.com/fpco/stack/blob/master/src/Stack/Build.hs#L315)

[code]

appropriately.

Branched off https://github.com/fpco/stack/issues/64#issuecomment-105436850.

[2015-05-26 11:25] snoyberg opened #81 "Exception type cleanup"
* [ ] Have a single `StackException` datatype
* [ ] Make the `Show` instance display a user-friendly string
* [ ] Consider: modify the default exception handling in the executable so that it doesn't print `stack: ` in front of the pretty exception

[2015-05-26 11:35] #64 closed, assigned to snoyberg

[2015-05-26 11:41] #33 closed, assigned to snoyberg

[2015-05-26 11:41] #25 closed, assigned to snoyberg

[2015-05-26 11:43] snoyberg opened #82 "Finish off Stack.Setup for Linux and Windows"
- [x] Linux 32 bit support
- [ ] Hash checking
- [x] Get list of GHC versions from stackage-content (or elsewhere) on Github
- [x] Windows support
- [x] Remove unnecessary code

[2015-05-26 11:50] #79 closed, assigned to snoyberg

[2015-05-26 18:11] snoyberg opened #83 "Make sure stack can self-host on Windows"
Not currently the case due to a bunch of errors, need to iron those out

[2015-05-27 03:50] #61 closed, assigned to snoyberg

[2015-05-27 05:20] snoyberg opened #84 "Parallel builds don't work: Cabal (library) bug on configure?"
When I have parallel builds on, the `runhaskell Setup.hs build` steps will sporadically fail about "need to configure", but if I set the number of Shake flags to 1, it works. We may want to conditionally set threads to 1 on Windows for an initial release, and then debug what's happening.

[2015-05-27 05:29] snoyberg opened #85 "Include global package database in build plan resolving"
Motivation: some packages that are available per-OS (like Win32) are not present in the LTS and Nightly plans. This will allow such packages to build on Windows.

[2015-05-27 05:45] #85 closed, assigned to snoyberg

[2015-05-27 05:50] snoyberg opened #86 "Don't trust the build plan's claims about dependencies"
Problem: those dependencies were calculated on a specific OS and won't work elsewhere. Instead, modify `MiniBuildPlan` to not have dependency information, and parse/resolve the .cabal files directly from the index.

[2015-05-27 06:28] #86 closed, assigned to snoyberg

[2015-05-27 06:43] #83 closed, assigned to snoyberg

[2015-05-27 09:29] #75 closed, assigned to snoyberg

[2015-05-27 16:44] #38 closed, assigned to snoyberg

[2015-05-28 03:51] snoyberg opened #87 "Check for and install hscolour before running haddock"
Alternatively: turn off hyperlinked sources. I just got the following error message on Windows:

[2015-05-28 03:52] #82 closed, assigned to snoyberg

[2015-05-28 04:01] #68 closed, assigned to chrisdone

[2015-05-28 04:10] snoyberg opened #88 "Build failures do not prevent the build from "succeeding""
I just went through the following steps:
1. Work on codebase, make some type errors
2. Compile
3. Single target, so output is sent to the console (yay!)
4. See error messages
5. stack installs anyway

Future calls to `stack build` are a no-op until I modify a source file

[2015-05-28 04:20] #49 closed, assigned to snoyberg

[2015-05-28 04:33] snoyberg opened #89 "Uncertain: compile Setup.hs into an executable"
This may be a performance win (and also may not be). If we go in this direction, we should make sure that the generated executable filename depends on the GHC version and Cabal library version being used to avoid problems of previously-compiled Setup.hs files being used after changing snapshots. I would say the best first step would compile Setup.hs per project.

Note that this may be a complete p

[2015-05-28 04:34] #56 closed, assigned to chrisdone

[2015-05-28 04:45] snoyberg opened #90 "Relative directory targets do not work"
Splitting off from #44. Looking at this myself for now, but may pass to @chrisdone.

While working on WAI, the following did not trigger any builds:
- `stack build .` from inside warp-tls
- `stack build ../warp-tls` from inside wai-extra

However, running `stack build` inside warp-tls does trigger a build.

Relatedly: giving bogus targets (like `stack build foo`) does not produce any error message

[2015-05-28 04:56] #44 closed, assigned to nobody

[2015-05-28 07:17] #88 closed, assigned to chrisdone

[2015-05-28 07:25] #90 closed, assigned to chrisdone

[2015-05-28 08:55] snoyberg opened #91 "When choosing a snapshot, first choose snapshots that have a local package database"
Motivation: try to reuse existing installations when possible

[2015-05-28 08:56] snoyberg opened #92 "Move dist directory into .stack-work"

[2015-05-28 08:57] snoyberg opened #93 "Further improvements to README"

[2015-05-28 09:28] snoyberg opened #95 "stack path"
I closed an issue about this previously, but after discussing with @chrisdone we should implement it. Will have information about:

* Which GHC is being used
* Where log files are stored
* Package databases

[2015-05-28 11:00] borsboom opened #96 "Architecture-specific directories in ~/.stack"
Any directories containing binaries (executables or libraries) in ~/.stack should be per-architecture-and-GHC version, rather than only per-GHC-version.  For example:
- `~/.stack/ghc/ghc-7.8.4/` -> `~/.stack/ghc/x86_64-osx-ghc-7.8.4/`
- `~/.stack/snapshots/lts-2.9/7.8.4/` -> `~/.stack/snapshots/lts-2.9/x86_64-osx-ghc-7.8.4/`

(in this case I used Cabal's convention for architecture-specific direct

[2015-05-28 11:46] #71 closed, assigned to snoyberg

[2015-05-28 12:06] #91 closed, assigned to snoyberg

[2015-05-28 12:48] snoyberg opened #97 "ghc-options being passed to dependencies"
When running with -Wall -Werror, I just got:

[code]

[2015-05-28 12:56] #73 closed, assigned to nobody

[2015-05-28 15:23] #96 closed, assigned to snoyberg

[2015-05-28 17:30] drwebb opened #98 "Create an Arch Linux PKGBUILD for stack"
Set for second release to coincide with Ubuntu PPA

[2015-05-28 18:57] snoyberg opened #99 "Running stack test recompiles extra-deps"
This occurs on Windows at least. Running `stack test` within the stack directory results in the following each time:

[code]

Note that the test suite is not compiling right now, which might be the necessary trigger for this.

[2015-05-28 19:08] #99 closed, assigned to snoyberg

[2015-05-29 01:49] snoyberg opened #100 "Tests remain enabled after switching back to stack build"
If you run `stack test` and then `stack build`, it doesn't reconfigure without `--enable-tests`, so tests are still built. E.g.:

[code]

[2015-05-29 02:45] snoyberg opened #101 "Need to parse config files twice when BuildConfig is needed"
The current code in Stack.Docker requires that the config files be parsed twice: once to get the `Config`, and then (for commands requiring them) to get the `BuildConfig`. I think it would make more sense to reduce the parsing overhead. One possibility: modify `Stack.Config` so that `loadConfig` gives back something like:

[code]

Where running the second part of the tuple will share the already-p

[2015-05-29 02:49] #97 closed, assigned to snoyberg

[2015-05-29 02:51] snoyberg opened #102 "Test suite failure"
I think the test case itself is incorrect:

[code]

[2015-05-29 02:55] snoyberg opened #103 "Create a Github release, populate with binaries for various OSes"
Just to make it easier for people to test. Let's call this release 0.0.0

[2015-05-29 03:17] DanBurton opened #104 "unpack shouldn't write a default config file"
I did a `stack unpack aeson` in my home directory. I did _not_ want stack to write a `stack.yaml` project file for me, especially in this case (in my home directory).

[2015-05-29 03:25] #104 closed, assigned to nobody

[2015-05-29 03:47] DanBurton opened #105 "Respect TemplateHaskell addDependentFile dependency changes"
For example, when building `stack` itself.

* Make a local change
* `stack build`
* gitrev writes the version as "dirty"
* commit
* `stack build`

What should happen:
* stack recognizes that the dependency changed and rebuilds accordingly

What currently happens:
* stack does not recognize that the dependency changed

[2015-05-29 03:52] DanBurton opened #106 "stack clean error message, fails to remove .stack-work"
`stack clean` seems to correctly clean out everything, but leaves the `.stack-work` folder intact, and complains with this error message:

[code]

[2015-05-29 03:57] DanBurton opened #107 "Feature request: a version of stack clean that doesn't delete extra-deps"

[2015-05-29 03:59] snoyberg opened #108 "Provide an easy way to install dependencies"
Use case: want to use `stack ghc`, `stack ghci`, or `stack runghc` with a package that hasn't already been installed by some other means. Actually, idea came from an email I just saw from @bitemyapp:

Imagine if we had:

[code]

I only say `dep` instead of `install` since I wouldn't want to reuse the name `install` when cabal has given it quite a different meaning (build the local thing, resolving

[2015-05-29 04:59] UnkindPartition opened #110 "Confusing error message about a version "provided locally""
[code]

I figured out eventually that 0.4.1 is what stackage provides, but that is the opposite of "provided locally", isn't it?

[2015-05-29 05:11] #110 closed, assigned to nobody

[2015-05-29 05:47] feuerbach opened #111 "Custom snapshots"
Custom snapshots are essential for me and generally important for user freedom.

By 'custom' I mean the ability to specify both custom constraints and a custom download repository.

I am happy to try to work on this myself, but wanted to find out your thoughts first.

[2015-05-29 08:36] ndmitchell opened #112 "Depend on happy when installing haskell-src-exts"
See https://github.com/haskell-suite/haskell-src-exts/issues/14. Stack should have some reasonable story for installing happy or ensuring it is available before building haskell-src-exts. I had a Hoogle user bump into this problem yesterday. The story may be that `stack setup` ensures `happy.exe` is present.

[2015-05-29 08:44] #58 closed, assigned to snoyberg

[2015-05-29 12:29] #112 closed, assigned to nobody

[2015-05-29 12:31] #84 closed, assigned to nobody

[2015-05-29 12:34] #28 closed, assigned to nobody

[2015-05-29 12:36] #16 closed, assigned to nobody

[2015-05-29 12:38] #92 closed, assigned to chrisdone

[2015-05-29 12:47] snoyberg opened #113 "Auto-rebuild on file change"
Moving from an internal issue tracker:

Just an idea I had: what about having a command (maybe autobuild) that scans a directory for any changes to files (via fsnotify) and, on a change, automatically rebuilds? I know this is something that I would use regularly.

Not high priority, just an idea.

[2015-05-29 13:20] #108 closed, assigned to snoyberg

[2015-05-29 13:38] snoyberg opened #115 "Add commands for automating stack.yaml management"
Originally discussed in #27. Exact requirements here are uncertain, some ideas:
- Upgrade to a new snapshot
- Prune the extra-deps
- Add an extra package to the list of packages (and remove one?)
- Use a dependency solver to automatically add necessary extra-deps

[2015-05-29 13:38] #27 closed, assigned to nobody

[2015-05-29 14:16] ndmitchell opened #116 "Support a different/better dependency solver WAS Add ability to generate stack.yml with a dependency solver"
It seems if either of the stackage LTS things fail, or you have non-Stackage dependencies, you are a little bit stuck and have to do a lot more work than Cabal. Why not fall back to running `cabal configure`, stealing the dependencies they compute, and writing those into the .yaml file? That way you can still use stack for all the other benefits, and hopefully it means you can avoid adding a depen

[2015-05-29 15:07] ndmitchell opened #117 "Add support for installing from binaries"
It should be possible to install packages from a binary precompiled source on a remote machine (http or mounted drive), if available. I imagine this feature will be more popular in commercial environments.

I'm expecting this to be a low-priority request.

[2015-05-29 18:15] meteficha opened #119 "Better error message when build plan is not found"
This is scary:

[code]

[2015-05-29 18:45] meteficha opened #120 "Did I do something wrong, or is there a bug?"
This is a newbie issue :).  Just tried `stack` on my https://github.com/yesodweb/serversession WIP.  Here's the last of a series of tries of `stack build`ing:

[code]

Supposing `stack`'s builds are reproducible, just clone the repo and try building it.  I've tested at commit yesodweb/serversession@dc34513.

I'm using the nightly because `stack` didn't want to use my GHC 7.10.1 against `lts-2.10`.

[2015-05-29 19:20] DanBurton opened #121 "stack unpack is slow"
[code]

This needs to feel as fast as cabal. 40x slowdown feels awful.

[2015-05-29 19:32] DanBurton opened #122 "Add the following >>to<< your extra deps"
Current message: "Recommended action: add the following your extra-deps"
Should be: "Recommended action: add the following to your extra-deps"

[2015-05-29 19:36] DanBurton opened #123 "Add alex to extra deps, it's already there"
I got this message while trying to build https://github.com/yesodweb/serversession (at commit dc34513) on lts-2.10. (Looking into #120.)

[code]

Here's the `stack.yaml` I was using; notice I do have `alex-3.1.4` in the extra-deps:

[code]

[2015-05-29 20:18] DanBurton opened #124 "Install packages to the snapshot database with profiling when they are present in the global database without profiling"
Example: The `data-default-class` package is installed in the global database _without_ profiling. My project depends on the `cookie` package, but when stack tries to install it with profiling into a snapshot database, it ends in failure:

[code]

See #120 for details.

[2015-05-29 20:25] DanBurton opened #125 "Rebuild project when dependencies have changed, even if they are the same version?"
Example:

I built a project with `stack build`. Then I added the following (which are in the snapshot) to my `extra-deps`:

[code]

Then I ran `stack build` again. It installed the extra-deps, as expected, but did not rebuild the project.

Expected: it should have rebuilt the project?

(See #120 for superfluous context.)

[2015-05-29 20:45] meteficha opened #126 "Add a progress indicator to stack setup"
[code]

[2015-05-29 20:54] DanBurton opened #127 "Filter out incompatible package versions from the global DB and specify exact dependencies to configure"
See: https://github.com/fpco/stack/issues/120#issuecomment-106927939

The basic idea is that his global database has `text-1.2.0.4`, and some other things in the global database built against that, while his snapshot database has `text-1.2.1.1`.

[code]

[2015-05-29 20:55] #120 closed, assigned to nobody

[2015-05-29 21:43] UnkindPartition opened #128 "Use non-standard dist directory"
Stack should use something like `dist-stack` instead of `dist`. This way stack and cabal can be used on the same project without interference.

Changing the dist directory name should be straightforward; e.g. cabal-install uses a renamed dist dir when using sandboxes, so Cabal-the-library is dist-agnostic.

[2015-05-29 23:58] UnkindPartition opened #129 "Stack is slacking"
[code]

What is it doing for more than a minute after announcing that it is installing packages and before it starts downloading them?

[2015-05-30 12:57] feuerbach opened #130 "Analogue of cabal repl"
IIUC `stack ghci` simply calls ghci with the stack's package db.

`cabal repl` is more than that: if run in a directory with a cabal file, it'll enable the extensions listed in the cabal file (super-useful) and also load all package's modules (moderately useful).

[2015-05-30 18:32] #122 closed, assigned to nobody

[2015-05-31 04:20] #103 closed, assigned to snoyberg

[2015-05-31 04:34] snoyberg opened #131 "Only consider a dependency installed if it has a profiling version available"
Motivation: if the user has installed packages in his/her global package database without profiling versions, trying ourselves to install profiling versions on top of that will cause breakage.

[2015-05-31 04:35] #131 closed, assigned to chrisdone

[2015-05-31 05:58] #69 closed, assigned to nobody

[2015-05-31 05:59] #128 closed, assigned to snoyberg

[2015-05-31 06:05] snoyberg opened #132 "Check that the architecture of GHC matches configPlatform"
Could be important on Linux if someone purposely uses a 32-bit GHC on a 64-bit OS.

[2015-05-31 06:06] snoyberg opened #133 "stack rm command"
- Without arguments, lists all local GHCs and snapshots
- Takes output from previous command and deletes relevant directories
- Maybe have a `--all` flag?

Thoughts on this from anyone?

[2015-05-31 06:09] #101 closed, assigned to snoyberg

[2015-05-31 06:52] #123 closed, assigned to nobody

[2015-05-31 07:00] snoyberg opened #134 "Turning on profiling doesn't trigger enough rebuilding"
Two things I noticed:
1. I think `--enable-executable-profiling` should imply `--enable-library-profiling`
2. We need to rebuild the extra-deps when profiling is now required. Either that, or build them with profiling in the first place.

[2015-05-31 07:35] snoyberg opened #135 "Provide bash completion"
Should be trivial because of our usage of optparse-applicative I believe. Would be nice to include in things like Ubuntu PPAs.

[2015-05-31 08:40] #119 closed, assigned to nobody

[2015-05-31 11:59] #129 closed, assigned to nobody

[2015-05-31 16:24] #52 closed, assigned to snoyberg

[2015-05-31 17:08] radix opened #136 "Allow third-party plugins"
Like stackage-cli and lein, it would be nice if Stack provided a plugin system. The most obvious use of it would be to provide new `stack` subcommands for doing things that aren't natively built in.

There's a whole other category of potential plugins, though, and it may demand its own separate issue: plugins that don't add subcommands but rather alter other behavior. For example, assuming the exi

[2015-05-31 18:59] radix opened #137 "`stack new` for creating new projects with templates"
I'll let others determine whether this is in of scope, but I think it would be a good idea to build in a project-creating command that sets up a basic directory/file structure.

This would be kinda like `cabal init`, but wider in scope -- more like [lein new](https://github.com/technomancy/leiningen/blob/master/doc/TUTORIAL.md#creating-a-project).

Here are some of the features I imagine it should

[2015-05-31 21:30] DanBurton opened #138 "Generate project's cabal file(s) based on stack.yaml"
Stack-powered projects eventually shouldn't rely on having a cabal file. However, a cabal file will probably continue to be necessary for uploading to hackage for a long time, so we'd like to be able to generate the cabal file based on `stack.yaml`.

[2015-05-31 21:50] #121 closed, assigned to nobody

[2015-05-31 21:54] DanBurton opened #139 "stack unpack unnecessary message"
When I call `stack unpack` from somewhere that isn't part of a stack-ified project, I get this message:

This is not something that I care about when using `stack unpack`. Can it be relegated to a lower log level? It mildly worries me that stack unpack is even looking for a "project config" in the first place. It makes sense that it's behavior can change based on configs that it finds, but this is

[2015-05-31 23:17] bitemyapp opened #140 "Fix warnings and 7.10 compatibility"
Got lots of warnings. Searched Github issues, didn't see anything about warnings or 7.10 (independent searches).

1. What versions of GHC are supposed to work right now?

2. May I ifdef the warnings out? Noisy builds drive me nuts.

[2015-05-31 23:25] DanBurton opened #141 "Document user story for multiple build plans"
Some people are interested in making sure their project compiles against multiple versions of ghc or multiple versions of dependencies. We should have a convenient and well-documented way for them to accomplish their goals. Something like:
- Have `stack-7.8.yaml` and `stack-7.10.yaml` at the root of your project, and `stack.yaml` as a symlink to the latter (or whatever your "recommended" build app

[2015-06-01 00:47] bitemyapp opened #142 "Cryptic error message, "do not exist in the build plan""
[code]

I'm guessing that means they aren't in Stackage? User isn't going to know what to do at this point.

I see two sensible options, from my limited understanding of how everything works:
1. Make the error not happen
2. Tell the user what they need to do to make the error not happen (I prefer number 1)

[2015-06-01 08:46] #106 closed, assigned to chrisdone

[2015-06-01 10:05] feuerbach opened #143 "Build haddocks for dependencies"
From what I see, haddocks aren't built when installing dependencies.

It would be nice to support these use cases:

1. I only want to install an app and don't care about haddocks, don't waste my time
2. I have plenty of time, build haddocks while installing packages
3. I want to get started ASAP, so for now, only *build* the dependencies, but later I may want to run `stack  haddock` and have it bu

[2015-06-01 11:49] #29 closed, assigned to snoyberg

[2015-06-01 12:26] snoyberg opened #145 "Modify Stack.Fetch to use the Network.HTTP.Download.Verify module"
There's already a FIXME in there. The code is pretty well duplicated from what you wrote in .Verify, so the task is simply: use .Verify instead to avoid code duplication.

[2015-06-01 13:50] borsboom opened #146 "Include platform in .dist-stack subdirectory"
See https://github.com/fpco/stack/commit/f8574c13758e7a42e3e0f65ca6eac2c83288a8ec#commitcomment-11448810

[2015-06-01 13:58] #139 closed, assigned to snoyberg

[2015-06-01 15:13] manny-fp opened #147 "Update doc generation and doc-server"

[2015-06-01 16:18] snoyberg opened #148 "Add stack version requirement to stack.yaml"
Motivation: a team could have a stack.yaml file in their project that would force the team to update. Ties in with #74

[2015-06-01 17:13] chreekat opened #150 "New docker options overwhelm --help output"
[code]

Could those options be moved under the 'docker' subcommand, be given a subheading, or be relegated to a docker.yaml?

[2015-06-01 17:26] #67 closed, assigned to nobody

[2015-06-01 18:01] snoyberg opened #151 "Let STACK_YAML be a relative path"

[2015-06-01 18:16] gregwebs opened #152 "Build fails when missing profiling version of core libraries"
I am using the Dockerfile in this repo for my development environment.

I ran `stack build` for the first time. It created a `stack.yaml` file with `packages: []`. `stack build` then does nothing.

My cabal file was named `load_data.cabal` and the package name was `loaddata.cabal` (difference of an underscore). After changing the file and package name to `load-data` I still had the same result. Ma

[2015-06-01 18:51] #102 closed, assigned to nobody

[2015-06-01 19:46] chreekat opened #153 "Installing executables (was: yesod-bin as "extra build tool")"
## *Is* yesod-bin an "extra build tool"?

From the FAQ:

yesod-bin is not technically required, as anyone can use Yesod libraries without bothering with yesod-bin. However, I want it to be available to my project's contributors with a minimum of fuss. Should stack solve this problem for me?

Self-answer: Yes. I can add yesod-bin as an extra-dep, and then 'stack exec yesod' works. Still, the differ

[2015-06-01 20:39] DanBurton opened #155 "Error when running Shake build system (Directory not empty) RE: unpacked"
[code]

I got this error going back and forth between `stack test`-ing this repo on `lts-2.10` and `nightly-2015-05-28`. I'm not sure how to reproduce it.

[2015-06-01 20:39] #151 closed, assigned to nobody

[2015-06-01 21:28] DanBurton opened #156 "Automatically install cpphs when not present"
Same as #16.

For example, building `stack` itself requires cpphs.

[code]

[2015-06-01 21:37] #136 closed, assigned to nobody

[2015-06-01 21:54] #141 closed, assigned to nobody

[2015-06-01 22:18] DanBurton opened #157 ""The program happy is required but it could not be found" after building happy"
From running `stack build` on the stackage-server repo, lts-2.10.

[code]

[2015-06-01 22:42] DanBurton opened #158 "Nice-to-have: typo recommendations for UnknownPackageIdentifiers"
`UnknownPackageIdentifiers (fromList ["stackage-metdata-0.3.0.0"])`

It would be nice if it could notice that I was only off by one character from `stackage-metadata`.

[2015-06-01 22:44] chreekat opened #159 "Missing transitive dependencies are not listed the first time around"
'github' depends on 'failure', but failure isn't listed as a missing dep at first:

    $ b@fuzzbomb ~/tmp/snowdrifft (master) $ stack build
    Checking against build plan lts-2.11
    Checking against build plan lts-2.10
    Checking against build plan lts-1.15
    Checking against build plan nightly-2015-06-01
    Writing default config file to: /home/b/tmp/snowdrifft/stack.yaml
    stack: The

[2015-06-02 00:57] bitemyapp opened #160 "Doctests don't work for Bloodhound"
[code]

I know doctests are a heartburn in general, but they're really valuable for the documentation quality.

Failure produced for this project: https://github.com/bitemyapp/bloodhound

[2015-06-02 01:20] #72 closed, assigned to dysinger

[2015-06-02 03:24] #142 closed, assigned to nobody

[2015-06-02 04:19] #160 closed, assigned to nobody

[2015-06-02 04:47] gregwebs opened #163 "stack build does not recognize the package"
I have a cabal file in a directory. When I run `stack build` I get a `stack.yaml` of

[code]

Note that `packages` does not include `"."`. If I add that in manually, everything works.

[2015-06-02 06:32] #156 closed, assigned to nobody

[2015-06-02 06:37] snoyberg opened #164 "Unnecessary rebuilding occurring"
I'm seeing a lot of this go on right now. I'm in the middle of debugging some other issues, but once I free up from that I need to investigate and fill in more details on this report.

[2015-06-02 07:48] #164 closed, assigned to snoyberg

[2015-06-02 11:16] snoyberg opened #165 "Only build profiling libraries on demand"
Motivation: faster initial builds, work in use cases where GHC's profiling libraries aren't available.

We should have a user friendly error message when trying to build a profiling library and a profiling version of base is unavailable.

[2015-06-02 11:25] snoyberg opened #166 "Parse ghc-pkg dump output"
Will be used for determining exact package IDs to be used for installation.

[2015-06-02 15:55] #163 closed, assigned to gregwebs

[2015-06-02 17:53] snoyberg opened #167 "Stop using Cabal's test (yay!)"
Cabal's test runner just causes huge amounts of problems:
- GHC_PACKAGE_PATH screws up doctest and others
- I'm now tripping up on streaming data bug again (https://github.com/haskell/cabal/issues/1810)

So instead: let's just run tests ourselves directly. We can even have the output go to stdout if desired. Downside: we won't get automatic support for the new test types like detailed. I'm OK with

[2015-06-02 18:01] #166 closed, assigned to snoyberg

[2015-06-03 00:58] DanBurton opened #169 "Stack shouldn't rebuild the entire project every time"
- `stack build`
- make a change to Main.hs
- `stack build`

Expected: only Main.hs (or perhaps certain other modules depending on TH) are rebuilt
Actual: all modules in the project are rebuilt

[2015-06-03 06:00] #70 closed, assigned to snoyberg

[2015-06-03 07:01] snoyberg opened #171 "Command line option for changing flag values"

[2015-06-03 08:57] #125 closed, assigned to nobody

[2015-06-03 09:11] snoyberg opened #172 "Some way to pass in test arguments"
See: #170

[2015-06-03 10:23] chrisdone opened #173 "Rewrite build process"
Here is the new process of what will happen when running `stack build`.
## Terms
- _local-packages_: Packages whose directories are specified in the `packages` field in stack.yaml and are the user's projects.
  - When these are configured successfully, we'll generate a cache file like `stack-config` in `dist-stack/` that contains the flags used to build the package, and also the last-modification

[2015-06-03 10:24] snoyberg opened #174 "Consider allowing newer versions of Cabal library"
Considering how slow/buggy older versions can be...

[2015-06-03 20:09] vijaykiran opened #175 "Better error message for `stack ghci`"
I just installed stack from master, and tried to run stack ghci - IMHO, the message could be better (I'm running on OS X, ghc 7.10.1)

[code]

[2015-06-03 20:46] vijaykiran opened #176 "`stack build` doesn't create `stack.yaml`"
The user story in ARCHITECTURE.md claims that :

Run stack build. This will notice that you don't have a stack.yaml project configuration file, and create one for you.

But it doesn't create a stack.yaml file. Here's the transcript of stack build on a project I've:

[code]

[2015-06-03 23:23] bitemyapp opened #178 "Just pick the latest and give it a shot."
Don't make me type all this in.

[code]

Toss it in the deps with the latest version that is on Hackage, and if you can't figure it out, ask me to fix it.

[2015-06-04 07:04] mgsloan opened #179 "Add stack executable to docker image?"
If I use this config:

[code]

However, running `stack build` yields:

[code]

I asked @snoyberg about this, and it turns out that the issue is that `stack` isn't in the docker image.  We can either require that stack be in the docker image, or automate a fix, by copying stack into `.docker-sandbox/.home/bin`.

Suggested implementation: creating a hard link with `ln -P`.

Alternatively, I suppose

[2015-06-04 18:19] #173 closed, assigned to snoyberg

[2015-06-04 18:20] #176 closed, assigned to nobody

[2015-06-04 18:37] #167 closed, assigned to snoyberg

[2015-06-04 18:38] #165 closed, assigned to chrisdone

[2015-06-04 18:39] #155 closed, assigned to nobody

[2015-06-04 18:42] #100 closed, assigned to chrisdone

[2015-06-04 18:42] #80 closed, assigned to chrisdone

[2015-06-04 18:50] #127 closed, assigned to nobody

[2015-06-04 19:14] drwebb opened #181 "Stack setup should roll back changes on a build failure"
My stack package database was left in a bad state after running into a missing system dependency while installing stack.

[code]

I installed the missing `libtinfo` and tried to resume the setup.

[code]

Running ghc-pkg with the version that stack installed

[code]

I had to nuke my stack folder `rm -rf ~/.stack` in order to finish the install.

[2015-06-04 20:12] drwebb opened #182 "Never throw MissingMultiField exceptions"
Should prevent

[code]

[2015-06-04 20:16] #169 closed, assigned to nobody

[2015-06-04 20:19] #152 closed, assigned to chrisdone

[2015-06-04 21:01] #124 closed, assigned to nobody

[2015-06-05 03:10] #135 closed, assigned to nobody

[2015-06-05 03:11] #134 closed, assigned to chrisdone

[2015-06-05 03:48] snoyberg opened #183 "Clean up warnings, remove unneeded deps"

[2015-06-05 03:52] snoyberg opened #184 "Add mega-sdist/upload functionality"

[2015-06-05 04:15] snoyberg opened #185 "Globbing failure"
I forgot to open an issue about this. Inside stack.cabal, there's a line:

[code]

If you uncomment this, you get the error message:

[code]

[2015-06-05 04:17] snoyberg opened #186 "Track .cabal file modification time and reconfigure as necessary"
I'm not sure if this is actually necessary, since Cabal seems to do it for us:

[code]

Your call @chrisdone, feel free to close.

[2015-06-05 04:34] #182 closed, assigned to nobody

[2015-06-05 06:46] #171 closed, assigned to snoyberg

[2015-06-05 08:55] chrisdone opened #187 "Pass through SIGINT on executing processes"
[code]

Running C-c C-c to interrupt the REPL should not exit all of GHCi.

[2015-06-05 12:11] snoyberg opened #189 "For discussion: make common GHC options easier?"
Input very much welcome on this one. I find that there are some things I end up typing frequently, the most common being

    --ghc-options="-Wall -Werror"

What if we had explicit options for this kind of thing? Advantages would be:

* More easily discoverable (via --help)
* Shorter to type
* Bash autocompletion would work

[2015-06-05 12:18] snoyberg opened #190 "More beautiful output during build"
Imagine if we had an output screen that looked something like:

[code]

That updated as each task finished. Then, when we get to the final package, we switch to standard stdout of all the output (like we do right now). Thoughts?

[2015-06-05 18:42] chreekat opened #191 "Passing cabal flags?"
E.g. -fdev for yesod apps. Can I do this?

[2015-06-05 19:17] manny-fp opened #192 "Fully document Docker use and options"
Should mostly be a matter of adapting the old fpbuild documentation.

[2015-06-05 19:23] manny-fp opened #193 "Docker: Include LTS build plan and package index in image"
So that they do not not need to be downloaded by stack.

Build plan goes in `~/.stack/build-plan/lts-x.x.yaml`.  Package index in `~/.stack/indices/Hackage`.

[2015-06-05 19:33] borsboom opened #194 "Docker: support using from non-x86_64-linux platforms"
This will require downloading an x86_64-linux `stack` binary to bind-mount into the container, and will probably require some changes to bind-mounted path handling on Windows.  It also requires a VM with specific settings to make the user ID mapping and project bind-mounting work.

Note: I personally use stack with docker from OS X already (but manually copy in the x86-64-linux binary in).  I have

[2015-06-06 04:38] gregwebs opened #196 "stack test changes stack build to build the tests and ignore build targeting"
running `stack test` appears to have the effect of running `cabal configure --enable-tests`.

[code]

I do not feel that this behavior is consistent (even if it is similar to what cabal does), and it is not clear how to unconfigure the testing  Personally i feel that it would be better for `stack build` to not build the tests and leave that up to `stack test` or build targeting (`stack build test`

[2015-06-06 14:40] mboes opened #198 "Support deps depending on local packages"
Typical use case: I have a project that depends on a patched up (or unreleased) version of `binary`. So I create the following:

[code]

My .cabal looks like this:

[code]

If I didn't depend on `text`, this would work fine. But because `text` is a snapshot dependency, and `binary` is a local dependency, I get the following error:

[code]

Adding binary-0.7.5.0 to extra-deps doesn't change the set

[2015-06-06 14:45] mboes opened #199 "Support git repos / http folders in packages stanza"
Currently, if a package depends on a patched up upstream, the recommendation found in the FAQ is to check out the package as a git submodule, or unpack the source code for that package in some local directory.

However, often it's not so much that a user wants to depend on a patched up package, as the fact that the user is depending on an *unreleased* version of upstream. In this case it would be

[2015-06-06 18:53] #181 closed, assigned to nobody

[2015-06-06 19:13] #66 closed, assigned to snoyberg

[2015-06-06 19:16] #146 closed, assigned to snoyberg

[2015-06-06 19:24] #87 closed, assigned to snoyberg

[2015-06-06 19:32] #65 closed, assigned to snoyberg

[2015-06-06 19:36] snoyberg opened #200 "Treat extra-deps more like local packages"
If I'm not mistaken, the current implementation of extra-deps means that they will not be recompiled if flags change. Instead, we should treat them as almost identical to local packages. This should hopefully also simplify the code paths we have. Then we can use the standard dirtiness checking.

[2015-06-06 19:56] #191 closed, assigned to nobody

[2015-06-06 20:07] chreekat opened #201 "Specify intra-package target (like 'cabal build COMPONENTS')"
This may fit in with the talk of building test suites somewhat independently of a project itself.

Suggest keeping `stack build TARGET` syntax, just making TARGET more flexible — So I can do any of

    stack build .              # everything
    stack build Snowdrift      # Snowdrift package
    stack build exe:Snowdrift  # Snowdrift component

May be slightly ambiguous, but I doubt that would be

[2015-06-06 20:18] drwebb opened #202 "Could use a UNIX man page"
Related to #74

It would be nice to provide a man page with the distribution packages that are installed on the user's system.

[2015-06-06 23:32] borsboom opened #203 "`stack deps hscolour` does nothing"
`stack deps hscolour` doesn't seem to do anything, it just exits without any output.  If I add `- hscolour-1.23` to `extra-deps` in stack.yaml, it just downloads hscolour but doesn't install it:

[code]

(related to #87)

[2015-06-06 23:37] manny-fp opened #204 "LTS resolver doesn't find preinstalled global packages"
WIth `resolver: lts-1.9`, stack is not able to find the custom packages installed in GHC's global package database in a custom Docker image.  I had to use `resolver: ghc-7.8` instead.  The output looks like:

[code]

[2015-06-07 11:50] #183 closed, assigned to nobody

[2015-06-07 13:15] mboes opened #205 "Spurious local package rebuilding after a failed build"
Using

[code]
with GHC 7.10 and Cabal 1.22 and e.g. the following .cabal file:

[code]

results in a build error if the source file for SomeModule doesn't exist, as it should. However, when calling `stack build` again, `stack` tells me it went ahead and  unregistered a bunch of packages that it had just installed. e.g. in the above, with

[code]

stack first installs my local checkout of the `bina

[2015-06-07 17:54] #203 closed, assigned to nobody

[2015-06-07 18:02] gregwebs opened #207 "in a new install stack clean does a bunch of stuff"
`stack clean` will download build plans and populate the index cache. This seems like it should only happen on `stack build`.

This seems like a minor edge case since normally a user would run `stack build` first.

[2015-06-07 18:19] #196 closed, assigned to gregwebs

[2015-06-07 18:22] gregwebs opened #208 "rebuild when switching between `stack build` and `stack test`"
[code]

Because the tests depend on the yesod-core library there should be no need to recompile it when switching between building and testing. This may have to do with being defensive avout CPP: the first re-build module uses CPP.

[2015-06-07 20:58] #150 closed, assigned to nobody

[2015-06-07 22:58] gregwebs opened #209 "building multiple packages always points to a log instead of showing the error"
I have a stack.yaml for the yesod repo (will PR it soon). When building all the packages at once it is tedious to retrieve the failure log.

[code]

Particularly in the case where a single package fails to build, I would like to just see the build failure output.

[2015-06-08 02:50] #185 closed, assigned to snoyberg

[2015-06-08 04:51] #187 closed, assigned to nobody

[2015-06-08 08:35] #200 closed, assigned to snoyberg

[2015-06-08 10:52] snoyberg opened #210 "Basic exception cleanup"
- [ ] Get rid of any exception data constructors not being used
- [ ] One exception type per module max
- [ ] Have a user-friendly `Show` instance for all exceptions

[2015-06-08 11:33] snoyberg opened #211 "Add useful Show instances for exception types"
* [x] Plugins.PluginException
* [x] Exception types in Network.HTTP.Download (please unify into a single exception type, there are three right now)

[2015-06-08 12:44] #210 closed, assigned to snoyberg

[2015-06-08 13:46] #207 closed, assigned to nobody

[2015-06-08 16:04] #209 closed, assigned to gregwebs

[2015-06-08 16:35] gregwebs opened #212 "stack test re-installs the package"
running `stack test` on a package re-installs it. This means that if I do a `stack build` for a project containing multiple packages, all the packages get re-installed.

My ideal behavior would be

[code]

This is related to #208 because testing re-configures Cabal.

[2015-06-09 02:35] snoyberg opened #213 "Improve performance via caching results"
Biggest offender: `getCabalPkgVer` is used in many places, but its result never changes. It would be best to calculate it once and then pass the result in. This is actually a pretty easy change, and would be a great way for a newcomer to become familiar with a nice subset of the codebase.

[2015-06-09 03:03] #157 closed, assigned to nobody

[2015-06-09 03:09] snoyberg opened #214 "Make test output slightly less chatty"
It currently prints a message for both "running the test suites" and "running an individual test suite." The former is not necessarily very helpful, consider the following output for `stack test` inside of `yesod`:

[code]

Modifying this is likely just deleting one line in Stack.Build.Execute, making it an issue since others may have different thoughts on what would be best display-wise.

[2015-06-09 03:30] #98 closed, assigned to nobody

[2015-06-09 04:31] DanBurton opened #215 "Should `stack build` automatically install the needed ghc?"
Or should it simply suggest that you run `stack setup` in order to do that? I think we agree that the `stack build --auto-setup` flag should exist, we just need to discuss whether the default for it should be on or off.

[2015-06-09 08:23] #93 closed, assigned to chrisdone

[2015-06-09 09:13] ndmitchell opened #216 "Doesn't work on Windows"
C:\Neil\hlint>stack build
    Downloading lts-2.13 build plan ...
    Downloaded lts-2.13 build plan.
    Populating index cache, may take a moment ...
    Updating package index hackage.haskell.org ...
    Cloning package index ...
    Done populating index cache.
    Checking against build plan lts-2.13
    Writing default config file to: C:\Neil\hlint\stack.yaml
    Downloading ghc-7.8.4 ...

[2015-06-09 09:13] snoyberg commented on #216
What does `stack --version` say?

[2015-06-09 09:14] ndmitchell commented on #216
C:\Neil\hlint>stack --version
    Version 0.0.0, Git revision 6bf1ba3a7a3fdf92fa4af2ccb148ee2004dd607a (dirty)

I'm using the version from https://github.com/commercialhaskell/stack/wiki/Downloads#windows

[2015-06-09 09:15] snoyberg commented on #216
Ouch, OK, testing now

[2015-06-09 09:18] snoyberg commented on #216
Downloading 7.8.4 is intentional: it requires at least the tested version of GHC from the snapshot, and that LTS snapshot was built with 7.8.4. I haven't reproed that problem yet, still trying

[2015-06-09 09:21] ndmitchell opened #217 "Add --verbose flag"
Seems like it would help diagnose issues such as #216 if you gave a complete listing of everything you were doing, particularly what command lines you run.

[2015-06-09 09:22] snoyberg commented on #216
OK, reproed, now fixing

[2015-06-09 09:24] snoyberg commented on #217
Try `--verbosity debug`. @chrisdone what do you think about making `--verbose` a synonym for it?

[2015-06-09 09:25] ndmitchell commented on #217
Also make sure you list it on the `--help` output:

    C:\Neil\hlint>stack build --verbose
    Usage: stack build [TARGET] ([--library-profiling] | [--no-library-profiling])
                       ([--executable-profiling] | [--no-executable-profiling])
                       ([--optimizations] | [--no-optimizations]) [--dry-run]
                       [--ghc-options OPTION] [--flag PACKAGE:[-]FL

[2015-06-09 09:27] snoyberg commented on #216
Found the bug, slipped in after my testing:

https://github.com/commercialhaskell/stack/commit/d9f2f668958b183e506571c856889d4c6a857c96#diff-4968f87e674615592e572f2ec593e5b0L550

[2015-06-09 09:31] snoyberg commented on #217
If you run `stack --help`, it tells you about global options, but it seems very peculiar that we don't show *all* options for `stack build --help`. @chrisdone does that need to be fixed in optparse-simple?

[2015-06-09 09:33] snoyberg commented on #216
OK, pushed a fix for it. I'm just rebuilding everything locally and then I'll upload a new executable.

[2015-06-09 09:41] snoyberg commented on #216
@ndmitchell I've uploaded a new binary, can you confirm that this works? Everything is running correctly for me.

[2015-06-09 10:02] #17 closed

[2015-06-09 10:06] ndmitchell commented on #216
Still doesn't work:

    C:\Users\NDMIT_~1\AppData\Local\Temp\stack2856\happy-1.19.5\dist: MoveFileEx "C:
    \\Users\\NDMIT_~1\\AppData\\Local\\Temp\\stack2856\\happy-1.19.5\\dist" "C:\\Use
    rs\\NDMIT_~1\\AppData\\Local\\Temp\\stack2856\\happy-1.19.5\\dist-stack\\i386-wi
    ndows\\Cabal-1.18.1.5\\": permission denied (Access is denied.)

[2015-06-09 10:13] ndmitchell commented on #216
In particular, `C:\\Users\\NDMIT_~1\\AppData\\Local\\Temp\stack2856` doesn't exist, but I don't know if that was because `stack` cleaned it up on exception.

[2015-06-09 10:14] ndmitchell commented on #216
I confirm this happens repeatably.

[2015-06-09 10:21] snoyberg commented on #216
Different issue: this only applies to `happy`, because of the terrible workaround it requires to build. The `dist` directory needs to get renamed. Testing if this is still Windows-only before fixing.

[2015-06-09 10:24] ndmitchell commented on #216
Why is it building happy anyway? I have it installed and on my PATH. Or does it require happy build with its GHC?

[2015-06-09 10:27] snoyberg commented on #216
It builds the version of happy in the snapshot to be on the safe side. It's also to do with the fact that build-tools fields in .cabal files are undefined, and may refer to either an executable or a package, so the fact that you have happy.exe available doesn't prove that you have the right build tool... it's quite a mess actually. Anyway, there's an easy fix I'll push immediately, and then a bett

[2015-06-09 10:29] chrisdone commented on #217
There is already `-v`?

[2015-06-09 10:30] ndmitchell commented on #216
It's a mess, which is why I want to use `stack` in the first place :)

[2015-06-09 10:30] chrisdone commented on #217
Yeah, that's because those options aren't cmd-line specific. We can possibly do something in optparse-simple to re-inject these somehow.

[2015-06-09 10:31] snoyberg commented on #216
Hah, true. OK, can you pull master and see if that lets you build hlint? It seems to be working for me now.

[2015-06-09 10:32] snoyberg commented on #216
And I'm wondering if this should be opened as a bug against directory, since the behavior on Windows and Linux is difference for `renameDirectory`. That might just be an inherent OS difference though.

[2015-06-09 10:40] ndmitchell opened #218 "Give a way to copy the dist products onto the PATH"
Assuming I'm in the `stack` source directory, I can `stack build` it, but there's no obvious way to `stack install` - copy it onto the PATH somewhere.

[2015-06-09 10:42] snoyberg commented on #218
See #153, I think this can be closed as a duplicate.

[2015-06-09 10:42] ndmitchell commented on #218
This is made harder because I have:

* C:\Neil\stack\.stack-work\install\i386-windows\lts-2.9\7.8.4\bin
* C:\Neil\stack\dist-stack\i386-windows\Cabal-1.18.1.5\build\Stack

These both have `stack.exe`. One is 17Mb, one is 30Mb, so they aren't the same size.

[2015-06-09 10:44] #218 closed

[2015-06-09 10:44] snoyberg commented on #216
Turns out that this is a documented difference in `renameDirectory`:

Anyway, the fix in place is the correct one (use `Path.parent` which is aware of the trailing-slash issue). takeDirectory was following it's documented behavior, which happens to not work well with Path's way of doing directories.

[2015-06-09 10:45] ndmitchell commented on #216
OK, with the git version it all worked.

[2015-06-09 10:45] #216 closed

[2015-06-09 11:02] snoyberg commented on #218
Yeah, that's Cabal behavior: it automatically strips on installation, not on build, so the copy inside .stack-work should be smaller. In #153, Roman brought up the point of stripping, and Mathieu raised concerns about losing DWARF debugging info.

[2015-06-09 11:04] snoyberg commented on #216
W00t. Thanks again for catching these, I'll add "build hlint" to the release checklist, and make sure that there aren't more commits added after we've gone through the checklist next time.

[2015-06-09 11:05] mboes commented on #198
Yes, sounds right. `stack test distributed-closure` works for me.

[2015-06-09 11:05] #198 closed

[2015-06-09 11:06] snoyberg opened #219 "Ability to mark a local package as "don't test or bench""
See:

* https://github.com/commercialhaskell/stack/issues/198#issuecomment-110256255
* http://www.reddit.com/r/haskell/comments/3957e1/announcing_first_public_beta_of_stack/cs0frp1

[2015-06-09 11:08] snoyberg opened #220 "Add support for test suite dependency cycles"
Currently you can't run the test suite for a package if its dependencies depend on the package in question (e.g., binary's test use Cabal, and Cabal uses binary). See: https://github.com/commercialhaskell/stack/issues/198#issuecomment-110256255. We'll need some kind of multi-stage building to make this happen, which may tie in nicely with #208 and #212

[2015-06-09 11:52] chrisdone commented on #217
@ndmitchell Confirm? We already have -v, but I added --verbose as the long form.

[2015-06-09 11:53] chrisdone commented on #217
Oh, let me also do something about showing global options on subcommands.

[2015-06-09 12:15] mboes opened #222 "--coverage flag for `stack test`"
Code coverage is a useful feature of GHC - it is particularly useful to figure out how much of the project's code is being exercised by tests. GHC ships with the `hpc` command, which can generate summary reports about source coverage and boolean-control coverage, as well as annotated versions of the source code with highlights where code was not covered.

The goal is to optionally obtain a coverag

[2015-06-09 12:21] b21e opened #223 "doesn't seem to work on Ubuntu 12.04"
Apparently didn't found the key at the given url?

[2015-06-09 12:27] snoyberg commented on #223
I'm assuming you followed the steps at https://github.com/commercialhaskell/stack/wiki/Downloads#ubuntu, correct? Can you clarify what exact error message you got?

Pinging @dysinger

[2015-06-09 13:00] snoyberg commented on #199
If we make some simplifying assumptions, this should be trivial. In particular: assume that the URL or Git commit represents something immutable. Then we unpack/clone into a directory inside `.stack-work` and just treat it as an unwanted local package. Does this sound like a reasonable simplification?

[2015-06-09 13:06] snoyberg opened #224 "Command line argument to override the resolver"
Would be especially useful for things like Travis CI to be able to run against multiple LTS and Nightly versions. Should be pretty trivial to implement.

[2015-06-09 13:07] chrisdone commented on #217
@snoyberg @ndmitchell I don't yet see a way to make
optparse-applicative print out global options for a subcommand's
`--help` output.

The below is the best I can achieve, by moving all global options into
each command parser, if there are any.

In the case of no commands:

[code]

In the case of commands specified:

[code]

[2015-06-09 13:11] chrisdone commented on #199
Where "unwanted" means "not a wanted target" in the Make-like `stack build` step of demanding `stack build TARGET1 TARGET2` or when `stack build` the targets are the implicitly wanted packages listed in the stack.yaml file.

[2015-06-09 13:13] snoyberg commented on #217
Perhaps it's worth opening up an issue against optparse-applicative on this?

[2015-06-09 13:24] gregwebs commented on #199
cabal-meta does much of this and works with darcs also

[2015-06-09 13:28] snoyberg commented on #199
I already have an issue open about merging in mega-sdist functionality. Are you opposed to absorbing a few other of the cabal-wrapping tools we've created over the years?

[2015-06-09 13:28] snoyberg opened #225 "Add upload support"
Should be based on `stackage-upload`, and ultimately support GPG signature uploads to sig archive.

[2015-06-09 13:31] taladar opened #226 "Create default stack.yml with documentation comments and commented out options"
Many popular open source projects ship with config files with all or most available options in the file in comment form with documentation comments in between. It would probably be helpful if stack did the same.

[2015-06-09 13:40] gregwebs commented on #225
Can stackage-upload stay separate and `stack upload` would install stackage-upload and invoke it?

[2015-06-09 13:43] snoyberg commented on #225
We could go that route. What's the motivation?

On Tue, Jun 9, 2015, 4:41 PM Greg Weber <notifications@github.com> wrote:

[2015-06-09 13:44] snoyberg commented on #226
Good idea. I'm going to put this to a later milestone as we'll almost certainly be tweaking the configuration file options in the next few weeks.

[2015-06-09 13:50] andrewthad opened #227 "Stack doesn't pick up new packages on hackage"
I just added `cron-compat-0.2.6` to hackage (it is not on stackage), but stack keeps telling me:

    The following package identifiers were not found in your indices: cron-compat-0.2.6

when I try to build. I have it listed in `extra-deps`, so I'm thinking that stack update must not be rebuilding the package index correctly.

[2015-06-09 13:58] andrewthad commented on #227
Poking around at `~/.stack/indices/hackage.haskell.org/00-index.cache`, I can see that stack definitely isn't updating this file.

[2015-06-09 14:03] snoyberg commented on #227
That's a bug, it should be automatically trying to update. You can manually force it with `stack update`. Note that it does take up to 30 minutes for the mirrors we use to update.

[2015-06-09 14:04] gregwebs commented on #225
The main motivation is really to experiment with keeping up the modular architecture of `stackage-*`.

Minor points are that it can
* avoid bloat: The majority of packages built by stackage will be applications that are not uploaded to hackage
* make https upload more accessible to those not using `stack`. (once this functionality is merged, there will not be a desire to maintain `stackage-upload`

[2015-06-09 14:08] snoyberg commented on #225
It seems like there's a much simpler option available if we want: depend on the library exposed by `stackage-upload`. I like the fact that we have a batteries-included tool now, I'm hesitant to go in the opposite direction.

That said, I'm not even sure if I want to depend on an external library instead of just including the code here.

And I'm not concerned about bloat: the addition of the necess

[2015-06-09 14:10] gregwebs commented on #199
This is another tool that could possibly stay as a separate executable, except that the tool could benefit from `stack`'s knowledge of `stack.yaml`. The downloading tool could look for a `stack.yaml` in the repo (like how cabal-meta looks for a `sources.txt`) to find where the package is in the repo instead of requiring the user to supply that information (default of course would be `./`).

[2015-06-09 14:14] andrewthad commented on #227
I think the issue is with the mirrors then because I've already tried `stack update`. I'll probably just need to give the mirror a half hour, which isn't really a big deal. My only complaint would be that when I run `stack update`, stdout shows this:

    Updating package index hackage.haskell.org ...

That seems a little misleading to me because the domain it shows isn't where it's actually pulli

[2015-06-09 14:14] gregwebs commented on #225
Batteries included is definitely good. The goal with the modular architecture is to supply that same experience for most features, only adding a little delay sometimes to install a package needed for extra functionality.

But I can see how it is probably a lot easier to just add the module into `stack` in this case.

[2015-06-09 14:16] snoyberg commented on #227
That's a good idea. You interested in taking a stab at making the message more useful? The relevant bit of code is:

https://github.com/commercialhaskell/stack/blob/master/src/Stack/PackageIndex.hs#L200

[2015-06-09 14:30] hesselink commented on #130
I've never had great luck with `cabal repl`, so if `stack ghci` can improve on that, I'd love it. My use case is usually something like this: I'm developing a set of packages together, and would like to load a file from one of them in the repl. The files it depends on from its package, and preferably also the other packages in the set I'm working on, should come from source, not the package databa

[2015-06-09 14:36] snoyberg commented on #227
I've pushed a fix so that stack will automatically update the index when a package is missing. Leaving open for the output improvement.

[2015-06-09 14:44] andrewthad commented on #227
This should work: https://github.com/andrewthad/stack/commit/341b42553faa2b1cc78feb2cccc5f9e0c8b04c0d

I messed up the commit order by pulling upstream changes. In a few minutes, I should be able to relearn enough git to fix this and have a PR ready.

[2015-06-09 14:46] cocreature opened #228 "Don't fallback silently to LTS"
I find it extremely unintuitive that it falls back to lts with no warning.

I tried it on a project where I had a too new lens dependency so it chose lts and started downloading ghc-7.8 while I need a nightly snapshot and 7.10.

There should be a big warning pointing out that no snapshot matched and also what caused problems and then the snapshot should be chosen by the user instead of defaulting

[2015-06-09 14:49] cocreature opened #229 "Allow restraining snapshot selection"
I'd like to have an option to select the snapshot when running `stack build` instead of relying on stack to figure it out for me and if it is wrong cancelling, editing the yaml file and rerunning it.

[2015-06-09 14:50] snoyberg commented on #228
Possibly related: #215 asks the question about whether we should automatically install GHC if it's missing. If that was turned off, then the behavior in the case you just described would be to generate a stack.yaml that points at LTS and then ask you to run stack setup, which seems like it would be an improvement.

Agreed on the warning and diagnostics, that seems like a clear advantage. Perhaps w

[2015-06-09 14:51] snoyberg commented on #229
I think the solution here will end up being very close to what we do for #228, so the two issues should be considered together (possibly even merged into a single issue actually).

[2015-06-09 14:51] andrewthad commented on #227
Got it.

[2015-06-09 14:54] andrewthad commented on #227
And, to bring some closure to the original issue, it appears that the mirror has updated to include my new package.

[2015-06-09 14:55] snoyberg commented on #227
Awesome, thanks! Only other thing that might be worth changing is that, instead of the default index name being "hackage.haskell.org", we make it "Hackage" to make it clear that we're not using that as a URL. One minor downside is that it would force all users to have to reclone the package index next time they update, but I guess that's the cost of using beta software :)

Anyway, you have thought

[2015-06-09 14:57] cocreature commented on #229
Feel free to merge/close this issue if it's covered my #228.

[2015-06-09 14:57] andrewthad commented on #227
I think that that would further improve clarity, so I'm for it.

[2015-06-09 14:59] gregwebs commented on #229
This issue is potentially asking for a `stack init` command that creates a `stack.yaml` that can be edited before any dependencies are downloaded. Right now #228 seems focused on the ghc part.

[2015-06-09 15:02] snoyberg commented on #205
@mboes I believe this is now resolved, could you test?

[2015-06-09 15:03] snoyberg commented on #204
@manny-fp Just as a sanity check, can you try this again? If the problem still exists, I'd like to work with you on resolving it, as a good introduction to the internals of stack.

[2015-06-09 15:06] snoyberg commented on #175
@vijaykiran This error message has been cleaned up, please reopen if there's a problem with the new behavior.

[2015-06-09 15:06] #175 closed

[2015-06-09 15:07] snoyberg commented on #227
Cool, done. I think that addresses everything, we good to close this issue?

[2015-06-09 15:09] snoyberg commented on #229
Adding a `stack init` is a really easy first step to take here, and we can iterate from there.

[2015-06-09 15:11] andrewthad commented on #227
Yep

[2015-06-09 15:11] #227 closed

[2015-06-09 15:11] snoyberg commented on #229
Bikeshedding: do we have a problem with the command `init` due to its preexisting meaning with cabal (initialize a package)? There's also some naming overlap with the proposed `stack new` from #137.

[2015-06-09 15:11] snoyberg commented on #227
Cool, thanks again!

[2015-06-09 15:25] chreekat opened #231 "`stack build` in an empty directory downloads a new package cache"
b@fuzzbomb ~/tmp/foo $ stack build
    PackageNoCabalFileFound "/home/b/tmp/foo/"
    Writing default config file to: /home/b/tmp/foo/stack.yaml
    Downloading build plan from: https://raw.githubusercontent.com/fpco/lts-haskell/master/lts-2.13.yaml

That seems like extra work for a failure condition.

[2015-06-09 15:30] chreekat commented on #229
There could be a single command that does the right thing. If `stack build` would build packages, `stack init` would simply create the yaml. If `stack build` would fail with **`PackageNoCabalFileFound "/home/b/tmp/foo/"`**, `stack init` would ask to set up a new project.

`stack build` already manages the second scenario, sort of, since it still creates a stack.yaml even if there is no cabal file

[2015-06-09 15:38] snoyberg commented on #229
I've pushed a simple commit to the 229-stack-init branch that implements the basics of an init command.

One thing I'm concerned about is trying to make `init` too smart. When it comes to large, multi-package projects, is very unlikely that stack will *ever* guess correctly what you want to do. In fact, as we're seeing in this issue and #228, it's very difficult for it to guess right now what the

[2015-06-09 15:42] snoyberg commented on #231
Well, it's not exactly a failure condition. There are legitimate use cases here, e.g.:

[code]

So it seems at least somewhat reasonable for it to behave this way IMO.

[2015-06-09 15:52] chrisdone commented on #231
Perhaps an improvement to this behaviour would be explaining its intentions. I.e. "I don't have anything to do and I didn't find a cabal file, so I'm going to assume you want a configuration."

[2015-06-09 15:55] chreekat commented on #231
What is `stack build` being used for in that case?

How does that mesh with #59, and the idea that "It also caters to newbies reading books who just want to run ghc on a file. You can run stack ghc X.hs and it will download GHC if necessary, etc...". Would a yaml  be created in the latter scenario? It would be nice if it wasn't necessary, since it is likely X.hs will be in a home directory, or in

[2015-06-09 15:57] snoyberg commented on #231
Fair point, maybe we should just change behavior to exiting if there's no .cabal file present. We already have plans to improve `stack ghci` and friends so that they can run without a stack.yaml file, so perhaps this all adds up nicely.

[2015-06-09 15:57] chreekat commented on #231
@chrisdone, or: "I don't have anything to do. Shall I run `stack init` for you?"

[2015-06-09 15:58] chrisdone commented on #130
@hesselink Indeed, it seems a lot of the time one could load up GHCi with `-i./package1/src -i./package2/src` and optimistically assume the extensions will be non-conflicting. I think that `cabal_macros.h` may also cascade reasonably.

Brainstorming, perhaps:

    $ cabal repl

* In the root directory: load up all packages specified in stack.yaml.
* In a project-specific directory: load up just th

[2015-06-09 16:02] chrisdone commented on #231
Fair points, indeed. I'm not really sure on this one. Going to think about it.

[2015-06-09 16:09] chrisdone commented on #217
I'm not sure that what we're trying to do makes sense in the optparse world, but I'll open an issue to ask.

[2015-06-09 16:10] snoyberg commented on #137
Just realized I haven't commented here yet, so: I'm +1 on doing this, and thank you for writing up a detailed description. We need to think about how this will play in with some kind of a `stack init` for generate a stack.yaml from an existing .cabal file.

Pinging @khanage, you have interest in working on this issue?

[2015-06-09 16:14] chrisdone opened #232 "Wishlist: stack ide-backend-client"
This can be added directly or implemented as a plugin. But preconfiguring ide-backend-client ready for loading in a project or project(s) would be the missing magic that ide-backend-client has been waiting for.

[2015-06-09 16:15] snoyberg commented on #232
Pinging @mgsloan

[2015-06-09 16:29] gregwebs commented on #229
Sure, it might make sense to give it a different name. I am wondering if `init` should be used for #137 and this should be called `new`. Or this could be `stack config`. `stack config` would end up being a sub command, but with no extra options when there is no `stack.yaml` it would generate a `stack.yaml`.

[2015-06-09 16:37] snoyberg commented on #229
Hmm I like that.

On Tue, Jun 9, 2015, 7:29 PM Greg Weber <notifications@github.com> wrote:

[2015-06-09 16:38] gregwebs commented on #229
Another thing I have been thinking about is that `stack setup` seems to be focused on ghc. I would actually expect this to be what `stack setup` should do (in addition to stating: I can't find GHC, you can install it with `stack setup --ghc`).

There are different points in the design space, good thing we are still in beta :)

[2015-06-09 16:50] bitemyapp commented on #232
Vigorous (+1)

[2015-06-09 17:15] andrewthad opened #233 "Wishlist: `stack run`"
It would do the same thing as `cabal run`. For now, I can make due with a bash script I have, but this would be a good thing to add at some point.

[2015-06-09 17:17] andrewthad commented on #228
Agreed, the fallbacks are pretty counter-intuitive. At the least, some kind of prompt would be nice for users. Because 99% of the time, I don't want `stack` to start building against a different version of LTS than the one I specified.

[2015-06-09 17:28] wismill opened #234 "TlsException on Windows"
Hi, I tried `stack` on Windows 7 64 bits and I got the following error: `TlsException (HandshakeFailed (Error_Protocol ("certificate has unknown CA",True,UnknownCa)))`.

To reproduce this:

1. Download the zip file containing stack.exe and unzip it in a directory.
2. Open Powershell and go to the directory containing the previous file.
3. `cabal init` (assuming cabal is already installed).
4. `sta

[2015-06-09 17:34] 3noch commented on #234
To whom it may concern, the `tls` package did not work on Windows 64-bit until `crypto-random` was fixed in version 0.0.9. However. I think `stack` is built as 32-bit for Windows.

[2015-06-09 17:35] chrisdone commented on #233
Also: For now you can do `stack build && stack exec foo`.

[2015-06-09 17:36] 3noch commented on #234
For what it's worth, I'm running Windows 8 64-bit and I'm not getting any TLS errors.

[2015-06-09 17:37] andrewthad commented on #233
I was unaware of that. Good to know.

[2015-06-09 17:38] chrisdone commented on #233
(Because stack build installs the packages into the `~/.stack-work/` dir and `stack exec` runs things with that in its PATH.)

[2015-06-09 17:44] chrisdone commented on #234
I believe I've seen this issue elsewhere for the tls package and windows before. Let me see if I can find it.

[2015-06-09 17:51] chrisdone commented on #234
@snoyberg We had this exception with fpco-api in the past; do you remember anything from that can be helpful here?

[2015-06-09 17:52] CodyReichert opened #235 "Cannot install package from AUR4"
Trying to install [haskell-stack](https://aur4.archlinux.org/packages/haskell-stack/) from the Arch User's Repository gives a 404 error when running `makepkg`. It looks like the `PKGBUILD` is trying to retrieve the source file from `http://download.fpcomplete.com/archlinux/`, but there's nothing at that URL.

Steps:

    $ git clone https://aur4.archlinux.org/haskell-stack.git/
    $ cd haskell-st

[2015-06-09 17:54] taladar commented on #143
It might also make sense to add an option to just build the Haddocks for local packages mentioned in stack.yaml? The use-case I have in mind would be to build documentation for locally developed code on a CI server and upload it somewhere.

[2015-06-09 18:06] taladar commented on #132
It might be worth keeping track of which notion of architecture is host, target,... platform in the codebase too in case you later want to add cross-compiling support. Also, there might be GHCJS and similar things to consider that are not traditional architectures.

[2015-06-09 18:24] acfoltzer opened #236 "Panic when compiling in a sandbox on OS X"
Decided to install `stack` in a sandbox on my OS X machine with GHC 7.10.1. It gets to the end, then panics:

[code]

Full verbose log here: https://gist.github.com/acfoltzer/6a757ed21205b325f804

[2015-06-09 18:33] dbp commented on #199
This is great. The only thing I'd add is that some (reasonably prominent) haskell packages put more than one package in the same repository (as subdirectories). For example, all of the `digestive-functors-*` family of packages exist within one git repository. In the tool that I wrote (that I'd love to replace with `stack`), the grammar I defined for these kind of dependencies is:

`repo-path:git-r

[2015-06-09 18:33] drwebb commented on #235
Thanks, I'll look into it.

[2015-06-09 18:36] drwebb commented on #235
In the mean time this is the correct url
http://download.fpcomplete.com/archlinux/stack_0.0.0-x86_64.tar.gz

[2015-06-09 18:38] snoyberg commented on #199
Despite my better judgement, I decided to take a crack at this right now, so your timing is perfect @dbp. I was just thinking about what the syntax would be, and of the subdirs.

Another option I was toying with was, instead of trying to shoe-horn everything into a single string, turning it into a YAML object, e.g.:

[code]

It feels kind of wordy to me, but also may be much easier to work with lo

[2015-06-09 18:42] acfoltzer commented on #130
Big :+1: to this in general, and to the improvements laid out in this thread. The biggest current pain point for me is the time it takes to `C-c C-l` after changing anything when running `cabal repl` in `haskell-interactive-mode`.

[2015-06-09 18:43] drwebb commented on #235
This should be fixed, this was due to there already being a "stack" package in the AUR so I needed to rename the package to "haskell-stack" put kept the old variable in the PKGBUILD. Should be working, could you please confirm? I plan to push a new version of the binaries tonight, but you may want to try building the git version as well. It's good to have another Archer for testing.

[2015-06-09 18:47] donnut commented on #235
I have the same problem and indeed, overridding ${pkgname} with 'stack' does the job.

[2015-06-09 18:48] radix opened #237 "Is there going to be a way to upgrade Stack?"
Say I've installed Stack by downloading the binary distribution for Mac OS X -- it'd be nice if I could just run something like "stack upgrade-stack" to get a new release -- and also, for stack to notify when there's a new version, a la Python's `pip` tool.

[2015-06-09 18:54] gregwebs commented on #199
I was just going to chime in and suggest favoring YAML over grammar.

[2015-06-09 18:57] dbp commented on #199
I think what @snoyberg proposed actually looks pretty good. At least for me, most of the time that this comes up are when I find a bug (or needed improvement :P) in a _released_ package and need to patch it until the fix is released upstream, so having it be wordy really doesn't matter (as there are rarely many).

[2015-06-09 19:00] donnut opened #238 "error: package id couldn't be found"
Installed `stack` on Arch Linus. cabal and ghc are installed using `nix`. Running `stack build` in an empty directory gives the output:

    No .cabal file found in directory /home/donnut/dev/haskell/test/
    Writing default config file to: /home/donnut/dev/haskell/test/stack.yaml
    After installing Cabal, the package id couldn't be found (via ghc-pkg describe Cabal). This shouldn't  happen, pl

[2015-06-09 19:02] CodyReichert commented on #235
Great, looks like that does the trick. Thanks. I'll be using the packages from AUR, so I'll keep an eye out for updates.

[2015-06-09 19:03] FranklinChen commented on #236
Same here.

[2015-06-09 19:03] #235 closed

[2015-06-09 19:08] bitemyapp commented on #238
@donnut if you're on Nix I wouldn't recommend attempting to use the system ghc and instead let stack use its own GHC if possible. Much of the benefit of Nix+Haskell is in caching/managing package dependencies, but if you're using Stack you're using Stackage/LTS snapshots anyway.

[2015-06-09 19:08] bitemyapp commented on #237
+1

[2015-06-09 19:12] snoyberg commented on #219
I implemented this as part of #199, marking as need confirmation on that work being merged in.

[2015-06-09 19:15] snoyberg commented on #199
I've implemented the stack-specific stuff already, and now just have some stubs for downloading/unpacking/cloning at:

https://github.com/commercialhaskell/stack/commit/038ec3525b32778ecc2a45c8eb792e2a5e095d02#diff-6cd1b827a90e053dc1b700465b1a94c0R316

I slightly tweaked the syntax above regarding Git locations to start with the word `git` to make it easy to disambiguate from HTTP and local direct

[2015-06-09 19:16] snoyberg commented on #237
There's an open issue for discussing this point, which we do need to get a solid answer to:

https://github.com/commercialhaskell/stack/issues/74

[2015-06-09 19:18] snoyberg commented on #238
Fairly certain nix is the issue, what do you get when you run:

    ghc-pkg list Cabal

Since stack uses the Cabal library to do the building, it requires it to be already present.

Also, can you try with `--no-system-ghc`?

If this turns out to be the issue, it would be good to get this documented in the Wiki's FAQ page.

[2015-06-09 19:20] snoyberg commented on #236
@manny-fp did our OS X builds, can you chime in? I think he used 7.8.4 instead of 7.10.1.

[2015-06-09 19:23] snoyberg commented on #234
@wismill Can you follow the TLS debugging instructions at:

https://github.com/vincenthz/hs-tls#common-issues

Also, can you test out from a regular command prompt instead of powershell? I don't think that's important, but it's good to rule out other factors.

[2015-06-09 19:25] chris-martin opened #239 "Can't install stack from cabal on FC20"
The docs say

so I just ran that. Result:

[code]

I don't really know what this means because I've never been able to understand cabal.

[2015-06-09 19:29] snoyberg commented on #239
You've just discovered why we wrote stack :)

That error message means "you need GHC 7.8 or higher, but you don't have it." Recommendations:

* Install GHC 7.8 and then retry with cabal
* Just download the stack binary

I recommend the latter

[2015-06-09 19:29] hesselink commented on #130
@chrisdone We use a script that basically uses that approach: it adds all package source directories with `-i`, as well as all cabal macros and autogen directories. We've used it with about 30 packages at the same time, and never had trouble with conflicts between them. We don't specify extensions in cabal files (we put them in the source files instead) so I can't say anything about that.

[2015-06-09 19:30] ndmitchell commented on #237
I see the two issues as separate. One is about how you typically do a first install. One is about how you do an update. On Linux these might be the same, but on Windows you want to copy a binary the first time then `stack upgrade` afterwards.

[2015-06-09 19:36] 3noch commented on #237
@ndmitchell There's always [chocolatey](https://chocolatey.org/).;

[2015-06-09 19:44] snoyberg opened #240 "Network.HTTP.Download.download chokes on Hackage tarballs"
In working on #199, I discovered that calling `download` on the URL http://hackage.haskell.org/package/acme-missiles-0.3/acme-missiles-0.3.tar.gz produces:

Not sure if this is a problem with our assumptions or with how Hackage is serving things. At a surface level, it looks like a lack of base16 encoding before comparison.

[2015-06-09 19:53] radix commented on #237
If stack grows a way to install packages to the system (whether in /usr or in ~/.local or whatever), then it would make sense for the upgrade process to just be to use that mechanism. (`stack install --upgrade stack`?)

To make this interoperate with the initially downloaded binary, perhaps lein could be used as an inspiration: when you download lein, you're just getting a shell script, which chec

[2015-06-09 19:55] snoyberg commented on #199
Alright, I've implemented HTTP support. Git support should be much the same, I'm just too tired to continue. If someone wants to take a crack at it, have fun.

[2015-06-09 19:59] chrisdone commented on #130
Cool, sounds like we're all onboard with this going forward.

@hesselink We've been taking a similar approach of specifying extensions per-file too in anticipation of loading everything on at once for debugging purposes.

[2015-06-09 20:00] radix opened #241 "bad resolver recommends "nightly-2015-01-01", which confused me"
If I put `resolver: nightly` in my stack.yaml file (which I just tried), I got this message

[code]
This made me think that `nightly-2015-01-01` was the only nightly I could use for some reason. Of course I read "include" as "are", which was my mistake, but an easy one to make.

Showing the *entire* list of possible values would be nice, but perhaps infeasible? It would presumably require an HTTP

[2015-06-09 20:01] bitemyapp commented on #241
@radix that or demonstrated the date format, explaining nightly as a special case.

[2015-06-09 20:03] arkravitz commented on #236
Same problem here by the way with 7.10.1

[2015-06-09 20:12] snoyberg commented on #199
Alright, it's implemented :)

@mboes Want to give it a test drive?

[2015-06-09 20:15] drwebb commented on #241
It would be nice to just have 'nightly' as an option, can we use
http://www.stackage.org/download/snapshots.json

[2015-06-09 20:16] tomjaguarpaw commented on #116
I have a proof-of-concept cabal solver that uses minisat.  What are the requirements of integrating such a thing into stack? If it needs a native Haskell solver I can try to test some of them for speed, but I'm not particularly optimistic that they'll get close to external solver speeds.

[2015-06-09 20:16] wismill commented on #234
I am testing now with Windows 8 64 bits (as admin): same error.
Using the shell `cmd.exe` does *not* solve the issue.
I have installed `tls-debug` but I do not know *what host to test*. Could you indicate me the *complete commands* to run?

[2015-06-09 20:21] ndmitchell commented on #116
@tomjaguarpaw - do you have benchmarks? How easy would it be to switch in https://hackage.haskell.org/package/incremental-sat-solver and see if it is too slow?

[2015-06-09 20:25] snoyberg commented on #241
I'm definitely open to improvements to the wording to be less confusing. In fact, if you have a better approach, feel free to just edit it!

@drwebb Taking that approach would remove the possibility of having reproducible builds, as suddenly a new Stackage Nightly would change what your code is built against.

[2015-06-09 20:27] snoyberg commented on #236
Would anyone be able to report this upstream to GHC?

[2015-06-09 20:29] tomjaguarpaw commented on #116
I discovered that Haskell toysolver is about 60 times slower than minisat.  They were the only two I tried.  minisat seemed promising but toysolver not.  The API of incremental-sat-solver seems nice and neat so I should be able to benchmark it fairly quickly when I get a moment.

[2015-06-09 20:29] snoyberg commented on #116
We have different options here, from including the SAT solver in the stack codebase, to making it a library dependency, to making it an external tool that stack calls out to. Given that we have at least three solvers we may consider (Nathan's, Tom's, and cabal-install), I'm leaning towards the third option, and just having a hard-coded list of executables to try using in stack. If we go that route

[2015-06-09 20:30] snoyberg commented on #234
I can't tell without more of the output from your process, can you copy in everything from calling `stack` till that exception?

[2015-06-09 20:31] tomjaguarpaw commented on #116
I just remembered why I didn't try incremental-sat-solver: it doesn't natively handle integers, so I'd have to write an encoding.  That'll take a bit longer ...

[2015-06-09 20:44] acowley commented on #116
Out of curiosity, can you ballpark what kinds of times are we talking about here, @tomjaguarpaw ? If it's 60 times a really small number, that might be fine.

[2015-06-09 20:44] wismill commented on #234
I got only this single line as output.

Adding option `--verbosity debug` gave me this:

[code]

[2015-06-09 20:51] tomjaguarpaw commented on #116
minisat was 0.5s per iteration, toysolver 30s.  I need several iterations to converge to a result, so I couldn't continue with toysolver.  Don't take any of this too seriously though, as I haven't tried to optimize anything yet.

[2015-06-09 20:53] acfoltzer commented on #236
It looks to be this bug, which will be fixed in 7.10.2: https://ghc.haskell.org/trac/ghc/ticket/10322

[2015-06-09 20:55] gregwebs commented on #116
I think this is where @NathanHowell solver is https://github.com/HakeIO/hake-solver/blob/master/src/Development/Hake/Solver.hs

[2015-06-09 20:58] snoyberg commented on #236
It doesn't seem like there's a good workaround. In that case, should we close this issue with the understanding that stack needs to be built with GHC 7.8 for now on Mac?

[2015-06-09 21:02] acfoltzer commented on #236
I think so. From a documentation point of view, it might be good to call this out elsewhere, otherwise I bet others will open a duplicate ticket.

[2015-06-09 21:02] #236 closed

[2015-06-09 21:04] snoyberg commented on #236
Maybe the download wiki page. Could you update it? I'm no longer at my
computer

On Wed, Jun 10, 2015, 12:02 AM Adam C. Foltzer <notifications@github.com>
wrote:

[2015-06-09 21:11] acfoltzer commented on #236
Done!

[2015-06-09 21:14] snoyberg commented on #236
Thank you

On Wed, Jun 10, 2015, 12:11 AM Adam C. Foltzer <notifications@github.com>
wrote:

[2015-06-09 21:24] NathanHowell commented on #116
@tomjaguarpaw Is your PoC available somewhere? I'm planning on working on mine this weekend at Bayhac, would be nice to see some other implementations.

[2015-06-09 21:28] tomjaguarpaw commented on #116
I'll see if I can upload it this weekend so you can look at it.

[2015-06-09 21:30] chrisdone commented on #217
The `--verbose` long-form flag is added, so marking this issue as done, and splitting off the general question of showing global options in subcommand's `--help` output in https://github.com/pcapriotti/optparse-applicative/issues/138.

[2015-06-09 21:35] radix commented on #211
I don't know if this is the right ticket, but I had an idea:

- [ ] write documentation for each directive in stack.yaml
- [ ] make errors about each directive in stack.yaml link to specific sections in that documentation

[2015-06-09 21:42] rvion opened #243 "[readme] dead link to stackage-cli in readme"
link to stackage-cli in readme is dead (see link at the bottom of the picture)
![image](https://cloud.githubusercontent.com/assets/2150990/8070403/258e825a-0f01-11e5-8526-b78caab58f38.png)

[2015-06-09 21:47] aisamanra opened #244 "Stack interacts badly with GHC-related symlinks"
I have an unusual GHC setup in which all the ghc-related tools are symlinks to a single wrapper script that dispatches to based on how it's invoked (i.e. based on `$0`), so that depending on the symlink name used to invoke it, it can execute a different program.

    ~/bin/ghci     -> ~/bin/ghc-wrapper
    ~/bin/ghc-pkg  -> ~/bin/ghc-wrapper
    ~/bin/runghc   -> ~/bin/ghc-wrapper

Because of this

[2015-06-09 21:49] mboes commented on #215
:+1:

[2015-06-09 21:58] manny-fp commented on #204
I'm afraid the problem still seems to exist.

[2015-06-09 22:18] chreekat commented on #115
+1 for easy way to upgrade snapshot (and probably extra-deps at the same time). Looks like the current way to do it is
* move stack.yaml
* (re)run stack build/init (if/when init exists) — which should not fare very well
* see if any extra-deps have made it into the new snapshot
* manually check the extra-deps to see if any newer versions are available
* merge the old stack.yaml into the new one

L

[2015-06-09 22:51] rvion commented on #115
+1, I find myself doing naively the same as @chreekat for now

[2015-06-09 23:03] mboes commented on #199
This looks awesome. Thanks a bunch!

Now go to sleep. ;)

[2015-06-09 23:04] mboes commented on #199
@snoyberg leaving open - close once branch is merged.

[2015-06-09 23:08] khanage commented on #137
I've been half starting on this for a bit now, so I'm happy to take it on (and happy to hand it over to someone a bit more experienced as well).

My vision for this is something very much like lein. One of the best stories I have demo'ing functional programming with coworkers is to get them to

 1. Download lein
 2. `lein new compojure demo`
 3. `lein ring server`

And they've got a web site up an

[2015-06-10 00:08] DanBurton commented on #240
The problem was that Hackage doesn't base64-encode the MD5 header. I've changed the `String` to a `CheckHexDigest` type that has slightly different techniques for checking

* a raw String
* a raw ByteString
* a ByteString known to be a "header"

Incidentally, the "raw ByteString" option provides a micro-optimization, since that comparison doesn't go through String anymore.

This touched code in `D

[2015-06-10 00:18] 3noch commented on #237
@radix So lein has some sort of proxy script that does update-checking/downloading before running an actual app? Instead of a script, you could do that with a thin executable binary that would be cross-platform.

[2015-06-10 00:20] manny-fp opened #245 "'stack docker pull` should display progress"
It looks like System.Process.Read.callProcess has different behaviour than System.Process.callProcess, despite what the comment says.  In particular, System.Process.callProcess display stdout/stderr, whereas System.Process.Read.callProcess seems to send it to sinkNull.

@snoyberg @chrisdone Should I modify the comment and create an alternate version that doesn't send stdout/stderr to the bit bucke

[2015-06-10 00:45] DanBurton commented on #199
Just wanted to leave my +1 on this feature. Love it.

[2015-06-10 00:54] DanBurton commented on #145
I've addressed the comments in #177 via the download-enhancements branch. @snoyberg confirm? Anything else needed for this issue?

[2015-06-10 01:32] 3noch commented on #215
Is there a way to specify which GHC arch is needed?

[2015-06-10 01:53] gregwebs commented on #199
I would go farther with the YAML and not require any custom parsing.

For reference, here is Ruby's Bundler. It uses Ruby's hash syntax, which is conceptually like YAML.

[code]

With stack, we could have

[code]

This does not necessarily preclude allowing the custom parsing for a location field if that is still desired for some reason. But it makes it easier to document the available configurati

[2015-06-10 02:01] 3noch commented on #199
+1 on less custom parsing

[2015-06-10 02:04] snoyberg commented on #243
Could you send a pull request to fix it?

On Wed, Jun 10, 2015, 12:43 AM Rémi Vion <notifications@github.com> wrote:

[2015-06-10 02:12] #243 closed

[2015-06-10 02:15] snoyberg commented on #244
Seems reasonable. Since it's going to be hard to reproduce the issue on a different system, could you take a stab at making this change?

[2015-06-10 02:41] DanBurton commented on #126
I wasn't sure whether we wanted the progress output anywhere else, so I just put it in Stack.Setup for now. (See download-enhancements branch).

[2015-06-10 02:45] radix commented on #237
@3noch yeah, good point. bash isn't a great language to write software in :)

[2015-06-10 02:47] 3noch commented on #237
@radix Haskell's ability to run on bare metal is a huge selling point in my book!

[2015-06-10 02:49] 3noch commented on #237
FWIW, "binary that would be cross-platform" would of course mean we'd need several binaries, one for each platform, but the code would be the same.

[2015-06-10 03:39] manny-fp opened #247 "Move .docker-sandbox into .stack-work?"
This would mean one less thing to add to .gitignore.  @snoyberg opinion?

[2015-06-10 04:03] haroldcarr opened #248 "missing OS version info"
In the OS X section, there is no mention of the minimal version of OS X needed.  There may be similar missing minimal info in the other OS sections too.

[2015-06-10 04:44] mgsloan opened #249 "Odd error while resolving packages, when building ide-backend-server"
If I create a `stack.yaml` file which builds ide-backend-server, I get this output from `stack build`: `The following package identifiers were not found in your indices: ghc-7.8.4`

Repro:

[code]

@manny-fp helped look into this a bit, and found that if you comment out the ghc sections of ide-backend-server.cabal, it will start buildling:

https://github.com/fpco/ide-backend/blob/e25398990d2267f6

[2015-06-10 05:01] mgsloan opened #250 "Extra-dep which provides an executable doesn't get built"
I'm not sure if this bug is as generic as the issue title implies, as I've only tried this one case.  Repro:

1) `git clone git@github.com:fpco/stackage-view.git`
2) Add `extra-deps: [ ide-backend-server-0.9 ]` to `stack.yaml`
3) `stack build`
4) Try `stack exec -- which ide-backend-server`

Expected: Path to the executable, as it's been installed

Actual: No results from `which`

I'm not 100% sur

[2015-06-10 05:01] manny-fp commented on #248
I'll just mention we've only tested on Yosemite.  No reason it shouldn't work on recent older versions, but YMMV.

[2015-06-10 05:04] mgsloan commented on #232
Vigorous (+1) from me as well!  This would be fantastic

[2015-06-10 05:08] manny-fp commented on #249
An important thing to note ] is that this happens when building with Docker, and the Docker image has `ghc-7.8.4.20141229`, rather than `ghc-7.8.4`.  So question is: why is it looking for ghc-7.8.4 when nothing in the cabal file refers specifically to that exact version?

[2015-06-10 05:11] snoyberg commented on #249
It's because that's what the snapshot requires. We can add a special case
for ghc that it simply use whatever version is available, since we can't
install a new version anyway.

On Wed, Jun 10, 2015, 8:08 AM Emanuel Borsboom <notifications@github.com>
wrote:

[2015-06-10 05:13] snoyberg commented on #250
Not a bug, dependencies aren't built like that. Use the deps command to
install that package. You can also list ide-backend-server as a build tool
in the cabal file, which should have the same effect.

On Wed, Jun 10, 2015, 8:01 AM Michael Sloan <notifications@github.com>
wrote:

[2015-06-10 05:14] cocreature commented on #232
+1 from me!

[2015-06-10 05:15] snoyberg commented on #247
Sounds correct to me.

On Wed, Jun 10, 2015, 6:39 AM Emanuel Borsboom <notifications@github.com>
wrote:

[2015-06-10 05:50] snoyberg opened #251 "Flesh out the stack.yaml Wiki page"
https://github.com/commercialhaskell/stack/wiki/stack.yaml

[2015-06-10 06:06] snoyberg commented on #199
I like the idea of supporting both a short syntax and a more complete syntax like you've demonstrated here. Would you be able to add a commit to extend the `FromJSON` instance?

[2015-06-10 06:10] donnut commented on #238
ghc-pkg list Cabal issues a long list:
    /home/donnut/.nix-profile/bin/../lib/ghc-7.8.4/package.conf.d/aeson-0.8.0.2.installedconf
    ...

and `stack build --no-system-ghc` did oke, but when I try `stack ghc` it outputs:

    GHCi, version 7.8.4: http://www.haskell.org/ghc/  :? for help
    ghc: can't find a package database at /nix/store/dhwpkyhh5fc7...

[2015-06-10 06:12] rvion commented on #232
+1 :cake:

[2015-06-10 06:17] #219 closed

[2015-06-10 06:17] snoyberg commented on #199
OK, merged to master, closing.

[2015-06-10 06:17] #199 closed

[2015-06-10 06:17] #250 closed

[2015-06-10 06:18] snoyberg commented on #245
I leave this to @chrisdone, he was the last one to be playing with how we display output from tools.

[2015-06-10 06:20] snoyberg commented on #241
Thanks for the PR. Should we close this issue?

[2015-06-10 06:21] snoyberg commented on #238
You'd need to use `--no-system-ghc` for all commands, otherwise it will keep reverting back to the nix-installed one. Perhaps we should have a config options about whether to use the system GHC.

[2015-06-10 06:22] snoyberg commented on #215
I think the verdict is pretty clearly that we shouldn't download by default. Let's make that change, together with a config file option.

@3noch Not right now. I'm guessing you're asking regarding Windows 32-bit vs 64-bit? At @ndmitchell's recommendation, I've been avoiding 64-bit whenever possible, including in Stack.Setup (look in there for a comment about this). I don't mind making it an option

[2015-06-10 06:46] snoyberg commented on #215
Alright, default changed and `install-ghc` config option added. I'm going to consider this closed. If I missed something, speak up :)

[2015-06-10 06:46] #215 closed

[2015-06-10 06:47] snoyberg commented on #238
If you're building stack from master, you can now add `system-ghc: false` to ~/.stack/stack.yaml to get the desired behavior. Modifying your PATH to not include GHC will also work.

[2015-06-10 07:07] snoyberg commented on #204
@mgsloan is taking a look at this now

[2015-06-10 07:12] snoyberg commented on #145
I'll close this, we can follow up on the PR.

[2015-06-10 07:12] #145 closed

[2015-06-10 07:32] snoyberg commented on #234
It's probably failing when trying to download the snapshot info, can you try with the URL:

https://www.stackage.org/download/snapshots.json

[2015-06-10 07:43] snoyberg commented on #248
@haroldcarr Would you be able to update the Wiki page with that information, and mention if you got the binary working on any other Mac version?

[2015-06-10 07:44] snoyberg commented on #239
If you don't mind, I'd like to close this issue, as using the binaries or upgrading GHC should fix the problem. If the issue remains, please reopen.

[2015-06-10 07:44] #239 closed

[2015-06-10 07:45] snoyberg commented on #238
@donnut Should we consider this issue resolved?

[2015-06-10 07:48] snoyberg commented on #237
What if stack itself had this logic, something along the lines of:

* If I'm not being run from ~/.local/bin (and equivalent on Windows), check if ~/.local/bin/stack exists and, if so, call it with the same arguments as I received
* Otherwise, just run
* To upgrade: you run `stack install-exe stack` (or whatever we call that command), optionally making an `upgrade-stack` command that does much the

[2015-06-10 07:49] snoyberg commented on #74
Initial distribution is being handled via the downloads page, for upgrading we're discussing on #237

[2015-06-10 07:49] #74 closed

[2015-06-10 07:52] snoyberg commented on #137
Here's my recommendation: start on the general templating stuff now, not worrying too much about the interplay with `stack init` or something else yet. Either I or someone else will start driving the discussion forward on figuring out exactly how initialization should work, and then we can tie it in with the project templating stuff you do. I can't picture a world where the work you're starting wi

[2015-06-10 07:53] snoyberg commented on #178
I think we need to hold off on this until #116 is implemented, deferring

[2015-06-10 07:54] snoyberg commented on #179
@mgsloan have you reviewed this?

[2015-06-10 07:56] #217 closed

[2015-06-10 07:58] snoyberg commented on #224
Could also consider allowing shortcuts like `--resolver nightly` which would automatically choose the latest snapshot. This breaks reproducible builds, but that seems logical at a command line override level. Pinging @drwebb

[2015-06-10 08:08] snoyberg commented on #232
This looks like a good project for @mgsloan to spearhead, given your work on ide-backend-client recently for School of Haskell.

[2015-06-10 08:09] chrisdone commented on #244
No objections to using `makeAbsolute` here, if it does the same job. `canonicalizePath` is partly used for its cleaning up of paths, too. As far as I'm aware we don't need to resolve symbolic links. @manny-fp @snoyberg See any downsides?

[2015-06-10 08:10] snoyberg opened #253 "Figure out project initialization"
We have a number of different issues all touching on the topic of project initialization (#116 #137 #228 #229). I'd like to use this issue to take a step back and discuss goals at a higher level to try and come up with solution that addresses everything.

It seems like we have the following different use cases that are overlapping:

* Start a brand new project without any source code preexisting
*

[2015-06-10 08:10] snoyberg commented on #137
I've opened #253 to try and discuss this and other related topics together

[2015-06-10 08:10] snoyberg commented on #228
I've opened #253 to try and discuss this and other related topics together

[2015-06-10 08:11] snoyberg commented on #229
I've opened #253 to try and discuss this and other related topics together

[2015-06-10 08:12] snoyberg commented on #244
Only the downside that `makeAbsolute` won't be available in the versions of directory shipping with GHC right now (I believe), so we'll need to implement the same logic internally. But otherwise, no, this sounds like a great solution to the problem.

[2015-06-10 08:12] donnut commented on #238
Yes, it works when I keep using `--no-system-ghc.
Thanks!

[2015-06-10 08:12] #238 closed

[2015-06-10 08:16] wismill commented on #234
*(Back with Windows 7)*
So I tried: `tls-retrievecertificate -d https://www.stackage.org/download/snapshots.json -v -c` and I got errors about options -d,-v and -c not being recognized.

I tried `tls-retrievecertificate https://www.stackage.org/download/snapshots.json` and it gave me the help menu of `tls-retrievecertificate`.

I finally tried `tls-simpleclient -d -v https://www.stackage.org/downl

[2015-06-10 08:22] snoyberg commented on #234
The arguments are supposed to be the host, not the full URL

For example, I was able to run:

    stack exec -- tls-simpleclient -d -v www.stackage.org 443

Though you'll likely want to leave off the `stack exec --` bit.

[2015-06-10 08:24] chrisdone commented on #253
I'm in favour of `init` meaning "setup my stuff" (GHC, config), and `new` meaning "make a new project" (as opposed to cabal's naming of "init = make a new project").

And `config` for editing the configuration a la Git still seems good to me.

Brainstorming: One point to consider is whether to make some of these commands interactive or not, with flags to make them not interactive. Part of what mad

[2015-06-10 08:32] snoyberg commented on #253
While generally I like the idea of stack *not* being interactive, specifically project initialization is a great place to change that and be as helpful/interactive as possible.

[2015-06-10 08:42] chrisdone commented on #245
I'd rather rename the command and documentation; I think our default behaviour should be to launch processes silently and not introduce stray stdout writing that doesn't go through monad-logger, as it interrupts our ability to do properly managed output.

The function [sinkProcessStdout](https://github.com/commercialhaskell/stack/blob/master/src/System/Process/Read.hs#L130..L149) is specifically i

[2015-06-10 08:45] jhedev commented on #248
For reference: For me it's working on Mavericks (10.9.5).

[2015-06-10 08:56] chrisdone commented on #126
@DanBurton We do! See other comments on commits and PR.

[2015-06-10 09:27] b21e commented on #223
Did run the script again. Everything worked fine now!
Thanks!

[2015-06-10 09:37] mboes commented on #253
Yes so long as the user asked too many questions. I find even `cabal init` too pesky.

Related: my fat fingers often `cd` me into the wrong repository, say `src/` instead `src/somepackage`. In this case `stack build` cheerfully goes ahead and downloads random data (as part of init), when I would prefer it to just say "dude, I'm not sure what you want me to do here."

[2015-06-10 09:41] snoyberg commented on #253
Oh, that reminds me: I should have referenced https://github.com/commercialhaskell/stack/issues/231. My proposal there was to not automatically create a stack.yaml file when there are no .cabal files found.

[2015-06-10 09:42] snoyberg commented on #223
No problem, I think someone corrected a typo since you tried it last.

[2015-06-10 09:42] #223 closed

[2015-06-10 09:47] mgsloan commented on #179
Confirmed fixed!

[2015-06-10 09:53] newzealandpaul commented on #237
For Mac OSX homebrew support would be great.

[2015-06-10 10:08] snoyberg commented on #153
This is now implemented. Some details:

* Running `stack install-exe` will install executables for the "wanted" targets, following the same rules as `stack test`, for example
* It gives a warning when the destination directory is not on the PATH
* On Windows, this cannot be used to upgrade stack yet, since we need to do some fancy footwork about moving the exe around (TODO added)

Now that I've im

[2015-06-10 10:17] snoyberg commented on #153
Fixing the Windows upgrade problem was easy, and I've implemented it. But I forgot to mention: there's some discussion warranted around the path on Windows. Currently, it's using directories like C:\Users\Michael\AppData\Roaming\local\bin. Any better ideas?

[2015-06-10 10:18] cdepillabout opened #255 "Ambiguous occurrence ‘defaultTimeLocale’ when building stack from hackage"
When trying to instal `stack` in a sandbox, I get the following error:

[code]

GHC, cabal-install, etc. versions are below:

[code]

The following is the full output of `cabal install`:

[code]

[2015-06-10 10:24] snoyberg commented on #255
That's weird, our Travis bot specifically tests with cabal and GHC 7.10 to help with the bootstrap case. I'll see if I can repro.

[2015-06-10 10:31] cdepillabout commented on #255
I tried using the stackage nightly `cabal.config` and it fails with the same error as well.

[2015-06-10 10:34] snoyberg commented on #255
I just completed a build in the same setup, and it worked correctly. We do have CPP in place to work around this issue... can you try unpacking the source and removing lines 41-43 of the file in question? It could be that Cabal (for some reason) isn't setting the CPP macros itself.

[2015-06-10 10:43] cdepillabout commented on #255
Removing just lines 41-43 left me with the same error, but removing lines 41-46 fixed the error for me.  `stack` now compiles and runs correctly.

[2015-06-10 10:47] snoyberg commented on #255
That's quite unexpected. If you don't mind, could you tell me the contents of your cabal_macros.h file, and specifically the MIN_VERSION_time macro? Mine looks like:

[code]

[2015-06-10 11:08] cdepillabout commented on #255
It looks like my version of `cpphs` was too old.

Building `stack` with `cpphs` version 1.17.1 caused the error above.

Building `stack` with `cpphs` version 1.19 worked.

Is there some way to specify in the .cabal file that a recent version of `cpphs` is needed?

Also, I can get `stack` to build by removing the use of `cpphs`.  In the `ghc-options:` line of `stack.cabal`, I tried removing the `-p

[2015-06-10 11:14] snoyberg commented on #255
Cabal does not actually support build tools at all, so adding the versions
wouldn't help. I believe we've already removed the cpphs stuff from master,
so that wool be included in the next release. Thanks for looking into this
more deeply.

On Wed, Jun 10, 2015, 2:08 PM Dennis Gosnell <notifications@github.com>
wrote:

[2015-06-10 11:16] cdepillabout commented on #255
Okay, sounds good.

Thanks a lot for your help!

[2015-06-10 11:24] #255 closed

[2015-06-10 11:33] mgsloan commented on #179
@manny-fp Actually, hmm, I'm not getting the error I was getting before.  However, I would expect `stack exec -- which stack` to yield a result, and currently it doesn't.

[2015-06-10 11:34] mgsloan commented on #250
Hmm, in this case if I do `stack deps ide-backend-server`, I get:

[code]

[2015-06-10 11:37] feuerbach commented on #153
I have no problem with `install`.

Does it work for non-local targets? E.g. I may want to just say `stack install pandoc`.

[2015-06-10 11:47] snoyberg commented on #153
Yes, it should. One thing we could consider is figuring out good behavior for running `stack install` outside of a project directory, presumably working the same way `stack exec` will end up working.

[2015-06-10 11:49] snoyberg commented on #250
Did you mean `ide-backend-server-0.9.0`?

[2015-06-10 12:12] andrewthad commented on #253
On the topic of the last bullet point (falling back), this is what I would prefer to see. If it doesn't work with the snapshot specified in `stack.yaml`, print out an indication that this has happened and then fail. Maybe you could reenable the falling back behavior with a flag (like `--allow-fallback` or something like that).

However, the `allow-fallback` solution is kind of weird because you wo

[2015-06-10 12:16] mgsloan commented on #250
Yes, but that doesn't change the results.  `stack deps` seems to be the right solution here, but it's not working out for me

[2015-06-10 12:24] cdepillabout opened #257 "ghc fails to install on Arch Linux because of missing libtinfo.so.5"
When running `stack setup` on Arch Linux, ghc-7.8.4 fails to install because of a missing libtinfo.so.5 library.

Here is the output of `stack setup`:

[code]

Running `make install` in the ghc directory manually gives me the following error:

[code]

It appears that on Arch Linux, programs should be linked against libncurses.so.5 instead of libtinfo.so.5:

https://aur.archlinux.org/packages/libti

[2015-06-10 12:33] cdepillabout opened #258 "flags like `--verbose` not passed to sub commands like `stack ghc`"
I assumed that `stack ghc --SOME_FLAG` would call `ghc` and pass it `--SOME_FLAG`.  However, this does not seem to work all the time.

In the following example, I expected to get the `ghc` version, not the `stack` version:

[code]

I expected the output of the following two commands to be the same, but they differ:

[code]

[2015-06-10 12:34] snoyberg commented on #257
Here's my recommended course of action:

1. Add information to the downloads page about necessary system libraries
2. Add a sanity check to the end of `stack setup` to make sure it can compile a basic program
3. If not, give an error message pointing to the downloads wiki page

What do you think?

[2015-06-10 12:43] cdepillabout commented on #257
That plan sounds really good.

I now see that the `haskell-stack` ackage already has a dependency on `libtinfo`.

https://aur4.archlinux.org/packages/haskell-stack/

[2015-06-10 12:49] khanage commented on #137
Just full disclosure, I'm fairly new to haskell at the level of doing things, so I'm going to be pretty slow with this.

I've made a small start on this, but my question is: how should I check this in? Should I create a branch on this repo, or fork the stack project completely? (Pretty new to open source as well ;)).

Sorry if this isn't the right forum for this, but I think it's better to be upfr

[2015-06-10 12:58] snoyberg commented on #137
No problem at all, feel free to ask questions :)

I'd recommend committing to a separate branch. I like the convention of using the issue number in the branch new, so maybe 137-template or something like that.

[2015-06-10 13:03] manny-fp commented on #245
Yeah, no big rush, and I can understand why the current _System.Process.Read.callProcess_ behaviour is desirable in most cases (it just isn't in this one, and when I was porting Docker the code from _System.Process.callProcess_ I assumed its behaviour would actually be the same).

Ordinarily I'd be all for using _sinkProcessStdout_, but in this case a disadvantage is that `docker pull` has nicer p

[2015-06-10 13:12] 3noch commented on #215
@snoyberg I see the comment! I have not had any troubles with 64-bit GHC on Windows, but my use-case is pretty light. Where/how can I start the discussion to get 64-bit Windows back?

[2015-06-10 13:14] snoyberg commented on #189
Just because it was annoying me so much, I added a `--pedantic` option myself. Now I'm working on stack with `stack install --pedantic`, which with tab completion is a pleasure to do.

[2015-06-10 13:17] snoyberg commented on #215
Just open another issue and let's discuss. I'm in favor of doing it, we
just need to figure out the right defaults and ui for overriding them.

On Wed, Jun 10, 2015, 4:12 PM Elliot Cameron <notifications@github.com>
wrote:

[2015-06-10 13:29] ndmitchell opened #259 "Introduce an alternative to .cabal"
There are lots of nasty things in .cabal files, including specifying libraries multiple times, a custom syntax (rather than YAML), a flag mechanism that works backwards etc. Once `stack` can do `stack upload` then you could take the stack-friendly alternative and produce a `.cabal` file automatically. Stack would have to be able to work with both its simplified/improved format and the existing Cab

[2015-06-10 13:34] gregwebs commented on #137
There is prior art in this area that should be considered. One is Michael's project-template. Another is hi https://github.com/fujimura/hi/blob/master/README.md

[2015-06-10 13:47] gregwebs commented on #259
`stack upload` assume a cabal file, so I don't know what it has to do with generating one.

YAML does not seem like a good choice for expressing things such a flag conditional. Perhap you have an approach in mind?

In general right now this idea is lacking any detail on what a benefit would be. Examples would help.

[2015-06-10 13:57] manny-fp opened #260 "Improve security of docker options in stack.yaml"
Currently, if a user has `docker` installed and set up so their user can run it without `sudo`, it's possible to craft a stack.yaml that runs arbitrary commands as root.  This is due to well-known security weaknesses with Docker and basically any arbitrary code you run on your system (like, say, downloading an executable or shell script, or building a Haskell package that uses TemplateHaskell) cou

[2015-06-10 13:59] snoyberg commented on #257
OK, sanity check added. Could I ask you to add some content to the Downloads page about the missing library and how to fix it on Arch Linux?

[2015-06-10 14:07] ndmitchell commented on #259
Let me rephrase: Perhaps stack could have a native format that was different to .cabal. If so, Stack could automatically convert it to .cabal for upload. Such a file format would have the obvious drawback of being less compatible, but since it is designed from scratch, could have some benefits:

* It could use an existing syntax such as YAML, to make parsing easier for a variety of tools without d

[2015-06-10 14:07] chreekat commented on #153
My real preference is to have two commands with the same distinction as
exists between 'apt-get install' and 'make install'. The latter makes no
sense in a non-project directory, and the former doesn't care about $PWD at
all.

If a command is to do both, it may as well be called `install`. :P Maybe
we'll advance to a bright future where I can just apt-get install the
latest binaries from LTS Stack

[2015-06-10 14:17] chreekat commented on #253
+1 to:

cmd | domain
---- | ------
init | set up global stack stuff (i.e. rename setup to init)
config | set up or modify stack.yaml (needs a .cabal)
new | lay out a new project (generates .cabal and sundries)
build | just builds, requiring stack.yaml, but suggests `new` or `config` when appropriate

[2015-06-10 14:29] snoyberg commented on #153
Right now, if you run stack install pandoc outside of a project directory, you'll be guaranteed to get the version from upstream, which may be pretty close to what you're looking for

[2015-06-10 14:29] #153 closed

[2015-06-10 14:33] gregwebs commented on #259
Unfortunately because in the general case `.cabal` files will need to be supported it may be hard to reap this benefit

Sorry for being dense, I would still love to see a more concrete example to understand this better.

Probably this could be added to the existing `.cabal` file system?

Sounds good.

There are existing package managers (npm and the javascript ones are what come to mind first) tha

[2015-06-10 14:34] haroldcarr commented on #248
@snoyberg I can try that.  But before I do, what is this install going to do to my existing gch/etc?  Where does this install put things (which also be useful info to add to the wiki)?

[2015-06-10 14:36] 3noch opened #261 "Support 64-bit Windows"
I can't use `stack` until it supports two things:

  1. 64-bit GHC on Windows
  2. Compiling the same code for both 32-bit and 64-bit (possibly with some flag to specify which)

I couldn't find a way to accomplish (2) but it might already be in place. (1) is disabled for some reason ATM. I think @ndmitchell has fears about 64-bit GHC's stability on Windows? I personally have never had issues (othe

[2015-06-10 14:37] snoyberg commented on #253
@andrewthad Just to clarify on falling back, stack never does something different than what's in the config file. Fallback refers to when generating the config file itself.

@chreekat That table really helps, thank you! I realize this is bike shedding, but I'll do it anyway: setup still feels more correct to me than init, since it's not just initializing things but properly installing. For both ca

[2015-06-10 14:39] snoyberg commented on #248
It puts it all under your .stack directory in your home directory. It
should not affect your existing installation at all.

If you could add that to the wiki, that would be great.

On Wed, Jun 10, 2015, 5:34 PM Harold Carr <notifications@github.com> wrote:

[2015-06-10 14:44] chreekat commented on #153
Aye, but if I run `stack install pandoc` *inside* a project, it.... oh. Hm! It does a smart thing. I am satisfied.

Well, except for the following:

    Couldn't find executable make-pandoc-man-pages in directory /home/b/.stack/snapshots/x86_64-linux/lts-2.9/7.8.4/bin/
    Copying from /home/b/.stack/snapshots/x86_64-linux/lts-2.9/7.8.4/bin/pandoc to /home/b/.local/bin/pandoc
    Couldn't find exe

[2015-06-10 14:47] snoyberg commented on #153
That might be that the buildable flag isn't being tracked properly right
now. There's a todo in the codebase to track that.

On Wed, Jun 10, 2015, 5:44 PM Bryan Richter <notifications@github.com>
wrote:

[2015-06-10 14:47] 3noch commented on #237
My only thought is that now you really have two (or more) versions of a working `stack` on your computer that have a pretty strange relationship. It might be better to have a thin "stack runner" that is both smaller (in terms of executable size) and simpler (in terms of functionality). That runner had better never change, because you can't upgrade it. But once you have it, it would keep track of i

[2015-06-10 14:48] 3noch commented on #237
I slightly fear stack upgrading itself to change the way it upgrades itself and then breaking...

[2015-06-10 14:54] drwebb commented on #257
As you noticed, if you are on Arch you probably should be using the package in the AUR, which has this dependency already. Think this is ready to close.

[2015-06-10 14:54] gregwebs commented on #260
More concretely, the attack scenario is: I clone a project because I want to patch a library, so I start by running `stack build`. Generally build systems have escape hatches to execute arbitrary code, but it is limited to the user's permission. If I have docker installed, the build process could escalate its privileges to root!

I think this is getting at a larger problem for library authors; the

[2015-06-10 15:00] snoyberg commented on #237
Now that I've got the `stack install` command set up in such a way that it can write to the same file it's running from, I'm less interested in the wrapper approach and would like to consider a simple `stack install stack` upgrade process. You're correct to be concerned about upgrading and breaking itself. One possibility is to automatically back up the current executable instead of wiping it out

[2015-06-10 15:03] snoyberg commented on #259
To throw in a justification or two from the implementation side: relying on the Cabal library means that we're subject to all the bugs and quirks of the Cabal library, of which there are many. If we have a file format like this, not only can we make the format itself more user friendly, but stack can do more intelligent things about how it builds (e.g., no need to reconfigure in order to build you

[2015-06-10 15:04] 3noch commented on #237
Brilliant.

[2015-06-10 15:08] radix commented on #241
Yeah, I'll close it. I mentioned what I think is a nice longer-term solution in https://github.com/commercialhaskell/stack/issues/211#issuecomment-110510693.

Thank you for the review/merge!

[2015-06-10 15:08] #241 closed

[2015-06-10 15:08] chrisdone commented on #258
This is a problem with optparse-applicative, it makes it difficult to do pass-through. The solution at the moment is:

    stack ghc -- --version

To indicate to optparse to interpret the rest of the arguments as a string instead of snatching them up as global options.

We can potentially make flags coming after `ghc` implicitly quoted. What do people feel about that?

[2015-06-10 15:08] NathanHowell commented on #259
In our codebase we have hundreds of packages, so there is a huge huge amount of boilerplate and duplication between .cabal files. Having some notion of `import` or `#include` would be nice. I was looking at using an `Applicative` eDSL an alternative to .cabal files (with a "render as .cabal" evaluator), which is why our build tool uses Haskell source files instead of yaml as the build description

[2015-06-10 15:11] chreekat commented on #253
I actually have no preference on setup vs init; I was just following the
"consensus" (which may or may not have been a single person). :)

On Wed, Jun 10, 2015 at 7:37 AM, Michael Snoyman <notifications@github.com>
wrote:

[2015-06-10 15:16] snoyberg commented on #259
In the world of stack, explicitly listing packages isn't a hard requirement actually. We could do something intelligent like:

* Try to compile
* If it fails, look at the module that's missing
* Go to the build plan and determine which package it comes from, and install it

Not saying this is a good idea, there are downsides, but pointing out that there are entire regions of the design space that

[2015-06-10 15:28] NathanHowell commented on #259
I will always want to explicitly list what to build. Often times we'll have portions of the tree that don't build (old utilities usually) while libraries are being upgraded, or to decrease incremental build times in feature branches (e.g. `branch-x-wip` only needs to build feature y, but `master` builds everything).

Some other options:

* Support (explicitly) inheriting configuration from the par

[2015-06-10 15:41] ndmitchell commented on #259
@gregwebs Agreed on adding the executable arguments to the existing Cabal stuff. Unfortunately mixing new `cabal.exe` and old Cabal library is a disaster, so it takes quite a while to get rolled out, while Stack has the advantage of being very hackable and more aggressively developed.

For flags, I really want to say: if not windows, include the unix package. In my ideal world, that would test whe

[2015-06-10 15:43] ndmitchell commented on #261
I have enough concerns about 64bit windows that _if_ you only support one binary download, it should be 32bit. But you should support both ideally :) Partly its just newer and historically had some issues (the first version was dire) - now I suspect it's just less tested.

[2015-06-10 15:55] 3noch commented on #261
@ndmitchell I'm curious how long it's been since that first version. Did it produce incorrect code?

[2015-06-10 16:04] ndmitchell commented on #261
A long time! I think it segfaulted with NAG dlls or something, pretty rare and a long time ago. Now it's just less tested.

[2015-06-10 16:13] manny-fp commented on #260
Yes, that is exactly the scenario I was thinking of.  Of course, stack itself doesn't really create this problem -- any library could have some TemplateHaskell that uses the same loophole to escalate  its privileges even if you're using cabal-install.

We actually really do want to allow you to enable docker and set the image in the project's stack.yaml, because that way you can ensure that everyo

[2015-06-10 16:20] cschneid commented on #253
Until this issue is resolved, is there any guide / example of what a brand new project looks like? I don't mind placing & editing files manually while tooling is getting going.  Or should I make a traditional cabal project and convert that somehow?

[2015-06-10 16:24] manny-fp commented on #248
@snoyberg Do you know the minimum version of Windows?  Which version have you tested on?

[2015-06-10 16:36] manny-fp commented on #248
I've added the version info to the OS X section.  Reassigning to @snoyberg to add it to Windows.

[2015-06-10 16:36] gregwebs commented on #260
Restricting to not allow pulling an unknown image helps, but does not solve the problem unless the docker build commands that are automatically executed are restricted to just `stack`. Maybe this is already the case? I have no idea how the docker integration actually works at this point (I am hoping for some documentation).

[2015-06-10 17:17] dhobbs opened #265 "Request: stack repl"
Is there a way to launch a repl (similar to 'cabal repl') using stack?

[2015-06-10 17:47] chrisdone commented on #265
Check out #130!

[2015-06-10 17:47] #265 closed

[2015-06-10 18:07] gregwebs commented on #260
This may be a little off topic, but I created a shell script in my PATH called `docker` to override the docker command

[code]

This seems like a much better solution that the docker group that gets widely used today. Maybe I am missing something.

[2015-06-10 18:11] chrisdone commented on #245
In that case, `callProcess` isn't used anywhere, so feel free to change its implementation to inherit stdout and stderr.

[2015-06-10 18:13] manny-fp commented on #260
That is correct, it the only thing it'll run automatically is `stack`.

And using that wrapper is an excellent idea.  I'll mention that in the docs I'm working on.

[2015-06-10 19:37] wismill commented on #234
Ok. So running `tls-simpleclient -d -v www.stackage.org 443` I got:
[code]

Running `tls-retrievecertificate www.stackage.org 443 --verify` I got:
[code]

[2015-06-10 20:47] 3noch commented on #234
@wismill Thanks to folks like you who work with us on these issues, we aim to change that sentiment soon!

[2015-06-10 20:47] 3noch commented on #234
@wismill In Haskell's defense, Windows is its toughest spot.

[2015-06-10 21:13] cdepillabout commented on #257
Okay, I added a note to the downloads page about Arch Linux.

https://github.com/commercialhaskell/stack/wiki/Downloads#arch-linux

The sanity check looks good.

[2015-06-10 21:24] manny-fp commented on #179
Right, the directory where stack gets bind-mounted isn't on the PATH.  I'll update the image build tool to add that to the PATH for future images.

[2015-06-10 22:14] MaxDaten opened #266 ""stack build" does not rebuild on file change"
Maybe I missed something important, but in a simple project `stack build` does not rebuild the project when necessary, for example when the `Main.hs` is changed.

minimal example
[code]

[2015-06-11 00:01] acowley commented on #259
I totally support this direction, but it's probably a touch too early in the Stack era for it to happen. Things like build-tool dependencies are basically a disaster at the moment, with tooling either just punting on them (like cabal-install), or having to special case them. With package descriptions finally moving to separate markdown files, the information content of package specifications is na

[2015-06-11 01:12] afcowie opened #267 "libgmp.so not found"
Attempting to use the generic Linux package (yes, I get that it's 0.0.0) it failed to be able to use the downloaded GHC with

[code]

I did notice that the compiler you grab is <https://www.haskell.org/ghc/dist/7.8.4/ghc-7.8.4-x86_64-unknown-linux-deb7.tar.xz> which suggests that its for a Debian based distro. I'm guessing they have a symlink by that name. On the other prominent distro family, the

[2015-06-11 01:22] afcowie opened #268 "Does it really need to write dist-stack directory tree?"
You've already got a hidden directory _.stack-work/_. Is it necessary to write the **un**hidden tree at _dist-stack/_? Surely that could be embedded in a single common _.stack[-work]_ tree and not polute the project root?

AfC

[2015-06-11 01:48] manny-fp opened #269 "Improve config file parsing error messages"
For example, if I put `install-ghc: 123` in a stack.yaml, I get this not very informative error:

[code]

We should at least catch AesonExceptions when parsing the config files and wrap them in our own "ConfigParseFailedException" (or something like that), and include the path to the config file where the failure occurred in the message.  If there was a way to get Aeson to report the field with th

[2015-06-11 01:52] manny-fp commented on #253
I agree with keeping `init` for initializing the project.  It's consistent with git, cabal, vagrant, yesod, and probably others I'm not thinking of right now.

[2015-06-11 02:06] manny-fp commented on #148
@snoyberg confirmed?

[2015-06-11 02:25] chris-martin commented on #239
Sigh, I guess it'll be easy once I upgrade to FC22. Thanks.

[2015-06-11 02:57] haroldcarr commented on #248
@snoyberg I added the info about .stack and non-interference to the FAQ.

[2015-06-11 03:04] haroldcarr commented on #248
I tried it on an old mac : 10.7.5: did not work:

    ./stack-0.0.0-x86_64-osx
    Illegal instruction: 4

[2015-06-11 03:04] snoyberg commented on #257
Cool thanks!

On Thu, Jun 11, 2015, 12:13 AM Dennis Gosnell <notifications@github.com>
wrote:

[2015-06-11 03:26] snoyberg commented on #266
Could you paste in the generated cabal file just to be sure we're all looking at the same thing?

[2015-06-11 04:41] snoyberg commented on #267
Have a look at #257 which has a similar issue for Arch. The solution we decided on there was documentation and testing: after installing a new GHC, we run a sanity check, and if it fails, point users to the Downloads page, which should (hopefully) have an explanation of how to fix these problems. You have any thoughts on that approach?

[2015-06-11 04:43] snoyberg commented on #234
@vincenthz Any thoughts on the error message above?

@wismill This may be a legitimate failure on the tls packages part. It's possible that your system isn't recognizing the SSL certificate used by stackage.org for some reason.

[2015-06-11 04:46] snoyberg commented on #248
I've added information on the Windows version I've been building with. I think the issue can be closed, agreed?

[2015-06-11 04:49] snoyberg commented on #268
We tried this previously with #92, and ran into Cabal bugs on Windows when dealing with absolute paths. Perhaps we can do something simpler though: just move dist-stack into .stack-work and keep it relative. This won't work particularly well for multi-package projects, as each package directory will end up with its own .stack-work, but perhaps this is still an improvement.

And as to your implied

[2015-06-11 05:15] snoyberg commented on #148
Two things:

1. Can you add a description of this to https://github.com/commercialhaskell/stack/wiki/stack.yaml ?
2. In the `Monoid` instance, instead of simply taking the latest version range, I'd recommend using `intersectVersionRanges` so that we get the requirements from all stack.yaml files being used. It may make sense to get rid of the `Maybe` wrapping and default to `anyVersion` in that ca

[2015-06-11 05:16] snoyberg commented on #269
I agree. This is also related to #48.

[2015-06-11 06:31] snoyberg commented on #261
Alright, I think I've got this working. Try running with the `--arch x86_64` flag, or adding `arch: x86_64` to your stack.yaml file. I'll test this out on my Windows machine today and see how it goes.

[2015-06-11 06:33] snoyberg opened #270 "Need to display output when a tool fails"
Currently, if configuring GHC fails, all of the output from the `./configure` process is swallowed. Similarly for things like sanity check, Git clone, etc. We should have logic in place that, if the process exits unsuccessfully, we print the stdout and stderr for the user to review.

Pinging @chrisdone

[2015-06-11 06:34] chrisdone commented on #269
Possible avenue: https://github.com/chrisdone/descriptive#self-documenting-json-parser

[2015-06-11 06:34] chrisdone commented on #270
:+1:

[2015-06-11 06:34] snoyberg commented on #269
No objection from me.

[2015-06-11 06:35] radix commented on #269
I commented about some stuff with config file parsing in #211, but this ticket is more clearly more appropriate for my suggestion, so I'll just restate it here:

There's now a wiki page (still in progress) documenting everything about `stack.yaml` here: https://github.com/commercialhaskell/stack/wiki/stack.yaml

I recommend that all config-file parsing errors show a link to this page, and if possi

[2015-06-11 06:37] snoyberg opened #271 "Sticky output doesn't work correctly on Windows"
I just saw a bunch of blank lines while doing a build on Windows (see below). Ideal: fix that. Short term workaround if necessary: disable the sticky behavior when on Windows (maybe by treating Windows the same as a non-terminal).

[code]

[2015-06-11 06:40] mitchellwrosen commented on #258
What about making `--help` simply remind you how to pass args through?
[code]

[2015-06-11 06:41] chrisdone commented on #266
FYI I don't reproduce this with the instructions; it prints `"Hello Stack!"`

[2015-06-11 06:43] chrisdone commented on #258
One does not simply do anything with ~~mordor~~ optparse-applicative. But I'll see what can be done; it's possible to prompt the user to always pass `--` after GHC by inspecting the arguments manually.

[2015-06-11 06:45] mitchellwrosen commented on #258
Oh, you mean the usage strings are automatically generated? Hm. Bummer.

[2015-06-11 06:47] chrisdone commented on #258
They are indeed.

[2015-06-11 06:47] wismill commented on #234
Thanks to @snoyberg's  comment:

I have investigate a bit the question. The "lock" icon confirm the SSL certificate works in Firefox for https://www.stackage.org.

But, hey, it's Windows: I have some intuition Internet Explorer should not left apart. I was right: certificate recognized and now the previous commands work: `stack build`, `tls-simpleclient`, `tls-retrievecertificate`!

This is a trai

[2015-06-11 06:50] mitchellwrosen commented on #258
Pardon the ignorance, but is `--` a unix shell thing, or is optparse-applicative just re-using it as the familar end-of-args delimiter?

[2015-06-11 06:52] snoyberg opened #272 "Better install behavior for packages not in snapshot"
* [ ] `stack install foo` should default to whatever's in the snapshot, and if that's not available, choose the latest in the index (reporting as such to the user)
* [ ] To force a specific version of a package to be installed, can run `stack install foo-1.2.3`
* [ ] For ease of use, can provide `stack install foo:latest` to ignore whatever's in the snapshot
* [ ] Provide a command `stack upgrade`

[2015-06-11 06:56] snoyberg commented on #234
We're kind of caught in a pickle on this one. We can turn off certificate checking and avoid this problem, but that will make stack _very_ insecure. We don't want to go down that route (a problem which plagues other tools in the ecosystem). Also, this doesn't seem to be a universal problem, as many Windows users have no problem here.

One possible mitigation here would be: default the specific cal

[2015-06-11 07:09] chrisdone commented on #258
This behavior is a unix command thing, it comes from the programs, not the shell itself.

[2015-06-11 07:47] vincenthz commented on #234
`tls` uses the certificate CA that are installed on the machine. On windows the pre-populated CA is bare, compared to the CAs on unix or OSX. That causes the "problem" above, which basically say: "the certificate received from this server has been signed by this authority A, but my system is not trusting this authority A in the first place"

There's couple of solution:

* certificate pinning: A us

[2015-06-11 08:03] s-trooper opened #273 "How do I get extra tools"
How to install ghc-mod, hoogle and such stuff global (as not per project)?

I have tried "stack deps ghc-mod" but get it only in the project ".stack-work" sub folder, i would like to have the binaries in %APPDATA%\local\bin or other already PATH'ed path.

[2015-06-11 08:06] snoyberg commented on #273
I recently added the `install` command, which copies executables to ~/.local/bin on POSIX systems and %APPDATA%\Roaming\local\bin on Windows. Can you try building the latest master and testing it out?

[2015-06-11 08:07] snoyberg commented on #273
Also, this may be of interest: https://github.com/commercialhaskell/stack/wiki/Downloads#path

[2015-06-11 08:08] polux commented on #266
I have the same issue. My OS is ubuntu 64 bit. I couldn't reproduce _exactly_ the scenario above as my version of cabal is too old I guess (1.16.0.2), and cabal init would create a .cabal with base == 4.6.* which I had to change to 4.* for the first `stack build` to succeed. I had to add a `main-is:` and I also had to remove `license: MIT` as it was complaining there wasn't such a file.

Anyway, t

[2015-06-11 08:30] wismill commented on #234
I think disabling security is not a conceivable option. At least not without imposing explicit command line option.

The developers of Pip, the package manager of Python, seem to have [the same issue](https://github.com/pypa/pip/issues/2510) and it seems solved in the [Python's standard library](https://bugs.python.org/issue17134) or with a [dedicated package](https://bitbucket.org/tiran/wincertst

[2015-06-11 08:37] #30 closed

[2015-06-11 08:40] snoyberg commented on #172
We decided to treat this like `stack exec` and family, and just pass in the extra command line arguments to the test suites.

[2015-06-11 08:41] ndmitchell commented on #130
Note that `ghcid` integration requires `stack ghci` to work as outlined above and load everything up. Requested at https://github.com/ndmitchell/ghcid/issues/38

[2015-06-11 08:42] s-trooper commented on #266
Windows 7 x64: Same here, i have to remove ".stack-work" folder to create/recreate the exe.

[2015-06-11 08:46] snoyberg commented on #231
Discussed with @chrisdone, we'll just exit `stack.yaml` construction if no .cabal file exists, and leave the rest of init to #253.

[2015-06-11 08:48] snoyberg commented on #233
Given that `stack build && stack exec foo` works pretty well for this, do you have any objection with sticking to that as the recommended workflow? I'm concerned about using up the command namespace for something general like `run` with something that's easily achieved in another way.

[2015-06-11 08:49] polux commented on #266
Removing `.stack-work` also works for me.

[2015-06-11 08:51] wismill commented on #234
These links may be useful:

- http://serverfault.com/questions/620013/importing-a-certificate-and-granting-permissions-on-windows-server-2012-r2
- https://technet.microsoft.com/library/cc732443.aspx

[2015-06-11 09:05] snoyberg commented on #271
The recent changes seem to have fixed everything.

[2015-06-11 09:05] #271 closed

[2015-06-11 09:17] snoyberg commented on #266
@chrisdone and I just debugged this, once we finish reviewing other issues I'll make the fix and push it.

[2015-06-11 09:20] polux commented on #266
Excellent, thank you for the quick response!

[2015-06-11 09:24] chrisdone commented on #59
* Have a `~/.stack/global/stack.yaml` config file.
* Somewhere in `~/.stack/global` will be the usual installed package database.
* In [ExecStrategy](https://github.com/commercialhaskell/stack/blob/master/src/Stack/Config.hs#L305..L306):
   * Choose the latest LTS.
   * Create a Project config type with empty fields apart from `projectResolver`.

When running e.g. `stack ghc` that'll create this c

[2015-06-11 09:26] snoyberg commented on #59
One other point: we should have some way of letting the user know that they're using the implicit global and how to change the snapshot it uses.

[2015-06-11 09:27] s-trooper commented on #273
thank you very much "stack install ghc-mod" install ghc-mod to %APPDATA%\local\bin that is great! hoogle and hlint work nicely but ghc-mod don't work i get this:

"launching operating system process `cabal configure` failed: cabal: readProcessWithExitCode: does not exist (No such file or directory)"

[2015-06-11 09:44] snoyberg commented on #266
OK, should be fixed now. Can you check master?

[2015-06-11 09:46] snoyberg commented on #273
Awesome, thank you!

[2015-06-11 09:46] #273 closed

[2015-06-11 09:55] snoyberg commented on #231
OK, this is implemented, with the real solution to be handled via #253. Closing.

[2015-06-11 09:55] #231 closed

[2015-06-11 09:56] snoyberg commented on #172
And that's not going to work, because those arbitrary arguments are used to indicate the targets. OK, will revert to --test-args (or --test-options for consistency with --ghc-options?).

[2015-06-11 09:58] s-trooper commented on #266
just tested on Win7 x64, rebuild works, thank you.

[2015-06-11 10:03] snoyberg commented on #266
Cool, thanks for confirming. I'm going to close, if others still see a problem, please reopen.

[2015-06-11 10:03] #266 closed

[2015-06-11 10:08] s-trooper opened #274 "stack is slow"
Win7 x64: "stack runghc Hello.hs", "stack exec hello" i suppose "stack" itself bring performance penalty over 1 s that is real a problem if to use stack in scripting case. Here some data:

hello.exe                      0.065 s
stack exec hello          1.090 s

runghc Main.hs           0.333 s
stack runghc Main.hs  1.387 s

sure stack need time but for special cases it should bypass things like r

[2015-06-11 10:26] cocreature commented on #233
imho the current state is fine as long as there is some documentation. I didn't understand that this works before finding this issue.

[2015-06-11 10:29] cocreature commented on #233
I added it to the transition page on the wiki.

[2015-06-11 10:31] snoyberg commented on #274
We purposely have avoided optimizations till this point (premature optimizations and all that), but would like to address this properly for the first release. I know of at least one piece of low-hanging fruit in this regard: #213. If you (or someone else) is interested in attacking this, let me know. Using the `-v` option should give a good idea of where time is being spent.

[2015-06-11 10:31] snoyberg commented on #233
Cool, good call. I was about to ask you where you thought a good place would be to cover that.

[2015-06-11 10:33] MaxDaten commented on #266
Great, I can confirm the fix :)
[code]

[2015-06-11 10:40] snoyberg commented on #272
I'm going to leave off that last bullet for now, and we can just document the upgrade process elsewhere later.

[2015-06-11 10:41] #272 closed

[2015-06-11 10:58] mboes opened #275 "--jobs option to limit concurrency"
Currently Slack will happily saturate all cores that are available. Sometimes it may be useful to limit the concurrency factor (debugging, lap-burning avoidance...).

It should be possible to say:
[code]
for some arbitrary integer N. For `stack test`, this even more crucial, because some test suites may (rightly or wrongly) depend on shared system resources that they need exclusive access to (e.g.

[2015-06-11 11:10] snoyberg commented on #275
I actually have a TODO about this in the codebase already, it's trivial to implement. Doing so now.

[2015-06-11 11:18] snoyberg commented on #275
OK, implemented. @mboes confirmed?

[2015-06-11 11:44] s-trooper commented on #274
stack is the tool that convince/allow me to use haskell in my company. just now i am writing on my first "hello world", not the best reference for performance optimization i guess :)

[2015-06-11 12:07] cocreature commented on #233
I am actually not quite sure what belongs to faq and what belongs in the transition page. I imagine the questions people ask most frequently are probably related to a transition so it's hard to make that distinction.

[2015-06-11 12:35] mboes commented on #275
Works well!

[2015-06-11 12:35] #275 closed

[2015-06-11 12:41] polux commented on #266
The fix is working for me too, thanks!

[2015-06-11 12:45] #248 closed

[2015-06-11 13:21] netroby opened #276 "Do you have official prebuilt docker images?"
Do you have official prebuilt docker images?

[2015-06-11 13:25] gregwebs commented on #172
`--test-options="TESTOPT"` is a pain because it introduces new quotation rules. I would find it a lot easier to use a `-` to indicate the end of stack args.

   stack test TARGET1 - TETOPT1

The main problem with this approach is it is harder to document; that mat favor supporting both styles

[2015-06-11 13:28] gregwebs commented on #276
No. But there is support for Docker workflows, see the [FAQ](https://github.com/commercialhaskell/stack/wiki/FAQ). What is the workflow you have in mind?

[2015-06-11 13:31] 3noch commented on #234
@wismill I'm in the same boat you are: Windows. So all we can do is plug away at these issues and hope for a brighter tomorrow. Thanks for your help.

[2015-06-11 13:40] gregwebs commented on #269
The way I have tackled this in the past is to just override the `.:` etc operators to give they key in the failure message. I do this where Aeson is imported into the project (`Import.Aeson` or `Aeson.Extended` or whatever your preferred approach is there). The link to the wiki can probably be added by using modifyFailure. I would suggest first seeing how much this approach improves the situation

[2015-06-11 13:42] qnikst commented on #190
Seems can go into this issue, currently `Progress:` is not updated if there is nothing to do, as a result, user got smth like

[code]

so it's not obvious if process if finished or exited too early with silent error.

[2015-06-11 13:49] gregwebs commented on #172
This approach is already taken by `stack ghc` https://github.com/commercialhaskell/stack/issues/258

[2015-06-11 14:00] snoyberg commented on #234
I've pushed a commit to hopefully make the error message far more helpful in this situation. @wismill if you are still able to reproduce the original problem, would you be able to take a try with the newest master?

[2015-06-11 14:01] manny-fp commented on #148
@snoyberg Alright, now it uses `intersectVersionRanges`.  And this time I've pushed my change to stack.yaml.md.

[2015-06-11 14:04] snoyberg commented on #148
Awesome!

[2015-06-11 14:04] #148 closed

[2015-06-11 14:10] snoyberg commented on #274
Awesome, I'm glad to hear it!

[2015-06-11 14:19] qnikst opened #277 "stack doesn't respect Buildable:False in tests"
If package has a conditionally enabled test, then stack writes a error message.

How to reproduce:

1. take a package with conditional test, that is disabled (for example `network-transport-tcp`)
2. run stack test

Excepted results:
1. output that doesn't mention disable test
2. exit code is `ExitSuccess` (0)

Actual results:
[code]
1. Exit code is non zero

[2015-06-11 14:28] snoyberg commented on #277
Thanks for the report, this is actually a known issue in the code base:

https://github.com/commercialhaskell/stack/blob/64ff652ba3d7e4a6532276a165a8661de86c4f3b/src/Stack/Package.hs#L226

It's probably not too difficult to address this, just using `pkg` instead of `gpkg`. Want to take a crack at it?

[2015-06-11 14:34] snoyberg commented on #172
The double dash in the arguments is a shell-ism to mean "don't interpret anything else as flags," so using it to distinguish between targets and test arguments feels incorrect. That's not to say that I don't like the idea in theory.

[2015-06-11 14:38] qnikst commented on #277
Yes, will try to fix that, thanks for the pointers.

[2015-06-11 14:47] snoyberg commented on #277
Cool!

[2015-06-11 15:16] qnikst commented on #277
Fixed in https://github.com/commercialhaskell/stack/pull/278 , do I need to do the same for benchmarks? (The only thing that I don't have a good examples under the hands, but can write some).

[2015-06-11 15:18] snoyberg commented on #277
Benchmarks aren't necessary (we don't run them ourselves yet), but I wouldn't object to them being added now if you're up for it. It would be very useful to have this same approach used for the executables though, would you be up for adding that to the PR?

[2015-06-11 15:21] qnikst commented on #277
Yes, of cause, I'll add this to benchmarks.

[2015-06-11 15:24] wismill commented on #234
@snoyberg I would like to try you commit: I have cloned this repo, created a cabal sandbox and tried to install the dependencies. But I am facing this issue: https://github.com/haskell/cabal/issues/2502. You see what I mean about insufficient tooling support, especially on Windows :-| And Cabal is a serious one (currently 582 issues!).

I think I will just wait now the next version of minGHC with

[2015-06-11 15:27] snoyberg commented on #234
I'm planning on cutting another beta release this Sunday, which will include another Windows executable. That may be an easier way to get this tested.

Thanks again for the perseverance!

[2015-06-11 15:30] qnikst commented on #277
Done.

[2015-06-11 16:02] snoyberg commented on #277
Merged, thank you!

[2015-06-11 16:02] #277 closed

[2015-06-11 16:05] snoyberg opened #279 "Retry package downloads"
Related to [this blog post](http://www.yesodweb.com/blog/2015/06/cabals-does-not-exist-error-message), @radix [commented](http://www.reddit.com/r/haskell/comments/39fc17/explanation_cabals_does_not_exist_error_message/cs34wke):

Adding retry logic on download shouldn't be difficult, and ideally would be done with some kind of a config option to control the number of retries (and possibly the delay

[2015-06-11 16:08] 3noch commented on #234
@wismill GHC 7.10 is brand spanking new. If you were using GHC 7.8.4 you would get a very different feel.

[2015-06-11 16:22] wismill commented on #234
@3noch Sure! But I am learning Haskell and I have no constraint to produce software in Haskell, so I prefer to use the state of the art and maybe help to improve the future GHC and its ecosystem (at my newbie level).

[2015-06-11 16:22] snoyberg commented on #274
I got rid of a silly performance regression I added today, in e01cba4a38fbd4737c4dfde0a123894edbbc4892. Numbers are much better now:

[code]

Some overhead is inevitable, as stack needs to parse config files, query GHC for package databases, and a few other things. But this is at least a much more reasonable overhead. I'm sure there are more places we can optimize as we get towards the end of beta

[2015-06-11 17:11] qnikst opened #280 "Feature request: provide a way to run tests for all packages even if some tests fails"
In a setup with many packages in may be useful to be able to run tests for all the packages that could be built, even if some tests are failing. This may be useful in cases where packages depend on another in complicated way and it worth knowing all breakages, not just the first one. Also it may be useful for reports and in cases if there's a test that could not be fixed due to it's complexity or

[2015-06-11 17:37] chrisdone commented on #190
@qnikst Fixed in e20f8ec. Thanks for reporting it.

@snoyberg Closing as this seems done.

[2015-06-11 17:37] #190 closed

[2015-06-11 17:38] chrisdone commented on #268
Done. Want to try it out? Working fine here.

[2015-06-11 17:42] chrisdone opened #281 "Don't do anything to packages with no test/bench suite when running stack test/bench"
I ran `stack test` on a 25-package project and only a few of them have a test suite but of course it unregistered, configured, built, tested and installed them all. Perhaps we can have ones without a test suite be a no-op?

[2015-06-11 17:46] chrisdone commented on #280
Personally I prefer failing early -- it bugs me that `cabal install` will continue trying to build packages after one failed, wastes my time. But as an option this could be good?

[2015-06-11 17:47] qnikst commented on #280
Of cause this should be optional, I'm also prefer this only for special kinds of projects.

[2015-06-11 18:05] snoyberg commented on #268
Seems to work for me.

[2015-06-11 18:05] #268 closed

[2015-06-11 18:10] manny-fp commented on #276
It depends on what exactly you mean.  There is no  [blessed-by-Docker-Inc Official Repository](https://docs.docker.com/docker-hub/official_repos/) for stack, and there probably never will be.  FP Complete *is* pushing Docker images for use with stack to the [fpco/dev repo on Docker Hub](https://registry.hub.docker.com/u/fpco/dev/).  These images are really big, over 10 GB, and include all of Stack

[2015-06-11 18:13] johnynek opened #282 "Relationship between stack and .cabal files unclear"
In the FAQ it implies that you will need to write .cabal files for your project, but it is not 100% clear exactly how stack uses these. I guess stack is giving you more control over how .cabal dependencies are resolved, and that's pretty much it, right?

It would be nice to clear the relationship between stack, cabal, and .cabal files more explicitly (and earlier) in the FAQ.

[2015-06-11 18:14] snoyberg opened #283 "Doing test suites the right way"
This is another issue to try and focus discussion from a bunch of smaller issues. @gregwebs @chrisdone and @qnikst will likely all be interested.

Here's our ideal work flow for tests:

* Go through all packages and build/install their libraries and executables
* Go through all packages that we want to test and build and run their test suites

There's a problem though: Cabal requires reconfiguring

[2015-06-11 18:16] gregwebs commented on #276
yes, I can push the *Dockerfile* to the registry, but I also wanted to wait until I understood everything. I think that pushing an *image* rather than a *Dockerfile* to the registry is a really bad idea. There may be some use case where this is desireable because the build times out or something, but we should first figure out if pushing the *Dockerfile* works.

[2015-06-11 18:17] snoyberg commented on #282
Can you look at [the terminology section](https://github.com/commercialhaskell/stack/wiki/Architecture#terminology) of the architecture page, specifically the package vs project distinction, and see if that clears things up? If so, it would be great to link to it from the FAQ

[2015-06-11 18:19] bitemyapp commented on #282
I don't think "more control" is accurate, as it's narrowing what must be determined dynamically from constraints to make things simpler and less churn-y through the reliance on a mixture of Stackage/LTS snapshots and concretely specified extra dependencies. It's also a big UX sweep of papercuts associated primarily with cabal-install specifically.

I think a solver backend is being explored (prope

[2015-06-11 18:19] snoyberg commented on #280
If we figure out a good solution to #283, then hopefully this kind of option will be trivial to implement. As it stands, doing this well would be very difficult.

[2015-06-11 18:21] manny-fp commented on #276
Quite right, I meant making an image available on the registry as opposed to specifically pushing it, and in your case doing so by putting the Dockerfile there makes the most sense.

[2015-06-11 18:23] snoyberg commented on #282
Well, I'll write up some short thoughts here, perhaps @johnynek can ask for clarification and then update the documentation with something that answers his questions?

* Cabal-the-library is used by stack to build your Haskell code
* cabal-install (the executable) is not used at all by stack
* A .cabal file is provided for each package, and defines all package-level metadata just like it does in t

[2015-06-11 18:29] johnynek commented on #282
@snoyberg yes this clears up most of my questions on the matter. Thanks! Maybe being slightly more precise, I'd suggest "A stack.yaml file references 1 or more packages, ..."

One last one (though I should experiment and answer, but hey, the FAQ could also explain it): does the stack templating for new projects include setting up an skeleton .cabal, or is that done otherwise by the user?

[2015-06-11 19:17] snoyberg commented on #282
The exact process for project initialization is still TBD, there's an issue tracking the details at https://github.com/commercialhaskell/stack/issues/253. Currently, it just generates a stack.yaml based on your existing .cabal file.

[2015-06-11 19:30] qnikst commented on #283
Suggested workflow looks good for me, and I think it will cover all my use cases.
I'm not sure if proposed solution will cover  #281 because if `run test suite` will depend on `build library` then packages in question (that doesn't have test-suites and are note dependencies of packages with test-suite) will be build and AFAIU @chrisdone wanted them to be skipped entirely.
In this setting #280 beco

[2015-06-11 19:49] johnynek commented on #282
Added to the FAQ: https://github.com/commercialhaskell/stack/wiki/FAQ/87ff7a3e8cf388b07e211cf44c65eb3926a4e60f

[2015-06-11 19:49] #282 closed

[2015-06-11 19:55] bitemyapp commented on #282
@johnynek :clap:

[2015-06-11 21:16] gregwebs commented on #283
makes sense to me. From my usage of cabal, it seems like you always want --enable-tests always on but you don't want to require the test dependencies to be installed until the tests are run.

[2015-06-11 21:35] gregwebs commented on #172
Again, I believe this is the exact same thing that is done for stack ghc mentioned in #258. It is correct in that the options being passed in are no longer treated as flags, but instead just as normal strings. But we are adding a new meaning that the arguments are different then the ones before `--`. They are not directly used by the command but passed on to the underlying one.

However, we can ar

[2015-06-11 22:16] 3noch commented on #261
I've successfully built a project with both 32- and 64-bit GHC! I still need to test installing GHC.

[2015-06-11 22:18] 3noch commented on #261
Installing 64-bit GHC worked!

[2015-06-12 00:02] gregwebs commented on #269
Addressed by #284. Here is the output I get from that.

[code]

Including both the path to the config file and a link to the wiki documentation of the YAML config should be done, but perhaps a separate issue can be opened for that?

[2015-06-12 00:18] netroby commented on #59
A default gloabl config file were good .

I pefered using stack to auto install ghc and packages automatic.

so , when i need run ghci anywhere, I just want to type  ```stack ghci```

[2015-06-12 03:50] snoyberg commented on #282
Thank you!

On Thu, Jun 11, 2015, 10:55 PM Chris Allen <notifications@github.com> wrote:

[2015-06-12 03:52] snoyberg commented on #261
Awesome! Should we consider this resolved?

[2015-06-12 04:12] manny-fp commented on #269
Probably can leave this issue open to address the rest (I've added steps to the top comment), but I have no objection to merging the pull request.  Thanks!

[2015-06-12 04:26] #245 closed

[2015-06-12 04:58] afcowie commented on #268
Looks good. You guys rock.

AfC

[2015-06-12 05:04] afcowie commented on #267
@snoyberg the solution that Halycon employed of (re)building and packaging the GHC binaries for various platforms seems worthwhile to think about here; we're already fetching the .tar from haskell.org; would be better to actually get it from (say) S3 or Fastly or whatever CDN as you are now doing for many of the other pieces that Stack is downloading, and if you're going to drive that and countena

[2015-06-12 06:27] ndmitchell opened #285 "Add lint command"
Should be a way to point out which modules/libraries are declared in .cabal but not actually used. Perhaps run automatically on upload? This information can be determined by generating GHC make files. There is already a tool to do part of this, but I haven't had much success with it.

[2015-06-12 07:08] chrisdone commented on #283
Well, dependencies of packages that need to be tested should be built. It was rather that non-dependency targets that don't have test suites are currently being configured, build and tested and installed when they're not needed.

[2015-06-12 08:16] jbpotonnier commented on #273
I used the install command to install ghc-mod, but I'm not able to run it because it cannot find ghc, even when I use the `--with-ghc` option. I think there is something that I don't understand with path management in stack.
I've let stack install ghc.

An entry in the FAQ on how to use "external" tools (ghc-tools, stylish-haskell, etc.) could be nice.

Maybe @s-trooper can help me ;)

[2015-06-12 08:57] qnikst opened #286 "question/documentation: clarification about commit option"
I'm failing to find any documentation on how `commit` option is supposed to work for `git` location.
Could it be a tag or commit or branch-name?
If it could be a branch-name then there is a strange behaviour, because `git reset --hard branch-name` will fail unless branch-name is written as `origin/branch-name`.
Also it's not clear how stack is supposed to work in this case, should it check if ther

[2015-06-12 08:59] qnikst commented on #190
@chrisdone seems fix was not final, if there were jobs (but some noops) I still see:
[code]
However if there were no real jobs, then it's fine. Should I write a new report?

[2015-06-12 09:47] s-trooper commented on #273
@jbpotonnier i have had exactly the same issues, sadly i don't have The solution for you, but i will write down my story may be it will help.

At first i got same no ghc found problem, so i put "stack setup"paths to my PATH (because on Win "stack setup" don't was capable to do this automaticlly) . Then ghc was accessible but i get this cabal "readProcessWithExitCode" error.

Next i have done some

[2015-06-12 10:12] chrisdone commented on #190
@qnikst I improved the calculation so it only considers things actually to be installed. I believe this is correct, but @snoyberg can confirm.

[2015-06-12 11:33] chrisdone commented on #186
@snoyberg Confirm?

[2015-06-12 12:27] 3noch commented on #261
Is there a way to specify which GHC version you want in `stack.yaml` and/or via command-line?

[2015-06-12 12:52] ndmitchell commented on #261
I would have thought stack.yaml was the wrong place for it - you want that to be a cross-platform file.

[2015-06-12 13:03] snoyberg commented on #261
`stack setup 7.8` or `stack setup 7.10` will work. The `resolver` field in stack.yaml determines which version of GHC should be used.

[2015-06-12 13:06] 3noch commented on #261
Ok I was aware of the `setup` bit, but I wasn't sure how to get stack to actually use a particular setup. So the resolver *includes* GHC version. Very well. Thank you. I think this is solved, then. Amazing work.

[2015-06-12 13:07] 3noch commented on #261
With that in mind, can/does `setup` deduce the proper GHC?

[2015-06-12 13:09] ndmitchell commented on #274
Investigating on my work machine, it seems that each process spawned by anything takes 0.3s, due to a very aggressive (aka stupid) antivirus policy. I suspect this problem will be rare on developer machines, but more common in corporate environments. As a result, anything you can do to avoid spawning processes (caching `ghc-pkg list` calls, spawning `ghc --interactive` directly instead of `ghci` w

[2015-06-12 13:14] snoyberg commented on #267
That's cool, I didn't realize that Halcyon had such a variety of Bindists for Linux.

@mietek Would you be opposed to us reusing the same bindists you're using for Halcyon?

[2015-06-12 13:16] 3noch commented on #261
Also, I keep getting `Would add the following to PATH:...` at the end up `stack setup`. I don't understand it.

[2015-06-12 13:20] snoyberg commented on #286
The syntax will be documented on the stack.yaml wiki page, there's an open issue for that, just haven't gotten to it yet. If you'd like to jump into it, I'll be much appreciative.

The feature is only intended to work for immutable references: SHAs and (theoretically) tags. The reason being that this feature works by cloning, resetting, and then never checking the directory again (as you discovere

[2015-06-12 13:25] snoyberg commented on #186
Commit reviewed, LGTM.

[2015-06-12 13:25] #186 closed

[2015-06-12 13:27] #247 closed

[2015-06-12 13:27] snoyberg commented on #261
Yes.

Please feel free to update the text to be more user-friendly. It's intended to let the user how the PATH environment variable would be modified for any subprocesses, which would be useful information to have if the user wanted to use that GHC directly.

[2015-06-12 13:32] snoyberg commented on #190
This feels slightly strange. Why wouldn't we want to count the fact that a test suite is going to be run as part of the total progress? Shouldn't the change instead to be incrementing the completed step count after running a test suite?

[2015-06-12 13:37] rodlogic opened #288 "The impossible happened installing with ghc 7.10.1"
This is on OS X with 7.10.1:
[code]

[code]

[2015-06-12 13:37] snoyberg opened #289 "Incorrect Cabal version determined when using custom GHC"
This is a serious regression, breaking any usage of custom GHC (AFAICT). In https://github.com/commercialhaskell/stack/commit/434ec626c7fe432015e1fe3570c9b0b591a12075, the place where the Cabal version is determined changed to https://github.com/commercialhaskell/stack/commit/434ec626c7fe432015e1fe3570c9b0b591a12075#diff-6cd1b827a90e053dc1b700465b1a94c0R362. However, this doesn't work if the GHC t

[2015-06-12 13:39] snoyberg commented on #288
Known issue, documented on [the Wiki](https://github.com/commercialhaskell/stack/wiki/Downloads#os-x) and [fixed at GHC HQ](https://ghc.haskell.org/trac/ghc/ticket/10322) for 7.10.2. For now: please build with 7.8.4.

[2015-06-12 13:41] snoyberg commented on #273
AFAICT, this is a problem with ghc-mod, not stack, though I could be mistaken. I unfortunately don't have any experience with ghc-mod, so I can't speak to that point. In my testing, other external tools just work without issue.

[2015-06-12 14:10] philipdexter opened #290 "linker error when building any project"
Running `stack build` on stack itself (fe06c3e07)

[code]

When running on a no-added-dependencies project

[code]

[2015-06-12 14:20] manny-fp commented on #290
@philipdexter: are GHC and cabal-install able to link on this system (taking stack itself our of the picture)?

[2015-06-12 14:21] manny-fp commented on #290
Also, any additional details you can provide about the system you're running on would be helpful.  Linux distribution, version, installed packages, etc.

[2015-06-12 14:27] rodlogic commented on #288
Ok. Thanks.

[2015-06-12 14:27] #288 closed

[2015-06-12 14:48] 3noch commented on #261
Ok that makes sense now. I wasn't sure if it was telling me that I *should* change my `PATH`, or if `stack` would do it, or if it was informational only (i.e. `stack` will use the right GHC regardless of `PATH`).

[2015-06-12 14:57] mietek commented on #267
@snoyberg: Halcyon is using official GHC bindists, as you can see here:
https://github.com/mietek/halcyon/blob/master/src/ghc.sh

However, that’s just the beginning.  Further down the same file, you can see the code responsible for ensuring the right libraries are symlinked to the right locations for all of the platforms which Halcyon supports.

All in all, more than half of Halcyon code is respon

[2015-06-12 15:35] philipdexter commented on #290
GHC and cabal-install are handled via the nix package manager, and can link (I built stack using `nix-shell -p`).

I use arch linux.

`$ uname -a`
Linux arch-satellite 4.0.5-1-ARCH #1 SMP PREEMPT Sat Jun 6 18:37:49 CEST 2015 x86_64 GNU/Linux

I don't have any haskell related packages installed (at least none
visible outside of nix commands).

UPDATE:

I've just installed the ghc and cabal-install

[2015-06-12 15:35] #290 closed

[2015-06-12 15:44] gregwebs commented on #267
Well the good thing about stack is it doesn't need to worry about installing cabal-install!

Actually stack could just use Halcyon bash script on non-windows platforms to install GHC. It could then be gradually re-implemented to Haskell.

There would be some mis-match between the directory structure expected by Halcyon and then one that stack uses though. Just changing HALCYON_BASE may not be enou

[2015-06-12 20:26] #244 closed

[2015-06-13 09:22] mboes opened #291 "Add entry to FAQ about how to use Stack with Travis"
Using Stack as part of one's favourite CI setup for open source software could do with a bit of documentation. Currently, Stack's own `.travis.yml` file isn't an example of best practice, because for various reasons it's currently `cabal-install` based rather than `stack` based. So we should document the best practice as a FAQ entry.

[2015-06-13 11:26] mboes commented on #205
yep.

[2015-06-13 11:26] #205 closed

[2015-06-13 11:33] mboes opened #292 "Missing extra-deps not always detected"
Consider:

stack.yaml:
[code]

b.cabal:
[code]

The compilation succeeds, as it should. However, try removing the `extra-deps:` field entirely. The compilation will still succeed after the first one succeeded. That's the bug: it should not succeed in that case. Because if building from a fresh state it will not succeed.

IOW, this is a case of the outcome of `stack build` depending on hidden inter

[2015-06-13 14:31] jbpotonnier commented on #273
FYI, I could go one step further adding ~/.stack/programs/x86_64-osx/ghc-7.8.4/bin to my path.
But ghc-mod seems to heavily use the cabal command, I think it does not play well with stack.

I use ghc-mod for error checking, types tooltips and completion in my editor.
For now I'll give up using stack and stick to my cabal only workflow.

[2015-06-13 16:51] mzero commented on #267
usually the problem with missing libgmp.so is that you need to install libgmp-dev or gmp-devel (depending on your distro).

[2015-06-13 16:54] mzero opened #293 "generic linux stack binary not generic enough"
If you built the generic linux binary against Debian Wheezy (7) - as GHC does (and HP will), then the resulting stack executable will install and run on a wide variety of distributions without modificaiton: Debian 7 and later, Ubunutu 12.04 and later, Fedora 20 and later, RHEL/CentOS 7 and later, and openSUSE 13.1 and later.

If you do that, then you can distribute a single build, packaged as a de

[2015-06-13 16:56] mzero opened #294 "debian packaging has graphic dependencies"
If you install the stack.deb for Ubuntu 14.04 on a pristine, bare system (the docker image, for example), it pulls in many graphics libs:

    fontconfig fontconfig-config fonts-dejavu-core git git-man gnupg-agent
    gnupg2 hicolor-icon-theme krb5-locales libasn1-8-heimdal libassuan0
    libatk1.0-0 libatk1.0-data libavahi-client3 libavahi-common-data
    libavahi-common3 libcairo2 libcups2 libcu

[2015-06-13 17:14] mietek commented on #267
…which sometimes contains a single symlink.

[2015-06-13 18:04] snoyberg commented on #292
We have to be careful here. For example, we purposely *do* allow packages in the global database like Win32 to be included in the build even though they aren't in the snapshot. Perhaps the correct behavior is to only allow un-whitelisted packages from the global database (which we don't have control of). Thoughts?

[2015-06-13 18:10] snoyberg commented on #293
Thanks for the feedback. Assigning to @dysinger, who put together the Ubuntu debs, and pinging @drwebb who put together the Arch distro, for comments.

[2015-06-13 18:11] snoyberg commented on #294
Assigning to @dysinger

[2015-06-13 18:15] snoyberg commented on #267
I don't have vast experience with lots of different distros, though I do have some. I've never found the "installing GHC" part to be difficult, the reason I wanted to automate it for stack was to make it easy to get the *right* version for the project being worked on, not because I thought installing GHC was a burden most users couldn't overcome (maybe I'm wrong here). In my experience, having a s

[2015-06-13 18:16] snoyberg commented on #273
Would you consider opening an issue on ghc-mod about using stack, and linking to it here? I think others would find that useful.

[2015-06-13 18:35] snoyberg commented on #289
This is not resolved. An easy way to reproduce it is to run in a modified `PATH` that does not contain GHC.

[2015-06-13 18:37] #289 closed

[2015-06-13 18:38] snoyberg commented on #289
OK, fixing this from the change you already made was trivial. Commit pushed.

[2015-06-13 18:42] mietek commented on #267
Installing GHC only becomes a problem when your distro’s package manager doesn’t ship the version of GHC you’d like to install — or the version of _libgmp_ needed for a particular version of GHC…

[2015-06-13 18:50] mitchellwrosen opened #295 "Link error during stack build"
Hi, I'm not entirely sure if this is a stack bug or not, but...
[code]

Steps to reproduce:

[code]

Thanks.

[2015-06-13 19:08] snoyberg commented on #295
I just tested this and it worked for me. Are you using the system-provided GHC, or one installed by stack? If the former, how did you install GHC? Which OS are you using?

[2015-06-13 19:28] mitchellwrosen commented on #295
I'm using 7.4.8 installed by stack because I only have 7.10.1 installed globally.

[code]

[2015-06-13 19:54] mitchellwrosen commented on #295
Huh, a `stack clean && stack build` seemed to do the trick. I'll close this out. Thanks for looking, anyway.

[2015-06-13 19:54] #295 closed

[2015-06-13 22:09] feuerbach opened #296 "Should print ghc installation errors"
I'm trying to bootstrap Haskell on a fresh Fedora system. Using the binary `stack-0.0.0-x86_64-linux.gz`, I get:

[code]

strace helped to figure out that in this case the problem was the absence of gcc.

[2015-06-14 04:32] bitemyapp opened #297 "Cache downloads"
From IRC (this was about Cabal, but still holds)

[code]

[2015-06-14 05:21] snoyberg commented on #296
@chrisdone I thought we had an open issue assigned to you about this, but I can't find it.

[2015-06-14 05:26] snoyberg commented on #297
This sounds like a good flag to `build` and `test`, perhaps --prefetch`, like `--dry-run` works right now. Should actually be pretty easy to implement.

[2015-06-14 05:28] snoyberg commented on #281
Should be handled by #283.

[2015-06-14 05:30] snoyberg commented on #222
Assigning to @mgsloan.

[2015-06-14 05:31] snoyberg commented on #213
Alright, the big example of this is addressed, and there are no other obvious ones at the moment. Closing.

[2015-06-14 05:31] #213 closed

[2015-06-14 05:31] snoyberg commented on #189
Added `--pedantic`, we can add more in the future if anyone comes of with them.

[2015-06-14 05:31] #189 closed

[2015-06-14 05:43] snoyberg commented on #292
@mboes Confirmed?

[2015-06-14 06:43] mgsloan opened #298 "Warnings aren't visible"
Currently there isn't any indication that a warning was outputted while building a package.  This can be resolved by grepping for `Warning:` in logs, but that's a bit hacky and you need to remember to do it.

I realize that it could be a bit problematic to extract out the warnings from the rest of GHC's output.  Instead of going for that level of support, it would be helpful to simply inform the u

[2015-06-14 10:03] snoyberg commented on #283
Alright, I've implemented this on the 283-test-suite-fix branch. I'd appreciate if others could test before I merge to master since this is a fairly significant overhaul to how execution works. In my testing, it solves the problems I was hoping it would (unnecessary recompiles, cyclical test suites, etc).

[2015-06-14 10:04] snoyberg commented on #281
Please confirm on the 283-test-suite-fix branch.

[2015-06-14 10:05] snoyberg commented on #208
Please confirm on the 283-test-suite-fix branch.

[2015-06-14 10:05] snoyberg commented on #212
Please confirm on the 283-test-suite-fix branch.

[2015-06-14 10:06] snoyberg commented on #220
Fixed on 283-test-suite-fix branch (confirmed by unpacking `text` and running `stack test` in it).

[2015-06-14 10:06] #220 closed

[2015-06-14 10:07] snoyberg commented on #26
* [ ] Confirm that `stack test` inside of `stack unpack text` works (tests cyclic dependencies)

[2015-06-14 10:52] chrisdone commented on #298
We discussed parsing GHC's and having a `Conduit ByteString m Message` kind of conduit that would have use in a number of applications. I don't think it'd be too problematic or unreasonable to print out any messages captured. Niklas also requested this.

[2015-06-14 10:58] chrisdone commented on #296
We have #270.

[2015-06-14 11:34] #283 closed

[2015-06-14 11:34] chrisdone commented on #281
Confirmed.

[2015-06-14 11:34] #281 closed

[2015-06-14 12:06] snoyberg commented on #253
There haven't been any comments for a few days, so I'll try to summarize the action items/deltas from current behavior:

* `stack setup` remains as-is, requiring a local stack.yaml and installing GHC
* `stack new` will be added, and will create a complete project with source code, .cabal, and stack.yaml files (covered by #137)
* `stack build` will no longer automatically create a `stack.yaml` file

[2015-06-14 12:31] snoyberg opened #300 "Drop formatting dependency"
double-conversion is not Windows-friendly, and therefore the formatting dependency causes Windows builds to fail:

[code]

We need to get rid of the formatting dependency, either entirely, or at least on Windows, though I'd prefer to avoid conditional compilation if we can.

[2015-06-14 13:04] gregwebs commented on #300
It adds the same dependency for Linux

[2015-06-14 13:11] snoyberg commented on #300
@gregwebs I wasn't having any problem with building the dependency on Linux, just on Windows, which is why I was making this a Windows-specific issue. Did you have trouble building on Linux?

[2015-06-14 13:15] gregwebs commented on #300
I needed to add it to my Docker build image (will PR soon).

[2015-06-14 13:21] snoyberg commented on #300
@chrisdone I just pushed ca93c89 that drops the dependency. Feel free to tweak the output as desired, but I want to move ahead with this now so I can get a 0.0.2 release out the door.

[2015-06-14 13:28] chrisdone commented on #300
So basically Windows users can't use formatting. Good to know.

[2015-06-14 13:30] #300 closed

[2015-06-14 13:52] manny-fp commented on #276
First draft of Docker docs are on the [wiki](https://github.com/commercialhaskell/stack/wiki/Docker).

[2015-06-14 13:55] manny-fp commented on #192
First draft of Docker docs are on the [wiki](https://github.com/commercialhaskell/stack/wiki/Docker).

[2015-06-14 13:55] #192 closed

[2015-06-14 14:20] snoyberg commented on #234
There's a new build of stack (0.0.2) that has the changes I mentioned above in place. @wismill can you give it a shot?

[2015-06-14 14:21] cocreature opened #301 "Passing cabal flags"
I am trying to pass an argument, so I put
[code]
in my `stack.yaml`.
However when I try to run `stack build` this results in the error
[code]
I tried figuring out what the correct syntax should be, but I couldn't. It would be great if you could add the documentation for that.

[2015-06-14 14:23] snoyberg commented on #301
There's an open issue for documenting stack.yaml correctly. In the meanwhile: you need to set it up by package name, e.g.:

[code]

[2015-06-14 14:33] cocreature commented on #301
Thanks, added the example to the wiki.

[2015-06-14 14:33] #301 closed

[2015-06-14 14:43] kevinsullivan opened #302 "User test -- don't know how to configure stack.yaml to download dependencies"
Hi. I can serve as an articulate new user. I'm evaluating languages and environments for possible use in an intro CS class this fall. I've so far stayed away from Haskell because of the complexity of getting it running properly on multiple platforms. Stack looks  promising. So far this AM I have it running on both Windows and a OS X.

Here's where I'm now stuck: I want to use stack to compile and