[2015-06-25 04:14] snoyberg commented on #382
Doing that implicitly adds it to extra-deps. I suppose we could similarly implicitly add packages to extra-deps when they're mentioned in `flags`. If you like that idea, please open an issue.

I'm still not completely certain it's worth adding in the complexity around having some flags treated specially. Yes, there's a small overhead of packages being reconfigured and then rebuilt, but the rebuild

[2015-06-25 04:30] snoyberg commented on #390
#115 is tracking the general feature. I hadn't thought on the specific syntax, but your recommendation sounds good to me.

[2015-06-25 04:40] rjayatilleka commented on #390
Actually, we might want it to be like this:

- `lts-x.xx`, `lts-2.15` picks a specific lts resolver.
- `lts-x`, `lts-2` picks the latest version of an lts.
- `nightly-xxxx-xx-xx`, `nightly-2015-06-24` picks a specific nightly.
- `nightly` picks the latest nightly.

I'm not too clear on the current or planned methods to automatically solve for dependencies, but a `solved` option might be useful too

[2015-06-25 05:39] joehillen opened #405 "Install from AUR fails"
[code]

[2015-06-25 06:04] vyp commented on #405
Try

[code]

[2015-06-25 06:05] joelburget commented on #337
Big +1. Exciting stuff :)

[2015-06-25 06:31] alanz commented on #390
How about publishing a URL http://www.stackage.org/weekly that is updated once a week? Similar to the current nightly symlink.

[2015-06-25 06:40] kantp commented on #399
Having the option of using integer-simple (without compiling ghc oneself) for those projects that do not rely on integer-gmp would be a nice convenience, and greatly appreciated.

[2015-06-25 06:55] CRogers commented on #337
Something I'm interested in is having support for a mixing ghcjs and ghc projects. For example, I often want to have something like:

* A client project compiled with ghcjs
* A server project compiled with ghc
* A library with shared code that gets compile with both ghc and ghcjs

Some way to have this just work with stack would be great.

@luite GHCJSi is super exciting :D

[2015-06-25 07:05] zudov commented on #390
@alanz I am not sure why it's needed. `/nightly` and `/lts` endpoints are needed to allow linking to the latest versions, but why would someone want to link to the last Monday option.

[2015-06-25 07:06] mgsloan commented on #401
+1 this would be quite awesome

[2015-06-25 07:06] snoyberg commented on #399
I have no objection to adding such support. Would someone be able to build
Windows bindists for that?

On Thu, Jun 25, 2015, 9:40 AM Philipp <notifications@github.com> wrote:

[2015-06-25 07:08] alanz commented on #390
If you are developing against the bleeding edge, but don't want to rebuild
every day

On Thu, Jun 25, 2015 at 9:05 AM, Konstantin Zudov <notifications@github.com>
wrote:

[2015-06-25 07:09] manyoo commented on #337
+1 ! I’m currently starting working on such a project. Before stack, I tried to use cabal sandbox, but when compiling ghcjs code, it can’t find the ghcjs packages like ghcjs-base installed in the global ghcjs package directory.  Now, I’ve removed the cabal sandbox, and use stack for server side ghc code, and cabal with no sandbox for client side ghcjs code.  If stack can make it easy to work in su

[2015-06-25 07:10] zudov commented on #390
@alanz Ohh. I forgot that you can use stackage snapshots not only with stack.

[2015-06-25 07:11] zudov commented on #390
I like the config idea

[2015-06-25 07:20] alanz commented on #390
You would also then be able to do

    resolver : weekly

[2015-06-25 07:26] joehillen commented on #405
Well, yeah, I can fix it myself. I just wanted to point it out so that it can get fixed on the AUR.

Also, why is `install -Dm755 $STACK_BIN "$pkgdir/usr/bin/stack"` run twice? That seems like another mistake.

[2015-06-25 07:28] jkozlowski commented on #337
+1 that would be perfect.

[2015-06-25 08:11] cdepillabout commented on #337
@luite: let me join in and say that I'm excited about ghcjs and ghc-7.10.2.

@CRogers: that's the exact same setup that I would be envisioning.

[2015-06-25 08:18] vyp commented on #405
Submit a request-pull to https://aur4.archlinux.org/haskell-stack.git/! :+1:
Take advantage of the future of the AUR! :)

Sorry, I'm pretty sure you already knew that, but in case you didn't. (Maybe it's faster?)

[2015-06-25 08:44] LukaHorvat commented on #393
So it works on my Windows 8.1 machine, crashes on the Windows Server.

[2015-06-25 08:47] snoyberg commented on #393
That's good news at least, it means we've isolated the problem significantly. At this point though, I'm not sure if the best way forward. Perhaps you could open up an issue against the network package and try to get advice from them on how to isolate this further? I'm not that well versed in how to diagnose these kinds of crashes on Windows.

[2015-06-25 08:51] LukaHorvat commented on #393
Yeah, the `cabal update` crashes also seemed to point the same way.

[2015-06-25 09:01] vijaykiran commented on #385
Looks like I've the same problem, I tried setting DYLD_PATH, but still won't work.

[2015-06-25 09:11] chrisdone commented on #385
I don't know anything about OS X  development, but perhaps we can compare:

    $ env

with

    $ stack exec env

And see what's different? Please paste to https://gist.github.com/.

[2015-06-25 09:25] jhedev commented on #385
I started a `bash` using `env -i` to have a minimal environment, and I can still reproduce. See [here](https://gist.github.com/jhedev/d126d159ea134434e43d).

[2015-06-25 09:26] kantp commented on #399
I guess if I want the feature, it's only fair if I provide the windows binaries :-)

Which versions of ghc does stack support? 7.8.4 onwards, or also earlier?

[2015-06-25 09:33] snoyberg commented on #399
It theoretically supports any version requested by the user, but 7.8.4 and
on is probably what people care about.

On Thu, Jun 25, 2015, 12:26 PM Philipp <notifications@github.com> wrote:

[2015-06-25 10:01] krisajenkins commented on #365
Okay, this replicates it reliably for me: https://github.com/krisajenkins/stack365

[2015-06-25 10:06] snoyberg commented on #365
That actually makes sense, since the module being changed isn't listed in your .cabal file (it should be under your other-modules). The solution for #105 should address that by not relying on Cabal metadata exclusively.

Can you confirm that adding your module to other-modules fixes the problem?

[2015-06-25 10:28] krisajenkins commented on #365
It doesn't really. If I add `Message` to `other-modules`, the first call to `stack build` gives a compiler error as expected. But if I run `stack build` again immediately (without changing any files) then I get the same no-op behaviour.

It looks like all adding it into `other-modules` achieved was modifying the cabal file's timestamp...

[2015-06-25 10:43] vijaykiran commented on #385
Here's something interesting:

[code]

[2015-06-25 10:56] jhedev commented on #385
Yep, same here.

[2015-06-25 11:00] jhedev commented on #385
Another observation:
[code]
vs.
[code]

[2015-06-25 11:10] snoyberg commented on #365
OK, got it. Your case helped isolate this. The problem is that, for executable-only packages, the package was still marked as being installed. I added a step to mark it as not installed before updating the timestamps, which seems to resolve the problem. Can you test out master?

[2015-06-25 11:16] snoyberg commented on #385
That's very interesting/weird, but should be trivial to implement.

[2015-06-25 11:18] snoyberg commented on #397
@hesselink This should now be resolved on master. Could you test it out to confirm?

[2015-06-25 11:25] snoyberg commented on #385
Could you try with latest master and see if that resolves it?

[2015-06-25 11:33] quyse commented on #399
@snoyberg I've added a short entry to the FAQ pointing to this issue.

By the way, I was thinking it's Windows-only limitation, as I've checked that on Linux GMP is linked dynamically. But now I found [this comment](https://github.com/Homebrew/homebrew/issues/38315#issuecomment-90099988) which made me worried about OS X. I don't work with OS X, does anyone know about the situation there?

[2015-06-25 11:39] snoyberg commented on #399
@quyse Thanks!

[2015-06-25 12:05] peti opened #408 "The test suite should not depend on $HOME"
Nix compiles in an environment where `$HOME` points to a non-existent location because we'd like builds to fail that try to read from or write to build user's home directory. As it happens, the `stack` test suite is such an offender:

[code]

[2015-06-25 12:13] peti opened #409 "stack-0.1.0.0 test suite should not depend on network access"
The `stack`  test suite fails in Nix, because our build sandbox does not allow network access:

[code]

If would be great if the test suite could be split into a part that works without network access and one that doesn't, so that can run at least those tests that succeed without an Internet connection.

[2015-06-25 12:20] snoyberg commented on #409
We do quite a few things in the test suite which require internet access, quite on purpose. We need to be aware if builds stop working because internet-based resources are unavailable. Splitting up the test suite in this way is a heavy burden, and provides no benefit to this project that I can see (I had similar reservations about http-client, and those reservations have been true so far).

[2015-06-25 12:22] snoyberg commented on #408
I see no benefit to making this change. $HOME environment variable is used by the tool, and adding in a hack to auto-set it or some such will simply change the code path the tests and the tool itself follow.

[2015-06-25 12:23] peti commented on #409
Well, as-is, we cannot execute the test suite in NixOS.

[2015-06-25 12:23] snoyberg commented on #409
Understood, thanks for letting me know.

[2015-06-25 12:23] #409 closed

[2015-06-25 12:24] peti commented on #408
It's fine for the tool to use $HOME, but the test suite should not. It's a little bit silly to have the outcome of the test suite depend on the state of the file system outside of your build environment, no?

[2015-06-25 12:25] snoyberg commented on #408
No, it's not. It's a developer convenience, to avoid needing to download unnecessary data every time we run the test suite, instead reusing cached data. Our CI systems use fresh directories as a more thorough test.

[2015-06-25 12:25] #408 closed

[2015-06-25 12:43] vijaykiran commented on #385
Works! Thanks @snoyberg

[code]

[2015-06-25 12:43] snoyberg commented on #385
I hardly did anything, thanks to you guys for diagnosing the problem with the trailing slash.

[2015-06-25 12:43] #385 closed

[2015-06-25 12:53] hesselink commented on #397
Yes, I tried both capitalizations, and they both work. Thanks!

[2015-06-25 12:53] #397 closed

[2015-06-25 12:56] luite commented on #337
Just a quick heads-up: As from the latest commit, GHCJSi supports evaluating code in the browser. Just `npm install -g socket.io` first (and don't forget to set `NODE_PATH`) and go to `http://localhost:6400` after starting GHCJSi, before running any code. This gives you DOM access and should open up new fun ways to experiment and interact with Haskell and JS libraries. I've also fixed loading Hask

[2015-06-25 13:02] adinapoli opened #411 "Provide a "stack switch <vrn>" command as sugar for STACK_YAML and symlinking"
This possibly overlaps with https://github.com/commercialhaskell/stack/issues/378,
although it can be seen as a complementary machinery.

It would be nice to have stack transparently manage the symlinking to the `stack.yaml` file in case there are multiple in the current folder of the form `stack-vrn.yaml`.

In such scenario, a user which would like to play with a newly released GHC version / reso

[2015-06-25 13:21] hesselink commented on #402
@chrisdone I had a fix for this, just created a PR. Hope we didn't do duplicate work...

[2015-06-25 13:23] #402 closed

[2015-06-25 13:51] CRogers commented on #337
That is incredibly exciting - I never even imagined you'd be able to do
that!

On Thu, 25 Jun 2015 13:56 Luite Stegeman <notifications@github.com> wrote:

[2015-06-25 14:09] jhedev commented on #385
Great!

[2015-06-25 14:50] simonmichael opened #413 "stack bench truncates final output on a slow terminal"
If a benchmark executable prints much output, in a slow terminal (such as an emacs shell buffer) "stack bench" truncates it.

[2015-06-25 15:56] krisajenkins commented on #365
Yup, confirmed - that fixes it. (I did have to touch the cabal file first, but after I did that it worked reliably every time.)

Thanks!

[2015-06-25 15:57] krisajenkins commented on #365
For the record, that's against `711f2e91715ef77f01e917ca7f61db635911ef1b`.

[2015-06-25 16:14] etrepum opened #414 "stack ghci not working on Mac OS X"
Haven't been able to get `stack ghci` working in any project on Mac OS X, reproducible with the template created by `stack new`

[code]

[code]

[2015-06-25 16:15] jhedev commented on #414
Looks like #385.

[2015-06-25 16:18] snoyberg commented on #365
Thanks!

[2015-06-25 16:18] #365 closed

[2015-06-25 16:29] chrisdew opened #415 "Failed to work on Ubuntu 14.04."
Thanks for your efforts, cabal-hell is what made me give up on Haskell a few years ago.

I gave Stack a try, but suffered as much as I do with cabal - I wanted it to *just work*.

[code]

[2015-06-25 16:41] snoyberg commented on #415
There's an open issue about the upgrade issue being a problem, we need to
update the documentation. I'd recommend just using the version in the
repository, which should work.

On Thu, Jun 25, 2015, 7:29 PM Chris Dew <notifications@github.com> wrote:

[2015-06-25 16:43] chrisdone commented on #414
Does look similar. Can you try pulling latest stack master?

[2015-06-25 17:07] mrijkeboer opened #416 "OpenBSD installer / instructions"
Any chance of getting a binary installer for OpenBSD (current, AMD64) or instructions on
how to get it working from source? I develop Haskell on OpenBSD and would like to use
stack.

[2015-06-25 17:11] snoyberg commented on #416
Certainly, that would be great! The main thing we need is access to a
bindist. I'm on my phone right now, so can't point to the relevant files,
but we then just have some minor metadata files and lookups to update. If
you can take care of the hard part of making the bindist, I can point out
the rest.

On Thu, Jun 25, 2015, 8:07 PM Martijn Rijkeboer <notifications@github.com>
wrote:

[2015-06-25 17:17] drwebb commented on #405
Thanks for the report, I'll update it.

[2015-06-25 17:26] mitchellwrosen commented on #402
@hesselink Mine was shorter :P except s/`includes`/`includeDirs`

[2015-06-25 17:28] etrepum commented on #414
Yep, works with master. Would be great to see a bugfix release for this soon. Thanks!

[2015-06-25 17:28] #414 closed

[2015-06-25 17:28] dysinger commented on #415
You already installed the latest (stable) release of stack when you installed the debian package.  If you `apt-get update && apt-get upgrade -y` later, it will upgrade stack.

[2015-06-25 18:02] hesselink commented on #402
But yours added it to the source dirs, which would pass it with `-i` instead of `-I`, right?

[2015-06-25 18:24] snoyberg commented on #411
This seems like it's supporting a pretty ad-hoc usage, depending on the user following specific naming conventions, and just results in using a `stack` command instead of a simpler `ln` call.

[2015-06-25 18:26] snoyberg commented on #413
Do you have a repo for this? `stack bench` just calls `runghc Setup.hs bench` under the surface, which I thought sent all of the output to a log file.

[2015-06-25 18:37] snoyberg commented on #415
I've updated the upgrade section with more up-to-date recommendations:

https://github.com/commercialhaskell/stack/wiki/Downloads#upgrade

[2015-06-25 18:44] mitchellwrosen commented on #402
@hesselink Oh... yup :)

[2015-06-25 18:45] snoyberg commented on #399
@kantp Has provided the following GHC bindists:

* https://s3-eu-west-1.amazonaws.com/ghc-integer-simple/ghc-7.8.4-x86_64-unknown-mingw32.tar.bz2
* https://s3-eu-west-1.amazonaws.com/ghc-integer-simple/ghc-7.10.1-x86_64-unknown-mingw32.tar.bz2

My thought is that we would add a new command line option that- like `--arch`- would control which GHC to use. Either that, or have a fake OS of windowsnol

[2015-06-25 19:51] manny-fp commented on #401
I think this'd be easier to reason about if we know a bit more about what you and @ketzacoatl want to see the Docker image look like, since you have been doing a lot more deploying of images on servers than I have.  Some more unfocused thoughts from me on this include:

- By default, create images based FROM the `fpco/stack-run:lts-x.y` image corresponding to the resolver (and stack-build/stack-fu

[2015-06-25 20:00] coubeatczech opened #417 "Define cabal flags"
Does stack currently support enabling flags defined in the `.cabal` file? There is a flag option in the `stack install` command, but it seems to refer to *stack* flags rather than to *cabal* flags.

I need it because I use the *cabal*'s `buildable` thing to differ whether to build an executable or not, I control it by running `cabal install -f myflag`.

[2015-06-25 21:24] krisajenkins commented on #403
This is possibly a duplicate of #365. Sounds like the same symptom.

[2015-06-25 21:28] quyse commented on #403
I just saw the same symptoms as well: `stack build` does nothing, and removing `.stack-work` and/or various stack's global caches changes nothing. Until I realized that I have STACK_YAML environment variable set to a different stack.yaml in different project, and the current directory is outside of that project, so I guess stack just decides there's nothing to build here.
Actually `stack build --v

[2015-06-25 22:48] quyse commented on #399
@snoyberg @kantp That's great, thanks for getting back so quickly! I just tested your GHC (only 7.10.1 for the moment), and I was able to build and run my project which uses about 30 packages, and I wasn't able to build my another project because of issue with `network`. Quick notes:
* Three packages in my experiment required special care, those are `cryptonite`, `hashable` and `text`. They all ha

[2015-06-25 23:19] simonmichael commented on #413
Hey Michael, https://github.com/simonmichael/hledger/ master should show the problem now if you uncomment hledger/bench/bench.hs line 30 or 31 and run `stack bench hledger` in an emacs shell buffer (`M-x shell` in emacs). You can see the full non-truncated output eg with:
[code]

[2015-06-26 00:22] simonmichael opened #419 "stack haddock's top page has bad links ?"
I ran `stack haddock --no-haddock-deps` in the hledger repo:
[code]
The links in that page are broken, eg the Hledger module links to `Hledger.html` but the file is actually at `hledger-lib-0.25.98/Hledger.html`.

[2015-06-26 01:36] 3noch opened #420 "Nested stack exec getting confused"
On Windows 8.1 64-bit with resolver of LTS-2.14.
[code]

I would expect that the inner `arch` override would win out.

EDIT: My original message made no sense. Be sure you read it as it is now.

[2015-06-26 01:39] 3noch commented on #420
You might not believe that I actually need this to work...but I do.

[2015-06-26 01:47] 3noch commented on #420
Strangely enough, flipping the overrides works:
[code]

For some reason `stack` is defaulting to `i386` on my 64-bit machine.

[2015-06-26 01:53] 3noch opened #421 "Stack build not sharing HTTP library"
[code]

With `stack.yaml`:
[code]

I've confirmed that `<repo>/.stack-work/install/x86_64-windows/lts-2.14/7.8.4/lib/x86_64-windows-ghc-7.8.4/HTTP-4000.2.19` does in fact exist. However HTTP is pinned to version 4000.2.19 in LTS 2.14.

Why is it not installing at a user level?

[2015-06-26 03:44] DanBurton commented on #420
So this bug, as I understand it, is as follows:

stack is not checking for a stack-installed version of ghc under certain circumstances when the "correct version number but wrong arch" ghc is detected on the PATH.

If you manually put the i386 ghc on your path, and then run `stack --arch=x86_64 exec -- which ghc`, does it work, or does it give the same error?

[2015-06-26 03:53] snoyberg commented on #421
I believe this is fixed on master, it was a complicated issue to do with
depending on the Win32 package, which isn't explicitly listed in the
snapshot.

On Fri, Jun 26, 2015, 4:53 AM Elliot Cameron <notifications@github.com>
wrote:

[2015-06-26 04:00] snoyberg commented on #420
Isn't the bug just that you used i86_64 instead of x86_64?

You can change the default arch in your stack.yaml. stack defaults to the
architecture it was built with if there's no setting to contradict it.
Using 32 bit by default is actually intentional since it's more well tested.

On Fri, Jun 26, 2015, 6:45 AM Dan Burton <notifications@github.com> wrote:

[2015-06-26 04:03] snoyberg commented on #417
That option is for cabal flags, and works for the build, test, and bench
commands as well.

On Thu, Jun 25, 2015, 11:00 PM Jakub Ryška <notifications@github.com> wrote:

[2015-06-26 04:13] 3noch commented on #420
@snoyberg I botched the original issue description. See it as it is now. My appologies.

[2015-06-26 04:21] 3noch commented on #420
Oh interesting, so if I build this with 64-bit GHC it's default will change. That makes sense.

[2015-06-26 04:21] snoyberg commented on #420
What's going on here is that stack only looks at one GHC on the PATH, not multiple. If you user stack to install the 64 bit compiler, it should work. We can discuss having stack fall back, it's not necessarily a bad idea.

[2015-06-26 04:24] 3noch commented on #420
Looking at only one makes sense, I think, as long as it's the one with highest precedent. I would imagine that each nesting of `stack --arch=X exec -- ...` would "stack" (pun intended) the right architecture of GHC paths onto the top of the `PATH`. Is that right? So if the "stacking" is being done right, I would guess that would not be a problem?

[2015-06-26 04:28] 3noch commented on #420
Interesting insight. Yes, my 64-bit GHC is MinGHC, not stack's installation. So if stack had done it, it would find it properly?

[2015-06-26 04:28] snoyberg commented on #420
That's correct, and that's why you're seeing the behavior you are: the outer `stack exec` is sticking the 32-bit compiler on top. The inner `stack exec` is seeing that one on the PATH, and refusing to use it. Since you have used `stack setup` to get a 64-bit compiler, it gives up.

[2015-06-26 04:29] snoyberg commented on #420
Yes, stack's logic is:

* Check the first GHC on the PATH
* Otherwise, go through the full list of GHCs we installed to find the one we need

The second action is a lot more efficient than the first since it uses our metadata files, which is why checking an unbounded number of GHCs isn't a problem.

[2015-06-26 04:32] 3noch commented on #420
So that's why it's not working for me. The GHC on my path is a 64-bit GHC (which stack didn't install), but stack is defaulting to 32-bit GHC (which it did installed). So when I just run `stack exec -- stack --arch=x86_64 exec -- which ghc` it actually starts with the stack-installed one and tries to move back out into the "unknown" but doesn't like that very much.

[2015-06-26 04:33] 3noch commented on #420
Would it make sense for stack to default to the architecture of the GHC that's already on the `PATH`, if any?

[2015-06-26 04:35] snoyberg commented on #420
That's what would happen if we checked multiple GHCs on the PATH. It would require running `ghc --info` for every single GHC we can find. Doable, but potentially expensive, which is why we don't do that right now.

[2015-06-26 04:35] snoyberg commented on #419
@manny-fp Can you take a look?

[2015-06-26 04:36] snoyberg commented on #399
stack typically solves this by including PortableGit's msys implementation on the PATH, which will allow configure scripts to run. Can you try adding that and trying again?

[2015-06-26 04:41] snoyberg commented on #403
I'm open to ideas here, but in all cases, it would be "Nothing to build because all packages are built and have no modified files and no flags have changed" :). I suppose we could list all of the packages we checked, or give an error message when the packages list was empty. I'm open to ideas here to avoid user complication, I just don't have any good ideas :)

[2015-06-26 04:43] 3noch commented on #420
Perhaps only keep looking if something (like a flag or configuration) is asking for a specific version.

[2015-06-26 04:44] snoyberg commented on #420
That seems pretty ad-hoc to me to be honest, and likely to cause more confusion rather than less. I'd rather always check all GHCs on the PATH, or never do it, so that we can give people a clear explanation of what's going on.

[2015-06-26 04:44] 3noch commented on #420
Fair enough...at least give up once you've found what you need.

[2015-06-26 04:48] 3noch commented on #420
Stack is in a tough spot, since it needs to be both a chicken and an egg.

[2015-06-26 04:49] snoyberg commented on #420
Maybe a FAQ entry explaining how stack finds GHC would be enough for now. Would you be able to add an entry and link to this discussion?

[2015-06-26 04:57] snoyberg commented on #413
I didn't realize that Cabal's bench output went to the terminal, interesting.

[2015-06-26 05:11] snoyberg commented on #413
Since we're just reusing Cabal's run code here, can you tell me if the same problem appears when you would run `cabal bench`?

[2015-06-26 05:12] 3noch commented on #420
Done.

[2015-06-26 05:14] coubeatczech commented on #417
I have a `.cabal` file having these lines (lines non-essential for description of the problem omitted):

    Name: server

    flag build-gen-api
      default:     False
      manual:      True

    Library
      hs-source-dirs: src

    Executable gen-api
      hs-source-dirs: gen-api
      if flag(build-gen-api)
        buildable: True
      else
        buildable: False

If I make changes in t

[2015-06-26 05:14] snoyberg commented on #420
Thanks. I think this issue is safe to close then.

[2015-06-26 05:14] #420 closed

[2015-06-26 05:16] snoyberg commented on #417
That may be #365 affecting you. Can you run `stack clean` first? Alternatively, running the latest `stack` code from master may help.

[2015-06-26 05:27] simonmichael commented on #413
I don't see the problem when running `caval bench` myself.

[2015-06-26 05:27] 3noch commented on #399
Would it make sense to add a custom "arch" or "os" for GHC's built with no gmp-integer? You could minimally support the last two GHC versions on whatever OS you have a build for. In other words, could you add an "os" that's "windows-no-gmp" for the time being? Or perhaps add it to the arch? That would basically make `stack` the single best way to get a **commercial**-haskell GHC.

[2015-06-26 05:28] 3noch commented on #421
I'll believe you until I have time to test.

[2015-06-26 05:29] #421 closed

[2015-06-26 05:29] 3noch commented on #421
After which time, I might still believe you. ;)

[2015-06-26 05:31] snoyberg commented on #421
You seem to have more faith in me than I do ;)

[2015-06-26 05:38] 3noch commented on #399
Just realized you already had that idea. I'm all for it, or something like it.

[2015-06-26 05:39] 3noch commented on #399
If I can get builds working, I'll supply as many builds for Windows as my machine can crank out. This applies to MinGHC too.

[2015-06-26 05:59] hvr commented on #399
Minor note:

https://ghc.haskell.org/trac/ghc/wiki/ReplacingGMPNotes is kinda obsolete as the GMP library was rewritten from scratch for GHC 7.10 (https://ghc.haskell.org/trac/ghc/wiki/Design/IntegerGmp2),

Personally, I'd like to get rid of `integer-simple` altogether (to avoid having different surface APIs), and rather be able to select the `integer-gmp` backend at link-time in the same way you

[2015-06-26 06:03] fumieval opened #422 "A compile error in a dependent package causes hPutChar: invalid argument (invalid character)"
After #406, another problem happens. `decodeUtf8With lenientDecode` seems to be unable to decode ghc's output well.

[code]

[2015-06-26 06:11] coubeatczech commented on #417
It looks like that this is different at least I tried to do the same steps with the current master:

    $ stack --version
    Version 0.1.0.0, Git revision 711f2e91715ef77f01e917ca7f61db635911ef1b

but it's behaving the same. Running the `stack clean` beforehand helps, but I'd like to be able not to compile the entire project on every run, of course.

Will making a reproducable repo like the issu

[2015-06-26 06:12] snoyberg commented on #417
Absolutely, that would be very helpful. Something minimal that could be tested and then added to the integration test suite to check for regression will win you 3 extra Internets.

[2015-06-26 06:16] snoyberg commented on #237
I've just pushed a commit which adds `stack upgrade`. Details:

* It takes a `--git` flag to clone the latest git master
* Without `--git` it won't work right now because the stack on Hackage doesn't have a `stack.yaml` file
* It doesn't currently check if the current stack version is newer than what it's trying to install. I'm guessing it should, but I'm open to input
* It follows the same needs

[2015-06-26 06:18] snoyberg commented on #415
And I've just added the `stack upgrade` command for the next release.

[2015-06-26 06:19] kantp commented on #399
@hvr That sounds like the Right Thing to do, very nice.

In the meantime, if there is a switch for the integer library, I think it would make sense to have this orthogonal to the choice of the operating system.

[2015-06-26 06:24] 3noch commented on #399
@quyse hashable was just updated, now for a stackage release including it.

[2015-06-26 06:27] 3noch commented on #399
@snoyberg... Wow. You don't miss a beat. Stackage part already being done

[2015-06-26 06:39] snoyberg commented on #399
I can't take credit, it's just the daily Stackage builds doing their thing.

IIUC, this means that the LGPL concern will not apply to the normal GHC bindist in the near future. Is that the case? I should probably say that IANAL, so some of this goes over my head. Perhaps we can have a thread on ghc-dev about this, I'd definitely like to understand this better and understand what work still needs t

[2015-06-26 06:45] hvr commented on #399
@snoyberg feel free to start a thread, I'll chime in and try to answer as best as I can any questions you put forward

[2015-06-26 07:03] mrijkeboer commented on #416
I haven't made it, but here is the bindist that OpenBSD's GHC is using:
- https://openbsd.dead-parrot.de/distfiles/ghc-7.8.3.20150623-amd64-unknown-openbsd.tar.bz2

[2015-06-26 07:15] coubeatczech commented on #417
Ok, so it was caused by not having `other-modules` in my executable like you suggested in #365. Therefore, it works as I want when I add it.

Some notes:

1. `cabal-install` doesn't mind not having the `other-modules` section in the executable and still rebuilds my changes after running `cabal install -f build-gen-api`
2. I actually put the the `other-modules` section after reading the #365, but i

[2015-06-26 07:15] #417 closed

[2015-06-26 07:17] snoyberg commented on #417
It's definitely a limitation that we can't discover the necessary modules without using other-modules. We're planning to address it with #105

[2015-06-26 07:19] snoyberg commented on #413
@chrisdone Do you have any thoughts on this?

[2015-06-26 07:20] coubeatczech commented on #417
Yes, that would be nice to have, especially for folks transitioning from `cabal-install`.

Anyway, thanks for helping!

[2015-06-26 07:33] tejon commented on #399
[Hackage says](https://hackage.haskell.org/package/integer-gmp) the license is BSD3, and it says so for both versions...

[2015-06-26 07:35] snoyberg commented on #422
Good catch. I've pushed (what I believe to be) a fix to master, can you give it a shot?

[2015-06-26 07:35] quyse commented on #399
@tejon Sorry, I just added an update to the first post with clarification about integer-gmp and GMP. I was using names integer-gmp and GMP interchangeably.

[2015-06-26 07:37] chrisdew commented on #415
I see that someone has removed the problematic Ubuntu 14.04 commands https://github.com/commercialhaskell/stack/wiki/Downloads#ubuntu after "sudo apt-get install stack -y".

I'll give it a try at lunchtime.

Many thanks for your help.

[2015-06-26 07:37] #415 closed

[2015-06-26 07:38] snoyberg commented on #415
Sure, thanks for the report. I completely forgot about that line at the end of the Wiki page, which clearly should have been removed once the first bug report came in.

[2015-06-26 07:41] snoyberg commented on #378
This is now implemented. @DanBurton confirmed?

[2015-06-26 07:59] fumieval commented on #422
Fast! It now works. There are still some _mojibake_ though.

[code]

[2015-06-26 08:01] snoyberg commented on #422
What do you see if you run:

    stack exec cat .stack-work/logs/prelude-kai-0.1.0.0.log

[2015-06-26 08:04] snoyberg commented on #413
I just merged a PR that changes the buffering of stdout, I'm not sure if that will have any impact. For the record, I've been unable to repro so far.

[2015-06-26 08:04] fumieval commented on #422
Oddly enough,
[code]

And Here's the content of `.stack-work/logs/prelude-kai-0.1.0.0.log` directly copied from the editor (CP932):

[code]

[2015-06-26 08:05] snoyberg commented on #422
That's what I expected: it seems like your terminal itself doesn't support the Unicode characters GHC is outputting. Do you see something like that when using GHC directly (e.g., `stack ghc ...`)?

[2015-06-26 08:08] fumieval commented on #422
ghc seemed to spit CP932, according to my terminal. `stack ghc` is fine.

[2015-06-26 08:11] alanz opened #423 "Feature request : recognise current development ghc"
If I use a private build of the ghc-7.10 GHC branch as the system compile, stackage creates an artifact cache as

    $HOME/.stack/snapshots/x86_64-linux/nightly-2015-06-25/7.10.1.20150619

If I use a private build of GHC master, stackage does not recognize it as a separate compiler and reuses one of the other caches, causing problems

    ghc --version
    The Glorious Glasgow Haskell Compilation

[2015-06-26 08:18] snoyberg commented on #423
Sorry, I'm having trouble understanding the report. What's the difference between the "private build" and the "build of GHC master"? Where are the artifacts of the GHC master build going?

[2015-06-26 08:18] codygman commented on #165
I was about to file an issue for this since I ran into this problem, but looks like it'll be in the next stack release. :+1:

Thanks for all your hard work!

[2015-06-26 08:29] alanz commented on #423
They are both private builds, i.e. built and installed locally as the
system compiler.

If I set ghc 7.10.1.20150619 as the current system compiler, after `rm -fr
./stack-work` and `stack build`, I end up with

    .stack-work/install/x86_64-linux/nightly-2015-06-25/7.10.1.20150619

If I set ghc 7.11.20150621 as the current system compiler, after `rm -fr
./stack-work` and `stack build`, I end up w

[2015-06-26 08:30] quyse commented on #399
@snoyberg Yes, finally I was able to install `network` from MSYS command line, thanks for help! For me everything works now. As a side note, maybe it's worth to implement `--with-compiler` setting similar to cabal's? It would be more convenient to use non-standard compiler rather than manually adding it to PATH, and stack would treat it in the same way as automatically installed ones, i.e. add msy

[2015-06-26 08:32] snoyberg commented on #423
My guess is that it's using the stack-installed GHC 7.10.1 instead of your patched version, likely because your stack.yaml has a resolver that requires GHC 7.10. Setting it to `resolver: 7.11` or using `--resolver ghc-7.11` should fix it.

My guess is that your next request will be a command line flag to disable checking that the GHC version actually matches, since you want to test the Stackage NI

[2015-06-26 08:36] alanz commented on #423
That does sound like it would do the trick :).

On a related note, how simple is it to install a locally built compiler
into the `$HOME/.stack/programs` directory? And then request it in a
`stack.yaml`, now that we have `--stack-yaml`.

This is quite an esoteric use case, so I expect it to be very low priority.

On Fri, Jun 26, 2015 at 10:32 AM, Michael Snoyman <notifications@github.com>
wrote:

[2015-06-26 09:31] snoyberg commented on #422
OK, now I think I get it, or at least part of it: when we decode the .log file, we're assuming UTF-8, which isn't correct. GHC may output a different encoding. Our two options would be (1) force GHC to use UTF-8 by setting an environment variable, or (2) reading using Data.Text.IO instead, which will follow the same character encoding logic as GHC.

My concern, though, is that we'll end up in a si

[2015-06-26 09:36] rubenmoor opened #425 "Windows: `stack exec foo` works, foo.exe does not"
On windows `stack build` and `stack exec foo` works (which is great, btw). My program is running.

However, after `stack install` the execution of the executable file fails.

    .\foo.exe -> complaint about missing library "libstdc++-6.dll"

I have no understanding of what `stack exec` does in windows (magic?). Any hint to what's going on?

[2015-06-26 09:43] snoyberg commented on #425
Most likely Windows is not able to find the necessary C++ libraries from the standard prompt because they're not on your PATH. `stack exec` works because it's modifying the PATH to include extra things. Options here would be:

* Copy the relevant .dll files to something on your PATH
* Modify your PATH to include extra directories

In theory, stack could copy some DLLs over to the output directory

[2015-06-26 09:43] #405 closed

[2015-06-26 10:00] snoyberg commented on #416
OK, I've pushed commits to both update stack with an OS key for OpenBSD, and add an entry for that bindist to the metadata file. Unfortunately, the LTS Haskell snapshots all require at least GHC 7.8.4, so this won't be compatible. You can use the `resolver: ghc-7.8` to test in the meanwhile. Any possibility of a 7.10 release?

[2015-06-26 10:11] spinda opened #426 "`stack build --ghc-output` (or similar) to print GHC output during a build"
Provide an option to pipe GHC's output to the terminal to better keep track of progress, instead of hanging on `Cabal-1.22.4.0: build` for dependencies that take some time to compile.

[2015-06-26 10:16] snoyberg commented on #423
Alright, it's on master. Can you give it a shot?

[2015-06-26 10:21] snoyberg commented on #426
We already have logic in place to send output to stdout under specific circumstances (namely: on the terminal, only one package left to build, and it's a "wanted" package). Adding a flag to simply override that logic with "always output to stdout" is trivial, though the result will likely not be what you're looking for unless you also use `--jobs 1`.

@chrisdone Thoughts?

[2015-06-26 10:27] spinda commented on #426
also use --jobs 1.

As long as it gives some indication of GHC making progress, it's helpful.
Perhaps, in the multi-jobs context, output lines could be prefixed with the
name of the package generating them?

On Fri, Jun 26, 2015, 03:21 Michael Snoyman <notifications@github.com>
wrote:

[2015-06-26 10:29] chrisdone commented on #426
Yeah, outputting interleaved GHC output would be a bit messy. We could indeed prefix lines, that was discussed once. It might not be too bad.

[2015-06-26 10:31] snoyberg commented on #426
@spinda This part of the code base is pretty isolated. You interested in giving a crack at a PR on it? I can give you pointers of where to start.

[2015-06-26 10:33] spinda commented on #426
@snoyberg I'm traveling from Friday to Monday, but if the delay isn't an issue then I'd be happy to have a go at it.

[2015-06-26 10:41] snoyberg commented on #426
Shouldn't be a problem at all. When you're ready to look into this, check out Stack.Build.Execute and look for `withLogFile` and `console`.

[2015-06-26 11:10] chrisdone commented on #426
:+1:

[2015-06-26 11:47] 3noch commented on #399
So all we need to do is not link in integer-gmp? No special build of GHC required?

[2015-06-26 11:49] alanz commented on #423
Just tested it, it works as advertised. Thanks.

I just need to tweak some dependencies, will push my example a bit later.

[2015-06-26 11:49] #423 closed

[2015-06-26 12:03] mrijkeboer commented on #416
There is a OpenBSD package for GHC 7.8.4, but it is not a bindist, but a full package:
- ftp://ftp.openbsd.org/pub/OpenBSD/snapshots/packages/amd64/ghc-7.8.4p2.tgz

[2015-06-26 12:12] alanz commented on #423
See https://github.com/alanz/ghc-exactprint/tree/wip#building-with-stack for a working example

[2015-06-26 12:15] mrijkeboer commented on #416
I've also asked one of the maintainers of OpenBSD's GHC package if it's possible to get a 7.8.4 and
or 7.10 bindist.

[2015-06-26 12:30] 3noch commented on #399
@snoyberg How do you come to the conclusion "IIUC, this means that the LGPL concern will not apply to the normal GHC bindist in the near future." Are you assuming that folks who need this feature (I'm one!) will just install custom builds of GHC?

[2015-06-26 12:33] snoyberg commented on #399
I understood Herbert as saying replacing the LGPL library with something
else would become a link time option, in which case we'd all be using the
same GHC and just changing the linker flags when desired.

On Fri, Jun 26, 2015, 3:31 PM Elliot Cameron <notifications@github.com>
wrote:

[2015-06-26 12:42] 3noch commented on #399
I see your point. In future GHC releases this will be solved in a nice way. But we still need to get custom builds of 7.8.4, 7.10.1, etc.

[2015-06-26 12:45] snoyberg commented on #399
If we can get it into 7.10.3, I'd consider it good enough to be honest. It
seems that even with 7.10.1 we should be able to do something better than
reverting to integer-simple.

On Fri, Jun 26, 2015, 3:43 PM Elliot Cameron <notifications@github.com>
wrote:

[2015-06-26 12:49] 3noch commented on #399
I'm all ears for what could be done with 7.10.1. I'm under the impression it's still in the same boat as 7.8.4, albeit with a better implementation of GMP.

[2015-06-26 13:02] chneukirchen commented on #342
It would also be useful if `stack install` could behave like `cabal copy`, and install more than only the actual binaries.  Perhaps a `--destdir` flag would be enough?

[2015-06-26 13:40] rubenmoor commented on #425
Cool, thanks. I assume these libraries are created by stack during `stack build`. Where are they stored, i.e. what directories to include in my PATH?

[2015-06-26 13:43] snoyberg commented on #425
Actually, they're not, they're shipped with GHC (and, theoretically in some cases, MSYS). The easiest way to find them is `stack exec which`. On my system, for instance:

[code]

[2015-06-26 13:44] snoyberg commented on #425
If that turns out to resolve it for you, would you be able to add a FAQ entry on the Wiki about this?

[2015-06-26 14:00] 3noch commented on #399
This actually correlates to the issue with `stack` only looking at the first GHC on the `PATH`. If I were to install a custom build of for both 32-bit and 64-bit GHC and put them on my `PATH`, `stack` would only ever find one of them. At that point my only option is to switch between the two GHC outside of `stack` *and* tell stack which architecture to expect.

[2015-06-26 14:02] 3noch commented on #399
Correction, I probably would not need to tell `stack` which architecture to expect since it wouldn't be relying on its own installations of GHC at all.

[2015-06-26 14:26] ketzacoatl commented on #401
your points here @manny-fp are well noted, and I would say this all basically breaks down into two simple use cases:
1) you have an executable and you want to run it, it has no additional files or system packages, it just needs a runtime container..
2) you have an executable to run, but it needs files / packages / additional stuff. We would be rehashing a lot of what Dockerfile already does, so it

[2015-06-26 15:25] 3noch commented on #399
If I supplied builds for Windows, would you even consider hosting them so `stack` can use them directly? That would stick require some sort of hack (or feature) to tell stack to use the custom ones.

[2015-06-26 15:27] snoyberg commented on #399
I have no problem with that. My big concern with integer-simple is that it
will be incapable of building lots of projects

On Fri, Jun 26, 2015, 6:25 PM Elliot Cameron <notifications@github.com>
wrote:

[2015-06-26 15:28] radix commented on #425
perhaps an idea for a future plugin: bundle up a self-contained windows executable or installer?

[2015-06-26 15:29] radix commented on #403
This makes me wonder if STACK_YAML is a bad idea, and people should just use --stack-yaml. At the very least, people should avoid "export"ing it in their interactive shell sessions.  Perhaps a FAQ entry?

[2015-06-26 15:30] snoyberg commented on #425
Sounds like what we're doing with docker. Mind opening as a separate issue?
I don't want to lose track of it.

On Fri, Jun 26, 2015, 6:28 PM Christopher Armstrong <
notifications@github.com> wrote:

[2015-06-26 15:34] radix opened #427 "auto-bundle windows executables or installers"
To solve issues like https://github.com/commercialhaskell/stack/issues/425 , it would be nice if Stack could bundle up Windows installers, or at least self-contained executables that include things like the STDC++ dists. Depending on the way this works it may be appropriate as a [plugin](https://github.com/commercialhaskell/stack/issues/136).

I'm not really familiar with windows development/packa

[2015-06-26 15:40] snoyberg commented on #403
The original use case it was designed for is when you're working on a project, and want to compile some code via `stack ghc` or the like in a separate directory. Having to use `--stack-yaml` in that case would be inconvenient.

For the record, there's (supposed to be) a message on the console each time STACK_YAML is used.

[2015-06-26 15:41] 3noch commented on #399
Yes, that's true. However, when it matters, LGPL is a deal-breaker and libraries can often be patched/replaced.

[2015-06-26 15:46] hdgarrood opened #428 "Ubuntu installation uses insecure HTTP to download key"
From https://github.com/commercialhaskell/stack/wiki/Downloads#ubuntu:

[code]

I'm not an expert but this seems like a bad idea. Could the key be delivered over HTTPS instead, please?

[2015-06-26 15:47] snoyberg commented on #428
Since the key is on S3, that should be a trivial URL change in the docs. @dysinger?

[2015-06-26 16:00] arianvp commented on #428
Also. the Archlinux AUR package pulls from an HTTP url as well. https://aur4.archlinux.org/packages/haskell-stack/

[2015-06-26 16:02] snoyberg commented on #428
Pinging @drwebb on that one.

[2015-06-26 16:19] kantp commented on #399
@3noch Absolutely.

[2015-06-26 18:00] trihella opened #429 "add documentation on temporary directory and minimum size for ghc installation"
By default stack puts all its temporary stuff on /tmp on linux. When this directory has not enough space left (typically less than 1GB), stack setup fails on ghc installation (extraction after download) with a huge output like :

It can be reproduced it by creating a fake (a size limited, here roughly 500MB) tmp dir
[code]

I spent some time to find the issue and had to run through the code to fin

[2015-06-26 19:04] simonmichael commented on #413
Today's stack (revision 2cac22d2a26dab6faa00c6f03edf5798affb7840) has the same problem here, FWIW.

I think maybe Stack.Build.Execute.printBuildOutput should hold on to the printing thread's id, so that the main thread can wait for it to finish before exiting ?

[2015-06-26 19:09] simonmichael commented on #413
PS awkward that you can't reproduce. To be more specific, I see this in a shell buffer in GNU Emacs 25.0.50.1 running in the normal GUI mode on OSX Yosemite on a 2013 macbook air.

[2015-06-26 19:22] radix commented on #413
Emacs for OS X has really slow buffer drawing compared to Linux, so it may be difficult to repro on Linux vs Mac.

[2015-06-26 20:59] aceLren commented on #137
I'm still getting this error on OSX (works fine on Windows).  It handles stackage.org fine (0.1.0.0 didn't, but upgrading to 0.1.1.0 fixed that), but now it dies on ghc:

    Preparing to download ghc-7.8.4 ...TlsException (HandshakeFailed (Error_Protocol ("certificate has unknown CA",True,UnknownCa)))

[2015-06-26 21:26] Jookia commented on #399
Uhh, the statically linking the LGPL doesn't mean your software has to be free - you just have to ship your object files so users can replace the LGPLed portions.

[2015-06-26 21:29] dysinger commented on #428
https://s3.amazonaws.com/download.fpcomplete.com/ubuntu/fpco.key works.  I'll update the docs.

[2015-06-26 21:37] dysinger commented on #428
I would change the deb list url to https too except it breaks apt-cacher-ng. The packages are validated by signature before install though.

[2015-06-26 21:39] dysinger commented on #428
"http://download.fpcomplete.com/archlinux/stack_0.1.0.0-.tar.gz" could change to "https://s3.amazonaws.com/download.fpcomplete.com/archlinux/stack_0.1.0.0-.tar.gz"  @drwebb on the archlinux site

[2015-06-26 21:54] hdgarrood commented on #428
Wonderful - thanks very much! :)

[2015-06-26 23:11] JulianBirch opened #430 "Request: Some way of logging that tests build but don't pass"
I'd like to be able to "auto commit" anything where the tests build, but log a different message depending on whether the tests pass. I don't think this is currently possible. `stack test --no-test` or similar would solve the problem, as would a more general system where you could insert commands into the process.

Apologies if this is a solved problem that I can't figure out.

[2015-06-26 23:29] rvion opened #431 "stack dot seems broken"
##### stack dot seems broken

I'm on
[code]

In stack code directory, I did:

[code]

here is the result
![graph](https://cloud.githubusercontent.com/assets/2150990/8389055/e0584320-1c6a-11e5-9353-341ef5fddbe3.png)

but I don't see dependencies.

Here is the exact output given by stack dot
[code]

here is the help for stack dot:
[code]

[2015-06-27 05:21] wolftune commented on #428
This seems already fixed, should be closed…

[2015-06-27 06:09] DanBurton commented on #378
Confirmed.

[2015-06-27 06:09] #378 closed

[2015-06-27 10:30] hamishmack opened #433 "64 bit Windows binary"
In Wine you can't easily mix 32bit and 64bit processes, so it would be really handy to have a 64bit Windows binary for use on 64bit Wine.

[2015-06-27 13:10] zudov commented on #431
It visualizes dependencies of projects with multiple packages. Try to run it on yesod repo, or something else that has multiple packages.

[2015-06-27 13:52] zudov opened #434 "Specifying non-existing resolver results in StatusCodeException (404)"
Steps to reproduce:
  1. put `- resolver: 42.0` in `stack.yaml`
  2. run `stack build`

Output:
[code]

I think it would be better if more user-friendly error message was displayed. Something like:
[code]

Do we need such improvement?

[2015-06-27 13:54] chrisdone commented on #434
That would be nice!

[2015-06-27 13:58] markus1189 commented on #431
Oh if that is the intendend use case I guess I can delete my branch :)

I also thought like @rvion from the help text that it should display the external dependencies

[2015-06-27 14:01] zudov commented on #434
I would like to hack on this.

The failure lies in `Stack.BuildPlan.loadBuildPlan`:
[code]
I guess simply catching the exception and displaying error message would be good enough.

[2015-06-27 14:11] chrisdone commented on #434
It could return a [`Status`](http://hackage.haskell.org/package/http-types-0.8.6/docs/Network-HTTP-Types-Status.html#t:Status)?

[2015-06-27 14:12] chrisdone commented on #434
Although catching the exception and throwing a build-plan-specific exception is fine.

[2015-06-27 14:25] zudov commented on #434
@chrisdone Hmm. Having something like:
[code]
might be useful not only for that case.

[2015-06-27 16:02] zudov commented on #431
@markus1189 I think it would be great if there was an option to build a graph of external dependencies. Something like `stack dot --external`.

Actually when I first saw help text I also thought that it would give me a graph of external dependencies. Perhaps, if would worth to add notice to the help text, or make the `--external` behaviour default and add an `--internal` flag.

[2015-06-27 17:48] alexanderkjeldaas commented on #337
+1 just posting my interest in slack+ghcjs.  I do not care about 7.8 vs 7.10.

[2015-06-27 18:18] snoyberg commented on #137
Can you put that in a separate issue? It doesn't seem relevant to what's
being discussed here.

On Fri, Jun 26, 2015, 11:59 PM aceLren <notifications@github.com> wrote:

[2015-06-27 18:27] rvion commented on #431
@markus1189 Thanks :)

As a side note, I think external being the default would be a bit better, but no strong opinion.

[2015-06-27 18:44] aceLren opened #438 "TlsException Unknown CA OSX"
I'm still getting this error on OSX (works fine on Windows).  It handles stackage.org fine (0.1.0.0 didn't, but upgrading to 0.1.1.0 fixed that), but now it dies on GHC:

    Preparing to download ghc-7.8.4 ...TlsException (HandshakeFailed (Error_Protocol ("certificate has unknown CA",True,UnknownCa)))

[2015-06-27 19:10] vikasmenon commented on #337
+1. This would be neat.

[2015-06-27 19:23] snoyberg commented on #237
I'm going to mark as resolved for now, if issues pop up, let's discuss in a new issue.

[2015-06-27 19:23] #237 closed

[2015-06-27 19:27] snoyberg commented on #438
@manny-fp As our resident Mac tester, any thoughts?

[2015-06-27 19:27] snoyberg commented on #438
And @aceLren Could you run the debugging instructions from https://github.com/vincenthz/hs-tls#common-issues against www.haskell.org?

[2015-06-27 19:30] #434 closed

[2015-06-27 19:37] vincenthz commented on #438
This is an issue with what's trusted in the system certificates once again. My osx machine has the right certificates in the keychains

[2015-06-27 19:47] snoyberg commented on #433
I've avoided making this because of confusing Windows users, but there seem to be many requests coming in for this. Let's consider it for the next release.

[2015-06-27 19:49] snoyberg commented on #430
It's not solved yet, and should be pretty trivial to implement. Want to give a shot at a PR? The relevant code is the `singleTest` function in `Stack.Build.Execute`, and you'll likely want to add a field to `BuildOpts` (or perhaps add a field to the `DoTests` constructor of `FinalAction`).

[2015-06-27 20:01] snoyberg commented on #431
Let's track the rest of this in the PR to avoid splitting the discussion.

[2015-06-27 20:01] #431 closed

[2015-06-27 20:02] snoyberg commented on #429
Since you've already looked into this and found the relevant information (thank you!), would you be able to add this as a FAQ entry? If you think there's a better place for this (perhaps Downloads?), that would be great too.

[2015-06-27 20:04] #159 closed

[2015-06-27 20:04] #380 closed

[2015-06-27 20:04] #388 closed

[2015-06-27 20:04] #389 closed

[2015-06-27 20:04] #394 closed

[2015-06-27 20:29] aceLren commented on #438
This is a new installation but I think it has to do with my corporate proxy.  It's working fine right now (I'm at home) so I can't reproduce it, but I'll try on Monday.  Thanks for being so responsive - Stack is really awesome!

[2015-06-27 20:35] vincenthz commented on #438
That sounds like one of those tls proxy that do certificates MITM with a company's root certificate installed on company machines. You could use tls-retrievecertificate to see if that's the case; You should see something different on the chain when you're in the corporate network (vs home).

[2015-06-27 20:39] manny-fp commented on #324
Beginning of stack release automation: https://github.com/commercialhaskell/stack/blob/master/etc/release-tool/README.md

[2015-06-27 20:40] aceLren commented on #438
Got it, yes that sounds right.

[2015-06-27 20:48] manny-fp opened #439 "'stack upload' should require confirmation before uploading"
I was originally going to title this "'stack upload' should be harder to use."

Uploading a package to hackage is irrevocable and it's a too easy now to accidentally upload without intending to do so (which I did in the last stack release, so now there's a weird version of stack on Hackage that can't be deleted).  `stack upload` could default to just telling you what it would do plus a message say

[2015-06-27 21:17] manny-fp commented on #438
I'm unclear about where hs-tls looks for its root CA certificates on OS X, but in theory if you put the MITM certificate wherever that is, it should work.

[2015-06-27 21:26] JulianBirch commented on #430
Thanks I'll give it a go. (I'm a rank beginner, so this may take me a while.)

[2015-06-27 21:30] snoyberg commented on #430
Hit us up with questions, happy to help

On Sun, Jun 28, 2015, 12:26 AM Julian Birch <notifications@github.com>
wrote:

[2015-06-28 04:10] pharpend opened #440 "Linker error with 'stack ghci'"
Source tree: https://github.com/pharpend/desbot

[code]

[2015-06-28 05:27] snoyberg commented on #440
I was unable to reproduce this on Ubuntu 14.04.

[2015-06-28 05:48] snoyberg commented on #439
I hadn't thought of going in this direction to be honest. What I'd thought of was simply removing the ability of `stack upload` without arguments to do an upload.

[2015-06-28 05:49] snoyberg commented on #440
FYI, on my system:

[code]

Maybe you're missing the 64-bit version of the library?

[2015-06-28 09:10] chrisdone commented on #440
@pharpend Where's a `w` in there (presumably for "wide"; unicode):

[code]

[2015-06-28 12:11] rubenmoor commented on #425
Done

[2015-06-28 13:08] snoyberg commented on #425
Thanks!

[2015-06-28 13:08] #425 closed

[2015-06-28 13:45] pharpend commented on #440
@snoyberg I'm on Arch Linux 64-bit.

[code]

[2015-06-28 13:52] pharpend commented on #440
FWIW, I'm getting the same error with the version of stack in master. (Previously, I was using the Hackage version).

I got a new system update today, so I'll see if that fixes it.

[2015-06-28 14:00] pharpend commented on #440
I should mention, I can use normal `ghci` and `cabal repl` without issue

[2015-06-28 14:43] pharpend commented on #440
So, I actually bothered to trace through the `..`s, and the shared object file does indeed exist at that location. I don't know where GHC is getting this idea that the file doesn't exist.

[2015-06-28 14:46] pharpend commented on #440
Well, now I'm getting the same issue with `cabal repl`:

[code]

[2015-06-28 15:02] pharpend commented on #440
I'm thinking this might be a problem with GNU Readline, as it depends on ncurses.

[2015-06-28 15:08] cocreature commented on #440
I run into the same problem with stack on arch 64bit. Compiling a c hello world with `-lncursesw` is working fine and the file mentioned in the error message exists.

[2015-06-28 15:21] manny-fp commented on #439
Ah, so you'd *have* to specify the directory/tarball.  Yeah, that'd work too.  Just something more than `stack upload` on its own.

[2015-06-28 15:24] ketzacoatl commented on #416
I will work towards having OpenBSD available on AMD64 so I can better serve testing and such here. ATM, I only have OpenBSD on i386, and GHC is _complete_ broken there.

[2015-06-28 15:27] geekosaur commented on #440
This looks familiar. Debian oldstable (at least; haven't checked wheezy) makes `libncurses.so` a GNU linker script containing `INPUT(-lncursesw)`. Something is assuming that the parameter to INPUT is a pathname and trying to open it directly, whereas `ld` would do a normal static library search at that point.

[2015-06-28 15:45] Earnestly commented on #440
Yes, `/usr/lib/libncurses.so` is a linker script on Arch as well with the same
contents.

[2015-06-28 17:30] trihella commented on #429
Done ! I think a FAQ entry is sufficient.

[2015-06-28 18:17] snoyberg commented on #429
Awesome, thanks!

[2015-06-28 18:17] #429 closed

[2015-06-28 18:57] pharpend commented on #440
@geekosaur Without filing a thousand other bug reports, is there a fix and/or a temporary workaround?

[2015-06-28 19:06] geekosaur commented on #440
The usual workaround is to replace the linker script with a symlink. This may annoy the system package manager, but people on Debian have not reported issues with it, and have had this issue with hs-curses etc. for several years now (Debian stable being what it is) so I would expect that problems would have been noticed by now.

The upstream bug is with ghc / ghci, and is one of the things that wa

[2015-06-28 20:59] dysinger commented on #401
I would like to do the simplest thing here and have _small_ images that deploy @ 100-200mb. Most applications can fit in an image this size.

The simplest case that @snoyberg & I talked about is:
1) Docker packaging is not the default. If they want it, they use it.
2) User specifies *their* base image(s) for *their* executable(s) in stack.yml
3) User optionally specifies a map of static content fr

[2015-06-28 21:57] drwebb commented on #428
Yes, this is fixed in the AUR package.

[2015-06-29 00:56] pharpend commented on #440
@geekosaur That worked. Since this appears to be a bug with GHC, not Stack, I'm closing this issue.

[2015-06-29 00:56] #440 closed

[2015-06-29 04:27] #147 closed

[2015-06-29 04:52] soenkehahn opened #444 "Executing scripts with `--package` dependencies only works the second time."
## Steps to reproduce

1. Create a file `Test.hs`:
[code]
2. Run this in a shell:
[code]

## Expected

It should work the first time.

[2015-06-29 05:00] mgsloan commented on #426
This may well be an overengineered solution, but it seems like it ought to be possible to have uninterleaved GHC output if some of it is delayed.  Here's how this would work:

1) The first package being built would get control of stdout, so you get to see its live progress.

2) When that package finishes building, and does so successfully, the output from the other builds that finished can be outp

[2015-06-29 06:19] #428 closed

[2015-06-29 07:22] snoyberg commented on #444
Good catch. I've got a test case for this and a patch. Once I'm back home in an hour or so I'll push it.

[2015-06-29 07:32] mrijkeboer commented on #416
I received the following from one of the maintainers of OpenBSD GHC package:

Please don't use the bindists from dead-parrot.de (or from any
OpenBSD mirrors holding distfiles for ports), they're trimmed down
to the absolute minimum required to build the lang/ghc port on
OpenBSD, and they may disappear when they aren't of use for the
ports tree any longer (for example, not required for the last two

[2015-06-29 08:14] snoyberg commented on #444
Should be fixed by 513d136, can you confirm?

[2015-06-29 08:17] snoyberg commented on #439
@manny-fp Confirmed?

[2015-06-29 08:34] mboes commented on #382
Yes, this is by now my position too as explained in my previous comment. @nh2 thoughts?

The recompiles could in theory be avoided by having `stack` build into a dir whose name is a function of `--ghc-options`. Doing so is a possible followup issue, but is it worth it?

[2015-06-29 08:34] snoyberg commented on #426
@mgsloan I'm -1 on that solution, it seems like it's contrary to the stated goal of this issue: get regular output to stdout as long as a build is occurring. Delaying output from other processes would impair that. Additionally, implementing the solution you've described would be very difficult to do without introducing the possibility of significant memory usage or hurting performance in the commo

[2015-06-29 09:20] jkozlowski commented on #337
@snoyberg and @luite: did you guys manage to agree on something?

[2015-06-29 09:23] snoyberg commented on #337
I just spoke with @mgsloan about this actually. He's been working on some code recently using GHCJS and stack, so he has a better feel for the requirements than I do. I haven't yet touched base with Luite unfortunately.

[2015-06-29 10:30] adinapoli opened #445 "Is working with private versions of Hackage supported/possible?"
Hello all,

sorry if there is already a duplicated issue somewhere, weren't able to find it.

I am trying to port an existing project I have at work to use `stack`. The requisite is that I want to make this as less intrusive as possible, to try to convince later on the rest of the team to switch, proved `stack` is the correct tool for us. In doing so, I need stack to full interoperate with our pri

[2015-06-29 11:01] snoyberg commented on #445
I think you need to add Hackage as well. The semantics of this are to _replace_ previous package indices, not augment them, since you can always add in additional ones locally. Can you try doing that and see how it works?

[2015-06-29 12:01] adinapoli commented on #445
Hey Micheal.

I think I was misleading my omitting a crucial fact: Our private Hackage faithfully **mirrors** the main Hackage, so virtually ALL the packages which are there, are also in our Hackage. On top of those, we have our extra in-houre pkgs.

Said this, do you still want me to try adding the official Hackage as well? Just shout, it's really an easy thing to try on my side.

[2015-06-29 12:21] snoyberg commented on #445
Never mind, I missed the end of your comment. Since you're using the ghc-7.10 resolver, you need to add all extra packages to your extra-deps. You can fix this by:

* Switching to a Stackage Nightly snapshot instead
* Using `stack solver`
* Try copying the `extra-deps` information from the end of the output to your stack.yaml

[2015-06-29 12:29] adinapoli commented on #445
Ah, that's what I suspected. Replying by points:

1. This seems to prevent me to use GHC 7.10 and/or having finer-grain control over which version of GHC I want to use. Am I wrong? Furthermore, this will help me with the "standard" dependencies, but what about our in-house packages? Would that be fetched automatically from the `package indices` or the `extra-deps` curation is still needed?

2. I h

[2015-06-29 12:33] snoyberg commented on #445
1. Not at all. Stackage Nightly is already on GHC 7.10. If you don't like some of the packages selected by Stackage Nightly, you can override their versions by extra-deps. For in-house dependencies, you would still need extra-deps
2. You may need to run `stack update` manually before `stack init --solver`. You can also try running `stack solver` now that you have a stack.yaml file
3. I agree that

[2015-06-29 12:35] #439 closed

[2015-06-29 12:36] adinapoli commented on #445
Ah, thanks for clarifying!

I will have a play and I will get back to you, especially wrt 2) (I did try `stack update` but I did that after running `stack init --solver`, so perhaps that was my mistake).

Alfredo

[2015-06-29 13:30] snoyberg opened #446 "Proper handling of warning/error output"
The output of commands like `stack dot` can sometimes be intruded upon by warning and error output. We should ensure that warning/error output is sent to stderr instead of stdout. In addition, as discussed elsewhere, we may want to silence some specific warnings that are not dangerous (specifically: the missing files referenced from a .cabal file).

[2015-06-29 13:35] chrisdone commented on #446
Note to self or usurper: Warnings/error output can be tweaked in `Stack.Types.StackT`.

[2015-06-29 13:58] manny-fp commented on #419
There seems to be a difference between the way GHC 7.10's haddock haves from GHC 7.8's.  The `haddock --gen-contents` appears to be ignoring the relative paths I specify in the `--read-interface` arguments (but is reading the interface files).  Oddly, `haddock --gen-index` does seem to be using them properly.

[2015-06-29 14:53] ojw opened #447 "stack upgrade goes through entire build process, even when already up to date"
Steps to reproduce:

Run ```stack upgrade```.
After the upgrade, immediately run ```stack upgrade``` again.

Expected:
Stack will notice that it is up-to-date and not run the full build process the second time, probably reporting a message that it is up-to-date already.

Actual:
Stack runs through the build process again.

Here is the ```stack --version``` output:
Version 0.1.1.0, Git revision 91f

[2015-06-29 17:57] snoyberg commented on #447
Agreed, I commented on this limitation but forgot to open an issue about it. We should solve it. The 9.9.9 issue is a separate one, and a limitation of Hackage it seems...

[2015-06-29 18:10] manny-fp commented on #419
Another data point: `cabal --enable-documentation`'s index seems to have exactly the same problem.

[2015-06-29 21:21] manny-fp commented on #419
Ok, this looks like a [bug](https://ghc.haskell.org/trac/ghc/ticket/10206) in the version of `haddock` that ships with GHC 7.10.1.  I reproduced using just simple `haddock` commands on OS X and Linux.  The bug report indicates it's fixed for GHC 7.10.2, and I confirmed that the problem is solved with the current HEAD of the haddock repo.

I think we should close this issue and wait for GHC 7.10.2.

[2015-06-29 22:57] mgsloan commented on #426
Agreed, the complication isn't worth it.

[2015-06-30 00:13] eckyputrady opened #448 "Unable to load ghci: can't load .so/.DLL"
Hi,

When I run `stack ghci`, I encounter this error:

[code]

How to solve this error?

The project is [here](https://github.com/eckyputrady/livelog), in case it's needed to reproduce the error

[2015-06-30 01:25] dalejordan opened #449 "Spurious error when loading package into ghci"
I have a package which builds without error but fails to load in
ghci with a spurious parse error:

    [Matrix] $ stack ghci Matrix
    Configuring GHCi with the following packages: Matrix
    GHCi, version 7.10.1: http://www.haskell.org/ghc/  :? for help
    [1 of 2] Compiling MatrixInternal   ( /home/dale/stack/Matrix/MatrixInternal.hs, interpreted )
    [2 of 2] Compiling Matrix           ( /h

[2015-06-30 02:42] bergmark opened #450 "Print latest version of packages on conflicts"
Right now:
[code]

It would be nice to add the latest version to save me from having too find that elsewhere, perhaps like this:
[code]

Using the latest version is often what you want.

[2015-06-30 02:59] snoyberg commented on #419
I agree.

[2015-06-30 02:59] #419 closed

[2015-06-30 03:18] soenkehahn commented on #444
Yes, works. Thanks for the quick fix.
(Closing.)

[2015-06-30 03:18] #444 closed

[2015-06-30 03:46] snoyberg commented on #450
The code for this was already present, the latest version was simply only being displayed when a dependency was missing, so this was pretty easy. New output sample:

[code]

Can you test out master?

[2015-06-30 03:55] snoyberg opened #451 "Flag to avoid rerunning tests that haven't changed"
Motivation: in a large project, you can run something like `stack test --haddock --no-rerun-tests` continuously until you fix everything. Bonus points in the future: tie this in with autorebuild on file change.

[2015-06-30 04:32] snoyberg opened #452 "haddock forces rebuild of empty packages"
Steps:

1. Run `stack haddock` in the `http-client` repo (as an example)
2. When it succeeds: run it again

Expected: nothing happens

Actual: it rebuilds transformers-compat (presumably because there are no modules in that package), and then rebuilds everything that depends on it

[2015-06-30 04:34] snoyberg commented on #451
Full implementation will require resolving #319

[2015-06-30 04:49] snoyberg commented on #319
I've just pushed a commit that should make it so that tests are only rebuilt when necessary. I _think_ the problems we were seeing previously with this code have been resolved, but I'd appreciate some testing by others to confirm. @gregwebs can you test out master?

[2015-06-30 05:03] snoyberg commented on #451
This is now implemented

[2015-06-30 05:03] #451 closed

[2015-06-30 05:24] bergmark commented on #450
:+1: Thanks!

[2015-06-30 05:24] #450 closed

[2015-06-30 05:30] pharpend opened #453 "Add something like 'stack man'."
I would like to include man pages with my software. Cabal doesn't make this possible (for cabal to add a man page, it would require root access). However, could Stack potentially do this, via a command like 'stack man'? The application maintainer could include a man page via `extra-source-files`, and Stack could bandage yet another sore point in the Haskell workflow.

Just an idea.

[2015-06-30 06:05] snoyberg commented on #113
Working on this now, I want it too much to wait :)

[2015-06-30 06:52] snoyberg commented on #453
Just to confirm: you're asking for `stack man` to copy man pages to `/usr/share/man`, based on the values in `extra-source-files`? What would the criteria be for determining if a file should be treated as a man file or not?

[2015-06-30 06:56] snoyberg commented on #113
Closing, this is implemented. If there are bugs, we can follow up in separate issues.

[2015-06-30 06:56] #113 closed

[2015-06-30 08:22] codygman opened #456 "Using yesod devel with stack"
Tried:

``` yesod devel```

got:

[code]

Also tried using stack exec:

[code]

[2015-06-30 08:24] snoyberg commented on #456
The last one is the necessary invocation, but you need the latest version of yesod-bin. What's the output of `stack exec -- yesod --version`? Can you try `stack build yesod-bin:latest`?

[2015-06-30 08:27] snoyberg commented on #456
This blog post gives the necessary instructions: http://www.yesodweb.com/blog/2015/06/stack-support-yesod-devel

[2015-06-30 08:31] codygman commented on #456
@snoyberg Thanks! I'll try looking at the blog next time.  The problem is I didn't have the latest yesod-bin, I'm installing yesod-bin-1.4.11 now.

I'll verify it works then close this issue.

[2015-06-30 08:36] codygman commented on #456
I got a failure, not sure if expected or not. I'm guessing Persistent migrations don't use create if not exist?

[code]

[2015-06-30 08:39] snoyberg commented on #456
It's not expected, but it's definitely not an issue to be tracked on the stack repo. Can you reopen under the yesod repo with a proper reproducing case?

[2015-06-30 08:41] codygman commented on #456
@snoyberg Yes, will do. Thanks for your help.

[2015-06-30 08:41] #456 closed

[2015-06-30 08:47] rvion opened #457 "Setup windows CI (appveyor ?)"
How about setting up windows CI with appveyor ?

related to https://github.com/commercialhaskell/stack/pull/442#discussion_r33525689 (@mgsloan, @snoyberg)
[Appveyor](http://www.appveyor.com/)  is a Continuous Delivery service for Windows

To see an example badge: https://ci.appveyor.com/project/neovim/neovim/branch/master

[2015-06-30 08:51] snoyberg commented on #457
It's a great idea. Would you be able to spearhead this?

[2015-06-30 08:52] rvion commented on #457
I can give it a try, sure :)

[2015-06-30 08:57] rvion commented on #457
@snoyberg It seems like I need to have access to the organisation to set this up

[2015-06-30 09:03] snoyberg commented on #457
Welcome to the stack team. Please be considerate :)

[2015-06-30 09:05] rvion commented on #457
Thanks, I will :)

[2015-06-30 10:54] adinapoli commented on #445
Hey Michael,

it's me again (I hope these real world experience reports from the trenches are useful!).

After yesterday wrestling, this morning I had to split part of an in-house package into a small and specialised one, and I thought of giving `stack` another chance for the task at stake. This is my experience report:

I started with this innocent `stack.yaml`:

[code]

This didn't work out of t

[2015-06-30 12:24] phadej opened #458 "Document using Travis in sudo:false case WAS: Add stack ubuntu repository to travis whitelists"
I could do it myself, but it would be better if the request will be from stack maintainers

http://docs.travis-ci.com/user/apt/

---

Rationale: if `stack` could be installed thru travis apt plugin, we could use container based travis builds, which would allow caching (of `.stack/`) for public travis jobs. That will save a lot of build time!

[2015-06-30 13:59] rvion commented on #393
I can reproduce on AppVeyor (https://github.com/commercialhaskell/stack/issues/457) I'll test server 2015 and report results

[2015-06-30 14:01] rvion commented on #457
I got here:

![screen shot 2015-06-30 at 15 57 30](https://cloud.githubusercontent.com/assets/2150990/8432494/c3cff0bc-1f40-11e5-942f-66f2dd1da723.png)

and reproduced https://github.com/commercialhaskell/stack/issues/393 on server 2012

[2015-06-30 14:22] rvion opened #460 "Also provide executables in releases"
I would appreciate to be able to download executables directly from release page, in addition to archives.

### pros:
 - **easier**: some people don't know how to unzip with command line only: [xkcd: tar](https://xkcd.com/1168/)
 - **more transparent**: as of now, the user don't really know what to expect in the archive. an executbale ? several files ?
 - **cleaner**: no need to remove the archive

[2015-06-30 14:43] radix commented on #453
This sounds like a dangerous path to tread -- Stack is a developer's tool, but this is a clear move toward "system package manager", which is a VERY scary domain to be in :)

[2015-06-30 14:46] drwebb commented on #453
I agree, this would seem like stack overstepping it's bounds as a build tool.

[2015-06-30 14:47] snoyberg commented on #460
Big -1: this will lead to a lot of confusion for users. "Do I need to download the .exe or the .zip?" I've never met a developers who couldn't figure out how to unzip a file on their platform.

[2015-06-30 14:47] #460 closed

[2015-06-30 14:48] snoyberg commented on #453
Overall, I concur. I just wanted to confirm that I understood the request first. Since it's a bit ambiguous, I was hoping @pharpend could clarify.

[2015-06-30 14:48] rvion commented on #453
I agree, I would -1 this because , amongst all
 - it doesn't have any link with haskell
 - it doesn't make sense on windows or some possible future arch (ios, andriod)
 - it doesn't take advantage of core stack features
 - it doesn't use any specific stack folders.

[2015-06-30 14:53] ketzacoatl commented on #416
Similarly, Kili was able to provide me with some clarification for GHC OpenBSD i386/AMD64:

[2015-06-30 14:58] rvion commented on #460
My initial idea for this proposal was to replace archives by executable only.
@snoyberg Can you explain why do you to prefer archive over executable ?

[2015-06-30 15:00] snoyberg commented on #460
Because it wastes bandwidth. Just about every developer I've ever met would prefer to decompress a file rather than download something 4 times the size.

[2015-06-30 15:10] rvion commented on #460
For small files, I mostly disagree.

This being said, I just took a look at stack executable size on my mac:
5mb compressed, 30 uncompressed => I understand your point better.

[2015-06-30 15:33] pharpend commented on #453
@snoyberg No, not talking about `/usr/share/man`, I should have been more clear. (I wrote this at 11 PM last night, so I was quite tired).

Perhaps, in `stack.yaml`, there would be a field called `man-pages`, or something like that, where the developer could specify man pages.

**Again, Stack would not be messing with the operating system**

Instead, Stack would keep the man pages in something lik

[2015-06-30 16:00] drwebb commented on #460
Also Rémi, tar archives allow you to set permissions (i.e `chmod 777`) so the one less command you need to type doesn't really apply.

[2015-06-30 16:10] adinapoli opened #461 "`stack setup` (with flag system-ghc: false) fails sanity check on CentOS 6"
[code]

After installing latest stack (from HEAD), I ran `stack setup` in a project configured to NOT use the system GHC:

[code]

I also have all the required deps installed, according to `yum`:

[code]

What am I doing wrong?

Thanks!
Alfredo

[2015-06-30 16:41] dkubb opened #462 "Possible to build test dependencies without running tests?"
I am using stack with CircleCI, and I'd like a way to build the test dependencies up-front without actually running the tests. With CircleCI I am caching the build output so that repeated runs are done more quickly. Here is what I am doing:

Setup:

[code]

Build:

[code]

Test:

[code]

The problem is the `stack test` still goes through a lengthy build process. I would love to be able to do this

[2015-06-30 17:35] drwebb commented on #453
@pharpend
So you are looking for something like a command similar to `MANPATH=<dist-dir_manpath> man <manpage>`?

[2015-06-30 17:47] DanBurton commented on #462
:+1: great feature request, not sure if we have it yet.

[2015-06-30 18:37] dkubb commented on #462
Originally my assumption was that `stack build` would just build *all* dependencies by default. I was surprised when it didn't.

In the meantime I hacked together something ugly that does compile all the test dependencies:

[code]

It seems to work, but is obviously brittle since it will break if the prefetch output changes even slightly.

[2015-06-30 18:45] spinda commented on #319
I'm still seeing `stack test` do full rebuilds immediately after completing a `stack build`.

[2015-06-30 19:14] JulianBirch commented on #430
Okay, I really can't figure this bit out: after adding something to BuildOpts, where do I register the command line flag and command line documentation? I'm finding it pretty hard to find anything that actually creates one except from Upgrade.hs.

[2015-06-30 20:34] zekzekus opened #463 "Cabal error: At least the following dependencies are missing:"
I have a project which includes random package as a build dependency in project.cabal file. i init, setup, build and install the project with stack without any problems. Also i installed hdevtools package again via stack install hdevtools command.

When i tried to check my module with `hdevtools check Module.hs` or `stack exec -- hdevtools check Mobule.hs` it says: `Cabal error: At least the follo

[2015-06-30 20:35] snoyberg commented on #430
@JulianBirch Just make the change and try to compile, GHC should help you here. The relevant location is src/main/Main.hs, the `buildOpts` parser.

[2015-06-30 20:36] snoyberg commented on #463
Currently, yes. Check out this thread, where proper stack support for hdevtools is being discussed:

https://groups.google.com/d/msg/haskell-stack/Skfd3QGFzgk/U4Y3rQXg-fQJ

[2015-06-30 20:38] snoyberg commented on #319
@spinda Can you clarify what you mean by full rebuild, or rather, what exact steps you're running? And are you using the latest master?

[2015-06-30 20:39] snoyberg commented on #462
That's what we added the --only-snapshot flag for. Check out #387 and #310

[2015-06-30 20:43] snoyberg commented on #458
I haven't had a chance to look into this, but I really like the idea. Where would such a request be made? Pinging @mboes who's done similar work already.

[2015-06-30 21:18] dschalk opened #464 "Can't get back to previous configuration."
I tried stack and couldn't make it work so I removed the .stack directory and everything stack in my application directory. I even brought back my latest Github update to make sure. When I enter 'cabal configure, I get this:
d@D:~/websockets-react$ cabal configure
Resolving dependencies...
Configuring websockets-react-0.1.0.0...
Warning: This package indirectly depends on multiple versions of the

[2015-06-30 21:36] drwebb commented on #464
Hi, let me see if I can help. First of all, `stack` and `cabal` can coexist, and stack doesn't overwrite anything of cabal's. So if you are experiencing a breakage, it would not be caused by removing `~/.stack` or `./.stack-work`.

It looks like you are facing the dreaded diamond dependency problem that is one of the reasons we created stack. I'm curious what problems you had with stack, perhaps w

[2015-06-30 21:52] dysinger commented on #461
How were you able to bootstrap the stack executable on centos 6, @adinapoli ?

I downloaded the generic linux version & it doesn't work.  Linkage broken.

Next I downloaded binary packages from https://www.haskell.org/ghc/download_ghc_7_8_4 & used cabal 1.20 to bootstrap stack.  It fails to install stack. ExitFailure -9.

So I haven't even gotten to the `stack setup` problem yet.

[2015-06-30 22:08] dschalk commented on #464
Update:
Wow. Your response was fast. I tried re-installing cabal-install and got:
bash-completion      changelog     ghc-pkg-stage2.list  Setup     tests
bootstrap.sh         dist          LICENSE              Setup.hi
cabal-install.cabal  Distribution  Main.hs              Setup.hs
cbits                ghc-pkg.list  README.md            Setup.o
d@D:~/cabal-install-1.22.6.0$ ./bootstrap.sh
Using g

[2015-06-30 22:22] drwebb commented on #464
This isn't really a forum for support on cabal install, but if you want to take it from the top we can try to get you running with stack. That would be:

1) Download the Stack binary and put it in your $PATH
2) Run `stack setup`
3) Go to your project directory and run `stack init` and `stack build`
4) Report any errors here by with the details of the command by running `stack <command> --verbose`

[2015-06-30 22:37] dschalk commented on #464
I think the message said I needed both, so I didn't try wai-app-static after wai-websockets failed.

Maybe my troubles stem from installing stack from the Github repo.  I am working in an Ubuntu-14.04 box. Where can I find an Ubuntu/Debian binary, or do I need to compile it?

[2015-06-30 22:39] ketzacoatl commented on #464
@dschalk Ubuntu install instructions can be found here: https://github.com/commercialhaskell/stack/wiki/Downloads#ubuntu

[2015-06-30 22:40] dschalk commented on #464
Thanks.

[2015-06-30 23:07] dysinger commented on #461
I was running out of memory.  ghc not being super helpful there as to the reason.

[2015-06-30 23:11] 3noch commented on #399
@kantp or anyone else willing to help me get GHC building? I'm having troubles :cry: http://lpaste.net/135610

[2015-06-30 23:25] dysinger commented on #461
`stack setup` fails for the same reason as "I downloaded the generic linux version & it doesn't work. Linkage broken." above. Centos 6 has way older glibc & gmp libs.

[code]

[2015-06-30 23:26] dysinger commented on #461
I'm closing this ticket & opening a new one to provide centos/redhat binaries.

[2015-06-30 23:26] #461 closed

[2015-06-30 23:28] dysinger commented on #293
https://github.com/commercialhaskell/stack/issues/461 hard with wildly different gmp versions (on older linux)

[2015-06-30 23:29] dysinger opened #465 "Need ghc & stack binaries that work with older CentOS/RHEL"
See #461

[2015-07-01 00:13] dschalk commented on #464
Back in cabal hell again. I'm using Stackage. I installed GHC-7.10.1 and reinstalled Cabal and cabal-install.  Here's what I get:
d@D:~/websockets-react$ cabal configure
Resolving dependencies...
Configuring server-0.2.0.0...
cabal: At least the following dependencies are missing:
wai-app-static -any, wai-websockets -any, websockets -any
d@D:~/websockets-react$ cabal install wai-app-static
Resolvi

[2015-07-01 00:16] ketzacoatl commented on #464
@dschalk, can you open a clone a clean checkout of your code to a new working directory, then follow @drwebb's instructions above? If you run into a problem with those instructions, please copy / paste the output from each command in that sequence with stack. Thank you!

[2015-07-01 00:33] drwebb commented on #464
@dschalk: You keep saying that you are using stack, but I haven't been able to verify you running a single stack command. As I said, this is not a cabal-install support forum. Could you give us the output of `stack --version` and `stack build --verbose`? Otherwise, I will have to close this as off topic.

[2015-07-01 01:16] dschalk commented on #464
Must I use GHC-7.8.4 in my project. I have 7.10.1. Anyway, here is what I have so far:
d@D:~$ stack --version
Version 0.1.1.0, Git revision 2cac22d2a26dab6faa00c6f03edf5798affb7840
d@D:~$ cd websockets-react
d@D:~/websockets-react$ ls
client   Logger2.hs  score2.backup           websockets-react.shabal
dist     log.txt     Setup.hs
Fm.hs    Main.hs     Setup.hs.save0
LICENSE  README.md   websocket

[2015-07-01 01:18] razvan-panda opened #466 "Build error on Windows 8.1 - `ghc.exe: could not execute` (project Snowdrift)"
Steps to reproduce:

1. Windows 8.1
2. MinGHC 32 was already installed and on path
3. stack setup
4. git clone snowdrift at [commit](https://github.com/snowdriftcoop/snowdrift/commit/33711a47f5b726217b66823192d30d66b3f0067e)
5. Add to stack.yaml extra-deps: - Win32-notify-0.3.0.1
6. stack build -v

[code]

The project builds fine on Linux Mint with ghc provided by stack (64 bit I assume).

[2015-07-01 01:37] dschalk commented on #464
sudo stack setup still gave the 443 error message but after I entered sudo -i and returned to the project directory, stack setup worked.

[2015-07-01 01:38] dschalk commented on #464
OOps. In the end I got:
Caching build plan
Fetched package index.
Populated index cache.
Preparing to download ghc-7.8.4 ...FailedConnectionException "www.haskell.org" 443

[2015-07-01 01:40] drwebb commented on #464
It looks like you are on GHC 7.10 already, so try `rm stack.yaml, and then `stack init --prefer-nightly` followed by a `stack build`

[2015-07-01 01:43] mtolly opened #467 "Dynamic libraries not linked in with `stack ghci`"
Here's an example with SDL2, but this applies to any C library specified via either `extra-libraries` or (on Mac) `frameworks`.

**Steps to reproduce:**

`new-template.cabal`:

[code]

`src/Lib.hs`:

[code]

`stack.yaml`:

[code]

**Expected:**

Running `cabal repl`:

[code]

**Actual:**

Running `stack ghci`:

[code]

Here's how to fix it manually:

[code]

[2015-07-01 01:48] drwebb opened #468 "Stack should intelligently select a resolver based on a installed GHC version"
It would be nice to have resolver automatically prefer a nightly (at the moment until LTS 3.x is rolled out at least) snapshot if GHC7.10 is already installed on the user's system. If multiple versions are present I suppose we could go with what is most stable, i.e. the current LTS version.

[2015-07-01 01:48] pharpend commented on #453
On Tue, Jun 30, 2015 at 10:35:08AM -0700, Tristan Webb wrote:

Essentially, yes. Stack already modifies `$PATH`, so I don't see how
modifying `$MANPATH` would be an overstep.

Peter Harpending

[2015-07-01 01:50] dschalk commented on #464
d@D:~$ cabal install websockets
Resolving dependencies...
cabal: Could not resolve dependencies:
next goal: websockets (user goal)
rejecting: websockets-0.9.5.0 (global constraint requires ==0.9.3.1)
Dependency tree exhaustively searched.
d@D:~$ cabal list websockets

The Stackage version is 0.9.5.3. I suspect that stack somehow imposed the global constraint requiring ==0.9.3.1. What do you think?

[2015-07-01 01:53] ketzacoatl commented on #464
@dschalk, we aren't able to help in debugging issues with cabal, but you ought to be able to see success with:

[code]

[2015-07-01 01:57] radix commented on #464
@dschalk You shouldn't be using `sudo` with stack, by the way. It does everything within your home directory.

(Makes me wonder if stack ought to error out if it detects it's running as root...)

[2015-07-01 02:51] parsonsmatt opened #469 "`stack path` for easier use in scripts"
Right now the output of `stack path --local-pk-db` is:

[code]

which makes it less convenient to use in the terminal. `$(stack path --local-pkg-db | cut -f 2 -d ' ')` handles it. Would it be sensible to omit the path identifier if the path was specifically requested in the command?

[2015-07-01 03:00] snoyberg commented on #469
I think Chris already changed this on master. I agree this is better
behavior.

On Wed, Jul 1, 2015, 5:51 AM Matt Parsons <notifications@github.com> wrote:

[2015-07-01 03:06] parsonsmatt commented on #469
Correct! `stack upgrade` and now it's outputting just the path. Thanks!

[2015-07-01 03:06] #469 closed

[2015-07-01 03:35] snoyberg commented on #464
I'm at an airport on my phone, so not the most amenable place for good comments. That said, I'm seeing three different things combined in this issue:

* A lot of bug reports that belong on the cabal issue tracker. stack has nothing to do with any command that starts with cabal
* Something funny going on with stack setup and downloading from haskell.org. It would be good to see if others are experi

[2015-07-01 03:37] snoyberg commented on #461
As a short term workaround I'd recommend using the system installable GHC for now.

[2015-07-01 03:43] mgsloan opened #470 "Support "last install" symlinks on windows"
PR #442 adds some directory symlinks to the `.stack-work` directory, but only on posix operating systems.  Ideally, these symlinks would also exist on windows, particularly since scripts might rely on these paths.

An implementation of this would look like running `mklink`.  Unfortunately, it looks like the [creation of symbolic links is rather fiddly on windows](http://security.stackexchange.com/

[2015-07-01 03:50] radix opened #471 "Error out when stack is run as root/sudo"
It's *probably* wrong to run stack as root, at least in almost all cases. This came up in another thread: https://github.com/commercialhaskell/stack/issues/464#issuecomment-117391353

- Are there any use cases for running stack as root? (maybe in the docker stuff?)
- If there are, but there are very few cases, perhaps stack should error out if it's run as root, but proceed if an explicit envvar or

[2015-07-01 03:50] radix commented on #464
@snoyberg You got it: #471

[2015-07-01 03:57] snoyberg commented on #471
Thanks @radix.

@manny-fp Perhaps you have thoughts on this?

[2015-07-01 04:49] drwebb commented on #471
Yeah big +1, I'm up for an error and exit unless `--as-root` is given as an option.

[2015-07-01 06:19] drwebb opened #472 "stack build --file-watch-post=<command>"
So `stack build --file-watch` is an awesome feature, something I've always wanted for about half my projects. However, often if I'm working on an executable I want my executable to fire off as well on a rebuild to regenerate the output. I'd like any feedback on adding this as a feature, I was thinking something along the lines of a `--file-watch-post=<command>`, where command is anything. Might as

[2015-07-01 06:35] joehendrix opened #473 "Script in stack similiar to cabal-install's bootstrap.sh?"
On some projects, I need to build from source on machines that are not connected to the internet.

It would be useful to me if stack came with a script capable of downloading the packages to build stack from a directory, and also to build stack from those archived packages.

Together with stack --dry-run, this would allow one to build a self-contained source archive containing all the main librari

[2015-07-01 07:06] adinapoli commented on #461
@dysinger yes, that seems a reasonable cause to me - I had to manually symlink /usr/lib64/libgmp.so.3 -> /usr/lib64/libgmp.so.10 hoping to fix things up, that's probably why I'm getting a different error as you are: that missing symbol error is probably the result of the GHC binary expecting a more updated version of libgmp.

@snoyberg  there are different reasons why I do not want to use the syst

[2015-07-01 07:11] rvion commented on #460
Thanks for those precisions :)
I'll update the original post to add your reason on cons list.
I'll also add a few other thought I had afterwise.

[2015-07-01 07:19] mboes commented on #458
Request submitted: https://github.com/travis-ci/travis-ci/issues/4169

@phadej in the meantime, you can install stack locally. It works great with Travis containers. See https://github.com/haskell-distributed/cloud-haskell/blob/master/.travis.yml for an example.

[2015-07-01 07:27] angerman opened #474 "Note that you can install stack through halcyon"
The latest site doesn't say how to install stack e.g. on debian 7. As debs are only provided for ubuntu and the provided binary doesn't work on debian 7 due to a libc missmatch

[code]

I guess it would be very helpful to know that you can just use `halcyon` to install `stack` from source. (e.g. if the distribution doesn't provide a recent ghc/cabal)
[code]

[2015-07-01 08:46] chrisdone commented on #467
Want to take a bash at fixing this? It'll be in here: https://github.com/commercialhaskell/stack/blob/master/src/Stack/Package.hs#L295..L321

[2015-07-01 09:03] alanz opened #475 "Dependency resolution for profiling (under GHC 7.10.2 prerelease)"
Using https://github.com/alanz/ghc-exactprint/tree/b36bf21659cac048cf3e7d215b1a2c0de4bf1158 with the current ghc-7.10 head, I find

    stack test

compiles and runs the tests.

However,

    stack test --library-profiling
    stack test --executable-profiling

both result in a whole lot of output culminating in

[code]

stack --version
Version 0.1.1.0, Git revision bf086c6d5f8e86e95f161c38c596a6d

[2015-07-01 09:14] alexbiehl opened #476 "auto-bundle to Docker container"
What about a command which copies the project output (binaries, extra-source-files etc) to a Docker container. Something like `stack dockerize some/image --cmd run/some/binary` just with more appropriate configuration etc.. https://github.com/commercialhaskell/stack/issues/427 suggest similar with windows installers.

[2015-07-01 09:32] snoyberg commented on #475
Do you have the profiling version of the wired in packages installed? stack
can't do anything to rebuild them for you

On Wed, Jul 1, 2015, 10:03 AM Alan Zimmerman <notifications@github.com>
wrote:

[2015-07-01 09:37] alanz commented on #475
Nope. Oops. I thought I had done a standard build/install of the compiler.

Thanks

On Wed, Jul 1, 2015 at 11:32 AM, Michael Snoyman <notifications@github.com>
wrote:

[2015-07-01 09:39] mboes opened #478 "stack test should continue when a test suite fails"
Rationale:

* without this users have to manually specify test targets in order to skip the package with the offending test suite. It gets tiring.
* sometimes test suites are badly written, in which case a non-deterministic failure appears in some package. At this point it's not so helpful for `stack` to refuse to process the dependent test suites, when in previous invocations it would have.
* it'

[2015-07-01 10:04] mboes commented on #476
See #401.

[2015-07-01 10:38] philipdexter commented on #472
If this isn't implemented, may I suggest using already existing tools? [entr](http://entrproject.org/), for example, solves this. Also, simple scripting solves this. entr also removes the need for `--file-watch`, but we already have that, so.

[2015-07-01 10:50] #475 closed

[2015-07-01 11:26] snoyberg commented on #474
I'm definitely open to a documentation pull request for this. Also,I believe @dysinger is planning on including debs for vanilla Debian in addition to Ubuntu.

[2015-07-01 11:28] snoyberg commented on #472
Would it make more sense to simply add pre and post build hooks in general as opposed to specifically for the file watch case? Perhaps a concrete example of where this would be used could help.

[2015-07-01 11:31] snoyberg commented on #470
This is adding a lot of finicky behavior for a feature I was already on the fence about. I could be convinced otherwise, but right now I'm -1.

@manny-fp since you seemed interested in this feature, do you have any thoughts?

For the record, I've run up against situations already where presumably this symlink would be useful, and `stack path` worked perfectly for my scripting needs.

[2015-07-01 12:46] kantp commented on #399
Since it was mentioned here by @andrewthad, that issue in blaze-textual has just been resolved, and blaze-textual-0.2.1.0 supports integer-simple.

[2015-07-01 12:53] manny-fp commented on #470
`stack path` works for me too.

[2015-07-01 13:15] andrewthad commented on #399
woot!

[2015-07-01 13:16] manny-fp commented on #471
There are two Docker-related cases that come to mind where you might want to run stack as root:

1) Your system isn't setup to let non-root uses connect to the Docker daemon.  Using `sudo stack` is not recommended as a solution to this problem anyway, since it will mess up the permissions of any files it writes on your host filesystem.  Instead, best course of action is to allow non-root connectio

[2015-07-01 16:16] mtolly opened #479 "Touching preprocessor modules (alex, happy, c2hs) doesn't trigger a rebuild"
**Steps to reproduce:**

`new-template.cabal`:

[code]

`stack.yaml`:

[code]

`A.hs`:

[code]

`B.chs`:

[code]

`C.x`:

[code]

`D.y`:

[code]

**Expected:**

`touch`ing any of the four modules triggers a rebuild.

**Actual:**

[code]

[2015-07-01 16:42] mtolly commented on #237
`stack upgrade --git` worked great for me on OS X (upgraded from 0.1.1.0 to bf086c6d5f8e86e95f16).

[2015-07-01 16:48] cocreature commented on #232
I suppose it's not fully implemented yet, but for the record:

When I try to run `stack ide` on the `stack-ide` repo (which contains the ide-backend-server package) I get the following error
[code]

[2015-07-01 16:59] drwebb commented on #232
I'm a little bit further along than you, but not by much. (Apparently there has been some code shifting around recently that leaves stack-mode in emacs broken), but are you sure ide-backend-server is on your path? Did you follow the instructions at the `stack-ide` repo?

[2015-07-01 17:08] cocreature commented on #232
Obviously not, sorry :/

[2015-07-01 18:10] drwebb commented on #472
General pre and post hooks don't really appeal to me because I can just use my shell, i.e. `stack clean && stack build && stack install`. However when file-watch is running it is hijacking any control because it is running in a inner loop.

[2015-07-01 19:28] DanBurton commented on #468
I think "current LTS" is the preferable default, regardless of what is
already installed.

I'm not entirely opposed to a temporary hack to ease people onto ghc 7.10
if they already have it, though, since LTS 3 is so imminent.

-- Dan Burton

On Tue, Jun 30, 2015 at 6:48 PM, Tristan Webb <notifications@github.com>
wrote:

[2015-07-01 19:38] phadej commented on #458
@mboes thanks for the tip!

[2015-07-01 20:27] mgsloan commented on #470
Yup, from a quick google I thought windows had reasonable symlink support, but this turned out to be wrong.  Sad to see a good feature omitted due to Windows, but OS consistency is important.  Closing these issues and the PR.

[2015-07-01 20:27] #470 closed

[2015-07-01 20:30] mgsloan commented on #391
As mentioned in #470, we're not going to add this.

[2015-07-01 20:30] #391 closed

[2015-07-01 21:48] thuselem opened #480 "stack unable to build snowdrift on Windows 8.1 WAS: Build Error in Windows 8.1"
<b>Steps to reproduce:</b>
1. Windows 8.1
2. stack setup and install
3. MinGHC 32 and and stack added to path
4. git clone <a href="https://git.gnu.io/snowdrift/snowdrift.git">snowdrift</a>
5. stack build -v
6. Ran realgcc to verify installed and on path

<b>Expected:</b>
Successful build.

<b>Actual:</b>
Version 0.1.1.0, Git revision 91fe70306f51eb3d68667a0d6e09a7d7ebbeb2b6
2015-07-01 21:43:07.82

[2015-07-01 22:00] 3noch commented on #399
@kantp Are you able to provide 32-bit versions the bindists you already supplied? I'm having a hard time getting working GHC builds.

[2015-07-01 22:22] timbod7 opened #481 "Stack not detecting changes for incremental builds"
Trying out stack for the first time.

It builds my application correctly, but only rebuilds when Main.hs is touched, not the other files.

[code]

The cabal file only reference Main.hs:

[code]

[2015-07-01 23:05] razvan-panda commented on #466
1. removed MinGHC from path and deleted local/stack/cabal folders under roaming
2. ran stack setup --arch i386
3. added to path the paths suggested by stack
4. running stack build shows:

    [31 of 32] Compiling Model.User       ( Model\User.hs, .stack-work\dist\i386-windows\Cabal-1.18.1.5\build\SnowdriftEmailDaemon\SnowdriftEmailDaemon-tmp\Model\User.o )
    [32 of 32] Compiling Main

[2015-07-01 23:53] snoyberg commented on #466
Do the executables get generated successfully despite this error message?
Also, can you try running with --no-terminal to see if that avoids
corrupting the output? It looks like there's a separate bug to investigate
here regarding sticky logging on windows.

On Wed, Jul 1, 2015, 2:18 AM Răzvan Panda <notifications@github.com> wrote:

[2015-07-01 23:53] snoyberg commented on #457
Thanks for getting a repro on this. Based on previous testing, the problem
here is with the network library, not stack itself. If I provided you with
some sample programs, you think you could get them running on appveyor as
well?

On Tue, Jun 30, 2015, 3:01 PM Rémi Vion <notifications@github.com> wrote:

[2015-07-01 23:53] snoyberg commented on #473
I thought there was an issue open about this already, but I don't have
internet access right now so I can't check. The stackage-build-plan package
was specifically designed for generating such build scripts, and therefore
would probably be the right place to start. There's even support for it on
stackage.org that I can give more details about once I have an internet
connection.

Could you check ou

[2015-07-02 00:47] snoyberg commented on #481
This is a known limitation. Currently you need to mention additional
modules in other-modules. There's an open issue about tracking this
information properly, but I can't look it up right now due to no internet
access.

On Wed, Jul 1, 2015, 11:22 PM Tim Docker <notifications@github.com> wrote:

[2015-07-02 00:53] mgsloan commented on #313
I'll be working on removing the dependency on the cabal binary.

[2015-07-02 02:01] pseudonom opened #482 "`stack test` should not run concurrently by default"
As far I understand things, in a multi-project stack directory, tests are run concurrently (using `getNumCapabilities`). This has the potential to cause spurious errors for test suites which are not concurrency safe (and has for a stack directory I'm working with). That is,`stack test` fails where `stack test foo && stack test bar` succeeds.

Setting `jobs: 1` in `stack.yaml` resolves the problem,

[2015-07-02 02:42] angerman opened #483 "Lots of TlsException and FailedConnectionException"
Trying to build a project in a docker (deb7) container, building looks like this:

[code]

Not sure what causes it, but keep rerunning `stack build` is not a good solution I think ;-)

[2015-07-02 02:49] angerman opened #484 "stack fails to download ghc binaries"
It seemed to me like stack setup tried to download and install ghc from source, could stack not reuse/share halcyons prebuild ghc versions? (e.g. `halcyon install --ghc-version=... --cabal-version=...`) fetches binaries for the current platform, which is a lot faster.

Building ghc is one of those things in my experience that takes very long.

[2015-07-02 02:54] mgsloan commented on #483
I got the same thing a couple minutes ago, and I'm writing this comment 9 minutes after you created this issue.  So, it may be a temporary glitch in availability.  At the time, I'd chalked it up to my dialup speed cellphone internet (throttled after 5gb are used up, ugh!)

[2015-07-02 02:56] angerman commented on #483
This has happened to me only in the docker container. And internet shouldn’t be
an issue here. Yet, maybe it gets better later today.

Still, I think stack should bail out more gracefully and retry a few times.

[2015-07-02 02:57] mgsloan commented on #483
Yup, I agree.  Even if it is an availability glitch, retry would be nice so that you don't need to manually rerun `stack build`.

[2015-07-02 03:31] mgsloan commented on #298
I'm closing this in favor of #426, which proposes adding a flag to send ghc output to stdout.

[2015-07-02 03:31] #298 closed

[2015-07-02 04:23] kantp commented on #399
@3noch Sorry, I just noticed your comment above I didn't respond to. Was that failed build on a 32 bit machine?

[2015-07-02 05:44] snoyberg commented on #484
That's how we do things already. stack never builds GHC from source.

On Wed, Jul 1, 2015, 7:49 PM Moritz Angermann <notifications@github.com>
wrote:

[2015-07-02 07:32] rvion commented on #457
Yes, I think.
Setting up an other appveyor project just running binaries should be simple.

Few notes:
 - Current appveyor setup experimentation for stack is here: https://github.com/rvion/stack/pull/2/files
 - When US wakes up, appveyor free builds delay increase to ~10/20 minutes
 - I'm on a mac, without much experience on windows shell scripting.

[2015-07-02 07:43] angerman commented on #484
`stack setup` just took very long and at some point I killed it. Today I ran it again and it threw an Exception, that it could not download the file. This leads me to believe that there's something not working properly with the network stack in `stack`, as `stack build` keeps on bailing out with exceptions as well.
Strangely enough `curl` and and `halcyon` do not have any issues downloading source

[2015-07-02 07:52] radix commented on #484
@angerman can you please show exactly what errors you're seeing (and perhaps search for similar bugs / file new ones about the errors)

[2015-07-02 08:00] angerman commented on #484
The `stack build` errors are in #483. Currently I'm getting `TlsException (HandshakeFailed Error_EOF)` every third package on average.

Here's what `stack setup` looks like (I altered `Setup.hs` to show the url as well):

[code]

[2015-07-02 08:38] phadej commented on #458
After a bit of tweaking got running on two different ghc: https://github.com/futurice/fum2github/blob/master/.travis.yml

To make travis story even more complete (for stack), this is vital: https://github.com/travis-ci/travis-ci/issues/4173

[2015-07-02 08:39] phadej opened #485 "stack and ghc-head?"
Is it possible at all? I tried `stack setup --system-ghc` but it didn't work, it started to download *ghc-7.10.1`:

https://travis-ci.org/futurice/fum2github/jobs/69253335

[2015-07-02 10:53] snoyberg commented on #485
See https://github.com/commercialhaskell/stack/issues/423 for a discussion which ended with adding --skip-GHC-check. If this works for you, it would be great if you could add it to the FAQ for others in the future.

[2015-07-02 10:55] snoyberg commented on #458
Once this is all working, I think we should have a wiki page dedicated to using stack for Travis. This is really great stuff.

[2015-07-02 11:00] snoyberg commented on #468
For the record, I asked @drwebb to open this issue. Your point is valid @danburton, it really isn't clear that any change from our current behavior would be a good one. An example of a downside would be a user being pushed to a stale LTS just because he/she has a distribution provided GHC.

Does anyone feel strongly that we should change the default? If not, let's attack this with better documenta

[2015-07-02 11:10] snoyberg commented on #472
That answer doesn't change my thoughts on generalizing the feature at all. Just because your use case only requires it work in one instance doesn't mean we shouldn't make the feature more general.

[2015-07-02 11:14] snoyberg commented on #480
Can this be merged with #466?

[2015-07-02 11:21] snoyberg commented on #484
Pinging @drwebb and @DanBurton. Let's improve the download code and consider hosting on S3 instead add well.

@vincenthz Any thoughts on the failures mentioned above?

[2015-07-02 11:29] alanz commented on #485
Here is an example of using stack with ghc head

https://github.com/alanz/ghc-exactprint/blob/wip/test.sh
and
https://github.com/alanz/ghc-exactprint/blob/wip/stack-7.11.yaml

Very straightforward, but using system-installed ghc head

[2015-07-02 12:16] vlatkoB opened #486 "[Question] Why doesn't stack use `extra-deps` from custom package's `packages`?"
Hi,

I have one custom package that all my projects use, StdImports, and it is building fine with this .yaml:
[code]
Any project that is using the above StdImports must specify StdImport's `extra-deps` as well.

[code]
Without it, it wouldn't build. Shouldn't `stack` read .yaml of custom package, and use any info it finds there for building?

Or, is there another way to fake shared sandbox, and in

[2015-07-02 13:02] 3noch commented on #399
@kantp My first attempts at building were for 64-bit. Once I got the build to finish I moved on to 32-bit since those are the remaining builds we need before `stack` can fully support both LTS 2 and nightly with a integer-simple version. I was building 32-bit on a 64-bit machine and realized that the build system was getting quite confused. I'm about to start over on a 32-bit VM in hopes it doesn'

[2015-07-02 13:07] mboes commented on #482
I consider this a doc problem, rather than a defaults problem: if test suites claim exclusive access to system resources, then arguably this is a bug in the test suites, or if test suites really must claim exclusive access to system resources, then they should learn to block rather than fail waiting for the resource to become available.

I think it's important to make the common case predictable a

[2015-07-02 14:09] vamega commented on #465
I'd love to have this work, is there anything I can do to assist with this?

[2015-07-02 14:30] snoyberg commented on #486
I was thinking about behavior like this just yesterday. I'd say the right
thing to do would be to have an import rule in the yaml file to include
values in other locations. This would keep the explicit nature of
stack.yaml but give the composability desired.

On Thu, Jul 2, 2015, 5:16 AM vlatkoB <notifications@github.com> wrote:

[2015-07-02 15:40] jkozlowski commented on #337
@mgsloan: I only just tried your workaround, and got:
``` WARNING: Using boot2docker is NOT supported, and not likely to perform well.``` and then a bunch of errors. So I guess it doesn't the docker support is not full on Mac OS X.

[2015-07-02 15:45] snoyberg commented on #337
@jkozlowski I believe that's currently the case, but it's being worked on. I'd suggest we move the Docker discussion though to a different issue, I'm sure @manny-fp will have some advice since he uses our Docker support on Mac OS X regularly.

[2015-07-02 15:47] jkozlowski commented on #337
Thanks.

[2015-07-02 15:49] jkozlowski opened #488 "Docker support on Mac OS X with boot2docker"
Hi,

I followed instructions on https://github.com/commercialhaskell/stack/issues/337 to be able to run a ghcjs project on a Mac and got this:

[code]

@snoyberg suggested that @manny-fp might have some workarounds for this, would you be able to share?

[2015-07-02 15:52] snoyberg commented on #457
Can you try compiling and running the following program:

[code]

Only depends on base, bytestring, and network.

[2015-07-02 16:01] vlatkoB commented on #486
This is what I'd expect without reading docs:
1. Read `global` .yaml
2. Read `all .yamls` in custom locations (i.e. packages and any other sections)
    specified in current .yaml
3. Read `current` .yaml

Each next step overrides previous, if the same info exists.

This way we could have, for example, a global resolver if local is not specified, so changing LTS on a machine level would be easy. Al

[2015-07-02 16:03] snoyberg commented on #486
No, not quite. Please have a look at the stack.yaml Wiki page, which explains how the current inherit behavior works. It is specifically *not* at project-level settings such as resolver, as that would trivially lead to things breaking on one machine and succeeding on another. My thought was that we could have something like:

[code]

or the equivalent.

[2015-07-02 16:09] snoyberg commented on #483
This may be an upstream issue with tls, see: https://github.com/vincenthz/hs-tls/issues/109

[2015-07-02 16:09] snoyberg commented on #484
This may be an upstream issue with tls, see: https://github.com/vincenthz/hs-tls/issues/109

[2015-07-02 16:49] vlatkoB commented on #486
I think we'll be loosing a lot of flexibility and introducing more manual work, so that a project can be built on another machine, or at another time.
I agree both indeed are of outmost importance and understand that is the problem `stack` is trying to solve, but maybe that can be done in another way.

If local packages are specified, the project wouldn't build on another machine as well.
That mig

[2015-07-02 17:04] snoyberg commented on #486
I'm really not getting it though. Why is:

[code]

any worse than:

[code]

?

[2015-07-02 17:32] drwebb commented on #468
I agree with the better docs suggestion, I'm not sure how it works at the moment, but `stack init`should do more than just suggesting downloading GHC 7.8 through `stack setup` if the user has GHC 7.10 already, and pose another option to be to use an appropriate nightly resolver. Apologies if this is already the case, I haven't tested on a fresh system.

[2015-07-02 17:34] pseudonom commented on #482
I agree that better documentation would go a long way.

Our use case doesn't seem so exotic. We're doing integration tests with a database. At the end of each test suite, the suite cleans up after itself by truncating the tables it touched. When run concurrently, this clean-up is likely to break any other executing suites touching those tables.

I think the current behavior is extremely unexpected

[2015-07-02 17:42] snoyberg commented on #484
Let's keep the discussion on #483, which has the more pertinent title.

[2015-07-02 17:42] #484 closed

[2015-07-02 17:45] snoyberg opened #489 "Documentation for common non-standard project initialization"
It seems that the common cases for starting a project (just run `stack new` or `stack init` and take the defaults) do not cause people trouble. However, a number of users- especially those coming from specific cabal-imposed workflows- have trouble getting started with stack. We should address this with clear documentation on how to get started in the non-standard cases.

Since @drwebb has been hel

[2015-07-02 17:47] snoyberg commented on #480
True story: when updating the title, I initially typed "snoydrift"

[2015-07-02 17:48] snoyberg commented on #479
Assigning to @chrisdone. I think this should just be a case of needing a few more built-in module extensions to match Cabal's behavior.

[2015-07-02 17:49] snoyberg commented on #476
@alexbiehl I'm going to close this so we can focus discussion on #401.

[2015-07-02 17:49] #476 closed

[2015-07-02 17:50] snoyberg commented on #481
The other issue is #105, which @DanBurton is working on. I'll assign this issue to him as well, though the resolution should be the same for both.

[2015-07-02 17:52] snoyberg commented on #480
Closing in favor of #466, let's continue the conversation there

[2015-07-02 17:52] #480 closed

[2015-07-02 17:59] snoyberg commented on #473
Now that I'm on the ground, how's this look for installing with GHC 7.10.1?

https://www.stackage.org/nightly-2015-07-01/build-plan?package=stack&_accept=application/x-sh

[2015-07-02 18:00] snoyberg commented on #473
If you could test this, I'd appreciate it. If this works for you, would you consider updating the Downloads page with this information? Also, I think the following will always be up-to-date:

https://www.stackage.org/nightly/build-plan?package=stack&_accept=application/x-sh

[2015-07-02 18:02] snoyberg commented on #468
We want `stack init` to avoid getting in your face. If it can't find a matching snapshot, it gives you options for choosing one explicitly. You can give it command line parameters to let it know what your preferences are. I think we should include this in #489. I'm going to close this and we'll focus on #489 instead.

[2015-07-02 18:02] #468 closed

[2015-07-02 18:05] snoyberg commented on #464
The network issues are being tracked in #483. Better documentation for getting started with a cabal-oriented mindset are at #489. With those covered, I'm going to close this.

[2015-07-02 18:05] #464 closed

[2015-07-02 18:05] snoyberg commented on #463
Since this is known behavior coming from something outside of stack's control that's already being worked on, closing.

[2015-07-02 18:05] #463 closed

[2015-07-02 18:06] snoyberg commented on #462
I'm going to close this as unnecessary based on the `--only-snapshot` flag. If there's some issue with this, let's discuss (probably in #387).

[2015-07-02 18:06] #462 closed

[2015-07-02 18:08] vlatkoB commented on #486
No, no problem there. That's a solution with clear meaning. It's a solution for the initial problem.
My last post was more about project-level .yaml isolation, and the lack of inheritance which I find very useful.

[2015-07-02 18:09] snoyberg commented on #453
@pharpend I think general consensus is that this is too special-case to be handled well by stack.

[2015-07-02 18:09] #453 closed

[2015-07-02 18:10] snoyberg commented on #449
@chrisdone any thoughts?

[2015-07-02 18:13] snoyberg commented on #486
I'm afraid I don't understand your last post then, can you clarify? As far as automatically grabbing extra config values from random stack.yaml files: it can be very confusing from a principle-of-least-surprise.

[2015-07-02 18:14] snoyberg commented on #448
@manny-fp As our relative Mac expert, any thoughts?

[2015-07-02 18:17] snoyberg commented on #445
My overall thought is: a lot of what you're trying to do is force cabal-centric workarounds into stack. stack really doesn't need to use a custom Hackage mirror to get extra packages, it has better ways of doing it (which aren't available in cabal-land). We never automatically grab packages from any package index, because that means the reproducibility of a build depends on what's in the upstream

[2015-07-02 18:17] #445 closed

[2015-07-02 18:18] snoyberg commented on #302
Haven't heard feedback on this, closing.

[2015-07-02 18:18] #302 closed

[2015-07-02 18:18] snoyberg commented on #488
I just noticed #194, which I believe is designed to address this case. If so, @manny-fp please close this and let's focus discussion around #194.

[2015-07-02 18:21] snoyberg commented on #143
I believe this is fully implemented, closing. Please reopen otherwise.

[2015-07-02 18:21] #143 closed

[2015-07-02 18:24] snoyberg commented on #422
For now, I'm going to close this issue, as there doesn't seem to be a perfect way to implement this without introducing the possibility of some systems of getting an exception when printing the exception... which is clearly not what we want.

[2015-07-02 18:24] #422 closed

[2015-07-02 18:25] #411 closed

[2015-07-02 18:26] snoyberg commented on #403
I don't see anything clearly actionable without breaking some people's workflows, so closing. If someone has a suggestion to move forward, please bring it up.

[2015-07-02 18:26] #403 closed

[2015-07-02 18:27] adinapoli commented on #445
Hey Michael,

thanks for replying. Yes, I'm now a couple of days into Stack and I can see where you are coming from. In my "defence" I think the cabal-centric approach stems as the result of trying to apply the past of least resistance when migrating and incorporate stack into the everyday workflow.

I can imagine there are others like me falling into the same pitfalls. Looking forward to reading

[2015-07-02 18:27] snoyberg commented on #115
Following #390: running `stack config set resolver nightly` should set to the newest nightly. Other similar kinds of shortcuts should be allowed too (e.g., lts-2 for newest LTS 2.x).

[2015-07-02 18:27] snoyberg commented on #390
I've added a comment to #115 about this issue, will continue tracking this there.

[2015-07-02 18:27] #390 closed

[2015-07-02 18:30] snoyberg commented on #382
I've updated the FAQ with a clarification about this, closing.

[2015-07-02 18:30] #382 closed

[2015-07-02 18:31] rodlogic commented on #484
Could [this](https://blogs.aws.amazon.com/security/post/TxCKZM94ST1S6Y/Introducing-s2n-a-New-Open-Source-TLS-Implementation) have anything to do with it?

[2015-07-02 18:32] snoyberg commented on #445
Cool, glad to hear it! And the feedback here was helpful. Even if I'm stubbornly stick to my guns on stack being right here[1], it helps us to know what needs more clarification.

[1] Well, I hope I'm not really _that_ stubborn

[2015-07-02 18:33] snoyberg commented on #484
Probably not, since the errors being reported here happened with haskell.org, which isn't on Amazon hardware.

[2015-07-02 18:33] adinapoli commented on #445
Glad it was useful, I wrote that with that ultimate purpose in mind! I really like where stack is going, I was just playing the devil's advocate, trying to anticipate any possible doubt/skepticism from the rest of my team :wink:

[2015-07-02 18:34] alanz commented on #115
Would `stack config set resolver nightly` update the per-project config or the global (on a given machine) config?

Because if the latter, it makes it simple to move a given dev environment as a whole onto a different snapshot/nightly.

[2015-07-02 18:37] snoyberg commented on #438
@aceLren Any success with this?

[2015-07-02 18:38] snoyberg commented on #373
Closing this. I'll be happy to provide feedback on how to implement a helper library to make this easier, but I don't think stack should be building in this functionality.

[2015-07-02 18:38] #373 closed

[2015-07-02 18:39] snoyberg commented on #377
We seem to have stalled on this. @conklech do you have any feedback on my last point?

[2015-07-02 18:40] snoyberg commented on #361
I'm quite tempted to close as wontfix. I haven't seen the use case clearly demonstrated that `stack uninstall` would be useful. I know others ask for this all the time though, which is why I'll leave this open a bit longer.

[2015-07-02 18:41] snoyberg commented on #353
Can this issue be closed now?

[2015-07-02 18:42] snoyberg commented on #319
I think the original issue is resolved. If there are problems, please report in a new issue to avoid confusion.

[2015-07-02 18:42] #319 closed

[2015-07-02 18:42] snoyberg commented on #222
Passing to @mgsloan to finish implementation.

[2015-07-02 18:44] snoyberg commented on #115
I think it would do both: `stack config` should work the same way as `stack exec`/`stack ghci`, using a local project config if available, otherwise falling back to the default global (aka `ExecStrategy` in the code base). Thanks for pointing out this requirement.

[2015-07-02 18:48] snoyberg commented on #482
For the record, we've had users request specifically to have their tests run in parallel, so it's impossible to have a default that satisfies everyone's expected default behavior. The current behavior though does provide consistency with both cabal and the rest of the build experience (which is in parallel), and for most use cases will work and be faster.

In other words: I agree with @mboes here

[2015-07-02 18:55] razvan-panda commented on #466
Ran stack build again and checked the build. The Snowdrift.exe is there but SnowdriftEmailDaemon.exe is not. I'll run it with `--no-terminal` next.

[2015-07-02 18:58] thuselem commented on #480
Alright. Sounds good.

[2015-07-02 19:02] chreekat opened #490 "stack crash on EC2 64-bit Windows Server 2012"
Windows report:

    Problem signature:
      Problem Event Name:	APPCRASH
      Application Name:	stack.exe
      Application Version:	0.0.0.0
      Application Timestamp:	558d2f5f
      Fault Module Name:	KERNELBASE.dll
      Fault Module Version:	6.3.9600.17415
      Fault Module Timestamp:	54504ade
      Exception Code:	40010006
      Exception Offset:	00014598
      OS Version:	6.3.9600.2.0.0

[2015-07-02 19:07] razvan-panda commented on #466
Running with --no-terminal:

    $ stack build --no-terminal
    failure-0.2.0.3: configure
    yesod-markdown-0.9.4: configure
    failure-0.2.0.3: build
    failure-0.2.0.3: install
    mime-0.4.0.2: configure
    yesod-markdown-0.9.4: build
    titlecase-0.1.0.1: configure
    mime-0.4.0.2: build
    github-0.13.2: configure
    yesod-markdown-0.9.4: install
    titlecase-0.1.0.1: build
    mim

[2015-07-02 19:10] chreekat commented on #490
With verbose:

    PS C:\Users\Administrator\snowdrift> stack setup --verbose
    Version 0.1.1.0, Git revision 91fe70306f51eb3d68667a0d6e09a7d7ebbeb2b6
    2015-07-02 19:09:28.5356734: [debug] Checking for project config at: C:\Users\Administrator\snowdrift\stack.yaml @(stack-0.1.1.0:Stack.Config src/Stack\Config.hs:489:9)
    2015-07-02 19:09:28.5356734: [debug] Loading project config file stack

[2015-07-02 19:12] razvan-panda commented on #466
Might have something to do with that mixed windows/unix style path:

    C:\Users\Razvan\AppData\Local\Programs\stack\i386-windows\ghc-7.8.4\lib/../mingw/bin/gcc.exe

Explorer/cmd seems to recognize mixed  paths like that. Trying to navigate to the same folder in msys git seems to strip the backslashes:

    $ cd C:\Users\Razvan\AppData\Local\Programs\stack\i386-windows\ghc-7.8.4\lib/../mingw/bin/

[2015-07-02 19:14] 3noch commented on #399
Ok I have a build of 32-bit GHC 7.10.1. Now working on 32-bit 7.8.4. @snoyberg We now have enough to at least support this natively for `nightly` snapshots. I imagine the backend work is pretty straightforward.

[2015-07-02 19:16] 3noch commented on #399
If we support nightly snapshots at this point, other resolvers will simply report that GHC is not available for that OS/arch/whatever.

[2015-07-02 19:16] 3noch commented on #399
They can be added after the fact without any new releases.

[2015-07-02 19:23] manny-fp commented on #488
Yes, #194 is the same thing.  Basically the workaround goes something like this:

1. Create a VM that has Docker server installed.
2. Modify Docker config in the VM so that it listens on a TCP socket.
3. Create a user in the VM with the same UID and GID as the user on your host OS.
4. Set up a reliable shared filesystem between the host and the VM, in the same same location on the filesystem (e.g.

[2015-07-02 19:23] #488 closed

[2015-07-02 19:38] razvan-panda commented on #466
The `@(<unknown>:<unknown> <unknown>:0:0)` issue appears when using `-v` argument (regardless of presence of `--no-terminal`):

    $ stack build --no-terminal -v
    Version 0.1.1.0, Git revision 91fe70306f51eb3d68667a0d6e09a7d7ebbeb2b6
    2015-07-02 19:34:36.1596524: [debug] Checking for project config at: D:\Forks\snowdrift\stack.yaml @(stack-0.1.1.0:Stack.Config src/Stack\Config.hs:489:9)

[2015-07-02 20:00] manny-fp commented on #448
Try adding all your modules to `exposed-modules` or `other-modules` in your .cabal file.  E.g.,

[code]

[2015-07-02 20:20] razvan-panda commented on #466
Same error on 64 bit arch.

[2015-07-02 20:27] snoyberg commented on #490
Looks like a dupe of https://github.com/commercialhaskell/stack/issues/393.
See also https://github.com/commercialhaskell/stack/issues/457

On Thu, Jul 2, 2015, 12:10 PM Bryan Richter <notifications@github.com>
wrote:

[2015-07-02 20:38] gregwebs commented on #482
Regardless of the default, is there a way to configure the number of jobs differently for building and testing (or otherwise indicate to only run tests in serial) ?

[2015-07-02 20:39] aceLren commented on #438
I ran `tls-retrievecertificate` (after building with a previous cabal / ghc installation) but it resulted in:

    tls-retrievecertificate: HandshakeFailed (Error_Packet_Parsing "Failed reading: invalid header type: 72\nFrom:\theader\n\n")

I've tried a couple other things but haven't been able to get the certificate to work; still getting the same error.

[2015-07-02 20:44] dysinger opened #491 "Stack cmd to produce docset(s) for https://kapeli.com/dash or http://zealdocs.org/"
I would like to be able to quickly generate docsets for zeal (or dash.app) for a project.  Offline hotkey search of APIs is handy.

Currently I use the cabal based `dash-haskell` with some command line foo:
`cabal list --installed|grep -e '^\*'|sed 's/\* //g'|parallel --no-notice dash-haskell -o ~/.local/share/Zeal/Zeal/docsets`
... but it doesn't yet work with cabal 1.22 and I'm lazily relying on

[2015-07-02 20:55] snoyberg commented on #482
No, not currently. Added a lock such that only one test job can run at a time is straightforward though.

[2015-07-02 21:14] snoyberg commented on #491
If we can get this added to stackage-curator, then we can generate that output for all users with each build. What is the resulting artifact from the above command? Is it a single file, a directory, etc?

[2015-07-02 21:14] chreekat commented on #490
Dupe of #393

[2015-07-02 21:14] #490 closed

[2015-07-02 21:26] snoyberg commented on #438
The change on stackage.org is that we stopped using stackage.org completely. Instead, all files are downloaded from S3.

This error report looks like it might need to get moved to the [hs-tls issue tracker](http://github.com/vincenthz/hs-tls/issues/new), I'm not sure how much else we can do here.

[2015-07-02 21:29] thuselem commented on #466
No executables were generated for me, with of without --no-terminal flag.

<b>Output with --no-terminal flag:</b>
failure-0.2.0.3-0bf83660d04262e783b262f4365bf77d: unregistering (flags changed f
rom ["--datadir=C:\\Users\\thuselem\\snowdrift\\snowdrift\\.stack-work\\install\
\i386-windows\\lts-2.13\\7.8.4\\share","--docdir=C:\\Users\\thuselem\\snowdrift\
\snowdrift\\.stack-work\\install\\i386-wind

[2015-07-02 21:31] snoyberg commented on #466
What's the output of `stack exec which realgcc`? On my system:

[code]

Also, if you have some instructions on getting the PostgreSQL libraries set up on Windows, I'd appreciate it so I could try reproducing. (Yes, I've managed to avoid testing PostgreSQL on Windows until this point in my life somehow...)

[2015-07-02 21:34] razvan-panda commented on #466
On my system:

    $ stack exec which ghc.exe
    /c/Users/Razvan/AppData/Local/Programs/stack/i386-windows/ghc-7.8.4/bin/ghc.exe

Instructions [here](https://github.com/snowdriftcoop/snowdrift/blob/master/SETUP_WINDOWS.md) for setup, including postgres libs.

[2015-07-02 21:34] snoyberg commented on #466
Could you try realgcc?

[2015-07-02 21:35] razvan-panda commented on #466
I'll have to figure out how, first time I hear about it.

[2015-07-02 21:36] razvan-panda commented on #466
Posted a question on SO also about the non-descriptive ghc error: http://stackoverflow.com/q/31194891/750216

Any idea if we can get more details of the error from ghc or gcc?

[2015-07-02 21:36] snoyberg commented on #466
I meant: `stack exec which realgcc` instead of `stack exec which ghc.exe`

[2015-07-02 21:37] razvan-panda commented on #466
Oh, I thought I had to do the analogous command. Wasn't aware I had that executable too:

    $ stack exec which realgcc
    /c/Users/Razvan/AppData/Local/Programs/stack/i386-windows/ghc-7.8.4/mingw/bin/realgcc

[2015-07-02 21:39] conklech commented on #377
@snoyberg Unfortunately I don't have much feedback on that post.

I suppose the best route for progress would be to determine where the pkg-config errors in the original post actually come from; it might be a narrower problem than we've assumed, and unrelated to having parallel MSYS installations or otherwise easily fixable.

Interestingly, the presence of the pkg-config tool itself changes the er

[2015-07-02 21:44] 3noch commented on #399
@snoyberg The 32-bit build is temporarily hosted (here)[https://drive.google.com/file/d/0B1Q2wj7eQ5WbVVJOeVdVZUxQZ2s/view?usp=sharing].

[2015-07-02 21:44] vyp commented on #353
Correct me if I'm wrong but the old AUR becomes obsolete in a few days right?

[2015-07-02 21:49] snoyberg commented on #377
What's the output for `stack exec -- pkg-config --moduleversion cairo`?

[2015-07-02 21:54] gregwebs opened #492 "Force test suites to run serially instead of concurrently WAS: separate configuration for test execution"
Our example use case is that we always want build parallelism (including building of the test suite).
However, we would like to run the test suites serially (configure as `jobs: 1`) to avoid contending over shared resources such as the database.

[2015-07-02 21:55] gregwebs commented on #482
since it seems unlikely that the default will be changed, I opened #492. We can close this issue after updating the docs

[2015-07-02 21:56] snoyberg commented on #492
I'm concerned about the implied scope of this based on the title: "separate configuration" can mean a lot of things, whereas "don't run tests in parallel" means only one thing. Is there some other example of configuration you want control over like this?

[2015-07-02 21:56] conklech commented on #377
(For the record, it's `--modversion`; I messed that up.)

    $ pkg-config --modversion cairo
    1.14.2

    $ stack exec -- pkg-config --modversion cairo
    Package cairo was not found in the pkg-config search path.
    Perhaps you should add the directory containing `cairo.pc'
    to the PKG_CONFIG_PATH environment variable
    No package 'cairo' found

There's some path mangling going on:

[2015-07-02 21:57] conklech commented on #377
Should have included the contents of the environment variable:

    $ echo $PKG_CONFIG_PATH
    /mingw64/lib/pkgconfig:/mingw64/share/pkgconfig

    $ stack exec -- echo $PKG_CONFIG_PATH
    C:\msys64\mingw64\lib\pkgconfig;C:\msys64\mingw64\share\pkgconfig

[2015-07-02 22:02] gregwebs commented on #492
Right now I don't have other use cases. One thing I can think of that I have needed before (but probably shouldn't because it is really a hack) is setting flags differently.

[2015-07-02 22:03] gregwebs commented on #482
I put a blurb about project testing at the bottom of the Architecture page. Feel free to edit/move it

[2015-07-02 22:04] gregwebs commented on #492
Original issues was #482. @pseudonom @mboes

[2015-07-02 22:04] kgadek opened #493 "stack build doesn't work without explicit package name (imprecise docs?)"
**Steps to reproduce:**

1. `mkdir -p aa/src build`
2. `echo 'main = putStrLn "aa"' > aa/src/Main.hs`
3. use `build/stack.yaml` as shown below
4. `cd build && stack build`

`build/stack.yaml`:
[code]

**Expected:**

As mentioned in `stack build --help`, I expected the stack to build `aa`:

**Actual:**

No output, only `build/.stack-work` created.

Here is the `stack ---version` output:

[code]

He

[2015-07-02 22:06] drwebb commented on #353
Yeah let's close it. The issue has been resolved for a while now.

@vyp The official switch will be August 8th. After July 8th any package not on AUR4 is up for grabs, as in you can take it over. Might be a good time to take over some Haskell binaries and switch them to building with stack, if you are so inclined. :)

[2015-07-02 22:06] #353 closed

[2015-07-02 22:09] snoyberg commented on #377
OK, I do think that having an option to skip the local MSYS and use your existing one will solve the problem. I'm implementing this now. Could you test master once I push this?

[2015-07-02 22:13] conklech commented on #377
Err, hold on a sec. Per [this msys2 bug report](http://sourceforge.net/p/msys2/tickets/143/), I should be using the package `mingw-w64-x86_64-pkg-config` instead of `pkg-config`.

With that package, things seem to work fine from `stack`'s end; `glib`, `cairo`, etc. build and install happily. (`pango` fails building for an apparently-unrelated reason, so I can't test yet.)

Possibly NOTABUG.

[2015-07-02 22:14] DanBurton commented on #411
One could implement this leveraging stack's plugin system in order to
invoke `stack switch` as desired, without having to actually add it to
stack.

On Thursday, July 2, 2015, Michael Snoyman <notifications@github.com> wrote:

--
-- Dan Burton

[2015-07-02 22:14] snoyberg commented on #377
Heh, that's interesting. Nonetheless, I see value in offering the ability to not use a custom MSYS, so I'll continue with the (almost complete) implementation.

[2015-07-02 22:15] conklech commented on #377
Fine by me; and yes, I'll test once you push it.

[2015-07-02 22:16] DanBurton commented on #484
Under what circumstances are things going wrong?

On Thursday, July 2, 2015, Michael Snoyman <notifications@github.com> wrote:

--
-- Dan Burton

[2015-07-02 22:16] snoyberg commented on #377
Pushed, but completely untested by me. Caveat emptor (though I'll build it on Windows myself now).

[2015-07-02 22:22] DanBurton commented on #361
If we haven't already, we should print a helpful message if people call
`stack uninstall`. (But preferably it shouldn't show up in the bash
completion or the --help.)

On Thursday, July 2, 2015, Michael Snoyman <notifications@github.com> wrote:

--
-- Dan Burton

[2015-07-02 22:24] snoyberg commented on #377
(Should have mentioned: try `stack --skip-msys build`)

[2015-07-02 22:25] snoyberg commented on #466
I can confirm reproducing this problem. I'll see if I can get any more useful information.

[2015-07-02 22:28] razvan-panda commented on #466
Thank you. Having some discussion on freenode #haskell . I'll update if we figure something out.

[2015-07-02 22:29] conklech commented on #377
`stack --skip-msys build` seems to work fine. `stack --skip-msys update` also seems to work fine, even though it's using some completely different git install (msysgit, I think) that happens to be on $PATH.

Any other things to try?

[2015-07-02 22:32] snoyberg commented on #466
Here's the command that's failing for me:

[code]

Running this without stack (directly from the command line with no modified environment variables) fails as well.

[2015-07-02 22:34] snoyberg commented on #399
I've uploaded this to:

https://s3.amazonaws.com/download.fpcomplete.com/ghc/ghc-7.10.1-i386-unknown-mingw32-integer-simple.tar.bz2

[2015-07-02 22:38] razvan-panda commented on #466
geekosaur said on IRC that the error might be caused by reaching maximum command line length in Windows

"On computers running Microsoft Windows XP or later, the maximum length of the string that you can use at the command prompt is 8191 characters. On computers running Microsoft Windows 2000 or Windows NT 4.0, the maximum length of the string that you can use at the command prompt is 2047 charact

[2015-07-02 22:44] snoyberg commented on #399
I've also just pushed the fake OS `windowsintegersimple` so that a command like `stack build --os windowsintegersimple` should pull the right image. I'm doing some testing, though others are welcome to give it a shot too.

[2015-07-02 22:47] razvan-panda commented on #466
That could explain why other executables are linking correctly but SnowdriftProcessPayments is not.

Related: http://stackoverflow.com/a/17204862/750216

[2015-07-02 22:50] razvan-panda commented on #466
Maybe related, ShellExecute/Ex imposes a limit of around 2048 characters and the command you mentioned above has 4519 chars: http://blogs.msdn.com/b/oldnewthing/archive/2003/12/10/56028.aspx

[2015-07-02 22:54] razvan-panda commented on #466
If that is the problem, a solution might be using `CreateProcess()`

[2015-07-02 22:55] snoyberg commented on #466
The thing is that the call is coming from inside GHC, not from stack. I'm not sure what we can do about that.

[2015-07-02 22:56] razvan-panda commented on #466
I'm thinking that it must be somehow stack related as it was building previously with cabal install.

[2015-07-02 22:57] snoyberg commented on #377
I don't think so. Thanks for confirming, closing this issue.

[2015-07-02 22:57] #377 closed

[2015-07-02 22:59] snoyberg commented on #466
I agree that it's stack triggering this, I'm just not sure how, especially given that running the command directly on the command line works. There's also nothing I can see to change inside stack about how `CreateProcess` is called, if in fact that's the problem.

[2015-07-02 23:02] razvan-panda commented on #466
Could you post a link to the line of code where `CreateProcess` is called please?

[2015-07-02 23:05] snoyberg commented on #466
I don't know, it's deep inside GHC.

[2015-07-02 23:06] razvan-panda commented on #466
Oh, I meant to ask for the code which runs GHC from inside stack.

[2015-07-02 23:06] razvan-panda commented on #466
Maybe some context/rules are passed to it.

[2015-07-02 23:07] snoyberg commented on #466
We don't call GHC directly, but call Cabal. It's at: https://github.com/commercialhaskell/stack/blob/master/src/Stack/Build/Execute.hs#L629

[2015-07-02 23:12] snoyberg commented on #493
Thanks for the report. I think this is a duplicate of #366.

[2015-07-02 23:14] razvan-panda commented on #466
If I understand correctly both cabal-install and stack use cabal library to actually start the build. So we could figure out the problem by checking out what is different.

Stack takes into account for settings like, for Snowdrift.exe (succeeds in generating exe):

    if flag(dev) || flag(library-only)
        cpp-options:   -DDEVELOPMENT

    if flag(dev) || flag(library-only)
        ghc-option

[2015-07-02 23:33] etorreborre opened #494 "Set the Cabal version used to configure a project"
When I try to build my project I can see that it is configured with:
[code]

But my `Setup.hs` file requires `Cabal=1.22.3.0` (I'm on GHC 7.8 btw). Is there a way to select the cabal version to use?

[2015-07-02 23:40] snoyberg commented on #494
This isn't implemented yet, but it's planned under #174. If you're interested in hacking on this it will happen sooner. Let me know, and we can start to sketch out what the implementation would look like.

Mind closing this and discussing under #174?

[2015-07-03 00:09] manny-fp commented on #465
I'm just now running into this in the process of making RPMs for Centos 6.x.  Could stack look at the installed version of libgmp when deciding which GHC bindist to install (a centos-6.5/libgmp 4.x compatible bindist is provided at https://www.haskell.org/ghc/download_ghc_7_8_4#x86_64linux).

[2015-07-03 00:12] manny-fp commented on #465
Aside: would it make sense to provide separate stack binaries on the Github releases page for older libc/libgmp as well?  I could integrate building both into the release tool.  We could potentially "hard-code" the GHC bindist to use based on where stack was built (say, using a Cabal flag).

[2015-07-03 00:12] snoyberg commented on #465
Yes we can do that with a bit of hackery in Stack.Setup. It makes the story
for cross compiling in the future a little bit more difficult, but this
should be a good solution for now. Want to take a stab at this?

On Thu, Jul 2, 2015, 5:09 PM Emanuel Borsboom <notifications@github.com>
wrote:

[2015-07-03 00:15] razvan-panda commented on #466
Maybe related, in cabal library:

    multiStageProgramInvocation :: ProgramInvocation -> (ProgramInvocation, ProgramInvocation, ProgramInvocation) -> [String] -> [ProgramInvocation]

    -- | Like the unix xargs program. Useful for when we've got very long command
    -- lines that might overflow an OS limit on command line length and so you
    -- need to invoke a command multiple times to get a

[2015-07-03 00:31] snoyberg commented on #466
I'm still looking into this. My guess is that stack is triggering this by using absolute paths instead of relative paths in some places. We had previous cases (with the dist directory) where this caused Cabal to bug out on Windows.

[2015-07-03 00:36] razvan-panda commented on #466
The `@(<unknown>:<unknown> <unknown>:0:0)` issue appears in this log also:

https://github.com/commercialhaskell/stack/issues/456#issuecomment-117055642

[2015-07-03 01:52] 3noch commented on #399
Do you care if I keep the `doc` folder in these bindists? I doubt folks will be referring to the mostly broken docs in a privately maintained `stack` folder.

[2015-07-03 01:59] snoyberg commented on #399
I have no opinion on the matter. Since you're driving the usage of this right now, I'd say trust your judgement regarding what functionality is necessary.

[2015-07-03 02:04] 3noch commented on #399
Ok, I'll probably get rid of it since it will make the files smaller.

[2015-07-03 02:05] 3noch commented on #399
Looks like `stack` is deducing that I need `unix` to be build, which obviously fails:
[code]

[2015-07-03 02:09] snoyberg commented on #399
I know the problem, but can't fix it until tomorrow. We need to have
special handling in Stack.Package for OtherOS "windowsintegersimple" when
resolving flags. This shouldn't be too hard, want to take a crack at it?

On Thu, Jul 2, 2015, 7:05 PM Elliot Cameron <notifications@github.com>
wrote:

[2015-07-03 02:18] angerman commented on #484
Setup:
Host, OS X 10.10.4
Docker Container with debian:7.8 (from docker hub)
Stack installed from 0.1.1.0 source with halcyon

Trying to run `stack setup`

[2015-07-03 02:21] angerman commented on #483
How could we debug this properly? Is there a super chatty piece of stack that can be run on it's own just to see where things go wrong?  E.g. from #484 it even fails downloading ghc from haskell.org with `FailedConnectionException "www.haskell.org" 443`. Could one therefore feed stack just the url and get very verbose output, to maybe figure out what's wrong?

[2015-07-03 02:41] snoyberg commented on #483
I think the debugging you want would need to be done at the http-client
level.

On Thu, Jul 2, 2015, 7:21 PM Moritz Angermann <notifications@github.com>
wrote:

[2015-07-03 02:46] Toxaris opened #496 "Allow passing options to benchmarks"
I want to pass `--output something.html` to a criterion benchmark. `stack bench` seems to not support passing options to benchmarks, or maybe I'm missing something.

With cabal, I would do `cabal bench --benchmark-option="--output=$benchmark.html"`. If there were two benchmarks `bench1` and `bench2` in my project, that would build them both and then run them as `bench1 --output bench1.html` and `b

[2015-07-03 03:20] etorreborre commented on #494
No problem I'll close this one.

[2015-07-03 03:20] #494 closed

[2015-07-03 03:23] etorreborre commented on #174
Coming from #494.

I had a quick look at the code and I had the impression that the `getCabalPkgVer` function could try to get it version number from the `EnvOverride` but I don't know the code base enough to really tell.

[2015-07-03 03:42] dysinger commented on #491
stackage-curator is probably the best place for this (not stack). the output is a directory.

[2015-07-03 03:58] pharpend commented on #353
On Thu, Jul 02, 2015 at 02:44:59PM -0700, RWS wrote:

[August 8, 2015](https://wiki.archlinux.org/index.php/AUR#AUR_4)

Peter Harpending

[2015-07-03 03:58] manny-fp commented on #465
I'm thinking about the best way to detect the libgmp version.  Would it make sense for stack to run `ldd` on itself and use that to make the determination?

[2015-07-03 04:33] eckyputrady commented on #448
Thanks for the response.

I've tried it but still get the error. FYI, I also tried on Elementary OS Freya and got the same error.

[2015-07-03 04:35] manny-fp commented on #448
Hmm, interesting, that solved it for me when I tried it.  Did you run `stack build` after changing livelog.cabal, before running `stack ghci`?

[2015-07-03 05:31] pharpend opened #497 "Locally installed GHC fails to compile sanity check"
On `stack setup`, git tree at <https://git.gnu.io/snowdrift/snowdrift>.

[code]

This was after I installed stack through the AUR package.

[2015-07-03 05:35] thuselem commented on #466
Here is my output on realgcc:
<code>C:\Users\thuselem\snowdrift\snowdrift_local>stack exec which realgcc</code>
<code>/c/Users/thuselem/AppData/Local/Programs/stack/i386-windows/ghc-7.8.4/mingw/bin/
realgcc</code>

Looks about the same as Razvan's output. I used the same process for installing Postgres.

[2015-07-03 06:24] mtolly opened #498 "`stack ghci` doesn't see preprocessed (e.g. c2hs) files, and doesn't error"
**Steps to reproduce:**

[code]

`pkg-a.cabal`:

[code]

`A.chs`:

[code]

`stack.yaml`:

[code]

**Expected:**

Running `stack ghci` builds and loads module A (after preprocessing with `c2hs`).

**Actual:**

[code]

Actually you'll get this result if the A file is named anything other than `A.hs` (like `A.foobar`), or even if it doesn't exist at all.

So there are 2 bugs:

1. Module `A` is not lo

[2015-07-03 06:27] mboes commented on #482
I don't think caveats about project testing and further info about usage have their place in the Architecture doc, which documents the design. Moving to the FAQ.

[2015-07-03 06:51] mboes commented on #482
Moved here: https://github.com/commercialhaskell/stack/wiki/FAQ#my-tests-are-failing-what-should-i-do. @pseudonom please confirm.

[2015-07-03 07:07] mboes commented on #492
The configuration provides a default for all commands. Which can be overridden on the command line for specific commands. While it may be useful to provide per-command defaults in the config, could `stack test --jobs=1` do the job for now assuming that forcibly serializing test suite execution is something you view as a temporary hack? Or is pinning `jobs: 1` for tests something you want the abili

[2015-07-03 07:50] k-bx opened #500 "Remove `--haddock` and `--no-haddock` options from `stack haddock` command"
Hi. These two options don't seem to make sense to me, would be nice to remove them from `stack haddock --help` output.

Thanks!

[2015-07-03 08:01] k-bx opened #501 "UI improvement on "Build plan did not match your requirements""
I just wanted to build some haddocks on https://github.com/Gabriel439/lens repo to check out Gabriel's lens tutorial, and found one place for improvement.

Current experience:

[code]

From this point, it is clear (to me), that the next desired step would be to add `extra-deps` into latest (or other desired) versions of these packages, but it might not be clear for a new user.

Possible solutions:

[2015-07-03 08:07] phadej commented on #485
Seems it "works":
- `.travis.yml`: https://github.com/futurice/fum2github/blob/travis-head/.travis.yml
- example build: https://travis-ci.org/futurice/fum2github/jobs/69402198
except when it encounters stuff which doesn't work with GHC-7.11

Thanks for the tip. @snoyberg should we add this to travis page in https://github.com/commercialhaskell/stack/issues/458 or have a separate entry in FAQ?

[2015-07-03 08:09] chrisdone commented on #449
Haven't the foggiest what would cause that. I guess you could paste your `stack ghci Matrix -v` output? https://gist.github.com/

[2015-07-03 08:09] hesselink opened #502 "Use file hashes instead of modification time for tracking changes"
As mentioned in [this email thread](https://groups.google.com/forum/#!topic/haskell-stack/Zwv-FiCixMk), switching branches, using git stash, rebasing and other operations cause lots of rebuilds, since they change the modification time of files. On the other hand, switching to a branch and back shouldn't require any rebuilds, since the sources haven't changed.

To fix this, stack could track the ha

[2015-07-03 08:10] k-bx commented on #501
Somewhat related, after adding:

[code]

I run `stack build` and see:

[code]

Why does it need base of `==4.8.*`? `lts-2.16` lists `4.7.0.2`, `lens.cabal` asks for `< 5`. Really confusing to me.

[2015-07-03 08:10] chrisdone commented on #502
:+1:

[2015-07-03 08:13] alanz commented on #485
PS, semigroupoids does work with 7.11, you just need to add extra deps to your `stack.yaml`

[code]

[2015-07-03 08:20] zudov commented on #502
:+1

[2015-07-03 08:52] phadej commented on #485
@alanz, seems that had to add `lens-4.11` too in my example. It almost makes sense to have *mini-stackage* for kmett-universe.

[2015-07-03 09:40] eckyputrady commented on #448
Running `stack build` before running `stack ghci` fixed it for me.
Didn't expect that I have to run `stack build` first.

Thanks! :)

[2015-07-03 09:40] #448 closed

[2015-07-03 10:58] chrisdone commented on #448
I think there needs to be an implicit `stack build` before running `stack ghci`.

[2015-07-03 11:13] snoyberg commented on #485
Having it on the Travis page seems fine to me. Looks like the problem is resolved now, closing.

[2015-07-03 11:13] #485 closed

[2015-07-03 11:20] snoyberg commented on #497
That's quite unexpected, I haven't seen anything like that before. What happens if you run:

    /home/pete/.stack/programs/x86_64-linux/ghc-7.8.4/bin/ghc-pkg list

[2015-07-03 11:30] vlatkoB commented on #486
Maybe I expanded a bit from the original problem, but I was rather surprised that `stack` is envisioned with no inheritance at all, if I understood correctly. I explained what I expected/assumed in my [second post](https://github.com/commercialhaskell/stack/issues/486#issuecomment-118078198), and a partial solution I'd like to see in my [third post](https://github.com/commercialhaskell/stack/issue

[2015-07-03 11:39] snoyberg commented on #500
This should be a relatively isolated part of the code base. Want to take a stab at implementing this? I believe almost all of the code will be in src/main/Main.hs.

[2015-07-03 11:42] snoyberg commented on #478
@mboes I've implemented `--keep-going` with default behavior as described for `build`, `test`, and `bench`. Confirmed?

[2015-07-03 11:45] k-bx commented on #500
Ok, will do!

[2015-07-03 11:46] gregwebs commented on #482
great! I removed a few superfluous sentences from the entry.

[2015-07-03 11:47] gregwebs commented on #492
The main problem with that solution is that it serializes the build process but we only want to serialize the test execution.

[2015-07-03 11:50] snoyberg commented on #492
@gregwebs You don't have jetlagged kids, why are you awake right now?!?

I'm in favor of having something like `concurrent-tests: BOOL` in the YAML file. I doubt this will be the only report we get of test suites that share some resource. I'm actually in the middle of implementing this right now.

[2015-07-03 12:04] snoyberg commented on #492
OK, I've pushed a commit to recognize the `concurrent-tests` setting in stack.yaml. @gregwebs @pseudonom can you test this and let me know if it resolves the issue? If so, would you be able to update the stack.yaml Wiki page with a description of the feature?

[2015-07-03 12:06] snoyberg commented on #486
I do feel compelled to ask: did you read the stack.yaml wiki page that I referenced earlier? It is quite explicit about what is and is not inherited.

[2015-07-03 12:09] snoyberg commented on #501
There's already an open issue to get more precise information about recommendations (#116). This entails having a full dependency solver, which we're waiting on other people to provide. In the interim, the `stack solver` command will use cabal's dependency solver. We don't do that by default though due to the many bugs that exist there.

[2015-07-03 12:09] #501 closed

[2015-07-03 12:11] snoyberg commented on #502
I just thought of one possible downside to this: I can picture bug reports coming in of "I ran `touch foo && stack build` and nothing happened" since people won't expect stack to be this smart. I don't think this should block the feature from happening, but it's something we should be aware of.

[2015-07-03 12:13] hesselink commented on #502
If that's a concern, it could either be made an option (like it is in shake), or stack could add a flag like --force-rebuild.

[2015-07-03 12:14] snoyberg commented on #502
`--force-rebuild` would end up having the same behavior most like as running `stack clean` first, so I'm not too concerned about it.

[2015-07-03 13:16] snoyberg commented on #502
This is implemented in efd78d2.

@hesselink Could you give this a shot and see if it works for your use case?

@chrisdone Would you mind spot-checking the code? It's not too complicated, so I'm not that worried.

[2015-07-03 13:20] kevinsullivan commented on #302
THank you.

[2015-07-03 13:54] snoyberg commented on #433
Passing to @manny-fp who will be doing the releases this time around

[2015-07-03 14:06] hesselink commented on #502
@snoyberg Thanks, that's amazing! It works perfectly, there are no rebuilds after switching branches and then switching back. I also tested the 'no action' build time, and it didn't change in my (completely unscientific) tests, staying at ~3.0s.

[2015-07-03 14:08] snoyberg commented on #502
Awesome! I'm still dissatisfied with the null builds being so long (though on large projects, that may be necessary). We have more optimizing to do in the future.

This also fixed a bug I had on a client project, so I'm quite happy with it. We'll cut a release to include this on Sunday.

[2015-07-03 14:08] #502 closed

[2015-07-03 14:12] snoyberg commented on #496
We have code in place for this to work for tests, it should be almost identical for benchmarks. Would you like to take a stab at implementing this?

[2015-07-03 14:36] kgadek opened #503 "Feature request: pre-build hooks"
The example use case: Protocol Buffers. The generate `*.hs` files. The latter shall not be in the repository itself, however they take part in the `other-modules` section in `*.cabal` files.

It would be great if there was a way to execute `protoc` compiler before calling the actual building. Then, no wrappers around both tools (`protoc` & `stack`) would be required.

[2015-07-03 14:47] snoyberg commented on #466
I think I'm running out of avenues to try here. At this point, I'm not even able to build snowdrift with cabal, so it's hard to test for comparison. If someone wants to investigate this further: I'd recommend finding out the final ghc.exe and gcc.exe invocations that happen to induce linking in a success case (via `cabal build -v`), and see how that differs from what I've pasted in.

[2015-07-03 14:50] snoyberg commented on #503
I'm +1 on this in principle. One thing to point out is that this will start moving us toward a world where some projects cannot be built with cabal at all, only stack. I'm OK with that, since this is clearly an opt-in case.

Check out #472 as well for some related concepts.

Can you describe in more details exactly what you'd like to see the functionality be here? There are some interesting questi

[2015-07-03 15:12] snoyberg commented on #174
The way is works now is that stack will always use the version of Cabal in the global package database. So one option for a short-term hack is to do something like `cabal install --global Cabal`. I think a better long term solution is having some kind of extra package database available which contains the Cabal library, and then provide a stack command to install new versions of the Cabal library.

[2015-07-03 15:18] k-bx opened #504 "Consider versions "2.1" and "2.1.0" as same"
I just had a minor but confusing problem that I've put `protocol-buffers-2.1` into `extra-deps`, but got a message `Didn't see protocol-buffers-2.1 in your package indices, updating and trying again` from `stack build`. The reason, as you might guess, is that it couldn't match versions `2.1` and `2.1.0`.

Please confirm that improving version-matcher to handle this would be a way to go. If so – I

[2015-07-03 15:21] snoyberg commented on #504
Unfortunately, I don't think we can do that, since as far as Hackage and cabal are concerned, those are unique versions. However, the error message here could certainly be improved to indicate "did you mean 2.1.0." What do you think about going that route instead?

[2015-07-03 15:22] k-bx commented on #504
@snoyberg yes, that seems like the best way to go. Ok, I'll work on this right after a previous bug I've committed myself to :)

[2015-07-03 15:25] snoyberg commented on #504
Awesome :)

On Fri, Jul 3, 2015 at 8:22 AM Kostiantyn Rybnikov <notifications@github.com>
wrote:

[2015-07-03 15:38] k-bx opened #505 "Add --resolver param to `stack build`"
Stack comes with lts-2.9 resolver in `stack.yaml`. I know I already have a lot installed for lts-2.16 set of packages, and using this resolver would let me:

1. save disk space
2. save build time

Right now I had to edit `stack.yaml`, but what I'd like instead is to be able to do `stack build --resolver lts-2.16`.

As usual, if this seems like a good feature, I can put that on my queue and impleme

[2015-07-03 15:41] snoyberg commented on #483
Interestingly, the `FailedConnectionException` means that the connection attempt timed out. It may be worth trying to bump the connection timeout value in stack to see if that helps alleviate the problem.

[2015-07-03 15:42] snoyberg commented on #505
Did you try running that command? It should actually work exactly as you typed it :)

[2015-07-03 15:43] snoyberg commented on #505
Sorry, it seems that `--resolver lts-2.16` has to come before `build`, so `stack --resolver lts-2.16 build`. I'm not sure why that's the case, @chrisdone any thoughts?

[2015-07-03 15:47] vincenthz commented on #483
This is the same for `TlsException (HandshakeFailed Error_EOF)`. The system notify the stack that the connection has been closed (recv == 0), during the handshake which `tls` raises as exception with EOF

[2015-07-03 15:50] snoyberg commented on #483
Let's make the first step here implementing retry logic. That's something @DanBurton was going to work on later, but if someone else wants to take a stab at it first, the code is pretty simple.

[2015-07-03 15:50] k-bx commented on #505
Oops, I only read `stack build --help` and didn't find resolver there.

[2015-07-03 16:13] vlatkoB commented on #486
Yes, read it few times, but noticed only info on separation of config options, to project and non-project specific, but nothing on inheriting/including project-external config options.
By [principle-of-least-surprise](https://en.wikipedia.org/wiki/Principle_of_least_astonishment), I got surprised by UI. ;-)

However, I fail to see what in my last question made you wonder about my reading stack.yam

[2015-07-03 16:20] joehendrix commented on #473
Thank you for the pointer to stackage-build-plan!  That's exactly what I needed.

I'm currently travelling, but will try testing the script once I get back to having consistent Internet access.

[2015-07-03 16:49] snoyberg commented on #486
It seems like the second paragraph on the page is pretty clear about how config file parsing works:

We can discuss what makes the most sense, but I'm not sure why reading that would ever imply that a project-specific setting (like the list of packages) would ever be inherited.

[2015-07-03 16:58] mboes commented on #478
Nice!

[2015-07-03 16:58] #478 closed

[2015-07-03 17:02] DanBurton opened #506 "Stack path should strip trailing path separators from output"
Context: http://www.reddit.com/r/haskell/comments/3byf25/stack_hdevtools_together_at_last/csqzlf4

@snoyberg verify that I've correctly summarized the issue?

[2015-07-03 17:09] DanBurton opened #507 "Stack cblconf: configure cabal to use stack package-dbs"
This command seems like something that might be worth implementing as a stack command.

[code]

http://www.reddit.com/r/haskell/comments/3bw95a/using_cabal_and_stack_together/csqdbe2

[2015-07-03 17:10] DanBurton commented on #507
Also perhaps worth splitting into another issue: document how to use emacs, ghc-mod, etc with stack.

[2015-07-03 17:13] snoyberg commented on #506
This is correct. Should be easy to implement for someone looking to dive into the code base.

[2015-07-03 17:14] snoyberg commented on #507
I thought about opening this, but I'm worried about cabal corrupting our
package databases if we make this too easy.

On Fri, Jul 3, 2015, 10:10 AM Dan Burton <notifications@github.com> wrote:

[2015-07-03 17:24] DanBurton commented on #448
:+1: @chrisdone, at least, stack should install dependencies before it fires up ghci.

[2015-07-03 17:38] pharpend commented on #497
On Fri, Jul 03, 2015 at 04:20:16AM -0700, Michael Snoyman wrote:

A big list of packages. Many of them are colored red:
<http://ix.io/jrN>. Note the advisory about broken packages.

When I run /home/pete/.stack/.../ghc-pkg check, this is the output:
<http://ix.io/jrO>.

Peter Harpending

[2015-07-03 17:41] snoyberg commented on #497
Oh I see the problem. We need to limit the sanity check to the global
database only. Can you test if actually using this new GHC via stack build
succeeds? I think it should.

On Fri, Jul 3, 2015, 10:38 AM Peter Harpending <notifications@github.com>
wrote:

[2015-07-03 18:07] DanBurton commented on #503
Isn't this something that falls into the realm of Setup.hs? I would lean
towards sticking with cabal-the-framework unless there's a compelling
reason to deviate.

On Friday, July 3, 2015, Michael Snoyman <notifications@github.com> wrote:

--
-- Dan Burton

[2015-07-03 18:08] vlatkoB commented on #486
Well, it's definitely a misunderstanding.
You sound like I was discussing what's written on the wiki page and what it does imply and does not. But I was just trying to discuss about the best way on how to incorporate some external options into the .yaml file. That's the initial problem this issue was opened for, you had some thoughts about it, and than discussion went in a strange direction. :-(

[2015-07-03 18:24] bergmark opened #508 "Print latest *applicable* version of packages on conflicts"
Extension of #450, showing the latest isn't helpful when there is an upper bound, e.g.

[code]

Here it would be more useful to show the latest version of classy-prelude-conduit that's < 0.12. Perhaps change the message to say "latest applicable is ..."

[2015-07-03 18:30] snoyberg commented on #508
Want to take a stab at this? May be faster than iterating together, and
this code is pretty well isolated.

On Fri, Jul 3, 2015, 11:24 AM Adam Bergmark <notifications@github.com>
wrote:

[2015-07-03 18:37] 3noch commented on #399
Just to prevent confusion, this is still not quite right. Somewhere in the build process `stack` still gets confused, probably because the fake OS is not entirely understood by the system as it should be. More details are in #495.

[2015-07-03 19:10] hmrm opened #509 "Error on stack ghci after stack setup in stack new environment"
I ran stack new to set up a project, then added a dependency to stack.yaml (hasql), and ran stack ghci. This is all on osx with stack-0.1.1.0 downloaded from github.

[code]
With verbose logging:
[code]

[2015-07-03 19:10] snoyberg commented on #486
That sounds like a good plan.

[2015-07-03 19:10] #486 closed

[2015-07-03 19:13] hmrm commented on #509
This was fixed by running `stack build`. Perhaps this issue should just be for more helpful error logging.

[2015-07-03 19:21] bergmark commented on #508
I might take a look over the weekend

[2015-07-03 19:45] hmrm opened #510 "Add an example of how to add a dependency to a project to the README and/or Wiki"
It appears that my immediate assumption (that you just modify the stack.yml file) was wrong, and you also need to modify the cabal file.

[2015-07-03 19:51] pharpend commented on #497
@snoyberg My computer is a bit indisposed at the moment, but the tl;dr is the build command succeeds, but then `stack exec -- yesod devel` complains about missing packages.

[2015-07-03 19:54] snoyberg commented on #497
Do you have the newest version of yesod-bin? Read the newest blog post on
yesodweb.com. I'm on my phone right now so can't provide more information.

On Fri, Jul 3, 2015, 12:51 PM Peter Harpending <notifications@github.com>
wrote:

[2015-07-03 19:59] JulianBirch opened #511 "Minor: Stack suggests using cabal"
[code]

I'm guessing the message is in the cabal lib.

[2015-07-03 20:10] snoyberg commented on #511
Please provide more information on how this message was triggered

On Fri, Jul 3, 2015, 12:59 PM Julian Birch <notifications@github.com> wrote:

[2015-07-03 20:10] chreekat commented on #510
You're correct about needing to modify the cabal file. Stack still depends on cabal files and the Cabal library. Want to add a note somewhere?

[2015-07-03 20:11] JulianBirch commented on #511
I ran `stack build` on my local copy of stack. `stack --version` gives

[code]

[2015-07-03 20:18] rvion commented on #503
Also, should we think about windows compatibility before it's too late ?

[2015-07-03 20:18] dalejordan commented on #449
[Output here] (https://gist.github.com/dalejordan/899c520a2300959f4c4f)
[Source code for package] (https://github.com/dalejordan/Matrix)

[2015-07-03 20:25] hmrm commented on #510
I'm a total newbie at both cabal and stack, so I'm pretty far from confident that I really know what goes where. What would be super helpful would be something saying "Here's what goes in stack.yml" and "Here's what goes in <your-project>.cabal".

Alternatively, if the expectation is that all consumers are already familiar with cabal, a link to that documentation would be adequate, but I'd assume

[2015-07-03 20:25] snoyberg commented on #511
Please provide the full output of stack build -v

On Fri, Jul 3, 2015, 1:11 PM Julian Birch <notifications@github.com> wrote:

[2015-07-03 20:48] pharpend commented on #497
On Fri, Jul 03, 2015 at 12:54:18PM -0700, Michael Snoyman wrote:

I think this is another bug, but yesod-bin doesn't respond to
--version. `stack exec -- yesod version` says 1.4.11, which I recall was
the version that supposedly works with Stack. It's also the latest
version in Hackage.

Are you back in the states, @snoyberg? It's like 1 AM in Israel.

Peter Harpending

[2015-07-03 20:49] pseudonom commented on #482
Thanks, looks good to me.

[2015-07-03 20:49] #482 closed

[2015-07-03 20:53] pseudonom commented on #492
I can test this on Monday. I'll update the wiki when I do so.

[2015-07-03 20:54] JulianBirch commented on #430
Thanks, I should have thought of that. I've also learned about strict fields. :)

[2015-07-03 21:02] JulianBirch commented on #511
Sorry, the problem is, now I've run `cabal update`. I'm also not 100% sure now that I haven't made an error. Closing for now.

[2015-07-03 21:02] #511 closed

[2015-07-03 21:08] razvan-panda commented on #466
@snoyberg: I deleted all the cabal/stack/ghc/haskell related folders and followed the instructions at https://github.com/snowdriftcoop/snowdrift/blob/master/SETUP_WINDOWS.md and it installed correctly.

This is the log for building with `cabal build -f` (master branch SHA: 33711a47f5b726217b66823192d30d66b3f0067e):

    $ cabal build -v
    Package has never been configured. Configuring with defau

[2015-07-03 21:14] snoyberg commented on #497
Yes, I'm in California right now.

Did you run `stack build` before `stack exec -- yesod devel`?

[2015-07-03 21:22] razvan-panda commented on #466
The path command line lengths are:

SnowdriftEmailDaemon -> 4251 (fails to build with stack)

Snowdrift -> 3462 (longest) (builds correctly with stack)

SDM -> 1137

SnowdriftSendmail -> 1072

[2015-07-03 21:26] snoyberg commented on #510
This is the kind of documentation that we should be adding for the new-to-Haskell case. @hmrm it's very valuable to have input from someone who isn't already intimately familiar with how Haskell packaging works. @chreekat would you be interested in participating in the process of helping extend the documentation for this? I'm guessing @drwebb may have some ideas on this too.

[2015-07-03 21:30] razvan-panda commented on #466
Does the environment path length and command line length add for that limit? https://support.microsoft.com/en-us/kb/830473

    $ xargs --show-limits
    Your environment variables take up 4687 bytes
    POSIX upper limit on argument length (this system): 1041841
    POSIX smallest allowable upper limit on argument length (all systems): 4096
    Maximum length of command we could actually use: 103

[2015-07-03 21:35] chreekat commented on #510
@snoyman I'm busy simplifying Snowdrift docs by switching the build process
over to stack. :) Best I can do right now is write the following:

When modifying a Haskell package that is built with stack, it is still
necessary to update the package's cabal file. Add any new library
dependencies to the build-depends list for that project. If you are lucky,
the new dependency already exists in Stackage

[2015-07-03 21:43] snoyberg commented on #466
Perhaps it was somewhere in the above dump, but I didn't see it. Can you provide the actual gcc.exe call used to link the executable when called via cabal, for comparison with the failing call via stack?

I'm fairly certain this is going to end with a GHC bug report, and only possibly with a workaround on the stack side.

[2015-07-03 21:48] razvan-panda commented on #466
I think the 3rd row from here is the linking part:

    "c:\Users\Razvan\AppData\Local\Programs\minghc-7.8.4-i386\ghc-7.8.4\mingw\bin\ar.exe" "-r" "dist\build\libHSSnowdrift-0.1.4.a-550744\libHSSnowdrift-0.1.4.a" "dist\build\Application.o" "dist\build\Data\Filter.o" "dist\build\Data\Order.o" "dist\build\Data\Text\PrettyHtml.o" "dist\build\Data\Tree\Extra.o" "dist\build\Foundation.o" "dist\build\Im

[2015-07-03 21:49] razvan-panda commented on #466
And this is the failing one for (SnowdriftEmailDaemon) :

    "c:\Users\Razvan\AppData\Local\Programs\minghc-7.8.4-i386\ghc-7.8.4\bin\ghc.exe" "--make" "-fbuilding-cabal-package" "-O" "-static" "-outputdir" "dist\build\SnowdriftEmailDaemon\SnowdriftEmailDaemon-tmp" "-odir" "dist\build\SnowdriftEmailDaemon\SnowdriftEmailDaemon-tmp" "-hidir" "dist\build\SnowdriftEmailDaemon\SnowdriftEmailDaemon-tmp"

[2015-07-03 21:53] razvan-panda commented on #466
Going to test that path length theory by shortening the PATH length and see if that allows it to be built.

[2015-07-03 22:24] manny-fp commented on #465
I've committed support for `stack setup` installing the libgmp.so.3-compatible GHC "centos65" bindist on systems that only have libgmp.so.3.  However, this has a serious limitation: this only works with GHC 7.8, since the GHC team does not provide a "centos65" bindist for GHC 7.10.

If the community provides a libgmp.so.3-compatible GHC 7.10 bindist, it's only a matter of making a PR on https://gi

[2015-07-03 22:29] DanBurton commented on #510
When you try to do a stack build, and there's a missing dependency that is
on hackage, stack will print an error message that suggests a version of
that package. Usually you can just copy/paste it straight from the error
message into your stack.yaml. Sometimes the suggested version doesn't work
and you have to manually intervene. I believe stack just suggests the
latest version.

On Friday, July 3

[2015-07-03 22:30] manny-fp commented on #461
@adinapoli: See https://github.com/commercialhaskell/stack/issues/465#issuecomment-118434410

[2015-07-03 22:33] pharpend commented on #497
@snoyberg Yep.

[2015-07-03 22:37] pharpend commented on #497
@snoyberg Here is the full error:

[code]

[2015-07-03 22:39] snoyberg commented on #497
I've pushed a commit that should make the sanity check more resilient to the issue you mentioned above. Sanity check should now succeed.

Can you also include the output for `stack exec -- yesod version`?

[2015-07-03 22:39] chreekat commented on #510
Thanks @DanBurton — blurb edited.

[2015-07-03 22:42] chreekat commented on #466
By the way, from the Snowdrift side of things, one potential workaround is to *solely* build the Snowdrift exe/lib:

    stack build Snowdrift:exe:Snowdrift Snowdrift:lib:Snowdrift

There isn't much work being done on SnowdriftProcessPayments at the moment.

Similarly, @razvan-panda and @thuselem , can you run 'stack exec yesod devel'? It does not need SPP.

[2015-07-03 22:42] pharpend commented on #497
@snoyberg

    yesod-bin version: 1.4.11

[2015-07-04 00:35] etorreborre commented on #174
That works for me in the short term, thanks. In the long run it would be nice to be able to specify the Cabal version in the stack.yaml file.

[2015-07-04 00:39] eightyeight opened #514 "`stack exec cabal run` fails"
I'm used to using `cabal run` to quickly run my compiled program. When I try to do it via `stack`, I get this:

[code]

Is this expected? Am I doing something wrong? Is there merit to having a dedicated `stack run <target>` command?

[2015-07-04 01:45] snoyberg commented on #497
I'm about to disappear for the weekend. I just wanted to lay some groundwork on continuing here.

* It seems like the original issue is resolved, and we're now discussing something completely different. If that's correct, let's close this out and move to another issue
* I'd like to get to the bottom of what's happening with yesod devel. Superficially it sounds similar to a thread on Reddit http://

[2015-07-04 02:47] pharpend commented on #497
On Fri, Jul 03, 2015 at 06:45:29PM -0700, Michael Snoyman wrote:

That is not correct. The initial issue, where 'stack setup' is failing
still exists.

Peter Harpending

[2015-07-04 04:43] codygman opened #515 "undefined reference to `snoymanzmblogzmexamplezm0zi0zi0_HandlerziEcho_getEchoR1_info'"
[Repo with code to reproduce](https://github.com/codygman/stack-yesod-issue)

output:

[code]

I tried running `stack clean` as well as deleting my dist directory to no avail. I'm now trying to delete the .stack-work directory. That didn't seem to fix things either.

I've figured out that adding this handler seemed to cause the issue:

[code]

I'm also using yesod devel as per the instructions [he

[2015-07-04 05:05] codygman commented on #515
I think this issue happened after upgrading to stack 0.1.1.0 after using the experimental `stack upgrade` command. I'm rolling back to using stack 0.1.0.0 to see if the issue persists.

[2015-07-04 05:30] codygman commented on #515
Can confirm same issue with stack 0.1.0.0.

I have the feeling I'm doing something silly.

[2015-07-04 05:44] mboes commented on #514
This is not necessary in stack. In stack `stack build && stack exec <program>` works just fine. This has been asked enough times that it's worth an entry in the FAQ.

[2015-07-04 06:01] codygman commented on #515
Tried using ghc 7.10, stack, stack 0.1.0.0,  and stackage nightly but got the same issue:

[code]

[2015-07-04 06:02] codygman commented on #515
Using ghc 7.10, stack, stack 0.1.0.0, stackage nightly-2015-07-03, and `stack build -v`:

[code]

[2015-07-04 06:10] codygman commented on #515
I figured out that Setup.hs was just a simple:

[code]
Extracted out the cabal command and ran it with "asetup.hs" (the above):

[code]

[2015-07-04 06:20] adinapoli commented on #461
Thanks @manny-fp , it's definitely a start! I will give it a shot on Monday ;)

[2015-07-04 06:33] mboes commented on #514
FAQ entry added: https://github.com/commercialhaskell/stack/wiki/FAQ#can-i-run-cabal-commands-inside-stack-exec.

[2015-07-04 06:33] #514 closed

[2015-07-04 06:40] codygman commented on #515
Also experienced the issue with `Version 0.1.1.0, Git revision 38fa3cf7eb61017a321e91b5367ad49bae50d3a9`. I'm beginning to wonder if this is a Cabal or GHC issue, so trying out building this with cabal-install.

[2015-07-04 07:46] razvan-panda commented on #466
@snoyberg I reduced the environment variables total size to 3227 bytes so the sum is under the limit and it still gives the same error.

Tried running the command manually and it hangs. On Ctrl+C it gives some error details:

    $ C:\\Users\\Razvan\\AppData\\Local\\Programs\\stack\\i386-windows\\ghc-7.8.4\\bin\\runhaskell.exe -pa ckage=Cabal-1.18.1.5 -clear-package-db -global-package-db -package-

[2015-07-04 07:52] razvan-panda commented on #466
Replacing with `\\` it no longer hangs but it is missing some stack run context and failing:

    $ C:\\Users\\Razvan\\AppData\\Local\\Programs\\stack\\i386-windows\\ghc-7.8.4\\bin\\runhaskell.exe -pa  ckage=Cabal-1.18.1.5 -clear-package-db -global-package-db -package-db=C:\\Users\\Razvan\\AppData\\Roa ming\\stack\\snapshots\\i386-windows\\lts-2.13\\7.8.4\\pkgdb\\ C:\\Users\\Razvan\\AppData\\Local

[2015-07-04 08:36] codygman commented on #515
This is because I need to add the module to my cabal file I think :S

[2015-07-04 08:36] razvan-panda commented on #466
@chreekat Just to confirm, running the Snowdrift executable works and running using `stack exec yesod devel` works also

[2015-07-04 08:57] codygman commented on #515
Yep, my issue was that I didn't export the module. Sure is a confusing error though :S

[2015-07-04 08:57] #515 closed

[2015-07-04 12:57] eightyeight commented on #514
Ah, right, I didn't know `stack exec` was supposed to be used in that way. Thanks, that's perfect!

[2015-07-04 15:04] chreekat commented on #466
Note there is a spurious space after -pa (should be -package). More
escaping trouble?
On Jul 4, 2015 1:37 AM, "Răzvan Panda" <notifications@github.com> wrote:

[2015-07-04 15:14] razvan-panda commented on #466
@chreekat Conemu copy-paste issue.

[2015-07-04 16:59] razvan-panda opened #516 "Verbose build on Windows 8.1 contains `@(<unknown>:<unknown> <unknown>:0:0)`"
To reproduce follow the steps in this issue: https://github.com/commercialhaskell/stack/issues/466

    Version 0.1.1.0, Git revision 91fe70306f51eb3d68667a0d6e09a7d7ebbeb2b6
    2015-07-01 01:02:56.9965918: [debug] Checking for project config at: D:\Forks\snowdrift\stack.yaml @(stack-0.1.1.0:Stack.Config src/Stack\Config.hs:489:9)
    2015-07-01 01:02:56.9985939: [debug] Loading project config fi

[2015-07-05 04:15] bitemyapp commented on #373
@snoyberg understood, thank you!

[2015-07-05 04:44] #506 closed

[2015-07-05 04:47] snoyberg commented on #515
Yup, I agree, this error sucks. We have an open issue to detect that a module was compiled by Cabal but not included in the .cabal file. Unfortunately, Cabal doesn't make this easy for us...

[2015-07-05 04:48] snoyberg commented on #497
@pharpend Did you test out the newest code on master? Can you paste the new results (including `stack --version`)?

[2015-07-05 04:48] codygman commented on #515
Yeah, lost a good 3 hours to it :/
On Jul 4, 2015 11:47 PM, "Michael Snoyman" <notifications@github.com> wrote:

[2015-07-05 06:26] snoyberg commented on #516
@chrisdone I think this is some funny business with the progress output/sticky logging.

[2015-07-05 06:27] snoyberg commented on #509
@chrisdone I think what we need is to blacklist loading the local packages even if they're dependencies. Does that sound reasonable?

[2015-07-05 06:28] snoyberg commented on #507
Let's keep this at the documentation level and avoid helping people let cabal break things.

[2015-07-05 06:28] #507 closed

[2015-07-05 06:29] snoyberg commented on #505
I'll open a separate issue about allowing `--resolver` to be placed either before or after the command.

[2015-07-05 06:29] #505 closed

[2015-07-05 06:30] snoyberg opened #519 "Allow global options both before and after command"
I believe this is a regression, since it seemed to work properly before. See #505. Both of the following should work, but currently only the latter does. This may be an issue in optparse-simple:

[code]

Assigning to @manny-fp, but pinging @chrisdone who may have a quick answer.

[2015-07-05 07:37] snoyberg commented on #497
I just sent an email to the haskell-stack mailing list about the `yesod devel` issue, let's follow up there.

[2015-07-05 07:39] snoyberg commented on #497
https://groups.google.com/d/msg/haskell-stack/19Vgh265bgw/ftnlUObDV68J

[2015-07-05 08:32] codygman opened #520 "Create directories listed in cabal file"
I cloned the [haskellers git repo](https://github.com/snoyberg/haskellers) then ran `stack build`:

[code]

This hasn't happened to me before and I wondered why, so I checked the cabal file and found out it was doing something I don't typically do:

[code]

Stack did warn me the directory didn't exist, but wouldn't it be better for stack to either create the directory or prompt the user on what to

[2015-07-05 11:39] snoyberg commented on #520
As the guy who wrote that piece of code in haskellers: I think it was an ugly hack that can be solved in [better ways](https://github.com/snoyberg/haskellers/commit/e10cb9ce9d85405304abe0750ce3569e97332782), and that stack's behavior currently is acceptable for this kind of corner case. Is this behavior causing you trouble outside of haskellers?

[2015-07-05 13:17] snoyberg commented on #447
I've pushed a commit for this. It doesn't do anything for the Git case, since that seems like a corner case to deal with, but when running `stack upgrade`, it will do nothing if the upstream version if `<=` the current version.

[2015-07-05 13:17] #447 closed

[2015-07-05 13:28] snoyberg commented on #466
Here's some evidence that this isn't just a stack issue: https://github.com/yesodweb/yesod/issues/1020

[2015-07-05 13:33] DanBurton commented on #519
I thought it had been this way for a long time / always. (Global opts must
come before the command.)

On Sunday, July 5, 2015, Michael Snoyman <notifications@github.com> wrote:

--
-- Dan Burton

[2015-07-05 13:36] razvan-panda commented on #466
Even though the message is the same `ghc.exe: could not execute` there could be different underlying errors.

In our case building with cabal works but working with stack does not work. So stack is doing something differently (perhaps the path \ escaping).

[2015-07-05 13:44] snoyberg commented on #466
@razvan-panda Above you already pasted the exact command that stack is calling:

      C:\\Users\\Razvan\\AppData\\Local\\Programs\\stack\\i386-windows\\ghc-7.8.4\\bin\\runhaskell.exe -package=Cabal-1.18.1.5 -clear-package-db -global-package-db -package-db=C:\Users\Razvan\AppData\Roaming\stack\snapshots\i386-windows\lts-2.13\7.8.4\pkgdb\ C:\Users\Razvan\AppData\Local\Temp\stack194692\Setup.hs --bu

[2015-07-05 13:56] razvan-panda commented on #466
What I understood until now:

    C:\\Users\\Razvan\\AppData\\Local\\Programs\\stack\\i386-windows\\ghc-7.8.4\\bin\\runhaskell.exe -package=Cabal-1.18.1.5 -clear-package-db -global-package-db -package-db=C:\Users\Razvan\AppData\Roaming\stack\snapshots\i386-windows\lts-2.13\7.8.4\pkgdb\ C:\Users\Razvan\AppData\Local\Temp\stack194692\Setup.hs --builddir=.stack-work\dist\i386-windows\Cabal-1.18.1.5\

[2015-07-05 14:01] snoyberg commented on #466
Here's the output: https://gist.github.com/snoyberg/b9b798e3954e7847ff78

I believe the problem here is in GHC: it's not handling long input correctly. AFAICT, there's no bug in either stack or Cabal. The reason stack *seems* to be the problem here is that it has longer directory paths, and therefore triggers this. In the yesod issue I linked to, the exact same thing happened when built from insid

[2015-07-05 14:02] cdepillabout commented on #361
I would appreciate an `stack uninstall` command.
My use would be similar to what @drwebb brought up.  I might install a command like `pandoc`.  After playing around with it for a while, I decide I don't want it anymore.  It would be much easier to do `stack uninstall pandoc` than something like the following:

[code]
Usually at this point I start wondering if pandoc left around some sort of settin

[2015-07-05 14:03] snoyberg commented on #466
And for the record, the error message is coming from GHC at: https://github.com/ghc/ghc/blob/7a82b77691fb90c4af6863673f10e454a449739e/compiler/main/SysTools.hs#L1264

[2015-07-05 14:05] snoyberg commented on #361
This actually proves the point of why I don't think `stack uninstall` is a good idea: cabal doesn't give us enough information to determine how to remove such stray files, and therefore `stack uninstall` can't be any more intelligent than the command you provided (which, as you mention, is not satisfactory).

[2015-07-05 14:08] razvan-panda commented on #466
Well, technically it is stack issue if the problem is that stack is using longer path name, as it works with cabal-install.

Do we know for sure now that it is a path length issue?

[2015-07-05 14:08] cdepillabout commented on #361
@snoyberg: I guess `stack` can't do something smarter than cabal?  For instance, record the location of which files are installed?

I'm guessing something like this would not be super simple to implement. It might not be worth it unless *a lot* of people want a `stack uninstall` command.

[2015-07-05 14:11] snoyberg commented on #361
Uninstalling the executables is trivial, since stack copies those itself. The rest of the files are not installed by stack at all. But I'm dubious about the value in uninstalling them anyway, since they (should) all be installed inside a snapshot-specific directory instead.

Like I said, I've never felt the need for an uninstall command, so I may be the wrong person to make a call on this. But it

[2015-07-05 14:12] razvan-panda commented on #466
The only extra characters are `.stack-work`? Would it work to try to move it closer to the root to shorten the command length or is everything before `.stack-work` not a part being added to the length?

[2015-07-05 14:13] razvan-panda commented on #466
Looking at it, it seems what is before is not part of the command. Hard to test.

[2015-07-05 14:17] razvan-panda commented on #466
Any suggestion on how to test if it is a path length issue or not? Maybe add dependencies to the working Snowdrift.exe until it has greater length.

[2015-07-05 14:39] snoyberg commented on #466
It's pretty obvious that this is the case. The command line that GHC is generating is over 33,000 characters, which is beyond what CreateProcess can support.

At this point, I've spent many, many more hours on this issue and communication around it than I had hoped, and I can't really justify continuing with it when it's clearly a limitation coming from GHC. If someone wants to propose a workaroun

[2015-07-05 14:39] snoyberg commented on #466
@chreekat I'm going to assign to you to make a decision on how you'd like to proceed with this.

[2015-07-05 14:42] razvan-panda commented on #466
@snoyberg Could you please post the command line that is over 33,000 characters? I thought they were a few thousands the most.

[2015-07-05 14:43] snoyberg commented on #466
It's in the Gist that I pasted above.

[2015-07-05 14:43] razvan-panda commented on #466
Found it, thank you.

[2015-07-05 14:51] razvan-panda commented on #466
Ultimately it seems like a Windows limitation. Hope the GHC team will be able to find a workaround.

[2015-07-05 15:05] rvelez83 opened #521 "Yesod "devel.hs" not found error"
Installed stack repo on Ubuntu 14.04

Been now trying the Yesod quickstart

Everything goes smoothly for me until I do:
stack exec -- yesod devel

I've tried on two computers (same OS), I get this message:

ERROR: file devel.hs not found, checked: ["app/devel.hs","devel.hs","src/devel.hs"]

[2015-07-05 15:06] snoyberg commented on #521
Which scaffolding did you select?

On Sun, Jul 5, 2015, 8:05 AM rvelez83 <notifications@github.com> wrote:

[2015-07-05 15:07] rvelez83 commented on #521
mini

[2015-07-05 15:10] snoyberg commented on #521
The mini scaffolding doesn't support the devel server functionality. Check out the output from yesod init. I'd recommend using simple instead.

[2015-07-05 15:31] rvelez83 commented on #521
(The mini one says something about being the bare bones "hello world" and so for me (being a total n00b) mini sounds like the ideal option for testing/experimenting.)

 I just went with "simple" and it works.
Stack does seem to make things a lot easier, so thanks for your contributions.. I can concentrate more on actually learning now that setting up the environment is starting to get out of my wa

[2015-07-05 15:34] chreekat commented on #466
@razvan-panda, @thuselem: This looks like a Windows limitation, indeed. I'm going to simply change the docs to say SnowdriftEmailDaemon can't be built on Windows. Have you tried our [Vagrant setup](https://git.gnu.io/snowdrift/snowdrift/blob/master/SETUP_VAGRANT.md)?

As this is a Windows limitation, I'm not sure it would do any good to get GHC involved. At best, we (Snowdrift) could try to restru

[2015-07-05 15:34] #466 closed

[2015-07-05 15:34] snoyberg commented on #521
I'm open to improvements on the wording to be clearer. This is what `yesod init` currently says about the mini scaffolding:

[code]

[2015-07-05 15:35] snoyberg commented on #466
Perhaps you'd like to set buildable:false only for Windows with a .cabal file conditional? That way people don't accidentally bump into this.

[2015-07-05 15:37] chreekat commented on #466
Good idea, thanks!

On Sun, Jul 5, 2015 at 8:35 AM, Michael Snoyman <notifications@github.com>
wrote:

[2015-07-05 15:39] razvan-panda commented on #466
Can that conditional be defined only when it is built by stack?

[2015-07-05 15:41] snoyberg commented on #466
No, there's no support for something like that. But as I mentioned, this problem probably exists with cabal sandboxes too.

[2015-07-05 15:43] chreekat commented on #466
Moving forward, stack will be the only documented, recommended way of
building Snowdrift (see
https://git.gnu.io/snowdrift/snowdrift/merge_requests/45). I don't think it
would be in our interest to cover edge cases of 'cabal-install vs. stack'.

On Sun, Jul 5, 2015 at 8:39 AM, Răzvan Panda <notifications@github.com>
wrote:

[2015-07-05 15:43] razvan-panda commented on #466
It does if the limit is reached as it is a Windows limitation. But for Snowdrift the project builds correctly with cabal-install instead of stack.

[2015-07-05 15:43] rvelez83 commented on #521
I had stopped reading at "hello world" although I'm not sure being a n00b that the Note at the bottom would have indicated the issue to me, in fact by saying "not configured to work with yesod devel" sounds somewhat to me like the missing devel.hs file shouldn't matter (like it doesn't work with it, hence wouldn't need the devel file).

But that's me from my total n00b perspective, I do think it's

[2015-07-05 15:44] chreekat commented on #466
@razvan-panda let's move this to the dev@lists.snowdrift.coop mailing list. Thanks!

[2015-07-05 15:55] codygman commented on #520
@snoyberg It has not given me any trouble outside of haskellers. I thought there was a chance it could be an idiom I wasn't familiar with though, and if so stack handling it could be something useful to discuss.

[2015-07-05 16:02] snoyberg commented on #520
How's this: if anyone else comes up with this crazy workflow, we can reconsider. As it stands, I think I'm the only person to create a .cabal file this weird ;)

[2015-07-05 16:02] #520 closed

[2015-07-05 16:18] codygman commented on #520
Sounds good to me :)

On Sun, Jul 5, 2015 at 11:02 AM, Michael Snoyman <notifications@github.com>
wrote:

[2015-07-05 20:09] ojw opened #522 "stack upgrade requires base version <0 and >0 for stack-9.9.9"
Steps to reproduce:

Run ```stack upgrade```.  Then run ```stack upgrade``` again.  That's what did it for me.

Expected:

Stack will either successfully run twice, or maybe notice that is doesn't need to run a second time.  (I'm not sure if it will correctly decide not to run or whether it should run the second time, seems to be dependent on if the upgrade uses Git per #447.)

Actual:

While cons

[2015-07-05 20:10] snoyberg commented on #522
This is a known issue that we'll be sending an email about shortly. To fix,
first run stack upgrade --git.

On Sun, Jul 5, 2015, 1:09 PM James <notifications@github.com> wrote:

[2015-07-05 21:34] 3noch commented on #519
I recall getting tripped up several times and needing to move `--arch` before the command, ever since that option was introduced. I think it's been this way for a while.

[2015-07-05 21:49] manny-fp commented on #519
I'm pretty sure it's been this way since the start, and it is normal behaviour for optparse-applicative.  That said, it's really annoying and worth fixing.

[2015-07-05 22:30] chreekat commented on #370
@barnabyrobson Sorry, but I don't remember how I got there. Guess and check, mostly.

[2015-07-06 00:23] pharpend commented on #497
On Sat, Jul 04, 2015 at 09:48:27PM -0700, Michael Snoyman wrote:

With the version in master:

    [src/snowdrift cleanups] % stack --version
    Version 0.1.1.0, Git revision 91fe70306f51eb3d68667a0d6e09a7d7ebbeb2b6
    [src/snowdrift cleanups] % stack setup
    The GHC located at /home/pete/.stack/programs/x86_64-linux/ghc-7.8.4/bin/ghc failed to compile a sanity check. Please see:

        http