[2018-12-06 20:11] mattaudesse commented on #4428
Thanks for reporting by the way.

[2018-12-07 16:45] patoncrispy commented on #2240
Hey all. Living in Ireland and getting a terrible connection trying to download ghc-8.4.2. What work would be involved in getting a CDN set up to improve performance?

[2018-12-07 16:51] dbaynard commented on #4365
Related: 2583

Actually, this may be a duplicate?

[2018-12-07 17:05] dbaynard opened #4435 "Plan construction failed, no error even in verbose mode"
### General summary/comments (optional)

Stack fails to construct a build plan but gives no indication why (on travis/in docker).

### Steps to reproduce

I saw this on travis with a custom snapshot.

https://travis-ci.com/dbaynard/UcamWebauth/jobs/163695148

### Expected

Either a successful build plan construction or an actual error, listing specific package issues (this builds fine on local mac

[2018-12-07 17:14] dbaynard commented on #4435
`allow-newer` is set to `true`. Setting it to `false` does nothing.

[2018-12-07 18:18] dbaynard commented on #4435
I can reproduce locally using docker image as in:

* [How to run travis-ci locally - Stack Overflow](https://stackoverflow.com/questions/21053657/how-to-run-travis-ci-locally/49019950#49019950)
* [Common Build Problems - Travis CI](https://docs.travis-ci.com/user/common-build-problems/#Troubleshooting-Locally-in-a-Docker-Image)

Just checking the `stack solver` output — it says no changes needed.

[2018-12-07 20:55] #4365 closed

[2018-12-07 20:55] dbaynard commented on #4435
Turns out this is the same as #2853

[2018-12-07 20:55] #4435 closed

[2018-12-07 20:59] dbaynard commented on #2583
I also encountered this with 1.9.3 — it isn't obvious why the DependencyCycle code isn’t kicking in, but the logs are particularly unhelpful, too.

[2018-12-07 22:47] nh2 commented on #4177
This is done, right?

[2018-12-07 22:48] nh2 commented on #4088
This was done with [v1.9.1](https://github.com/commercialhaskell/stack/releases/tag/v1.9.1), using https://github.com/nh2/static-haskell-nix/blob/master/static-stack as described above.

[2018-12-07 22:48] #4088 closed

[2018-12-07 22:57] dtzWill commented on #4088
\o/

On Fri, 07 Dec 2018 14:48:36 -0800, Niklas Hambüchen <notifications@github.com> wrote:

[2018-12-08 02:48] berdario commented on #4327
[GHC 8.6.3 is out](https://www.haskell.org/ghc/download_ghc_8_6_3.html#macosx_x86_64) with the fix :)

[2018-12-08 14:11] dbaynard commented on #4159
Can this be closed now 1.9 has been released with hpack 0.31?

[2018-12-08 14:12] dbaynard commented on #4177
I'm just confirming #4159 — the change has been made; it would be good to make sure the problem is fixed. After that, yes.

[2018-12-08 15:56] borsboom commented on #4177
Yes, it's done, and 1.9.3 is out now too.

[2018-12-08 15:56] #4177 closed

[2018-12-08 15:58] borsboom commented on #4159
Stack 1.9 does include the version of black with this fix.

[2018-12-08 15:58] #4159 closed

[2018-12-08 16:34] mihaimaruseac commented on #4428
Might be a duplicate or related to #3989

[2018-12-08 18:39] mattaudesse commented on #4432
Hey @rlowrance,

I believe you're referring to [this section of the docs](https://docs.haskellstack.org/en/stable/GUIDE/#adding-dependencies), right? Are you sure you meant *`test`* and not *`text`*?

I'm going to close this issue since it sounds like a typo, but if that's not the case please let me know and we can reopen. Welcome to `stack` by the way!

[2018-12-08 18:39] #4432 closed

[2018-12-08 19:16] dbaynard commented on #3986
I've just encountered this when setting up CI script — in this case, I always want the latest nightly. The best option is to add `--resolver nightly` to the command line arguments.

[2018-12-08 19:16] #3986 closed

[2018-12-09 16:49] vyorkin commented on #4373
facing the same issue, uninstalling llvm doesn't help

[2018-12-09 17:31] miniBill opened #4438 "Exclude documentation from ghc installations"
I think that the ghc docs shouldn't be installed by default (I'm talking about the docs in `.stack/programs/x86_64-linux/ghc-X.Y.Z/share/doc/ghc-X.Y.Z/html`).

[2018-12-09 22:21] leemhenson commented on #825
Same issue here. MacOS Mojave clean install, stack 1.9.3. Running `stack setup 8.6.2 --verbose` gives

[code]

I tried `brew install libiconv` and `stack setup 8.6.2 --verbose --extra-lib-dirs=/usr/local/opt/libiconv/lib --extra-include-dirs=/usr/local/opt/libiconv/include` but that made no difference. I also tried all the different combinations of flags mentioned for `~/.stack/config.yaml`.

I'd

[2018-12-10 00:16] mattaudesse commented on #4431
Strange - I wasn't able to replicate the `404` but I was surprised too when `stack hoogle` didn't generate the docs for my dependencies automatically.

In my case, running `stack haddock && stack hoogle --server --rebuild` was sufficient to fix the problem, but I think it'd be more intuitive build dependency docs by default (and perhaps have an argument to toggle).

Do you have any additional thou

[2018-12-10 00:41] mattaudesse commented on #4433
Hey @Keruspe - thanks for the report.

I haven't been able to replicate the problem but I wonder if it's because I'm missing some important detail.

The following worked for me with a fresh project on Debian Linux - does following the same steps fail for you?

[code]

Any other specifics you can share that might be relevant? What Linux distro are you using?

If your code is public I don't mind try

[2018-12-10 00:53] mattaudesse commented on #4438
Hey @miniBill,

Could you say a little bit more about why you think those docs should be excluded? Is it a space consideration?

[code]

381 megabytes definitely isn't small, but on the other hand...
[code]

:-)

[2018-12-10 08:47] Keruspe commented on #4433
I'm running Exherbo.
Problem is reproducible with any project, see:

[code]

[2018-12-10 10:36] afcowie commented on #3989
More specifically, what file do I need to touch (ie create zero size) so that _stack_ doesn't think that it needs to build haddock content for **haddock-library**. I'd be happy to use that as a workaround for now.

AfC

[2018-12-10 16:54] dbaynard commented on #4433
I can't reproduce in a `tmp` directory on arch

[2018-12-10 16:57] miniBill commented on #4438
Yes, it's a space consideration... 300MB is not a lot, but multiplied by
the number of ghcs installed it can become significant on a smallish ssd

Il giorno lun 10 dic 2018, 01:53 Matt Audesse <notifications@github.com> ha
scritto:

[2018-12-10 16:58] dbaynard commented on #4433
@Keruspe Would you run again with `--verbose` and paste the output here (wrapped with `<details></details>`) please?

[2018-12-10 17:01] Keruspe commented on #4433
Here we go:

<details>
Version 1.9.3, Git revision 40cf7b37526b86d1676da82167ea8758a854953b (6211 commits) x86_64 hpack-0.31.1
2018-12-10 18:00:33.987175: [debug] Checking for project config at: /tmp/stack/test/stack.yaml
2018-12-10 18:00:33.987328: [debug] Loading project config file stack.yaml
2018-12-10 18:00:33.988940: [debug] Using resolver: lts-12.21 specified on command line
2018-12-10 18:0

[2018-12-10 17:02] dbaynard commented on #4438
Seems like a good option (with my 64GB ssd I speak from personal experience) — though selecting it as default would require more discussion. I suspect as an option it should go in the `config.yaml` as it doesn't affect reproducibility of builds.

@miniBill Would you like to investigate?

[2018-12-10 17:06] dbaynard commented on #4438
(If it goes in config — which is where it belongs — it will need a fix to #3887, too)

[2018-12-10 17:09] Lysxia commented on #4425
Indeed it works with an `extra-dep` key. Without it here's a sample error:

[code]

That is if the package is not on Hackage. If it is, you get either the usual error if it is not in your resolver, or `stack` installs whatever it finds in your resolver.

A big source of confusion for me was the fact that `stack` seems to just ignore that field (without the `extra-dep` key). It would expect at leas

[2018-12-10 17:11] dbaynard commented on #4433
How long does it hang?

You may want to try another linker — see https://stackoverflow.com/a/43243323 — and see whether it is a linker issue.

[2018-12-10 17:18] dbaynard commented on #4425
OK, so two things are needed to resolve the issue fully

1.  Correct the docs to indicate that using `packages` without `extra-dep` is deprecated, that using `packages` for dependency is old behaviour, and recommending the correct formulation.
2.  Parse the old syntax and error with how to resolve the issue.

@Lysxia Would you like to tackle one, or perhaps both (please no animal names for functio

[2018-12-10 17:34] Keruspe commented on #4433
Looks the same with gold and lld.

Fwiw:

[code]

[2018-12-10 17:37] dbaynard commented on #4433
And running a `stack clean` or a `stack clean --full` between switches?

[2018-12-10 17:43] mattaudesse commented on #4438
Thanks @miniBill - Allowing people to selectively skip storing docs there makes sense to me too.

[2018-12-10 17:48] dbaynard commented on #2408
👍 I don't think the PR from 2016 is forthcoming — I'll leave the tag for you @vanceism7 ?

The specific details have changed, somewhat. In particular, there are a few PRs which massively change the internals — would you make sure that changes you make are compatible?

Also there are some other related issues.

[2018-12-10 17:48] Keruspe commented on #4433
`stack clean --full` ends up with the same result

[2018-12-10 17:52] dbaynard commented on #4433
And if you don't do it in a subdir of `tmp/`?
And does lts-12 work at all on your maching?

It's looking like a platform issue, at the moment — given we can't reproduce, I'm not quite sure what other help we can give, until you can isolate further.

[2018-12-10 18:03] Keruspe commented on #4433
No, lts-12 doesn't work at all on my machine.

How can I find out why it's hanging?

[2018-12-10 18:12] dbaynard commented on #4433
It could well be a cabal 2.2/ghc 8.4 issue. Try stackage nightly?

[2018-12-10 18:13] dbaynard commented on #4433
Also try installing that ghc through your distro — there are lots of things to try, to isolate the issue. If it is with stack, we'll try to fix it — but right now that's far from obvious.

[2018-12-10 18:33] Lysxia commented on #4425
Sadly I don't have time to work on this in the near future, although I would have liked to. But thanks for the offer. ;)

[2018-12-10 19:07] vanceism7 commented on #2408
Hey @dbaynard, I was actually wondering if the state of the app was still the same since this was from a while back. Are the PRs you speak of already merged into master? Thanks!

[2018-12-10 19:43] vanceism7 commented on #2408
Oh gotcha, well if this issue isn't as important as it would've been before, I'm happy to work on something else. I don't know the priorities of the project so whatever direction you can provide is greatly appreciated!

[2018-12-11 00:33] mihaimaruseac commented on #3989
I don't think it's Stack. Stack just calls Setup.hs to build the haddocks, so probably it's a question for Cabal/GHC

[2018-12-11 08:42] Keruspe commented on #4433
Nightly has the same issue fwiw, will try another ghc to see how it behaves

[2018-12-11 08:50] Keruspe commented on #4433
With stackage nightly and ghc 8.6.2 downloaded from fedora, it works

[2018-12-11 14:02] borsboom opened #4440 "Pantry TreeSpec test suite fails on Windows"
In the `master` branch.  My guess is that line endings are the culprit.  Git is probably converting to Windows-style line endings (CRLF), while the tarball it's comparing against probably has Unix-style line endings (LF).

[code]

[2018-12-11 14:04] borsboom commented on #4440
(ping @snoyberg)

[2018-12-11 14:55] Keruspe commented on #4433
Ok, so I nuked all my `~/.stack` to begin in a clean state.
Ran stack build on a project with lts-12.22 selected.
Got the same issue.
Edited `~/.stack/programs/x86_64-linux/ghc-tinfo6-8.4.4/lib/ghc-8.4.4/settings` to change `-fuse-ld=ldd` into `-fuse-ld=bfd` and the ld command from `ld.lld` to `ld.bfd` and now it works.
There seem to be a problem with lld usage, and somehow stack picked it as defa

[2018-12-11 15:03] mattaudesse commented on #4433
Cool, thanks for tracking down those details @Keruspe.

[2018-12-11 15:31] dbaynard commented on #4433
Glad you've got it working — I'll see whether anybody else has any ideas for a fix.

[2018-12-11 15:38] dbaynard commented on #4181
This is just waiting on me submitting a PR to fix the integration test

[2018-12-11 15:48] dbaynard commented on #2408
Well, in general there's https://github.com/commercialhaskell/stack/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22 (also there's a 'Newcomer friendly' label — I don't know whether that would be appropriate.

There are also milestones — e.g. https://github.com/commercialhaskell/stack/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22P1%3A+Must%22

Then there are issues I'd like to resolve/see r

[2018-12-11 15:51] snoyberg commented on #4440
Strange; why would the AppVeyor tests be passing if this is inherently broken on Windows?

The Git support in Pantry uses Git's `git archive` functionality to (hopefully) avoid this kind of thing, but perhaps there's a difference in `autocrlf` setting between different machines. Is there some way I could push a commit to a branch and see if it fixes this on Azure?

[2018-12-11 15:51] dbaynard commented on #2534
@borsboom — with #4088 this should be updated. Can it be closed, too?

[2018-12-11 16:00] snoyberg commented on #4440
My best guess is that 6b4e5ef905b49188da454bfa6dfb350114d43b32 will fix this. I'm not opening up a PR yet, since I don't think a PR will trigger an Azure pipeline.

[2018-12-11 18:45] patrickt commented on #3125
I encountered this after using `brew` to compile the grpc libraries. Completely removing any homebrew `binutils` installations fixed it for me.

[2018-12-11 22:55] leemhenson commented on #825
A follow up for time travellers from the future, I was able to resolve this issue by reverting from the version of `gcc` provided by `nixpkgs` to the version of `gcc` bundled with Mojave.

[2018-12-12 23:15] varosi opened #4441 "Getting “Process exited with code: ExitFailure (-1073741819)” on LiquidHaskell build on Windows AppVeyor"
### General summary/comments (optional)
Cannot do executable building of liquidhaskell on AppVeyor cloud instances. Error is Access Violation, but I don't see what could trigger this even using "-v" option. I need some help to debug what is happening.

### Steps to reproduce

For example:

1. Run liquidhaskell build on AppVeyor like the described here:
https://stackoverflow.com/questions/53735133/

[2018-12-12 23:38] dbaynard commented on #4441
Thanks for the report. Could this be related to #3765?

https://stackoverflow.com/questions/48232637/haskell-stack-access-violation-error-during-build gives the resolution to that thread

[2018-12-12 23:42] dbaynard commented on #4441
It would also be helpful to know what change brought on the AccessViolation error — it would help narrow down the issue.

In addition, it isn't clear that this is a stack issue — I see you have some cabal.project files; you might try a cabal-install build on appveyor, too.

[2018-12-13 00:48] seagreen commented on #1948
Should that issue be reopened? Having to make a manual selection each time your start GHCi in project with multiple executables is very jarring.

[2018-12-13 04:47] vanceism7 commented on #3827
I can do this one

[2018-12-13 09:28] qrilka opened #4442 "Travis setup used for Stack gets deprecated"
Originally I was investigating build error in https://travis-ci.org/commercialhaskell/stack/jobs/467380455
It appears that Mercurial fails because of TLS 1.0 gets used.
And according to https://travis-ci.community/t/travis-ci-linux-build-environments-cant-clone-from-bitbucket-anymore-mercurial/1182 upgrade to Xenial is needed.
At the same time according to Travis documentation [currently used "Tru

[2018-12-13 09:43] akshaymankar commented on #4101
The URL in the JSON doesn't really work, because a package could either be from hackage, a local package, an archive specified by URL or a git repository. So, I guess a URL to a will not always be possible.

I am not sure what the best possible format for this would be. @sschuberth, do you have any suggestions/preferences?

@dbaynard I also couldn't find a place where stack figures out URL from `P

[2018-12-13 09:56] qrilka commented on #4101
@akshaymankar what's the problem to use `file://` for local packages and `git://` for git?

[2018-12-13 09:59] qrilka commented on #4101
And I think you'll need a custom function for that, I don't think there's already some code doing that.

[2018-12-13 12:20] qrilka commented on #4217
As new Stackage snapshots don't include curator-specific information (e.g. skipped tests) it will be stored in separate files (and the current `curator` already produces `constraints.yaml`) in a separate repository. This information is planned to be used in `stack2nix` so its Nix derivations will be the same as the ones used by Stackage curators.

[2018-12-13 12:22] mhwombat opened #4443 "Project whose path contains non-ASCII characters fails to build on Linux"
### General summary/comments (optional)

In latest Stack version, a project won't build if its pathname contains non-ASCII characters.

### Steps to reproduce

1.   stack new dúmmy  # Note the accent on the ú
2.  cd dúmmy/
3.  stack build

### Expected

I expect it to build

### Actual

The build fails.

If you do the same steps, but using the project name "dummy" (no accent), the build succeeds.

[2018-12-13 12:48] mhwombat commented on #4443
Forgot to add:

[code]

[2018-12-13 13:46] qrilka commented on #4443
BTW @mhwombat did you try impure Nix mode in Stack with `--no-nix-pure`? By default nix mode is run in pure nix shell and that makes your `locale` listing inapplicable though as of https://github.com/commercialhaskell/stack/pull/4294 `en_US.UTF-8` should be used as a default.
Also running Stack in verbose mode could help a lot.

[2018-12-13 13:56] mhwombat commented on #4443
That [gist](https://gist.github.com/mhwombat/b21993f41ec8df28f4167a5d058dcea0) I linked to includes the output when running in verbose mode.

I forgot to say that I tried --no-nix-pure, and got a similar message. Here's [that gist](https://gist.github.com/mhwombat/473113384e1223b25c8794761b6f5e4c).

[2018-12-13 14:37] varosi commented on #4441
It is happening right from the start. It's not from a change. So I cannot
make it work on AppVeyor.

I'll try cabal-install, too. This is great idea!

На чт, 13.12.2018 г. в 1:42 ч. dbaynard <notifications@github.com> написа:

[2018-12-13 14:42] quasicomputational commented on #4441
Try with GHC 8.6. https://ghc.haskell.org/trac/ghc/ticket/15154 was fixed in that release and that's believed to be the culprit.

[2018-12-13 17:34] mhwombat commented on #4443
I was able to duplicate the problem on Debian. Here's the [gist](https://gist.github.com/mhwombat/473113384e1223b25c8794761b6f5e4c).

[2018-12-13 19:14] dbaynard commented on #3827
OK — @qrilka is working on a complete rewrite of how stack works out what to build; @qrilka this shouldn't interfere, right?

[2018-12-13 19:21] dbaynard commented on #4442
@qrilka So we need to get rid of `sudo: false` (possibly adding `dist: xenial`) and then fix any build failures?

[2018-12-13 19:33] qrilka commented on #3827
CLI args parsing logic wasn't supposed to be touched by refactoring in #4412 but maybe that PR could give some merge conflicts as some functions got moved a bit.

[2018-12-13 19:45] dbaynard commented on #3827
OK — I was thinking that skipping the library may have some knock on impact, but I think I'm misunderstanding the `--skip` flag's purpose.

@vanceism7 Go for it and we can deal with #4421 after it's working on `master`.

[2018-12-13 19:50] dbaynard commented on #4443
@mhwombat Thanks for the report. I've just had a flick through the related issues; would you please check whether this is still an issue for you with stack nightly?

Meanwhile, I'll try to repro with an integration test based on the one in #4294 (unless you want to do that?).

[2018-12-13 21:37] akshaymankar commented on #4101
I think `file://` is a good idea for local packages.
For git and hg repositories, even if we go with any URL specification, we still won't be able to show the commit in the URL. So, I'm leaning towards the second approach of additional metadata.

Maybe it could look something like this for git (and similar for hg):
[code]

For hackage:
[code]

[2018-12-13 22:45] vanceism7 commented on #3827
Ok, so I think I've basically got skip for libraries working, but just to check, what exactly is the behavior for the skip flag supposed to be?

With my fix in place, currently what I'm seeing based on the original issue's steps to reproduce, is that calling `stack build --skip this` would not skip the `this` package anyways since by default `stack new` creates packages that are both libs and exes

[2018-12-13 23:47] dbaynard commented on #3827
Yes — `--skip` (should) skip a component. So in addition, if you have multiple libraries/executables/test suites you should be able to skip them individually. e.g. Two test suites (`light`, `very-long-integration-test`), run `stack test --skip very-long-integration-test` should build the library, the executable, the test suite `light` and run those tests. It should neither build nor run tests for

[2018-12-14 00:07] mhwombat commented on #4443
I'll try both of those and let you know.

Incidentally, this was working fine a few weeks ago. I have a hunch that it might be a cabal issue rather than a Stack issue. I'll try to test that theory as well.

[2018-12-14 01:33] Martii commented on #2761
Know this is old however I currently see a potential file ownership issue, at least currently in Ubuntu/Kubuntu 18.04 with:

[code]

Related permission refs:
* https://forums.virtualbox.org/viewtopic.php?f=3&t=88080 *(always helpful when a sys mod doesn't take much time to answer that as well)
* https://www.virtualbox.org/ticket/16759 *(Partial solution for vbox which lead to this issue e.g. chang

[2018-12-15 03:06] mhwombat commented on #4443
It seems my hunch was correct; it's not a Stack issue per se. What's happening here is that `cabal build` automatically generates a module called Paths__projectname_, and that's what causes the problem.

[code]

[2018-12-15 03:06] #4443 closed

[2018-12-15 10:40] ratatosk opened #4445 "stack upgrade --git failed: Could not find module ‘System.Uname’"
/tmp/stack-upgrade17723/stack/src/Stack/Setup.hs:103:1: error:
    Could not find module ‘System.Uname’
    Use -v to see a list of the files searched for.
    |
103 | import              System.Uname (uname, release)
    | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

current version:
Version 1.6.5, Git revision 24ab0d6ff07f28276e082c3ce74dfdeb1a2ca9e9 (5514 commits) x86_64 hpack-0.20.0

[2018-12-15 13:30] SnowOnion commented on #1594
I, a Haskell course TA in China (mainland), under 🕯🐴 [GFW](https://en.wikipedia.org/wiki/Great_Firewall), need this.

Otherwise many students will suffer from:
[code]

Meanwhile I also suffer from telling them to use domestic mirror (e.g. [TUNA’s](https://mirrors.tuna.tsinghua.edu.cn/hackage/) [(howto)](https://mirrors.tuna.tsinghua.edu.cn/help/hackage/)) which not always solve the network issue,

[2018-12-15 13:40] ratatosk commented on #4445
Upgraded without --git first to 1.9.3, then upgrade --git also worked.

[2018-12-15 13:40] #4445 closed

[2018-12-15 16:48] dbaynard commented on #4443
@mhwombat Thanks for investigating — and please do comment here if you find a suitable workaround.

[2018-12-15 16:50] dbaynard commented on #4445
Yes, there were some changes to uname (#4238) for 1.9 release. Glad to see you got it sorted 👍

[2018-12-15 17:04] dbaynard commented on #3369
To be clear, this is flags for dependencies, correct?

For a package itself one can use the [os conditional](https://www.haskell.org/cabal/users-guide/developing-packages.html#conditions) in the cabal/hpack file.

One can set flags in a machine's `config.yaml`, rather than the project's `stack.yaml`. Would this work for your use case?

[2018-12-15 17:13] dbaynard commented on #4442
Some further detail:

* [The Travis CI Blog: Upcoming Required Linux Infrastructure Migration](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration)
* [The Travis CI Blog: Combining The Linux Infrastructures](https://blog.travis-ci.com/2018-10-04-combining-linux-infrastructures)

[2018-12-15 18:04] pwaller commented on #3369
Yes. The packages whose flags need to be influenced are not under my control.

That's not great either, since it is an additional step that must be documented and remembered to be done during setup of the machine. It would be much better if it were simply a property of the stack.

[2018-12-15 21:52] dbaynard commented on #3369
I can see good reasons to have such tooling. In one sense it is similar to haddock — often there are haddock build failures with dependencies, but stack currently has no way to indicate that a build should ignore these (the stackage-curator tool does, however).

This broadens the proposal slightly — perhaps it would be better to invert the tree:

[code]

That way any key (within some subset of the

[2018-12-15 23:14] borsboom commented on #2534
Yeah, we've now done all of this, so closing.

I think it might be time to consider removing the YUM/APT repos as well, since it's been quite some time since anything new has been added to them (last version to be added to any was stack-1.5.1, and we're now on stack-1.9.3).  But I'll make a separate issue/announcement about that.

[2018-12-15 23:14] #2534 closed

[2018-12-15 23:34] #4442 closed

[2018-12-16 02:34] nh2 commented on #4019
For reference, I am now also running into this issue when building DWARF-enabled GHCs in nixpkgs:

https://github.com/NixOS/nixpkgs/pull/52255#issuecomment-447610795

[2018-12-16 02:59] snoyberg commented on #4440
Looks like the Windows build succeeded now (though the Mac build failed, seemingly due to a network issue). Want me to open a PR?

[2018-12-16 18:12] qrilka commented on #4443
BTW @mhwombat did you open a Cabal issue about this?

[2018-12-16 18:58] varosi commented on #4441
@quasicomputational Building it with GHC 8.6 resolved the problem! Now the problem will be to build LiquidHaskell with latest GHC.

[2018-12-16 19:06] #4441 closed

[2018-12-16 20:36] dbaynard opened #4447 "Travis builds timing out"
We may be able to fix the timeouts by timing out within the job earlier, leaving enough time for the cache to be uploaded. Any such build failures can be restarted, but this time using the cache.

Sources:

* [Upload the cache before timeout · Issue #6410 · travis-ci/travis-ci](https://github.com/travis-ci/travis-ci/issues/6410#issuecomment-237812495)
* [Travis caching and incremental builds – Net

[2018-12-16 21:40] borsboom commented on #4440
I'd say you can either open a PR or just merge it directly.

[2018-12-16 23:38] mhwombat commented on #4443
As it turns out, there is already a [Cabal issue](https://github.com/haskell/cabal/issues/5795) about it.

[2018-12-17 00:52] borsboom commented on #4447
Now that the Azure Pipelines branch has been merged, we could also consider dropping Travis.  Azure pipelines should now be covering all the cases Travis does (and Appveyor, for that matter).  I believe it will run for PRs as well, just like Travis.

[2018-12-17 07:55] #4440 closed

[2018-12-17 07:55] snoyberg commented on #4440
Pushed to master, thanks!

[2018-12-17 11:48] dinnu93 opened #4448 "Trying to install stack on an ubuntu VM using VirtualBox with 10 GB memory and 2 GB RAM on a mac machine with 4 GB RAM"
Preparing to install GHC to an isolated location.
This will not interfere with any system-level installation.
Already downloaded.
Installing GHC ...
Received ExitFailure 2 when running
Raw command: /usr/bin/make install
Run from: /home/dinesh/.stack/programs/x86_64-linux/ghc-8.4.4.temp/ghc-8.4.4/

[2018-12-17 11:49] dinnu93 commented on #4448
I got a message from my ubuntu VM saying that it only has 483 MB remaining, Is that the problem or something else ?

[2018-12-17 15:30] nh2 commented on #2583
Indeed, when you have two packages `a` and `b`, where a's test-suite depends on `b` and b's test-suite depends on `a`, which I call cross-dependencies, like this:

[code]

and you do `stack test` then you get a very bad error message:

[code]

It says `the following exceptions were encountered:` but the section below it is just empty, not showing which exceptions it's talking about.

This is easy

[2018-12-17 15:38] nh2 commented on #2583
@qrilka and me tried:

When you have a cross-dependency of test and benchmark like this:

[code]

then it usually works when you use `stack test` or `stack bench` but that is only because these invocations run tests or benchmarks _only_.

As soon as you use `stack build --bench --test`, this fails with the above empty error message, too.

[2018-12-17 15:40] nh2 commented on #2583
@mgsloan Do you know if this was _ever_ working?

[2018-12-17 15:44] nh2 commented on #2583
@mgsloan also, do you remember whether you believed this just for real `library a <-> library b` cycle dependencies, or also for cross dependencies like the above?

[2018-12-17 16:06] nh2 commented on #2583
We also found out that if you have a "wedge" dependency like this:

[code]

then this actually works:

[code]

As we can see, in this case stack first builds and registers libraries of `a`, then of `b`, and then runs `a`'s benchmarks at the very end.

So the build of `b` is sandwiched between the `library` and `benchmark` of `a` as desired.

* [ ] Now we should check why it can't do the cross case

[2018-12-18 13:20] qrilka commented on #2583
it appears that `master` version at least shows something:
[code]
and as a way to build Stackage snapshots with Stack for #4217 I'll need to address this issue as with all of the Stackage packages it's quite easy to get a cycle

[2018-12-18 16:50] dspies-leapyear opened #4450 "Building `Cabal` on mac hangs."
Please follow the steps below for reporting a bug:

Make sure that you are using the latest release (currently stack-1.9.3).
See the [upgrade instructions](http://docs.haskellstack.org/en/stable/install_and_upgrade/#upgrade) to upgrade.

Please use the following schema for your bug report:

### General summary/comments (optional)
I can't build `Cabal` (trying various different snapshots). It just

[2018-12-18 20:52] samvv commented on #1278
I'm all for this 👍 I just found myself in a situation where I have developed a library that I want my installed tool ([Shake](https://shakebuild.com) to see. I currently see no way of doing that. Is there some kind of temporary workaround? Like copying/symlinking certain files?

[2018-12-18 21:30] dbaynard commented on #1278
Hi @samvv, more detail would be helpful. Is your library published somewhere?

In particular, the manual has a number of approaches that may be relevant — but from the information you've given so far it's hard to judge how to help.

[2018-12-19 08:13] samvv commented on #1278
@dbaynard Thanks for the response. [This](https://github.com/samvv/haskell-typed-command) is the library. It's isn't published anywhere yet; my account on Hackage has yet to get approved. I've managed to fix it by installing vanilla Cabal, doing a `stack sdist` and then a `cabal install <tarfile>`. A bit ugly, but it works.

[2018-12-19 12:01] dbaynard commented on #1278
That’s helpful. You may wish to use a custom snapshot which includes your github repo.

I can give more detail if the shakefile is public. Would you be willing to put it in a gist, or something?

[2018-12-20 11:51] skapazzo commented on #4362
This issue should be solved now. Pinging @ThomasLocke.
The complete solution for slackware 14.2 and probably older versions requires the libtinfo package from Alien BOB (Eric Hameleers) repository or manually creating the appropriate symlinks. Slackware current and future versions shouldn't need this anymore.
It works locally for me with the stock ncurses package, do we need somebody else to test

[2018-12-20 14:07] qrilka commented on #2583
I've tried to add cycle resolution to `Stack.Build.ConstructPlan` in d1386fc8809cd7f68f201d1a0f87b69678a0ba3a using an ad-hoc solution but doing that doesn't appear to be an easy task without a major refactoring of that module. The current algorithm tries multi-step builds (installing library separately from tests and benchmarks) on 1 package level and resolving longer cycles requires extra bookke

[2018-12-20 16:02] dbaynard commented on #4450
Hi @dspies-leapyear, thanks for the report. Would you post the full log (a link, or wrapped in `<details>` tags) and also indicate which snapshots you have tried?

It would be useful to know where you are starting from — what else do you have installed with these resolvers, for example?

It may be worth trying to change the linker. And have you taken a look at similar issues e.g. #3487?

[2018-12-20 16:31] dbaynard commented on #4448
Hi @dinnu93, it sounds likely. GHC requires ~1GB.

It isn't fully clear what has happened, though — if you need more suggestions, would you kindly fill in the issue template information (might be easier to close this and open a new one) in particular the verbose logs.

[2018-12-20 16:35] dbaynard commented on #2540
Quick update: #3922 has been merged

[2018-12-20 18:02] samvv commented on #1278
The project is [over here](https:///github.com/samvv/AutoFFI), though it doesn't matter much, because I've switched back to CMake for this particular project instead of Shake. Thanks for wanting to help anyways, and I still think it would be a cool feature to have.

[2018-12-21 07:03] qrilka commented on #2583
@nh2 even a "wedge" dependency could get into a problem if we'll take into account that tests (which probably get easier get to this situation than benchmarks) in `a` could use types from `a` lib which could be returned from `b`. So we get to the situation
[code]
which isn't a cycle by itself as the links are directed. But Stack uses a bit of a hack as https://github.com/haskell/cabal/issues/1575

[2018-12-21 07:19] lippirk commented on #4428
I have just added pandoc to my package.yaml, and i get the same issue with `stack build --haddock-deps`

[2018-12-21 10:56] ThomasLocke commented on #4362
:+1:

[2018-12-21 13:07] qrilka opened #4453 "Stack's support of detailed-0.9 test type appears to be broken"
### General summary/comments (optional)

Stack claimed to support `detailed-0.9` test suite type starting with #1447
It looks that it got broken somehow, I found it while trying to build Stackage snapshot with Stack.

### Steps to reproduce

1. Clone https://github.com/michaxm/test-detailed-example which was the original minimal example for this feature (from #1429)
2. Run command `stack test`.

#

[2018-12-21 19:17] arrowd opened #4454 "Building without 01-index files."
I'm trying to use stack as a build tool for FreeBSD Ports of Haskell applications. It would be pretty lengthy to explain everything in detail, but it boils down to the following problem:

I plan to archive whole stack root, which is prepared to build given package. However, index files are very large. I tried deleting them, but it worked only for `00-index` ones.

Here are exact commands I'm runni

[2018-12-21 21:44] texasbruce commented on #377
@conklech Spent a whole night on this and it turns out using `mingw-w64-x86_64-pkg-config` solves the problem. Now I am carefully examining all the packages under msys/*.

[2018-12-21 22:57] Fyrbll commented on #4431
I'm using version 1.9.1 of stack on Mac OS 10.13.6. I ran `stack hoogle --server --rebuild` in a new project with just the packages 'base' and 'vector' as dependencies. A hoogle server listening on port 8080 of localhost was successfully started.

After opening Safari (version 12.0.2) to localhost:8080, I entered 'Data.Vector' into the search bar, hit 'search' and clicked on the first result that

[2018-12-21 23:34] pozix604 opened #4455 "Stack refers to /usr/local/... when installed and run as a non-root user on FreeBSD 12 RELEASE."
Reproduction is simple:

* Fresh install FreeBSD 12.
* Run `curl -sSL https://get.haskellstack.org/ | sh` per instructions.
* Create a new project, `stack new test`, `cd test`.
* Build the project, `stack --verbose build`.

At this point, the build will fail first with `ExitFailure 2`. It turns out that it needs `libffi` but it is not installed, so install it with `pkg install libffi`.

Now `stack

[2018-12-21 23:41] luntain commented on #4431
I found it was invoking hoogle from my PATH, which was version 5.0. After I removed that old hoogle from the PATH, stack detected that and built version 5.0.17.3. This worked.

[2018-12-22 07:31] Fyrbll commented on #4431
Good catch! Does this mean that the issue can be closed?

[2018-12-22 09:56] luntain commented on #4431
Yes

[2018-12-22 21:18] sloik commented on #3741
Same issue on 8.4.4 :(

[2018-12-22 22:29] xenoexplorator opened #4457 "Stack cannot build new project from template"
### General summary/comments

I'm trying out stack for the first time and I can't build the simple project created by the default template.
I'm working on Windows 10 Home edition.

### Steps to reproduce

[code]

### Expected

The project is built successfully and the resulting executable can run.

### Actual

`stack` build exits with status code 1 after outputting the following error message:

[c

[2018-12-22 23:12] yellowtruck opened #4458 "Please don't use Haskel"
Haskell has a lot of problems.  I knew odin of the leading haskell community lewdies who built and ran the websites all the haskell lewdies used; and he was sorting array and it took 60 gb of ram and he could not even predict how much ram a simple operation would take; and something that took odin ms in c would take minutes in haskell and it took like odin meg of ram in c and in haskell, it took g

[2018-12-22 23:46] pikajude opened #4459 "Allow GHCJS usage with --system-ghc"
I know ghcjs support in stack is experimental, but it would be nice to be able to specify `--system-ghc` when I have my own version of ghcjs in scope (i.e. via nix).

[2018-12-23 04:36] ice1000 commented on #4458
This is considered spam in Agda, Stack, Eta and OwO.

[2018-12-23 10:07] ocramz opened #4460 "stack upload should work even without a stack.yaml"
It should be possible to attempt Hackage upload even if there is no stack.yaml present.

[2018-12-23 16:50] davidspies opened #4461 "`stack haddock haskell-src-exts` hangs"
This happens both on Mac and on Ubuntu.

[code]

[code]

### Method of installation

* Official binary, downloaded from stackage.org

(sorry if this is a duplicate; I thought I reported it already, but now I can't find the ticket)

[2018-12-24 10:30] JonnyRa commented on #3819
Hi!  I never got around to looking at this + not sure I'm mega bothered about implementing it now so thought I'd close the issue.  Thanks for your response :)

[2018-12-24 10:37] JonnyRa commented on #3834
Hi!  I've had this plugin working for a while now and have finally got around to publishing it at https://github.com/JonnyRa/vim-stackThoseErrorsOfHs.  It works nicely and is a great time saver but this is the major flaw with it - it doesn't work at all for tests.

I'd like to take a crack at getting the logs written out when builds for tests fail.  Would someone be able to help point me in the ri

[2018-12-24 15:34] flip111 commented on #2540
I'm wondering doesn't it make more sense to try to land backpack support in stack 2.0 and include it in in https://github.com/commercialhaskell/stack/blob/new-build-plan/doc/build-overview.md ?

I'm just considering this because backpack support could be a big refactor and cause some architecture changes??

Or is this taking too much at once and possibly delaying stack 2.0 by too much? Maybe backp

[2018-12-24 16:12] mbj commented on #2540
BTW: Where to donate currency to support this feature? I cannot donate my time currently.

[2018-12-24 16:16] flip111 commented on #2540
@mbj one bounty was already opened here https://www.bountysource.com/issues/37368931-backpack-for-stack but i think you can use other websites as well and create a new bounty

[2018-12-24 18:36] mihaimaruseac commented on #4428
That's because newer pandoc no longer uses the internal library.

[2018-12-24 18:38] mihaimaruseac commented on #4428
Also, https://github.com/haskell/haddock/issues/986

[2018-12-24 23:12] andersk opened #4462 "‘stack upgrade’ creates ‘~/.local/bin/stack (deleted)’ on Linux"
### General summary/comments

`stack upgrade` first overwrites `~/.local/bin/stack`, then overwrites the path returned by `getExecutablePath` if it’s different. However, if `stack` was in fact running from `~/.local/bin/stack`, then after it overwrites itself the first time, `getExecutablePath` returns `~/.local/bin/stack (deleted)` (since that’s what `readlink("/proc/self/exe")` does in such a ca

[2018-12-25 01:39] praduca commented on #4362
I can confirm a very close behaviour on nixos (unstable), and it doesn't appear to be caused by this library. I could even execute  ` stack new test rio`   and compile this test project successfully, but when trying on another project it fails with the above message. (The project  is dino-rush - https://github.com/jxv/dino-rush).
It seems that something other than missing libs is going on, with li

[2018-12-25 05:59] qrilka commented on #4362
@praduca `dino-rush` appears to be using LTS-9.14 and that snapshot is based on GHC-8.0.2, NixOS currently appears to be supporting GHC starting with version 8.2.2. I suppose you could either upgrade `dino-rush` to a fresher LTS or use GHC from some of earlier nixpkgs commits

[2018-12-26 09:39] alexkazik opened #4463 "Add pedantic option to ghci"
I'd like a pedantic option to the ghci sub-command: `stack ghci --pedantic`.
I know that `stack ghci --ghci-options "-Wall -Werror"` does the same but it's more to type and it's then consistent with build.

[2018-12-26 19:17] alexkazik commented on #4463
I will try it.

[2018-12-27 06:59] silky opened #4465 "latest stack from git can't find ghc (stack upgrade --git)"
[code]

when i downgrade to the latest binary, with `stack upgrade --force-download` everything works as expected.

it's the same error when i try and build any stack project (`stack build`)

[2018-12-27 10:03] snoyberg opened #4466 "All commands fail unless ghc is on the PATH (master)"
### Steps to reproduce

1. Install latest Stack from master (1bbed48cf22ecc7a3fa3ed230e1cc6354fdf809f)
2. Run `stack path` or any other command

### Expected

The command to succeed

### Actual

Get an error along the lines of:

[code]

### Stack version

[code]

### More info

The `hashSourceMapData` function is calling `proc compilerExe ["--info"] readProcess`, which seems to be where this error

[2018-12-27 11:47] silky commented on #4466
this is what i reported here: https://github.com/commercialhaskell/stack/issues/4465

[2018-12-27 11:47] silky commented on #4465
duplicate https://github.com/commercialhaskell/stack/issues/4466

[2018-12-27 11:47] #4465 closed

[2018-12-27 14:02] #4466 closed

[2018-12-27 14:03] snoyberg commented on #4466
Thanks for reporting @silky, sorry I didn't notice. @qrilka got this fixed on master now, please check it out and confirm for yourself when you have a chance.

[2018-12-27 14:49] qrilka opened #4468 "Make Stack's integration tests not depend on $PATH"
While looking for a test covering problem resolved in #4467 I have found that our integration tests don't clean $PATH variable and thus could get run in an environment with some GHC being availble on user's path. It would be better if they were run in an "empty" environment probably with just Stack itself being available.
In my 1st attempt to do that I discovered that `basic-install` test appears

[2018-12-27 15:10] qrilka commented on #3989
It looks like this Cabal problem was fixed in version 2.4.0.1, at least I got `stack haddock` succeeding with `test/integration/tests/3899-dont-rebuild-sublibraries/files` by switching from `8.2.2` to `8.6.3`, I plan to try `haddock-library` a bit later

[2018-12-27 16:18] alexkazik commented on #4463
This should do it: https://github.com/alexkazik/stack/commit/df30f9def5555858c046946dcff3111b50468086

But when I use the new stack (after `stack install stack`) it always complains about ghc missing when I try to either `~/.local/bin/stack build` or `~/.local/bin/stack ghci`. I don't have ghc installed and the former version (up to 1.9.3) uses the one in ~/.stack/.

[2018-12-27 16:40] mihaimaruseac commented on #4463
It looks good to me, need to make a PR to be able to merge it.

I don't know why you get the missing ghc issue. Can you try `stack --version` and `~/.local/bin/stack --version`?

[2018-12-27 16:44] alexkazik commented on #4463
[code]

[code]
(installed via brew)

[2018-12-27 17:12] mihaimaruseac commented on #4463
So the one in `~/.local/bin` is the installed one. I'll try to reproduce later today or just check the PR on my box and then merge it. Thank you

[2018-12-27 17:14] mihaimaruseac commented on #4468
Thank you for discovering this

[2018-12-27 17:15] mihaimaruseac commented on #4463
Oh, I think it is because of #4466. If you do a rebase on top of the fix for that it should work.

[2018-12-27 17:52] esjmb opened #4470 "problem building --docker double-conversion with lts-13.0"
Hi,

rebuilding a project that compiled fine using prior lts-12.x, but now using lts-13.0 the build fails with a foreign dependency problem.

   1. project has a dependency on double-conversion-2.0.2.0
   2. using fpco/stack-build

the following error arises:

[code]

The project builds fine without "--docker"
Other projects without double-conversion build fine also.

thanks.
s.

[2018-12-27 18:08] mihaimaruseac commented on #4470
Might be an issue with `double-conversion` between `2.0.2.0` and the version in lts-12.x (can you check what version was there? `double-conversion` is a grandfathered dependency so doesn't show directly on the stackage page)

[2018-12-27 19:01] esjmb commented on #4470
Hi, thanks for the quick reponse.

the dependency path is as follows:

stdc++ <-- double-conversion <-- bytestring-conversion <-- servant-auth-server

where A<—B means B depends on A

the versions seems stable over recent time:

bytestring-conversion’s current version (0.3.1) has been stable for quite some time - you have to go back to LTS 12.17 before you regress to 0.3.0 : https://www.stackage.o

[2018-12-27 19:05] mihaimaruseac commented on #4470
Thanks for the reply. Indeed, it is not from Haskell land. One more thing that you could try (I'm not on a computer where I can run `stack` or other Haskell code) is to `exec bash` into the docker container and check versions of `g++`, `clang++` (if available) and contents of `/lib` and `/usr/lib` (do a `find -type f` on them and pastebin the result, if possible).

Thanks.

[2018-12-27 21:06] afcowie commented on #3989
For what it's worth, **pandoc** 2.5 depends on **haddock-library** 1.7.0 which has dropped the troublesome internal (vendored?) dependency on **attoparsec**. So the problem is going to go away for people like me when that version hits Stackage. Which is great for me, but soon I won't have a clear idea if the underlying problem is fixed. I hope @qrilka's report is correct.

[2018-12-27 21:12] qrilka commented on #3989
`stack haddock` works fine for `haddock-library` with LTS-13.0

[2018-12-27 21:56] mihaimaruseac commented on #3989
The underlying problem most likely isn't fixed, it's just that haddock-libary devs were convinced to not use internal deps.

Didn't get a chance to investigate the underlying problem yet, I'm too far back on open source work :(

[2018-12-27 22:45] esjmb commented on #4470
here the results:

g++-5 --version
g++-5 (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609

no clang++

[code]

/usr/lib is to big - i'll attach

[2018-12-27 22:52] esjmb commented on #4470
[tmp.txt](https://github.com/commercialhaskell/stack/files/2713522/tmp.txt)

here is /usr/lib

[2018-12-27 23:16] mihaimaruseac commented on #4470
I see `/usr/lib/x86_64-linux-gnu/libstdc++.so.6.0.21` so there is at least one version of `libstdc++`.

[2018-12-27 23:35] dbaynard commented on #4468
Test #4268 is related (see our discussion on #4407). With a clean path the test becomes trivial.

[2018-12-28 00:06] esjmb commented on #4470
interesting.

I tried (my best guess)

[code]

but same error. any thoughts?

[2018-12-28 03:39] lood339 commented on #4380
@mattaudesse The method of delete ranlib and ar works for me. My case is not the exactly the same as the original problem, but it is similar (upgrade Mac os to Majave then run something requires libtool).

[2018-12-28 06:21] qrilka commented on #3989
@mihaimaruseac why do you think it's not fixed?
Here is a log of successful build:
[code]

[2018-12-28 06:36] Wizek commented on #3435
This currently seems to be impossible due to #3353 and #3315, or is it possible somehow?

[2018-12-28 10:01] alexkazik commented on #4463
Yes, that did the trick. But I wonder wether it's maybe better to add to --ghci-options, now it's --ghc-options. With added to --ghc-options the pre-compile step fails and it's trying ghci anyway and then there is the error also. With --ghci-options the pre-compile would work.

[2018-12-28 10:05] psibi opened #4471 "SqliteBusy Error appears once in a while"
### Sqlite Busy error still appears

Related issue: https://github.com/commercialhaskell/stack/issues/4247

### Steps to reproduce

Unfortunately, there are no steps to reproduce it reliable. The Azure pipeline has been able to replicate it periodically:

* https://dev.azure.com/commercialhaskell/stack/_build/results?buildId=198 (Windows)
* https://dev.azure.com/commercialhaskell/stack/_build/resu

[2018-12-28 13:44] snoyberg opened #4472 "Script interpreter cannot discover packages on master"
Repro:

[code]

Running `stack Main.hs` on the file above works with both the current Stack release (1.9.1) and with Stack HEAD (b227e946b0598b8a87da2c3dfd13debf3638b50c). However, if you remove the `--package stm` bit, it will fail on HEAD while working with the current Stack release.

[2018-12-28 13:46] snoyberg opened #4473 "Move back to FP Complete Hackage mirror?"
Due to increased reliability of Hackage itself and its CDN providing nice guarantees, I moved Stack to point to Hackage instead of the FP Complete mirror (located on S3) by default. I just saw some discussions of breaking integration tests due to Hackage being down. Should we move Stack back to pointing at the historically more reliable S3 mirror?

[2018-12-28 14:32] phadej commented on #4473
Can't stack simply support multiple mirrors and try them in turn if some of them fails? Isn't that the point of mirrors? `hackage-security` supports mirrors, so it shouldn't be too difficult to do.

https://www.stackage.org/haddock/lts-13.0/hackage-security-0.5.3.0/Hackage-Security-Client-Repository.html#v:repWithMirror

[2018-12-28 14:34] phadej commented on #4473
Also, Hackage is back up.

[2018-12-28 16:34] mihaimaruseac commented on #4468
I think we can adapt the test to setup PATH properly before running (needs commenting out and issue created and then PR)

[2018-12-28 16:35] mihaimaruseac commented on #4470
I'll have to get into the docker container myself to see what's missing.

The `--extra-..` flags on the `stack --docker` invocation don't get propagated to each individual command inside :(

[2018-12-28 16:36] mihaimaruseac commented on #3989
Try haddock-library 1.4.5

[2018-12-28 16:38] mihaimaruseac commented on #4463
It's better to add to `--ghci-options`.

[2018-12-28 16:46] mihaimaruseac commented on #4471
Do we have multiple threads accessing SQLite at the same time?

[2018-12-28 16:48] #4473 closed

[2018-12-28 17:03] DanBurton commented on #4473
+1 to stack trying backup mirrors

However... doesn't the design of pantry basically require its own separate hosting? (Unless there are plans for hackage to support the hash-based api pantry wants to use.)

[2018-12-28 20:13] alexkazik commented on #4463
Updated the PR.

[2018-12-28 21:50] qrilka commented on #3989
works fine as well - https://gist.github.com/qrilka/88f785ad331f577043c355fddd8690fa

[2018-12-28 23:35] mihaimaruseac commented on #3989
No, it doesn't: https://gist.github.com/mihaimaruseac/8eb45ef4ba223c6c801c8cd6d99000e8

You might have some env or binary in path which made it work, but it doesn't on a fresh install of HEAD of Stack.

[2018-12-29 00:34] mihaimaruseac commented on #4472
Confirmed on a fresh clone (8e3490566b8e2846d99219156bee47047bd44564)

[2018-12-29 13:37] qrilka commented on #3989
I see "ghc-8.2.2" in you gist @mihaimaruseac - how do you get it with LTS-13.0? I guess that's why you have that problem. BTW I still have old stack-1.7.1 on by $PATH by default, the problem isn't about Stack, it's about the change in how Cabal works.

[2018-12-29 13:38] qrilka commented on #4472
I plan to look into it soon

[2018-12-29 15:36] snoyberg commented on #4473
@phadej I don't know why the mirror logic doesn't work already. This should be a feature of hackage-security, not Stack.

[2018-12-29 18:12] mihaimaruseac commented on #3989
I was under the impression that this is a Cabal internals issue that Stack needs a work around for.

[2018-12-29 18:14] mihaimaruseac commented on #4399
`stack clean` cleans `.stack-work` in the current project, `~/.stack` is the global snapshot. Sometimes you need to clear both, sometimes only one of them, depending on the specific error.

[2018-12-29 21:20] qrilka commented on #3989
Oh, missed that line, sorry, from a couple of Cabal issues I've read it looks like Stack could have some workaround even with some previous Cabal versions (though I'm not sure how) but it appears that now we don't need to :)

[2018-12-29 21:39] mihaimaruseac commented on #3989
Even manually switching to the LTR-13.0 resolver doesn't work

[code]

[2018-12-29 22:44] qrilka commented on #3989
@mihaimaruseac I think I have found was causes this for you: see special hack which was added exactly for this library - https://github.com/commercialhaskell/stack/blob/v1.9.0.1/src/Stack/Build/Execute.hs#L1328
I have stack-1.7.1 locally so I don't have that enabled and so my Stack works OK, I guess that thing needs get reviewed.

[2018-12-30 02:34] mihaimaruseac commented on #3989
One final point as to why this is not solved yet: I got a container with stahck-1.7.1 and, while `stack haddock` succeeds, no documentation for the internal library is generated (it is ignored completely).

[2018-12-30 12:50] snoyberg opened #4475 "DISCUSS: Drop support for older Cabal library versions"
Stack's design involves shelling out to the Setup.hs file for most activities it performs. IIRC, we currently support Setup.hs files compiled against Cabal versions as old as 1.18. However, keeping this support involves conditionals in the codebase. At some point, we will likely want to drop support for older versions of the Cabal library.

As we're looking at Stack 2.0 and adding support for Back

[2018-12-30 14:24] flip111 opened #4476 "Windows terminal 64 bits?"
After the stack installation on windows is done it's not really clear what terminal should be used.

I'm on windows 10 64 bits.

When i start my git bash (i had git installed) or windows command prompt and run stack it's using mingw32

When i start mingw64.exe from `%APPDATA%\Local\Programs\stack\x86_64-windows` stack can not be found.

It wouldn't hurt to add some explanation here to the manual.

[2018-12-30 15:47] ygale commented on #4369
Verified that this is working in the now-released stack 1.9.3. Thanks stack team!

[2018-12-31 05:48] qrilka commented on #3989
I completely forgot about the docs themselves. I see docs for the internal library getting generated:
[code]
But it looks like main library index doesn't include them (it overwrites the one from the internal library).
I tried `cabal new-haddock` (but with Cabal 2.2) - it generates 2 haddock directories and the one about internal `attoparsec` talks about "haddock-library-1.4.5: Library exposing som

[2018-12-31 06:09] psibi commented on #4471
Yes, I do think so. There is also this function inside the module `Pantry`:

[code]

[2018-12-31 09:19] juhp commented on #4475
Do you want to define older? :-)
Do you mean say Cabal < 2?

[2018-12-31 11:35] snoyberg commented on #4475
I was vague on that, good point. I _think_ we'd be dropping Cabal < 2, but until someone jumps into the work I don't think we'll be 100% certain which library versions will be the most important to try dropping.

[2018-12-31 11:41] qrilka commented on #4475
+1 on that, I think it makes sense to check how good is support of component-based builds in Cabal 2.0 and 2.2, from what I have seen on the topic it's not quite clear if we'll be good enough already with 2.0

[2018-12-31 14:38] mihaimaruseac commented on #4471
Then that's the issue. SQLite doesn't support multithreaded access to the database.

[2018-12-31 14:39] borsboom commented on #4475
I think this is reasonable.  It's already pretty common for OS upgrades to break support for older GHC versions, so the idea of not being able to use old GHC versions indefinitely is not new.  The standard for build reproducibility that's emerged is that if your environment (stack version, OS version, etc.) stays the same then builds should be reproducible, but if any of those change then there's

[2018-12-31 16:20] mihaimaruseac commented on #4475
I'm also ok with dropping support on a major change of Stack.

[2018-12-31 21:19] blipvert commented on #3248
Not true at all.   The critical window of failure occurs after the binary file has been closed, but not yet fully synced to disk.  During this time, a coherent view of the file's entire content is nevertheless available to readers, and if a checksum were then to be calculated, it would represent what data is supposed to be there after a successful filesystem sync.  In the case where some unsynced

[2019-01-02 20:54] mgsloan commented on #3496
@minad Hi! I'm not very active in stack maintenance these days, so the decision is up to the active maintainers (pinging @mihaimaruseac).

Certainly it makes sense to me to have some form of locking for build.  It might make sense to nest the lock files within the dist directories, so that independent builds can still be done concurrently.

[2019-01-03 00:21] silky opened #4480 "`stack clean` fails due to missing ghc-pkg (on latest from master)"
looks suspiciously related to https://github.com/commercialhaskell/stack/issues/4466

to repro

1. use stack from https://github.com/commercialhaskell/stack/commit/5144dd57bd78553f5051601295a2eb215d1db5a6
1. go into a project
2. run `stack clean`

error:

[code]

version

[code]

[2019-01-03 04:38] jganetsk opened #4481 "AesonException "Error in $['extra-deps'][0]: failed to parse field 'extra-deps': failed to parse field extra-deps: (Invalid package identifier: \"Cabal-2.4.0.1@rev:0\",\"Cabal-2.4.0.1@rev:0\")""
[code]

[code]

[code]

[code]

[2019-01-03 06:10] psibi commented on #4481
What is the stack version you are using ? The latest one is stack-1.9.3. It seems you have `1.1.2` which is quite old. Can you install the latest one ?

[2019-01-03 06:16] qrilka commented on #4471
@mihaimaruseac why do you think it does not? See e.g. https://www.sqlite.org/threadsafe.html
From a quick glance it looks like `persistent-sqlite` doesn't set threading explicitly and thus serialized mode should be used.

[2019-01-03 06:20] qrilka commented on #4481
I think the version `1.1.2` comes from the current Debian stable - https://packages.debian.org/stretch/haskell-stack and I see no versions in backports for it

[2019-01-03 17:57] mihaimaruseac commented on #3496
@minad Sure, that could work.

[2019-01-03 17:58] mihaimaruseac commented on #4471
I guess that's a new development in slqite. In the past it used to not be possible to properly multithread access the database.

[2019-01-03 18:00] mihaimaruseac commented on #4480
Confirmed that I can reproduce this

[2019-01-03 18:05] mihaimaruseac commented on #4481
@jganetsk try `stack upgrade` and then probably you also need to set `PATH` to also include `~/bin/` or something (see the output of `stack upgrade`, it tells you where your new binary gets placed).

[2019-01-03 19:03] qrilka commented on #4481
@mihaimaruseac but isn't `stack upgrade` shown in the staring description of this issue?

[2019-01-03 21:50] mattaudesse commented on #4476
Hey @flip111 - this is more of a Windows CLI question than something directly specific to `stack`, and the answer will depend on an individual's personal environment + how it's set up (so it's hard to provide any set of steps that'll apply equally well to everyone, although we'd happily welcome a docs PR if you'd like to volunteer).

Whichever one you'd like! I'm not a Windows user so I can't repl

[2019-01-04 09:08] mrkkrp opened #4484 "A regression in "stack templates""
### General summary/comments (optional)

Description of `stack templates` used to just list available templates, and that's what it's said to do when you run `stack --help` still. But now it outputs just some text instead of the list of templates. This breaks tooling.

### Steps to reproduce

Run `stack templates`.

### Expected

List of available templates.

### Actual

Some text is printed.

###

[2019-01-04 10:25] peti opened #4485 "Why is yaml 0.11.x not supported?"
stack-1.9.3 compiles and works fine with the latest version of yaml, but the Cabal file won't allow it to be used during the build. Is there a particular reason why that it is so?

[2019-01-04 11:04] qrilka commented on #4484
This was changed in https://github.com/commercialhaskell/stack/pull/4129 and was listed in changelog for the version 1.9.1

[2019-01-04 12:01] mrkkrp commented on #4484
Well, that’s bad, the useful functionality is now lost.

[2019-01-04 13:06] buggymcbugfix opened #4486 "slower with --fast"
When rebuilding with `--fast`, why does everything that was previously built with optimisations get recompiled? Would it be feasible to only recompile things with `-o0` that have actually changed?

[2019-01-04 14:06] qrilka commented on #4480
It appears to be a bit of a clash between #4412 and #4268
To fix this properly I guess we need some good way to solve #4390 as after #4412 the most of the commands became more dependent on GHC being available

[2019-01-04 17:17] mihaimaruseac commented on #4486
Not really, there are fusing and inter-module optimization rules which would produce invalid output in that case

[2019-01-04 17:57] flip111 commented on #4476
I know about `PATH`. My point is that Stack ships with a build environment windows. This is likely because GHC ships with a build environment for windows and stack ships with GHC. But the stack installer doesn't create icons, doesn't setup PATH or anything. There is no documentation on this either. If you were to install stack on windows and browse it's installation folders you would see what i'm

[2019-01-04 18:21] mattaudesse commented on #4476
I've put in a question to the other `stack` maintainers in case someone has a Windows box handy and can help you.

[2019-01-04 18:39] flip111 commented on #4476
Thank you for re-opening. By the way gcc is located here:

`%appdata%\local\programs\stack\x86_64-windows\ghc-X.Y.Z\mingw\bin\gcc.exe` so it's also shipped. I need gcc to compile some C libraries together with the haskell library.

[2019-01-04 19:49] peti commented on #4485
Well, for people who'd like to distribute `stack` such as myself, it would be very helpful if the Cabal file on Hackage would allow yaml-0.11.x since we're not running builds with `cabal-install`. It would be great if you could edit the file on Hackage so that it includes the new version in the range.

[2019-01-04 19:51] Aarskin commented on #216
@dbaynard I'm seeing this with Stack v.1.9.1 (Windows 10 Enterprise, Version 1709, Build 16299.726)

[2019-01-05 00:23] jgertm opened #4487 "Stack REPL can't find environment variables"
### General summary/comments (optional)

When running `stack repl`, I cannot access environment variable that are set in the shell from which I launched `stack repl` via `System.Environment.getEnv`.

### Steps to reproduce

[code]

### Expected

Same behavior as with `ghci`, i.e.
[code]

### Actual

Cannot find the environment variable in the REPL

[code]

Other environment variables are available

[2019-01-05 12:13] qrilka commented on #4487
@jgertm by default Stack uses pure Nix mode (and Nix mod is enabled by default on NixOS) - see https://docs.haskellstack.org/en/stable/nix_integration/#the-nix-shell
regarding keeping `$HOME` see `nix-shell` [docs](https://nixos.org/nix/manual/#sec-nix-shell) :
[code]

As a way around that you could try using `--no-nix-pure`

[2019-01-05 14:19] vrom911 opened #4488 "How to use stack with newer cabal version for older GHC?"
## Problem

As far as I see Stack LTS not only determine the version of GHC, but also restricted to use only the specific Cabal version that is stuck with the particular GHC. This creates some problems with using a unique version of Cabal for different versions of GHCs, for example, using common stanzas in cabal file with `cabal: 2.4` and support both GHC-8.6.3 and GHC-8.4.4.

Stack also doesn't a

[2019-01-05 18:14] buggymcbugfix commented on #4486
Makes sense, thanks.

[2019-01-05 18:14] #4486 closed

[2019-01-05 22:20] jgertm commented on #4487
Thanks @qrilka, that fixed it!

[2019-01-05 22:20] #4487 closed

[2019-01-06 07:45] snoyberg commented on #4488
Have you tried adding `Cabal` as an `extra-deps` entry? I'm not sure if it will be used for `build-type: Simple` or not, but it's certainly possible for us to add a configuration option to Stack to _force_ the newer Cabal library version to be used. The tradeoff is that it will force the (really CPU and memory intensive) build of Cabal before anything else can be built. But that sounds like exactl

[2019-01-06 09:06] qrilka commented on #4488
@snoyberg I had a quick look into this yesterday and it looks like out of the box `extra-deps` will not work as Stack uses Cabal version from global package database - https://github.com/commercialhaskell/stack/blob/stable/src/Stack/GhcPkg.hs#L176

[2019-01-06 09:41] vrom911 commented on #4488
Yes, this is true. I tried with `extra-deps` and I still have the same error..

[2019-01-06 11:45] YourPsychiatrist opened #4489 "Stack isntallation breaks gcc and other build tools (linker I suppose)"
### General summary/comments (optional)
I installed stack using the official docs on a fresh KDE Neon system (with i3 installed). After the installation, all processes using gcc (the linkers, to be precise) fail because they can not execute cc1 (gcc) or cc1plus (g++).

### Steps to reproduce

For example:

1. Install kde neon with i3 gaps
2. install the package `build-essential`
3. Compile C and C

[2019-01-06 17:04] Blaisorblade commented on #3248
@blipvert Fair enough, if that's indeed what's happening (not that I can imagine anything else).

[2019-01-06 17:05] #4489 closed

[2019-01-06 17:06] YourPsychiatrist commented on #4489
Sorry for misleading issue: Problem had to do with the fish shell.
Oddly enough everything worked after I deleted the whole ~/.config/fish directory in case anyone else has been on the hunt for 8 hours!

[2019-01-07 02:36] buggymcbugfix opened #4490 "Rebuilding dependency at every build"
Every time I run stack build on my project I get the following

[code]

I think at some point I did stack install pretty-show (outside of my current project), but I tried removing the ~/.stack dir and this didn't go away.

Any ideas why this gets rebuilt every time?

(First asked on [StackOverflow](https://stackoverflow.com/questions/54031085/stack-keeps-rebuilding-dependency-at-every-build).)

[2019-01-07 04:18] xaviershay commented on #4006
I got this warning too and don't know what to do about it.

[2019-01-07 05:35] dustin commented on #2103
Is there any way I can help getting releases to track in LTS?  I use a lot of ARM and it'd be great to keep up.

    No setup information found for ghc-8.6.3 on your platform.
    This probably means a GHC bindist has not yet been added for OS key 'linux-armv7'.
    Supported versions: ghc-7.10.2, ghc-7.10.3, ghc-8.0.1, ghc-8.0.2, ghc-8.2.1, ghc-8.2.2

[2019-01-07 08:19] qrilka commented on #4490
@buggymcbugfix did you try cleaning project Stack directory e.g. with `stack clean --full`? Do you run `stack build` with the same flags? Do you get any other packages unregistered before `pretty-show`? One possible way to get to this situation is to have some dependency of `pretty-show` itself getting rebuilt for some reason. Did you try to minimize the problem? E.g. does it work for a simple pro

[2019-01-07 10:46] #4472 closed

[2019-01-07 12:49] dbaynard commented on #4480
Fix is probably to change the behaviour of `stack clean` when GHC is not present. #4466 is probably a coincidence.

We don't have `EnvConfig` without GHC present, and `stack clean` currently relies on `EnvConfig` in order to identify the `Cabal` library present (there's a documentation PR about these precise details following a conversation with @snoyberg).

The sensible thing would be:

-   if th

[2019-01-07 14:36] snoyberg commented on #4454
This _might_ be possible on master due to the usage of the Pantry database for holding the relevant information. But as things exist in 1.9.3, the 01-index.tar file is absolutely necessary for getting Hackage revisions of cabal files.

[2019-01-07 15:51] arrowd commented on #4454
Well, the `pantry.sqlite3` itself weighs almost as much as 01-index.tar, so it doesn't solve the problem for me.

[2019-01-07 16:04] snoyberg commented on #4453
This should be addressed by 75e1091a22e97280b716340468082e26d40e3f88. I've asked @NorfairKing to put together a PR that includes a regression test to catch this in the future.

[2019-01-07 17:34] arrowd commented on #4454
Some tables in `pantry.sqlite3` contain more than 100k rows. I wonder if the database size can be reduced to only what current package needs?

BTW, `--prefetch` now doesn't even download dependencies. I hope this is a temporal regression.

[2019-01-07 17:45] mihaimaruseac commented on #4480
Prompts with a default and flags for the other would help the scripts.

[2019-01-07 18:12] TD5 commented on #4148
I get this issue with `stack ghci` even after nuking `.stack-work` and then kicking off a `stack build`.

[code]

[2019-01-07 18:41] qrilka commented on #4480
@dbaynard I don't understand why do you say that deleting the only one `Cabal` directory in `dist` is the way `stack clean` currently works, see e.g.:
[code]
Currently `stack clean` uses for cleaning only Cabal version shipped with GHC, for that we could use `global-hints.yaml` and that's what I was asking you about in https://github.com/commercialhaskell/stack/pull/4268#issuecomment-451656732 - w

[2019-01-07 18:45] qrilka commented on #4454
@snoyberg there's also `00-index.tar` which contains only the latest revisions (so it's smaller) but Stackage LTS could depend on not the latest revision so probably it won't suit you needs unfortunately :(

[2019-01-07 18:54] borsboom commented on #2103
@dustin: Unfortunately there aren't armv7 GHC bindists for any GHC version after 8.2.2.  Some of the more recent releases _do_ include aarch64 though: 8.4.1, 8.4.2, 8.6.2.  We include them in the `stack setup` metadata when they exist, but it's up to the GHC release team to build them and distribute them from https://www.haskell.org/ghc/download.html.  We'd be happy to accept user contributed bind

[2019-01-07 19:18] borsboom commented on #4485
I do my best to bump the upper bounds on Hackage to keep up with the version in stackage nightly, but between holidays and major winter storms knocking out power and causing sporadic Internet connectivity, I've fallen behind.  In any case, I've now bumped `yaml`, `hspec`, and and `QuickCheck` upper bounds.

By the way, we always upload revision 0 to Hackage without any upper bounds, and add the bo

[2019-01-07 19:18] #4485 closed

[2019-01-07 19:23] borsboom commented on #4485
One other note, though: if you're distributing Stack I'd recommend against using different versions of dependencies than the official binary releases.  If at all possible, use the same versions of dependencies as specified in the source code's `stack.yaml` and its referenced Stackage snapshot.  That way you won't get unexpected divergency of behaviour that can be caused by different dependency ver

[2019-01-07 21:00] dbaynard commented on #4480
Also see #4385 — I thought that I had already merged it (hence some of my confusion). It changes how `stack clean` works. And I think it gets the documentation correct.

[2019-01-07 21:54] dbaynard commented on #4480
Hold on, I'm confused by your example — lts-12.13 uses Cabal 2.2 so that is exactly the output I'd expect from that command?

[2019-01-08 06:10] qrilka commented on #4480
Regarding #4385 - I don't quite see what does it change, I only see it adding `stack purge` as a synonym for `stack clean --full`.
Regarding `Cabal` directories - my concern was about your first formulation of `stack clean` which appears a bit vague to me: you were saying that it deletes a `Cabal` directory in `dist` if there exist one such directory and my argument was more about what you are say

[2019-01-08 10:37] dbaynard commented on #4480
Ah, I see my ambiguity, now.

I was incorrect to say `stack clean` deletes a Cabal directory if there is only one. It only targets that single directory if the global (compiler) Cabal version matches — otherwise it does nothing.

Yes, I thought that if we can't know which Cabal directory to delete, and there is only one directory, we may wish to assume the user wishes to delete whichever directory

[2019-01-08 11:19] dbaynard commented on #4006
@afcowie @SamRoberts rather than the `Nothing` in line 331, take a look at line 329

https://github.com/commercialhaskell/stack/blob/9900d99114967698223f43c84e4cedecc24cea97/src/Stack/SDist.hs#L328-L331

The change was introduced to fix #941. I'll investigate.

---

Meanwhile, more detail is generally helpful. Would you please indicate which stack version, paste the `--verbose` output, and link to

[2019-01-08 11:32] dbaynard commented on #4006
@afcowie if you remove the explicit `setup-depends` then the sdist step should pick up the correct branch?

[2019-01-08 11:56] dbaynard commented on #4484
The old behaviour does seem useful. Perhaps we could put a list of example templates in stack's `config.yaml`.

[2019-01-08 12:17] afcowie commented on #4006
@dbaynard I'll try it, but I'm pretty sure I put that there because **stack** told me to (a sdist warning) in the first place.

[2019-01-08 12:45] dbaynard commented on #4006
Quite — the bundled package will be missing the required build dependencies. But at least we can test the correct code path.

[2019-01-08 12:47] pwaller opened #4493 "Rebuild occuring every time in dockerized build, with cache"
### General summary/comments (optional)

For me, stack often seems to rebuild things when it seems as though it shouldn't. See for example the kind of behavior described by someone else I don't know in #4490. In this issue I'm describing something a bit different - in this case the project (and subprojects) are being rebuilt, not the dependencies.

I can only apologise that I don't have the time t

[2019-01-08 14:12] dbaynard commented on #216
And what's the precise error (please run with `--verbose` and paste the log)?

[2019-01-08 15:08] dbaynard commented on #4493
Hi @pwaller

It would be helpful to see the full log — would you kindly paste that?

It looks, though, like you aren't caching enough. The subproject directories have their own '.stack-work' directories which contain the build output.

Incidentally, instead of the `"$locals": -j` line in your config, you may wish to set `jobs:` explicitly.

[Stack has docker support.](https://docs.haskellstack.org

[2019-01-08 15:17] pwaller commented on #4493
Thanks for the quick and very helpful reply!

This relates to my inability to make a quick reproducer, the log contains lots of information I would rather not disclose.

The lack of caches mounted in the subproject directories might well be the reason! Is there a way to redirect the caches to just one path fragment? It is awkward to need to redirect many of them!

Thanks for the tip about `jobs:`.

[2019-01-08 15:30] dbaynard commented on #4493
https://github.com/commercialhaskell/stack/issues/1178#issuecomment-162174177

Basically, no.

At least you only have to do it once.

I guess you could cache the entire directory, then copy in your source, and rely on stack not needing to rebuild unnecessary stuff?

Something like

[code]

I'd be interested to know whether that works, by the way — I've been needing to do something like this for a

[2019-01-08 15:36] pwaller commented on #4493
No, this won't work, or at least it would be *very* non-idiomatic, since you'd have to copy it in within the run command:

[code]

Any chance to add environment configuration which controls the caching? It's nice to not pollute the source directories in any case!

[2019-01-08 15:38] Aarskin commented on #216
This isn't piping all of the output to the file; here is what gets piped (processing ghc-8.6.3.tar.xz)

[stack_ghci_failure.txt](https://github.com/commercialhaskell/stack/files/2737392/stack_ghci_failure.txt)

Here's the rest of the output that dumps to the console

[stack_ghci_failure2.txt](https://github.com/commercialhaskell/stack/files/2737398/stack_ghci_failure2.txt)

[2019-01-08 15:44] dbaynard commented on #4493
Surely you'd be copying the source directly into the cached directory outside of docker?

I don't quite understand.

---

The simplest method is just to extend the list of caches for your final RUN. Everything up to and including the `--dependencies-only` line only uses the project cache.

[2019-01-08 15:51] dbaynard commented on #3435
You may be able to set this in the cabal/hpack file, or override it in a stack.yaml file. Otherwise #3315 is tagged 'help wanted'.

[2019-01-08 15:56] pwaller commented on #4493
The way the cache works is that it applies to a `RUN` command. So if you did a `COPY` to `$DIR` followed by a `RUN` with `$DIR` as a cache, the thing being ran would see an empty `$DIR`.

Thanks for that clarification. Makes sense.

Sorry, I was not specific! I was wondering if you could allow the cache directory root to be specified (for example through configuration or the environment), so that

[2019-01-08 16:03] pwaller commented on #4493
I can report success with your suggested approach, thanks! I had to put a lot of cache lines on the final build, but I guess it isn't /that/ bad.

[2019-01-08 16:03] pwaller commented on #4493
Happy at this point to close the issue unless there is anything else in here you'd like to track.

[2019-01-08 16:06] dbaynard commented on #4493
Might be worth adding to the documentation — I don't think it explains that there are multiple `.stack-work` directories.

The build cache (the ones in the subproject folders) has to be in directories below the project cabal files — it's all explained in #1178.

[2019-01-08 17:11] mihaimaruseac commented on #4484
Provided it won't result in people opening PRs to add their templates there

[2019-01-08 17:39] recursion-ninja opened #4495 "Stack does not respect lower bound specified in the cabal file."
### General summary/comments

I had added the following line to our `.cabal` file after [we fixed the `vector` library](https://github.com/haskell/vector/pull/221) to be compatible with compact regions so we could [add back vector parallelism](https://github.com/amnh/PCG/issues/72):

[code]

Turns out `stack` ignores this very explicitly defined lower bound. You have to hold it's hand and also add

[2019-01-08 21:24] tathougies opened #4496 "Stack complains it can't install GHC on NixOS"
Please follow the steps below for reporting a bug:

Make sure that you are using the latest release (currently stack-1.9.3).
See the [upgrade instructions](http://docs.haskellstack.org/en/stable/install_and_upgrade/#upgrade) to upgrade.

Please use the following schema for your bug report:

### General summary/comments (optional)

Stack is unable to install GHC on NixOS.

### Steps to reproduce

1

[2019-01-08 21:35] dbaynard commented on #4484
Ah, I think I was unclear. I was suggesting that the config.yaml might have a new field, and that if that field is present `stack templates` lists the templates from that field, otherwise it shows this message.

If you understood me correctly, though, then I don't understand your comment about PRs!

In any case, I'm not particularly bothered by the lack of a templates list, but if this is a desira

[2019-01-08 21:52] dbaynard commented on #4495
Hi @recursion-ninja, you've got `allow-newer: true` set in your stack.yaml file. Despite its name it ignores lower bounds, in addition to upper bounds, matching cabal-install behaviour.

If you delete that you'll still need the extra-deps entry, else you'll get a compilation failure. The snapshot lts-12.13 provides vector-0.12.0.1. in that case, a compilation failure is what you want.

If you're c

[2019-01-08 21:52] #4495 closed

[2019-01-08 22:44] mihaimaruseac commented on #4484
With your explanation then it makes more sense and I agree with that

I'm also not bothered by the lack of the list

[2019-01-08 22:56] recursion-ninja commented on #4495
In the `.cabal` file there exists two kinds of bound constraints. There are *lower* bounds, and there are *upper* bounds. I know that the Haskell community has the PVP versioning system that is *to some degree* adhered to and this requires upper and lower bounds on package dependencies. Here's the thing though, *upper and lower bounds constraints are different!*

 *  A lower bound on a dependency

[2019-01-08 23:03] recursion-ninja commented on #4495
Shall we reopen this issue or should I create a new issue more aptly name issue:
*"**`allow-newer` actually also allows older**"*?

[2019-01-09 00:39] Janfel opened #4497 "Building sample project fails with -fPIC linker error on Arch Linux"
### Steps to reproduce

For example:

1. Install stack with `yay -S stack-static`.
2. Run command `stack new sample`.
3. Run command `cd sample`.
4. Run command `stack build`.

### Expected

The demo builds without errors.

### Actual

The build failed with this [output](https://gist.github.com/Janfel/b3c4d29e2e0d796ad2c19e0b9934e178) filled with `-fPIC` errors.

### Stack version

[code]

### Met

[2019-01-09 07:00] dbaynard commented on #4495
I'll open a new one. It's a design change, not a bug.

From the documentation:

https://github.com/commercialhaskell/stack/blob/c40a28b883a7fa18ef690d784b7382476b75e7c6/doc/yaml_configuration.md#L715-L727

Would you be interested in contributing changes?

[2019-01-09 07:09] dbaynard commented on #4495
You can use `stack solver` for this — but you will need to add the corresponding versions to your `stack.yaml` file.

To be clear — `allow-newer: true` is an escape hatch for when a package maintainer doesn't update their bounds. And it is not clear when a lower bound is not permitted due to incompatibility, vs just not tested. This is not a stack issue but a combination of an ambiguity in the Cab

[2019-01-09 09:16] dbaynard commented on #4497
Hi @janfel, have you seen [the entry on this in the FAQ](https://docs.haskellstack.org/en/stable/faq/#i-get-strange-ld-errors-about-recompiling-with-fpic)?

Failing that, you may try the approach at https://github.com/commercialhaskell/stack/issues/3518#issuecomment-340207386 using `/data/home/janfel/.stack/programs/x86_64-linux/ghc-tinfo6-8.6.3/lib/ghc-8.6.3/settings`?

[2019-01-09 10:49] qrilka commented on #4496
@tathougies could you share `shell.nix` of that package? Do you have a GHC in it?

[2019-01-09 10:58] buggymcbugfix commented on #4490
I'm trying to produce a minimal repro for this, but getting this strange error:

[code]

[2019-01-09 11:12] qrilka commented on #4490
I guess you use `stack new` here? What Stack version do you use? Could you share `pretty-test` project?
`HsYAML-0.1.1.3` is in LTS-13.2

[2019-01-09 11:20] buggymcbugfix commented on #4490
[code]

[code]

It seems to be missing the `stack.yaml` file.

[2019-01-09 11:36] qrilka commented on #4490
Sure it's missing it -  Stack could get a proper one but the question is how did you get `HsYAML` as a dependency, did you just run `stack new pretty-test new-template`? Neither 1.9.3 nor 1.9.1 give me any errors, e.g. see https://gist.github.com/qrilka/4ba6ea2bb6fb22f1d95096751846f9be
If you just want to work on reproducing the issue you could use use something like "resolver: lts-13.2" as `stack

[2019-01-09 12:56] buggymcbugfix commented on #4490
I have no idea why, but I can't reproduce it anymore. Will close this issue for now. Thank you for your help.

[2019-01-09 15:07] Janfel commented on #4497
Hi @dbaynard, thank you for taking your time for fixing this seemingly age old problem *again*. I have read the FAQ entry, and browsed the solutions here before posting this, but the FAQ seemed to only talk about problems with older versions of GHC, and suggest these were already fixed by GHC 8.0.2.

I tried using the `nopie` compiler build, but nothing changed compared to the `tinfo6` build insta

[2019-01-09 15:41] qrilka commented on #4217
It looks like doing Nix builds with tests, benchmarks and haddocks will require substantial effort on supporting Nix-related code so currently we chose to do those builds using Stack itself (this will work as  extra test cases for Stack) and we'll do Nix builds in addition to that.

[2019-01-09 16:14] recursion-ninja commented on #4495
I understand that `allow-newer` is an "escape-hatch" for when dependency maintainers do not update their bounds. But it should only be an escape hatch for *upper bounds*. Lower bounds **do** exist for real, incompatibility reasons. Upper bounds rarely do in my experience. The use case for this "escape hatch" is almost solely for relaxing upper bounds. It should be designed as such and a different

[2019-01-09 16:31] dbaynard commented on #4497
It's in the FAQ because it's not clear what causes the problem (otherwise I imagine it would already be fixed) and you appear to understand this better than I.

Perhaps begin with YES, then try the linker, then the other -no-pie option, then the -fPIC?

[2019-01-09 16:31] dbaynard commented on #4497
It's in the FAQ because it's not clear what causes the problem (otherwise I imagine it would already be fixed) and you appear to understand this better than I.

Perhaps begin with YES, then try the linker, then the other -no-pie option, then the -fPIC?

[2019-01-09 16:49] kubek2k commented on #1251
Same happened for me when running `stack clean` on the url: `https://api.github.com/repos/commercialhaskell/stack/releases/tags/v1.9.3`. The result is indeed

[code]

maybe it makes sense to allow people to authenticate requests using credentials provided in predefined env variables. (I am following the `hub` tool conventions here).
For basic auth:
 * `GITHUB_USER`
 * `GITHUB_PASSWORD`

and for pe

[2019-01-09 19:06] buggymcbugfix commented on #977
Any updates on this issue? Is this something a beginner could work on?

[2019-01-09 21:36] borsboom commented on #4496
In this case, it can't find _any_ version of either libgmp or libncurses/tinfo, so it can't even start looking in `stack-setup-2.yaml` since it wouldn't know what key to use.  Stack's detection of these libraries is imperfect, so it's possible it's not finding them because it's not looking in the right place.

We'd like to move to a system where a little test binary linked similarly to `ghc` is us

[2019-01-10 01:31] vanceism7 commented on #4324
Hey guys, I've been looking at this issue and I think I was able to get those dependencies to load up in the dot graph. I'll post up a PR soon

[2019-01-10 06:40] qrilka commented on #4324
@vanceism7 the current version of that code is more or less my refactoring of the previous version to use new source maps. As far as I understand it you're correct, probably you've noticed that for `wiredInPackages` we do consult `globalDumpMap` to get package information. Now we have global packages in `smGlobal` field of a `SourceMap` so we could just do that for any of those packages.

[2019-01-10 09:31] dbaynard commented on #4497
I don't know, no. Do you think your outcome should be added to the FAQ (and if so would you be willing to make the PR)?

[Trac 15319](https://ghc.haskell.org/trac/ghc/ticket/15319) and [Trac 15848](https://ghc.haskell.org/trac/ghc/ticket/15848) seem relevant, but I haven't dug in to the source. It may be worth raising an issue on GHC's tracker.

[2019-01-10 09:44] dbaynard commented on #977
No updates, and yes, suitable for a beginner. I believe [ghcid](https://github.com/ndmitchell/ghcid) does something very similar to this — it may be worth investigating that with @ndmitchell.

One complication may concern template-haskell; I'm not sure how to handle that when using `-fwrite-interface -fno-code`.

[2019-01-10 09:52] ndmitchell commented on #977
`ghcid` doesn't seek to write interfaces, so is a good bit simpler.

[2019-01-10 10:00] dbaynard commented on #977
Oh, ok — thanks.

I've also just noticed that backpack allows typechecking modules that have only signatures (i.e. no code) and so this may be more complicated than it would appear. Note that stack doesn't yet support backpack, but backpack ought to be considered when implementing this change.

[2019-01-10 13:22] kubek2k commented on #1251
@dbaynard sorry for not being perfectly clear. While running `stack clean` it stopped while trying to retrieve release information from above url, because the api rate limit was hit for the IP I was behind that day. I think the issue is the same, and it would be nice to optionally let users authenticate requests in some way.

[2019-01-10 16:22] dbaynard commented on #2540
@ezyang It would be really helpful to have integration tests for backpack's functionality — what would you recommend?

And to be clear: what specification does stack need to support? Various sources imply the thesis (which I've skimmed but no more) or the proposal; none is explicit. The GHC wiki seems quite out of date (there's a reference to next.hackage.haskell.org, which is down). I thought the

[2019-01-10 16:50] dustin commented on #2103
I've got a build environment in which I've successfully been able to build 8.6.3.  Is there anything special I need to do to produce a bindist for stack?

(I'm also working with the ghc team to hopefully get official builds rolling)

[2019-01-10 17:20] vanceism7 commented on #4324
Oh gotcha ok cool, I'll work on the PR for this then

[2019-01-10 20:58] Janfel commented on #4497
I have created a pull request (see #4499) which adds this as a possible solution to the FAQ.

[2019-01-11 00:52] borsboom commented on #2103
There's some info on how we've built GHC bindists in the past [here](https://docs.haskellstack.org/en/stable/maintainers/ghc/#building-ghc), but I don't think this has ever been tested on ARM.

You can test your bindist by downloading a copy of [stack-setup-2.yaml](https://github.com/fpco/stackage-content/edit/master/stack/stack-setup-2.yaml), adding it in the `linux-armv7` or `linux-aarch64` sect

[2019-01-11 03:18] koterpillar opened #4501 "stack path should ignore ghc-options"
### General summary/comments (optional)

`stack path` should take and silently ignore `--ghc-options`, so that it's safe to globally modify the behavior of Stack by setting, e.g. `STACK_ARGS="--ghc-options -Werror --docker -j 4"`.

### Steps to reproduce

* Create a new Stack project.
* Set `STACK_ARGS="--ghc-options -Werror --docker -j 4"`.
* Run `stack $STACK_ARGS build`.
* Run `stack $STACK_ARG

[2019-01-11 05:18] gvolpe commented on #4470
Hi, I'm experiencing the same issue using the same `docker` image on my Circle CI build. It's a private repo (work stuff) but this is the output I get:

[code]

I tried using `lts-13.0` and `lts-13.1` and I get the same output. The same project builds locally on my Ubuntu machine.

I'd be happy to provide more details to help me get helped :)

[2019-01-11 06:03] gvolpe commented on #4470
Same error downgrading to `lts-12.7`. And here's the Circle CI build file:

[code]

[2019-01-11 07:16] ezyang commented on #2540
Hi @dbaynard

There are a bunch of tests for Backpack in Cabal's repository at cabal-testsuite/PackageTests/Backpack/ which are worth testing against. You'll have to know a little bit about `cabal.project` files to interpret them (check the https://www.haskell.org/cabal/users-guide/nix-local-build-overview.html for more details), let me know if you have questions.

Use the thesis (the proposal is

[2019-01-11 08:06] qrilka commented on #4501
flag `--ghc-options` is only available for `stack build`, `stack script` and `stack ghci`, why should other commands accept flags which are not defined for them?

[2019-01-11 08:09] koterpillar commented on #4501
I would like to set all the appropriate Stack flags in the build script depending on the build environment, and then call every command with the lot.

However, fair enough, this is a lazy use case, in that case should `-j` be accepted?

[2019-01-11 08:17] arrowd commented on #4455
I'll look into that.

[2019-01-11 09:41] dbaynard commented on #2540
Thanks, @ezyang.

I haven't pushed the stanza I put in the comment, which doesn't build.

That is the case. I was quite surprised the other stanzas built — the confirmation on the correct behaviour   is helpful.

The call which fails is here (full log below — the ./Setup used is `Cabal-simple_mPHDZzAJ_2.4.0.1_ghc-8.6.3`; it's just the simple `defaultMain`.). I assumed the failure relates to the ch

[2019-01-11 09:43] esjmb commented on #4470
Hi, wanted to give you an update on this. I tracked down my problems in every case to compilation of double-conversion, which was an indirect dependency of my projects down various pathways. I worked with the guys maintaining servant-auth and http-link-header and was able in each case to identify a clean fix to remove the dependency on double-conversion. These fixes are now merged into the repos,

[2019-01-11 09:51] dbaynard commented on #4470
You may be better off having this in extra-deps:

[code]

This looks like an upstream issue, as it seems to only be a problem with `double-conversions` — what still needs doing with stack?

[2019-01-11 09:55] dbaynard commented on #4501
Can you put the options behind flags in the package you're building itself?

[2019-01-11 09:57] esjmb commented on #4470
thanks for the tip.

re. stack, as it seems to be simply an LTS build issue, I think nothing. Perhaps I should have raised the issue in commercialhaskell/stackage-snapshots, but the cause wasn't clear to me at the time.

thanks.

[2019-01-11 09:59] gvolpe commented on #4470
Thanks for sharing more details, this is what I get:

[code]

[tinylog](http://hackage.haskell.org/package/tinylog) is the one that brings in `double-conversion` as specified [here](https://gitlab.com/twittner/tinylog/blob/develop/tinylog.cabal). And I need it because it's required by the `http-client` I'm using.

Unfortunately I'm quite a newbie in the Haskell ecosystem and these issues are reall

[2019-01-11 10:02] dbaynard commented on #4470
Do bos/double-conversion#20 and freebroccolo/docker-haskell#35 help?

I'll wait to see what @mihaimaruseac has to say about this; he can close the issue if necessary.

[2019-01-11 10:13] gvolpe commented on #4470
Unfortunately not, but thanks for the links.

- bos/double-conversion#20 suggests installing `double-conversion` by using `cabal install`.
- freebroccolo/docker-haskell#35 suggests installing `g++` which I already have.

[2019-01-11 10:22] gvolpe commented on #4470
Here's is the relevant part of the verbose log I get when trying to `cabal install double-conversion`:

[code]

[2019-01-11 11:59] fiadliel commented on #4470
It looks like g++ was broken by https://github.com/commercialhaskell/stackage/commit/b654f1f11cb566d1a5c61cb76928c4b04df80ae9 and was probably fixed by https://github.com/commercialhaskell/stackage/commit/363938a39fbe79c58bd874d11bdd5cce9ea0d5a2

https://github.com/commercialhaskell/stack/blob/master/etc/dockerfiles/stack-build/lts-13.0/Dockerfile is currently pinned to a broken version of the fil

[2019-01-11 12:23] gvolpe commented on #4470
Thanks for the insights @fiadliel ! I actually got it working creating symbolic links. It was a very painful process until I figured this out but still not sure whether it's an optimal solution. I'll post my solution after the build finishes on Circle CI (got it working locally).

[2019-01-11 15:17] gvolpe commented on #4470
As pointed out on Twitter by @fiadliel, installing `apt-get update && apt-get install g++-7 -y` on my `docker` image `fpco/stack-build` before running `stack build` worked for me.

[2019-01-11 15:48] ezyang commented on #2540
Errr... is the Invalid package ID coming from the ghc-pkg invocation, or from Stack's parsing of the described package? I find it a bit hard to believe that `ghc-pkg` would report this error

[2019-01-11 16:33] mihaimaruseac commented on #4470
I think we can close this then. Thanks for all the work in identifying both the issue in the libraries and in stack and for the fixes (in `extra-deps` and in installing `g++`).

I can confirm that the fixes work for me.

[2019-01-11 16:42] fiadliel commented on #4470
The official docker image still can't build C++ code without modification, and cannot be fixed elsewhere since the `Dockerfile` (hosted in this repo) is pinned to a specific revision.

Should another issue be opened to fix the image, or is C++ compilation considered out of scope?

[2019-01-11 18:10] dbaynard commented on #2540
I’m fairly sure it's stack. Yes, I shouldn't have described that as the “call which fails” as it could well be something after the registration is successful (and I haven't had the chance to dig in to it today).

[2019-01-11 18:54] dustin commented on #2103
This seems to be working so far.

[code]

[2019-01-12 03:17] ezyang commented on #2540
My guess is Stack is either choking on the `0` version number, or the `+` at the end.

[2019-01-12 08:30] chrissound opened #4502 "module `main:Log' is defined in multiple files (duplicated file)"
### General summary/comments (optional)

This error was resolved after deleting the .stack-work directory and rebuilding.

### Steps to reproduce

`stack -v ghci app:exe:pitangaLog`

<details>
  <summary>hpack file</summary>

[code]
</details>

<details>
  <summary>cabal file</summary>

[code]
  </details>

### Expected

An error to be reported relating to an unrelated type error.

### Actual

Tru

[2019-01-12 08:32] chrissound commented on #4502
https://github.com/commercialhaskell/stack/issues/2706 possibly related?

[2019-01-12 10:32] contrerasmiguel commented on #4457
I'm experiencing the same issue on an empty project.

**SO:** Windows 7 Professional (64-bit).
**Stack version:** 1.9.3

I also received a similar error while trying to execute:

[code]

**Output:**

[code]

[2019-01-12 16:38] arrowd commented on #4455
Yep, it is a error on my side. I'm redoing distribs and will open a PR to update them for stack.

[2019-01-12 23:49] Fabs commented on #2379
I got here trying to solve the same problem. How do I handle dev dependencies, e.g: `apply-refact hlint stylish-haskell hasktags hoogle` *per project*?

Did something emerge to solve that use-case since you folks last talked here?

[2019-01-13 19:05] dpreed opened #4503 "How to install stack on FreeBSD 12-RELEASE?"
I am asking here in addition to StackOverflow because the folks who understand this question might answer it better.

The actual question is "How is it recommended that I install and upgrade stack on FreeBSD 12 RELEASE?" And the second question is "How is it currently possible to install and upgrade stack on the FreeBSD 12 RELEASE?"

I have tried both the obvious ways:
1) curl ... | sh -s - -f
2)

[2019-01-14 02:41] mihaimaruseac commented on #4470
I think C++ is out of scope, but I'll let others weigh in (CC @dbaynard @qrilka @snoyberg)

[2019-01-14 03:05] mouse07410 opened #4504 "MacOS: stack fails to build "ghc-paths" when Macports is present"
### General summary/comments (optional)

It seems that `stack` fails to use either `ghc-options: ` or `extra-lib-dirs: ` when building `ghc-paths`.
Problem with passing parameters to the linker (`stack`->`ghc`->`gcc`->`ld`).

I'm looking for the ability to pass arguments to linker, specifically to tell it to search a given set of directories for libraries in the provided order, **and starting with

[2019-01-14 03:53] mouse07410 commented on #825
Same issue here, and neither forcing `gcc` to `/usr/bin/gcc`, nor putting `extra-lib-dirs:` seem to help. MacOS Mojave 10.14.2, current Macports, current Haskell Platform (GHC-8.6.3).

[2019-01-14 10:34] dbaynard commented on #4457
Hello. That error message is not coming from stack but from the underlying program. There has been some discussion of that particular error message online; typically it is associated with CPP errors (e.g. haskell/cabal#912).

It would be helpful to see the actual logs — would you be able to paste one here?

[2019-01-14 10:37] dbaynard commented on #4503
I believe this is supposed to be working, in the current `stable` and `master` branches, but not yet in any release. @arrowd has been doing a lot of work on FreeBSD support and may know the precise details?

[2019-01-14 10:41] arrowd commented on #4503
That's right, no stack release installed from `pkg` or `curl`-way are working right now. This will be fixed with next release.

[2019-01-14 10:48] arrowd commented on #4503
For now, you can use `stack` with `--system-ghc --no-install-ghc` and `lang/ghc` port.

[2019-01-14 10:48] Magicloud opened #4505 "Custom setup hooks being ignored."
### General summary/comments (optional)
Please checkout my project Magicloud/cairo-core. There are some logic in Setup.hs to generate code. The logic works with `stack build` and `cabal v2-haddock`. But `stack haddock` seems ignoring the change on Render.hs.

### Steps to reproduce

Get the repo, build and haddock with stack and cabal.

### Expected

- Methods in modules like Graphics.Cairo.Drawin

[2019-01-14 11:02] Magicloud commented on #4505
At first, I thought `stack haddock` uses different path than cabal, so my changes to Render.hs worked but not affecting haddock. But actually, after `rm .stack-work -r; stack haddock`, there is only one Render.hs with the same path as `stack build`, which content is not "changed".

[2019-01-14 11:04] dbaynard commented on #4470
The `Dockerfile` ought to have a working (rather than non-functioning) version — given that g++ is available. Beyond that I'm not the person to ask…

[2019-01-14 11:44] borsboom commented on #4470
The Docker image should work for building any Linux-compatible package in LTS-13, so I'm going to reopen this.  I don't think switching to the bootstrap script in https://github.com/commercialhaskell/stackage/commit/363938a39fbe79c58bd874d11bdd5cce9ea0d5a2 is a good idea, since that changes a lot besides fixing this issue (among which, requires upgrading the image to be based on Ubuntu 18.04).

[2019-01-14 11:50] borsboom commented on #4470
I've pushed Docker image `fpco/stack-build:lts-13.3` which should fix this.  I confirmed that installing `double-conversion` works with this image (and didn't work with `fpco/stack-build:lts-13.2`).

[2019-01-14 12:04] #4455 closed

[2019-01-14 12:18] borsboom commented on #2103
Awesome, can you make a PR with this update to `stack-setup-2.yaml`?  I've copied the bindist to https://github.com/commercialhaskell/ghc/releases/download/ghc-8.6.3-release/ghc-8.6.3-armv7-deb8-linux.tar.xz, so you can change the URL to that so we don't spend your S3 money.

[2019-01-14 14:01] arrowd commented on #4455
Note that this is not sufficient to get `stack` properly running on FreeBSD 12 yet. We need to wait a new minor release.

[2019-01-14 16:14] dpreed commented on #4503
Thanks. I will try that, but it's not really what I want - I want the latest stack and the latest ghc, really. I appreciate arrowd's work, and if I can help with that effort I'm happy to. I've been a serious FreeBSD coder for a while now (though mostly in the kernel, but now I thought I'd do a haskell project on FreeBSD rather than where I have been doing haskell on Linux).

Great and quick respon

[2019-01-14 16:16] arrowd commented on #4503
The `lang/ghc` port is at version 8.6.3, as well as `devel/stack` is at 1.9.3. Isn't these latest versions?

I only say that you should use system GHC and not let stack download its own.

[2019-01-14 17:42] mouse07410 commented on #4504
Here's an example that appears to work with other packages.

First, what showed to **not** work:
[code]

This appears to work, somehow:
[code]

But, as I said in my previous post, for reasons I can't figure out, it does **not** work with `ghc-paths` (and therefore with `intero`, which depends on it).

[2019-01-14 18:46] Magicloud commented on #4505
About the extra-deps thing mentioned, seems like it is also an issue with stack.

I just built cairo-core and some tool using it via cabal.project, and worked.

But same libs and tools building by stack, Render.hs missed a lot of things.

[2019-01-15 01:32] contrerasmiguel commented on #4457
**$ stack -v install intero QuickCheck stack-run**:

https://pastebin.com/D58Jh3A6

**C:\sr\global-project\.stack-work\logs\Cabal-2.4.1.0.log**:

[code]

**C:\sr\global-project\.stack-work\logs\blaze-builder-0.4.1.0.log**:

[code]

**C:\sr\global-project\.stack-work\logs\base-orphans-0.8.log**:

[code]

**C:\sr\global-project\.stack-work\logs\call-stack-0.1.0.log**:

[code]

[2019-01-15 07:53] pjljvandelaar commented on #3939
@leohaskell Will you also add GHC 8.6.3? or will it become part of stack and/or LTS support?

[2019-01-15 09:56] dbaynard commented on #4457
Ah, I think I see the problem — it may be related to #4443 (and haskell/cabal#5795).

The `C:\Users\Miguel Andr▒s` lines indicate you have non-ascii characters on your path (I only noticed because it breaks pastebin). Would you try running this as a different user, or with a different base path?

---

Also, those symbols in the output are slightly worrying. I know you've said you use stack 1.9.3,

[2019-01-15 10:40] leohaskell commented on #3939
Since noone responded here for almost an year, I started to use local integer-simple bindists, instead of counting on stack. If you're interested, I can share with you instructions for building such bindists yourself (I haven't build for ghc 8.6.3 yet, since this version of ghc doesn't work on windows, by the way)

[2019-01-15 12:30] pjljvandelaar commented on #3939
I am surprised no one is asking, since on windows you have license issues with all software you make.
Without integer-simple, all your software will be LGPL software!

[2019-01-15 13:10] qxjit opened #4506 "Old fsnotify dependency doesn't detect file changes when using Docker for Mac"
### General summary/comments (optional)

`stack` fails to respond to file modification events on OSX when run inside docker. I believe this is simply due to being built against `fsnotify-0.2.1.1` rather than `fsnotify-0.3.0.1`. `fsnotify-0.3.0.1` included changes to the Linux file listener which listen for Attrib and Modify events instead of CloseWrite. The Docker for Mac osxfs file sharing emits

[2019-01-15 15:31] dbaynard commented on #4504
Have you tried setting `LD_LIBRARY_PATH`? (I think that's the right variable)

[2019-01-15 16:14] mouse07410 commented on #4504
This would be the right variable for Linux. On MacOS it's `DYLD_LIBRARY_PATH`. Regardless, I tried it - and to my unpleasant surprise, it did not work. :-(

[2019-01-15 18:38] borsboom commented on #3939
@leohaskell Sorry for failing to respond to this at the time, it slipped through the cracks.  Not sure if there's much point adding a GHC 8.4.1 bindist now, since GHC the 8.4 branch is up to 8.4.4, and 8.6 is out, though.

At this point the Stack team isn't building _any_ bindists.  When new GHC versions are released, we just point to the official bindists provided by the GHC release team (the onl

[2019-01-15 18:56] roberth commented on #3479
@mmzx This is not just a packaging issue. The problem is that Stack creates libraries and executables that reference nix store paths without creating the necessary garbage collection roots to prevent those paths from being deleted in the future.
This also means that the problem is bigger than just the setup exe cache. It applies to every reference to the nix store in every library or executable pr

[2019-01-15 19:05] roberth commented on #3479
This is only sufficient for binaries that are built by stack *and* called by stack. The problem also affects libraries and executables in `~/.stack`

[2019-01-16 02:14] b-t-g commented on #3125
Removing `binutils` in my case only got me part of the way there. After removing them I was getting errors saying that `/usr/local/bin/ar` and `/usr/local/bin/strip` could not be found; symlinking the `/usr/bin/` analogues to `/usr/local/bin` got rid of the errors I was seeing (at least in my toy examples).

[2019-01-16 18:10] contrerasmiguel commented on #4457
Sorry about the late answer.

I tried running it from C:\ and it did not work because it kept running scripts from a directory that is in my user account's path. However, running it from another user called "dummy" did work. Thanks for your help.

**About the version:**

[code]

[2019-01-17 11:42] dbaynard commented on #4243
Two things:

1. @rszibele Are you still working on this?

2. I've just encountered another reason to do this. I’d installed `pandoc` using `stack`, then later deleted my `~/.stack` directory. As a result pandoc stopped working, giving me an error about data files.

    This is because data files are stored in `~/.stack/snapshots/$compiler/$snapshot/$ghc-version/share/$compiler/$package/data/`. Pan

[2019-01-17 13:10] ndmitchell opened #4508 "stack init fails for packages that depend on Win32"
If I have a package that depends on Win32, `stack init` doesn't work.

### Steps to reproduce

Using `stack-1.9.3` on Windows, via `stack upgrade`.

1. `stack init foo && cd foo`
2. Edit `package.yaml` to include Win32 as a dependency of the library (line 24)
3. `stack build` works fine
4. `stack init --force` should find the resolver it was already using (`lts-13.3` in my case), but:

[code]

I e

[2019-01-17 14:02] rszibele commented on #4243
@dbaynard  Unfortunately, I'm unable to allocate any time to this issue at the moment. I'm currently caught up in a commercial project that I'm expecting to ship this June/July (if all goes well).

[2019-01-17 16:48] loopdigga98 opened #4509 "Certificate issue due to corporate proxy?"
I am trying to build application
[code]

And get following error
[code]

I know that to solve this issue i need to disable certificate verification. Could you tell me please how to perform this?

[2019-01-17 18:16] snoyberg opened #4510 "Rebuilding packages from the global database with modified dependencies"
This applies to Stack master, specifically commit 9900d99114967698223f43c84e4cedecc24cea97. Repro (on a non-Windows system). With the following `stack.yaml`:

[code]

This replaces the global `time` package with a different version. Running `stack build unix` causes both `time` and `unix` to be compiled, which makes sense, since `unix` depends on `time`.

Running `stack build unix` a second time s

[2019-01-18 07:39] #4506 closed

[2019-01-18 09:46] snoyberg commented on #4377
Fixed by #4439

[2019-01-18 09:46] #4377 closed

[2019-01-18 09:47] snoyberg commented on #4292
Fixed by #4439

[2019-01-18 09:47] #4292 closed

[2019-01-18 09:49] snoyberg commented on #4267
Note that #4439 addresses the first problem. We may address the second problem with the new stackage-curator tool instead of a separate server, in which case this issue can be closed.

[2019-01-18 09:50] snoyberg commented on #2255
We explicitly have requests to support `package.yaml` files from non-local sources, so closing. See #4439

[2019-01-18 09:50] #2255 closed

[2019-01-18 11:59] snoyberg commented on #4345
How about a setting in the `extra-deps` itself saying whether to turn on `--depth 1` or not? Then we can bikeshed on whether on or off is the correct default.

[2019-01-18 12:00] snoyberg commented on #3382
I'm fairly certain this is no longer the case, please reopen if you're still seeing it with the latest `master`.

[2019-01-18 12:00] #3382 closed

[2019-01-18 12:03] snoyberg commented on #2762
The new architecture of Pantry—which no longer keeps the repos on the filesystem—wouldn't allow for this. We could add back storage of the repos, but IMO that's overall a pessimization. Closing.

[2019-01-18 12:03] #2762 closed

[2019-01-18 12:06] snoyberg commented on #2081
This is no longer relevant with Pantry, which stores these files in a quickly accessible SQLite database.

[2019-01-18 12:06] #2081 closed

[2019-01-18 12:47] snoyberg commented on #4288
This is also vital for improving performance. Currently, Stack will spend significant time completing package information on each startup. Automatically writing a `.lock` file will bypass that overhead.

[2019-01-18 16:23] eborden opened #4517 "Stack fails to build without Setup.hs"
### General summary/comments

`cabal` is able to build without a `Setup.hs` by defaulting to the most basic `Setup.hs`. `stack` should have feature parity in this respect.

### Steps to reproduce

1. `git clone git@github.com:haskell/network.git`
2. `cd network`
3. `stack init`
4. `stack build`

### Expected

`stack` should build with a default `Setup.hs` when no `Setup.hs` is present.

### Actual

[2019-01-18 17:47] crockeea opened #4518 "Linker errors with --profile on Windows"
### General summary/comments (optional)
The attached project fails to build on Windows 10 with stack 1.9.3. I was unable to reproduce with cabal, so I'm filing as a stack bug for now.

### Steps to reproduce
Extract [wai.zip](https://github.com/commercialhaskell/stack/files/2773964/wai.zip)
`$ cd wai`
`$ stack --profile build warp`

### Expected
Expected a successful build. This works on Unix.

##

[2019-01-19 08:07] silky opened #4519 "almost all stack actions result in SQLite error ..."
`stack build`, `stack ghci`, `stack upgrade ...` all fail ... it's a reasonably unfortunate situation.

i'm running the latest from master:

[code]

most unfortunately, it also affects `stack upgrade`:

[code]

and when running again:

[code]

( as an aside, i feel like the master branch is much more unstable in the last 6 months or so; i used to upgrade all the time; now, whenever i do i hit some

[2019-01-19 14:41] wiz commented on #3819
Please reopen? I would still be glad to have a way to notify me about build failures.

[2019-01-19 16:55] snoyberg commented on #4519
We already have a flag that lets you specify which branch to clone.

[2019-01-19 19:01] crockeea commented on #4518
It is a GHC bug: reported as #16166.

[2019-01-19 19:01] #4518 closed

[2019-01-20 04:47] kva1966 commented on #1816
As a user of Haskell packages (e.g. `pandoc` and filters), rather than a Haskell programmer: I will say that while `stack` may not completely replace `cabal`, basic installs of packages are really welcome.

The core idea of having per-project, reproducible builds is awesome, but I like that `stack` also has a so-called `global-project` as an abstraction: it allows me a way of using a more recent H

[2019-01-20 09:52] Magicloud commented on #4505
I found it. The logic bug in my code and how Cabal handles unchanged source.

[2019-01-20 15:17] prokolyvakis opened #4522 "High CPU usage on Mac OS when building with stack"
Hello,

I have made a fresh install of Haskell Platform on Mac OS Mojave. After that, I tried to build various different projects though stack, however, I noticed an extremely high CPU usage. Specifically, when I allowed parallelism during the building process the whole system got stack and I had to manually kill it. I also checked to install with `cabal new-install` and the behavior was exactly t

[2019-01-20 23:10] mgsloan commented on #3651
@EdmundsEcho There's sharing for packages that are included in the stackage snapshot, so you should only need to build `hscolour` once per ghc version.  So, after building once `stack build hscolour` should either add it to the appropriate package DB or do nothing if it's already there.

Perhaps that could be streamlined by eagerly populating the package DBs with everything that's precompiled, but

[2019-01-21 13:10] fegu opened #4523 "Bug: stack build of project using wreq hangs indefinitely on lts-13.3 on Windows 10"
Attached is a minimal project using wreq which builds on lts-12.26 but hangs on lts-13.3 while installing wreq on Windows 10. The wreq version is identical on these two resolvers (wreq-0.5.3.1) so something else is probably the issue. The GHC process must be stopped manually to recover, but no workaround has been found.

[wreq-stack-hang.zip](https://github.com/commercialhaskell/stack/files/277899

[2019-01-21 13:35] qrilka opened #4524 "(Code ?) improvement: always use verified downloads"
While working on #4515 it was found that `Stack.New` uses `download` and not `verifiedDownload` and the main difference between those is that `download` doesn't tack download progress and thus doesn't check download length as `verifiedDownload` could (with correct callback specified as `progressSink` parameter). Also it looks that `redownload` doesn't include verifications from `verifiedDownload`

[2019-01-21 18:23] mouse07410 opened #4526 "Stack does not pass parameters given in command line to GHC"
### General summary/comments (optional)
`stack` is invoked with `--ghc-options -optL=/usr/lib/libiconv.dylib`. This is **not** passed to GHC, as the log below shows.

This problem screws up using `stack` on MacOS with Macports installed.

### Steps to reproduce

1. Get a Mac computer, install Macports and Haskell Platform.
2. Do `stack install intero --ghc-options -optL=/usr/lib/libiconv.dylib` or

[2019-01-21 18:57] mouse07410 opened #4527 "Stack re-arranges library search path"
### General summary/comments (optional)
`stack` does not respect the order of the paths to search for libraries.

### Steps to reproduce

1. Specify extra lib dirs in `~/.cabal/config` and in ~/.stack/config.yaml`.
2. Run `stack install ghc-paths`
3. Do `cat /Users/uri/.stack/global-project/.stack-work/install/x86_64-ohc-paths-0.1.0.9-KaBYbRV3ryA10w04FwbrO2` and enjoy what you see.

Excerpt from `

[2019-01-21 21:44] mihaimaruseac commented on #4524
I agree with these points, even more so from a security point of view. Not checking download length can result in malicious files being transferred instead.

[2019-01-22 09:51] JonnyRa commented on #3819
No problem

[2019-01-22 22:27] rwlock404 opened #4529 "How to install stack"
### Stack version

current

### Method of installation

[code]

but this fails

[code]

I don't have root on this machine. How can I install Haskell without root access?

[2019-01-23 00:10] dgh1000 opened #4530 "Moving a stack directory tree"
Can a stack project directory tree be moved to another location? I tried it, and a lot of stuff broke. It seems unable to find the 'src' directory when doing a "stack build". Not sure what I need to do or if I messed something else up another way.

Intero on Emacs also broke. When loading a file from the new location, it just gave an error about being unable to start intero.

Mike

[2019-01-23 02:05] nh2 commented on #4505
@Magicloud Great! Should we close the issue?

[2019-01-23 02:06] Magicloud commented on #4505
Ah, sorry, I thought I closed.

[2019-01-23 02:06] #4505 closed

[2019-01-23 03:17] mihaimaruseac commented on #4530
You can try using `--stack-root`, for example `stack --stack-root=/tmp/new-dir build`, but make sure you use an absolute path.

Would be able to provide more information if you give more details, such as what you're running and what errors you get

[2019-01-23 03:21] dgh1000 commented on #4530
First I'm just asking if it's supposed to be possible. I just want to move it to a new location and use it there in the same way as before.

So is it supposed to work that way, or does the stack configuration have absolute paths stored in it?

[2019-01-23 03:36] mihaimaruseac commented on #4530
See `--stack-root`, `--stack-yaml`, #4378, #2205, #990 and https://github.com/bitemyapp/makefiles/blob/master/Haskell.makefile

Together, these options should provide what you need, based on what little information was provided

[2019-01-23 03:43] dgh1000 commented on #4530
I'm confused. I'm asking a yes or no question. If it doesn't just work to move a project to a new location, then the answer is "no". If all these things you are providing are necessary, then it sounds like it doesn't simply work. So is the answer "No"?

To clarify, previously I have always built a stack project by cd'ing to somewhere in the tree and typing "stack build." It has never been necessar

[2019-01-23 04:13] gregberns opened #4531 "Starting a new project fails to build"
When following the directions in (start-your-new-project)[https://docs.haskellstack.org/en/stable/README/#start-your-new-project] there are some errors I cannot decipher and can't find any helpful resolutions.

During `stack build` the following error occurs, but I don't know what it means:

[code]

Any help getting past this would be much appreciated. I can re-open on stack overflow if that would

[2019-01-23 04:36] mihaimaruseac commented on #4530
There are multiple ways your question can be interpreted and you refuse to clarify. So I gave options for all of those.

Perhaps you want to do the following?

[code]

Or maybe instead of moving source code to a different location you only want the directory that stack uses or the `stack.yaml` file to be in some other location? Or maybe you want two different directories for stack generated artefa

[2019-01-23 04:39] mihaimaruseac commented on #4531
Can you post the output of

[code]

[2019-01-23 04:54] dgh1000 commented on #4530
Although my question may not have been 100% clear, that's still an insulting way to respond to me. Asking if there are absolute paths in the stack configuration should have made my question clear for anyone still wondering what I was asking.

We'll try this a different way.

I created a stack project as follows:
cd /Users/Mike/stack
stack init A

A project can be built via
cd /Users/Mike/stack/A
s

[2019-01-23 04:57] gregberns commented on #4531
@mihaimaruseac

I just ran `stack new` again **without** the nightly flag, and instead of the
`No updates to your package index were found` message, I got `Downloading snapshot` with a couple other messages.

I then tried the same with a new project name and **included** the nightly flag, then ran `stack setup` and its now downloading GHC 8.6.3.

So it looks like something changed, or running nigh

[2019-01-23 04:59] mihaimaruseac commented on #4530
Thank you for clarifying what you have did. You should have provided that in the opening of the issue instead of making us guess.

Anyway, that is the example i showed in my last comment and code compiled successfully even after the move.

Closing this as your question is now answered. Feel free to reopen if you have more information, and please provide more logs and output of errors if you reopen

[2019-01-23 04:59] #4530 closed

[2019-01-23 05:01] mihaimaruseac commented on #4531
So it seems that now you can build the new projects. Can you verify that this is the case?

I think you were in an inconsistent snapshot state before and a package has not been updated to the version in the snapshot. By the time you ran the new commands this got self-fixed.

[2019-01-23 05:04] gregberns commented on #4531
Yes, I can now build new projects consistently (3 successful attempts).

Thank you for the help.

[2019-01-23 05:04] #4531 closed

[2019-01-23 05:08] dgh1000 opened #4532 "Moving a stack directory tree"
I couldn't understand your example, for one thing I didn't realize those were commands on a command line. They looked like headings, and I've never seen a command-line with a lambda symbol. In the future please provide at least a bare minimum of context.

So I looked closer, and it turns out it's *NOT* the same as what I posted. There is a difference, which is that my A and B don't share the same

[2019-01-23 05:09] mihaimaruseac commented on #4532
No, it doesn't

[2019-01-23 05:09] #4532 closed

[2019-01-23 08:59] #4519 closed

[2019-01-23 17:06] ndmitchell opened #4535 "Make https://get.haskellstack.org/ work on Travis/Windows"
Using Travis, you can write a `.travis.yml` which targets Windows. That has enough to run `curl` and `sh`. However, the script at get.ehaskellstack.org doesn't have branches for Windows. I think if they were added it should work.

[2019-01-23 18:35] borsboom commented on #4535
Oh, interesting.  We actually don't recommend using the `get.haskellstack.org` script to install Stack on CI systems, since we make no guarantees about its stability and you may end up with a newer version of stack that breaks your build when you're not expecting it.

But in principle, nothing against updating the script to support Windows when running in a `bash` environment.

[2019-01-24 02:10] rcook commented on #2627
Hey Michael,

It's been a couple of years since you created this issue. Have you or anyone else had any more thoughts on how this might work? Is there any demand from it?

-Richard

[2019-01-24 06:49] mgsloan commented on #2627
Hi Richard!

I haven't thought much more about how this might work, but it would be quite nice.  I think the best place to implement this would be in GHC proper, first via a proposal https://github.com/ghc-proposals/ghc-proposals.

Not sure how much demand there is for it.  Notably, stack scripts can already load modules that are in the current directory, so I'm not sure when this would be useful.

[2019-01-24 06:49] #2627 closed

[2019-01-24 09:31] ndmitchell commented on #4535
I wrote a version that does work on Windows through Travis, https://github.com/ndmitchell/travis-check/blob/master/install-stack.sh, and a test at https://travis-ci.org/ndmitchell/travis-check/jobs/483804082#L48. Any chance of that being lifted into the main script? It's probably not going to work anywhere but on Travis - but the old one didn't work there - so it's strictly improving.

I know you

[2019-01-24 11:34] dbaynard commented on #4504
I've forwarded the issue. Meanwhile, you might want to try `system-ghc: false`?

[2019-01-24 11:38] dbaynard commented on #4509
Duplicate of #907? Please reopen if that doesn't solve your problem.

[2019-01-24 11:38] #4509 closed

[2019-01-24 11:41] dbaynard commented on #4510
Could #4508 require the same fix?

[2019-01-24 11:43] dbaynard commented on #4457
Don't know why I tagged it FreeBSD…

Anyway, tldr non-ascii paths cause problems with GHC on windows.

[2019-01-24 11:43] #4457 closed

[2019-01-24 11:51] m4lvin commented on #4141
Are there any news about this or hints how to debug it further? Can someone point us to the relevant source code of stack?

To summarize the question: Why does stack treat `extra-deps` given as a (git or https) url differently than those given as name-version referring to Hackage?

[2019-01-24 11:55] dbaynard commented on #4517
Are you missing a `cd network` between your steps 1 and 2? With that, I can't reproduce (stack throws an error because there's an existing stack.yaml file in the network source tree).

[2019-01-24 12:00] rwlock404 commented on #4529
I followed your instructions and modified the `./stack.sh` script

[code]

but I still get

[code]

[2019-01-24 12:02] dbaynard commented on #4523
Quick note: the snapshots use different compiler versions: lts-13.3 uses GHC 8.6.3, lts-12.26 uses GHC 8.4.4.

[2019-01-24 12:04] dbaynard commented on #4526
This relate to #4504, right?

[2019-01-24 12:04] dbaynard commented on #4527
Again, this relate to #4504, right?

[2019-01-24 12:06] qrilka commented on #4510
@dbaynard that one looks to be quite a different issue

[2019-01-24 12:24] snoyberg commented on #4508
I think this is fixed on `master`, where we've set up a `global-hints.yaml` file which includes `Win32` (thanks to @sgraf812 in https://github.com/commercialhaskell/stackage-content/pull/59).

[2019-01-24 12:32] mouse07410 commented on #4504
Setting "system-ghc: false" changes nothing, because any GHC, either installed directly by me, or downloaded by "stack" itself, hits the same problem: "libiconv" library conflict. Those flags I'm trying to pass, are supposed to remedy that conflict - but they're ignored.

[2019-01-24 12:38] mouse07410 commented on #4526
Related - as in "discovered during a battle with the same problem"? Yes.

But it points at a different issue with stack, I think.

[2019-01-24 13:02] dbaynard commented on #4504
OK, that's a shame. As I say, I've asked for people with MacOS experience to help.

[2019-01-24 13:38] qrilka commented on #4529
@rwlock404 there exist a statically linked Stack version for X86_64. You could find it on https://github.com/commercialhaskell/stack/releases Could you try out using it? Just download and extract it somewhere on your $PATH (e.g. `~/.local/bin` if it's a part of $PATH)

[2019-01-24 13:45] snoyberg commented on #4510
After some further discussion with @qrilka and a reminder that global packages may not match what's on Hackage, I have a different proposal: https://www.snoyman.com/blog/2019/01/mismatched-global-packages.

[2019-01-24 14:03] mihaimaruseac commented on #4529
@rwlock404 Yes, you still need root access for the dependencies. Please try the statically linked version that @qrilka mentioned, if that doesn't work then you'll have to get an admin of that workstation to install at least the dependencies for you

[2019-01-24 14:18] rwlock404 commented on #4529
Ok. I've talked to the admins and they want me to give them a list of packages I need installed. Where can I find such a list?

[2019-01-24 14:25] mouse07410 commented on #4504
Also, the promising issue was about "ghc-paths", but I observe the same with "happy". stack did not pass all the necessary flags specified in the command line or in the main config file.

[2019-01-24 14:31] ndmitchell commented on #4508
Perfect! I confirm this works on HEAD.

[2019-01-24 14:31] #4508 closed

[2019-01-24 14:50] rwlock404 commented on #4529
Thanks! They insist on only installing things provided by the Linux distribution vendor into system-wide folders. I passed on the list and all but gmp-devel was already installed.

I re-ran the `./stack.sh` script and I still get

[code]

I double checked and all the packages you listed show up as installed.

[2019-01-24 15:17] eborden commented on #4517
`master` of `network` has changed since this was produced. :man_facepalming:

You could do the following to repro:

1. `git clone git@github.com:haskell/network.git`
2. `cd network`
3. `rm Setup.hs`
4. `stack build`

[2019-01-24 15:40] mihaimaruseac commented on #4529
Comment the `do_os` line at the end of the script and try running it again. Now it should not try to do any install at all

[2019-01-24 17:24] dbaynard commented on #4504
That's helpful to know. I meant, I'll find a stack maintainer with MacOS experience.

It might be interesting that it's packages normally bundled with ghc. What else is affected?

[2019-01-24 17:49] mouse07410 commented on #4504
What's affected is everything that requires linking against libHSbase.a (but not against libHSbase.dylib or libHSbase.so).

However, for a large portion of the affected packages, the flags I'm trying to use are resolving the problem. But for some, they are ignored.

I talked to GHC people about abolishing libHSbase.a in favor of using only libHSbase.dylib in a new release, but got a solid justifie

[2019-01-24 18:20] rwlock404 commented on #4529
Progress!

The project I need to work on needs `resolver: lts-12.16` but `stack build` fails with

[code]

I tried with `lts-12.0` hoping it would use `ghc-8.4.2` but still no luck. I also tried `lts-13.4` which failed with the same error. How come that Stack can't install any LTS for either ghc 8.4 nor ghc 8.6?  Is there an ETA for when these will become available?

[2019-01-24 20:11] rwlock404 commented on #4529
I'm not aware of any prior `system-ghc` setting. I tried your `stack config` operation, but the error message saying that the GHC I need for `lts-12.16` is not supported is still occuring.

[2019-01-24 20:32] mihaimaruseac commented on #4529
Can you try the following set of commands? They are not related to your project, but just checks

[code]

Let me know what the output of that is and then we'll go from there

[2019-01-24 21:26] qrilka commented on #4529
It looks like #4161 is related and bindists for that platform are really missing from https://github.com/commercialhaskell/stackage-content/blob/master/stack/stack-setup-2.yaml#L415
I think going with the statically linked Stack should be more promising

[2019-01-24 23:40] rwlock404 commented on #4529
The only command which had output was `stack ghci`

[code]

[2019-01-24 23:43] rwlock404 commented on #4529
I downloaded and extracted https://github.com/commercialhaskell/stack/releases/download/v1.9.0.1/stack-1.9.0.1-linux-x86_64-static.tar.gz but it results in the same error message

[code]

[2019-01-25 00:43] mihaimaruseac commented on #4529
Ok, let's go the statically linked way, seems something is missing from the other one.

When you extracted the tar.gz file, which files you got? Can you post the output of `ls` on the directory you extracted stuff to?

[2019-01-25 00:54] mihaimaruseac commented on #4517
Just confirmed this. It even manifests when doing `stack unpack network` in step 1.

As expected, `stack init` works even if there's no `Setup.hs` but not the build.

This should be easy, I think: just beforeexecuting the build plan, we should output the basic `Setup.hs` if none is found and then proceed with the build as before. I marked it as an easy PR.

[2019-01-25 04:31] mgsloan opened #4536 "Script takes ~13x longer to start when comparing development version of stack with 1.9.3"
### Steps to reproduce

Contents of `~/tmp/hmm.hs`:

[code]

Development version of stack:

[code]

I also had to wait quite a while for it to parse ~100,000 cabal files (but that is not included in this particular run)

Stack-1.9.3:

[code]

[2019-01-25 04:56] silky commented on #4536
i think this isn't limited to just the `script` option; it's also slow just thinking about building, but failing:

[code]

[2019-01-25 05:01] mgsloan commented on #4536
@silky Yep, seems to be so.  When building stack with itself, I see a *much* larger delay before the first line of output than when using 1.9.3

[2019-01-25 07:14] qrilka commented on #4510
It looks like we could have troubles going that way but correct me if there are any flaws in my logic:
Among other GHC boot libraries there's also `ghc` which is a bit special - it is said to be wired-in but at the same time it depends on a number of "independent" packages, e.g. `directory`, `process`, `containers`. We are OK as far as none of these packages appears in a Stackage snapshot but if i

[2019-01-25 07:21] snoyberg commented on #4510
@qrilka I don't think this finding is anything new. Stackage already ensures that packages from the global database, or at least those which are transitive dependencies of `ghc`, don't get included in a snapshot, exactly for this purpose.

[2019-01-25 07:41] qrilka commented on #4510
I didn't know that there's a special check for that, I guess it needs to be added into the new curator?

[2019-01-25 07:45] snoyberg commented on #4510
Yes, I guess so. I didn't think about that previously.

[2019-01-25 08:09] dbaynard commented on #4517
It's because `network` uses `build-type: configure`. Without the `Setup.hs` file it shouldn't build.

[2019-01-25 08:10] duog opened #4539 "Stack on nixos fails when ghc not available in nixpkgs, e.g. ghc802"
Please follow the steps below for reporting a bug:

Make sure that you are using the latest release (currently stack-1.9.3).
See the [upgrade instructions](http://docs.haskellstack.org/en/stable/install_and_upgrade/#upgrade) to upgrade.

Please use the following schema for your bug report:

### General summary/comments (optional)
LTS-9.21 requires ghc-8.0.2 which is not available in current nixpkg

[2019-01-25 13:00] haitlahcen opened #4541 "Compilation not terminating due to giant .dump-hi (4gb) file when using type families"
Hello guys!

Related fixed issue: https://github.com/commercialhaskell/stack/issues/4027
Related GHC issue: https://ghc.haskell.org/trac/ghc/ticket/8095#comment:58

My team is experiencing issues when compiling a project that extensively use type families (type level sql with https://github.com/morphismtech/squeal).
We found that the big trouble comes from GHC trying to dump a text file when compi

[2019-01-25 14:14] borsboom commented on #4535
I had a look at the script, and overall looks OK, but couple of questions:

1) Does it fail somewhat gracefully (with a useful error) if you're trying it in a Windows environment that isn't supported?  E.g. what does it do if it can't find `7z`.

2) It appears to install to `/bin`; is that the right place in this environment?  No support for e.g. `/usr/local/bin`?  It also doesn't appear to use th

[2019-01-25 16:19] mihaimaruseac commented on #4529
Since it is now a GHC (lack of availability) issue, I think we can now close this.

[2019-01-25 16:19] #4529 closed

[2019-01-25 16:25] mihaimaruseac commented on #4517
You are right. It builds without the `Setup.hs` file for a package using `build-type: Simple` (I tested on `io-manager`).

Closing this as it is actually not a Stack bug.

[2019-01-25 16:25] #4517 closed

[2019-01-25 16:49] eborden commented on #4517
Great catch! `network` recently moved away from a more complex `Setup.hs` to simple. I'll fix the cabal file.

[2019-01-25 16:57] eborden commented on #4517
Hmm, actually `network` still needs `Configure`. Is there any reason that `stack` can't synthesize the default `Configure` `Setup.hs`?

[2019-01-25 17:57] mihaimaruseac commented on #4517
I guess scope creep as then you'll have to maintain multiple versions of `Setup.hs` that you can synthesize.

However, if you'd like to send a PR, that would be welcome

[2019-01-26 20:44] ndmitchell commented on #4535
1. I don't have any idea. I'll try and get it slightly working or erroring well in those situations.
2. On Travis, only `/bin` and `/usr/bin` are on `$PATH`. As a result, I'd have to have a different default `-d` depending on which OS you were using. Or is there a nicer way around?

Will PR against etc/scripts/get-stack.sh one we figure out what it should do around 2.

[2019-01-28 11:46] bradrn opened #4546 "Can't get extra-dep from Github"
### General summary/comments

When I try to pull an `extra-dep` from Github, I get a permission denied error.

### Steps to reproduce

1. Add an `extra-dep` to `stack.yaml` referencing a Github repo.
2. Run `stack build`.

For instance, the relevant `stack.yaml` section in my current project is:

[code]

### Expected

The project successfully builds using the Stack project at the relevant address.

[2019-01-28 12:30] dbaynard commented on #4546
Try with `https` link for github; this is often a git/github issue.

[2019-01-28 12:48] bradrn commented on #4546
@dbaynard I'm not entirely sure how I would do this, even after reading the relevant section of the manual. Could you give an example?

[2019-01-28 14:24] mpereira commented on #4426
I see the same on 1.9.3. The `config.log` shows a few errors:
[code]

[2019-01-28 14:48] dbaynard commented on #4546
Sure, change

[code]

to

[code]

If (as I suspect) that works, it is a git issue, not a stack issue. It's probably to do with your git configuration.

[code]

For some reason you are unable to add this to your hosts directory. I suspect git itself is misconfigured on windows. (I did check and the fingerprint and IP address do match github, at least!)

[2019-01-28 14:51] dbaynard commented on #4546
[code]

Maybe try https://stackoverflow.com/questions/36011084/could-not-create-directory-home-username-ssh with the original extra-dep. If it works, it is probably worth adding to the stack documentation.

[2019-01-28 15:35] dbaynard commented on #4517
I think I need to document the `configure` behaviour, too, in #4494

[2019-01-28 17:44] notestaff opened #4548 "ghc-options not passed to ghc"
I want stack to always pass certain options to ghc.  I've created config.yaml as follows:

[code]

But stack still sometimes runs ghc without these options, leading to errors:

[code]

Is there a way to make sure the path to the gmp library is _always_ passed on?

[2019-01-28 22:03] bradrn commented on #4546
Using HTTPS works - thanks! Still, it would be nice to get the `git@` syntax working, since many projects online use it.

Meanwhile, running `stack exec -- which git` gives me the MSYS path `/usr/bin/git` rather than the Windows installation in Program Files. Could this have something to do with it?

[2019-01-28 22:22] mgsloan commented on #4541
This seems like a really good idea, in favor of merging #4545 once it's been reviewed.  I think this should make it so that ghc doesn't need to pass `-ddump-hi -ddump-to-file`.  In some cases it can be rather puzzling to users when various ddump options aren't displayed

[2019-01-29 12:02] dbaynard commented on #4546
Possibly, though I don't know enough to comment. Did you try creating the directory '/home/bradrn/.ssh', then running with the original `git@` extra-dep?

[2019-01-29 17:55] #4453 closed

[2019-01-31 12:53] dbaynard commented on #977
#4545 (in progress) changes stack's behaviour regarding '.hi' files

[2019-01-31 13:15] pjljvandelaar opened #4551 "Failure on building new rio package"
### General summary/comments (optional)
On windows building a new package according the rio template fails.

### Steps to reproduce
1. run
[code]
2. goto that directory
[code]
3. run
[code]

### Expected
 I expected the build to succeed.

### Actual
I got a lot of good steps, yet finally
[code]

Note the error is consistent:
running stack build once more yields
[code]

### Stack version
[code]

##

[2019-01-31 13:31] pjljvandelaar commented on #4551
When you change LTS 13.5 into 11.22 it just compiles:
[code]

[2019-01-31 14:22] wiz opened #4552 "ls dependencies --tree fails when targets are provided"
### General summary/comments (optional)

I've built a stack from the git master and tried to test the thing.

### Steps to reproduce

[code]

### Expected

Dependency tree for `aeson` package.

### Actual

[code]

### Stack version

[code]

### Method of installation

* git clone https://github.com/commercialhaskell/stack && stack install --resolver snapshot-nightly.yaml

[2019-01-31 14:33] KeesBleijenberg opened #4553 "Stack build (Haskell) cannot find any module in the src directory."
If I import module XX  in Main.hs from the src directory, I always get: Could not find module XX
I've purged .stack-work, but no luck. In Main.hs I import ProgSettings and I get the error message.
I tried to add build-depends in packages.yaml, but it didn't work. I always get: Ignoring unrecognized field $.library.build-depends.?
I'am using stack 1.9.3 on Ubuntu. Ghc version: 8.2.2 What can I do?

[2019-01-31 22:57] mgsloan commented on #4553
The fix for this is probably to add `- my-library-name` to the `dependencies:` list of the executable.

Note that `source-dirs` is just `app` for the executable, and so imports will only resolve to modules in the `app` folder or modules from dependencies.

[2019-02-01 08:12] KeesBleijenberg commented on #4553
Thank you for your reply.

I've tried your suggestion and I get:
Error: While constructing the build plan, the following exceptions were
encountered:

In the dependencies for freeDB-0.1.0.0:
    ProgSettings needed, but the stack configuration has no specified
                 version (no package with that name found, perhaps there is a
                 typo in a package's build-depends or an omis

[2019-02-03 22:49] ndmitchell commented on #4535
Thanks, raised a PR https://github.com/commercialhaskell/stack/pull/4555. As a bonus, I made it work on Travis, Appveyor and Azure Pipelines.

[2019-02-03 23:10] mattaudesse commented on #4552
Thanks for reporting this @wiz

[2019-02-03 23:19] mattaudesse commented on #4551
Thanks for reporting this @pjljvandelaar.

Obviously it's not a solution to the bug you discovered, but I'm glad you were able to get it working with an earlier snapshot at least.

[2019-02-03 23:40] mattaudesse commented on #4548
Hey @notestaff, thanks for reporting this.

It's a little bit difficult to follow your configuration without the usual markdown formatting, but based on what I see I think you've already done what's suggested in the docs. I'm not sure why you'd get inconsistent behavior only some of the time.

If possible, it might be helpful to share a link to the repo where this is happening (if it's publicly av

[2019-02-04 05:31] domenkozar commented on #1948
I'm quite pleased with ghcid+stack setup, but there's one thing bugging me. If I'm developing also a dependency on my main project, ghcid doesn't reload it. Does ghcid parse stack.yaml to see what modules it should be loading?

My command line is `ghcid --command 'stack repl --load --ghci-options=-fbyte-code --no-nix-pure cachix-server:lib cachix-server:exe:cachix-server' --restart cachix-server.c

[2019-02-04 07:45] tomasaschan opened #4556 "Redirecting output of `--exec` command"
I'm running my program with `stack build --file-watch --exec`, but I can't figure out how to redirect its output. If I try

    stack build --file-watch --exec "my-prog with some-args" > output.txt

then the output of `stack` is of course also sent there, and the output of subsequent runs of my program are appended to the file, leaving old runs there.

If I try

    stack build --file-watch --exec

[2019-02-04 15:51] nh2 commented on #4471
Another important question to ask:

Do we have multiple **processes** accessing SQLite at the same time?

While multi-_threaded_ access isn't a problem for sqlite as linked above, only 1 _process_ can write to a DB at any given time.

From https://www.sqlite.org/faq.html#q5:

[2019-02-04 15:51] nh2 commented on #4471
CC @snoyberg via https://github.com/commercialhaskell/stack/issues/4247#issuecomment-415279276

[2019-02-04 15:57] snoyberg commented on #4471
Right, I get all that. Adding a busy timeout value is intended to give another process a chance (2 seconds) to finish up whatever transaction it's in the middle of. If that's insufficient, it means that Pantry transactions are lasting longer than I would have thought in some cases.

[2019-02-04 16:02] psibi commented on #4471
@snoyberg I don't think there is a guarantee of 2 seconds. From this source:

Reference: http://sqlite.1065341.n5.nabble.com/busy-timeout-not-working-always-tp83035p83037.html

[2019-02-04 16:07] psibi commented on #4471
Also, I have this sample code through which I'm able to reproduce the above SqliteBusy Error (note that you may have to run multiple times to reproduce this):

<details>
  <summary>Click to expand the code!</summary>

[code]
</details>

You would have to tweak the code for some path change, but you get the idea.

[2019-02-04 16:25] psibi opened #4558 "InternalException HandshakeFailed happens during nightly builds"
Note that I was not able to reproduce this locally on my Linux machine. The `4095-utf8-pure-nix` test has been failing in Azure CI frequently with this log:

[code]

Build log link: https://dev.azure.com/commercialhaskell/stack/_build/results?buildId=441 (Failing for Mac OS specifically)

Used Stack version: Reproducible with the latest commit in master ( commit 59efd85d9a6737373d3e4ac0fa46dc49f93

[2019-02-04 16:51] nh2 commented on #4558
The error message looks very suspicious:

* It mentions a `certificate rejected` error
* But at the same time, it claims `No such file or directory` -- but which file is it trying to execute that doesn't exist?

[2019-02-04 17:44] dbaynard commented on #2662
This was actually in 8.0.1, correct? (The linked issue indicates it beat its milestone).

[2019-02-04 17:51] dbaynard commented on #4426
This wouldn't be the first odd error I've seen on macos involving haskell platform — e.g. #4504

[2019-02-04 17:54] dbaynard commented on #4522
Hi @prokolyvakis, GHC often uses extremely high CPU usage — and both `cabal-install` and `stack` will  use as many threads as they can. This in itself isn't a bug — GHC has a lot to do. But if there's excessive memory use, that would be problematic.

Is it just the CPU use?

[2019-02-04 18:05] dbaynard commented on #4552
The correct behaviour is not defined anywhere. Having investigated (not on master): without `--tree`, it only lists dependencies of the target. However, if run outside a project, the command will list nothing — and will error if there's no target.

@wiz can you please check (and post) the outputs of the following variants?

1. With and without `--tree`,
2. In and not in a project directory (i.e. a

[2019-02-04 18:19] dbaynard commented on #4558
Try the fix in #907?

[2019-02-04 18:20] dbaynard commented on #4539
@nh2 Can you take a look at this? I'm not sure what ought to happen.

[2019-02-04 18:41] nh2 commented on #2422
There's also some chance that this is due to an interrupted build: https://github.com/lehins/exec-kill-loop

[2019-02-04 18:42] nh2 commented on #4399
There's also some chance that this is due to an interrupted build: https://github.com/lehins/exec-kill-loop

[2019-02-04 18:50] nh2 opened #4559 "Get rid of persistent build errors due to non-atomic file writes in GHC and stack"
GHC as of writing does not ensure that files are written atomically.

This means that a Ctrl+C, kill or reboot at the right time can result in truncated files.
GHC does not detect this, so that resuming/rerunning the build with `ghc --make` continues to show up error messages.

In such situation, the only workaround is to wipe all files (e.g. `stack`/`cabal`/`make` `clean`).

Specifically, we've o

[2019-02-04 18:57] nh2 commented on #4559
In case we need to add atomic writes for stack, in https://github.com/commercialhaskell/rio/pull/138 @roman introduced atomic+durable file writes that we can use.

However, as per [this](https://github.com/commercialhaskell/rio/pull/138/files#diff-56a7ad26dec349be191aa4b8474d47e8R41):

[code]

We probably want to add that since for many cases, atomic-but-not-durable is enough, and durability (`fsy

[2019-02-04 20:42] crockeea opened #4560 "Certificate has unknown CA on Windows Subsystem for Linux"
### General summary/comments (optional)
Stack works fine with Powershell and mingw64, but when I try to use it through "Bash on Ubuntu on Windows", I get

[code]

### Steps to reproduce
To reproduce:
1. Open Bash on Ubuntu on Windows
2. go to any stack-enabled project and run `stack build`

### Expected

I expect that stack will begin downloading and installed package dependencies.

### Actual

In

[2019-02-04 21:59] dbaynard commented on #4560
I wonder if there's some checking against the subject on there, rather than the list of alternative names? I'll get somebody to investigate.

[2019-02-04 22:51] dbaynard commented on #4560
@borsboom has suggested: Could you be missing [ca-certificates](https://packages.ubuntu.com/xenial/ca-certificates)?

[2019-02-04 22:52] borsboom commented on #4560
Also, how did you install Stack?

[2019-02-04 23:00] crockeea commented on #4560
@borsboom I was indeed missing ca-certificates, but installing it didn't fix the problem.

I've long since forgotten how stack was installed, but just to verify, I uninstalled stack using [your comment](https://github.com/commercialhaskell/stack/issues/3563#issuecomment-343022980) and installed it again with `curl -sSL https://get.haskellstack.org/ | sh`. Same error.

[2019-02-05 07:54] pjljvandelaar commented on #4551
Try 1: unsetting
[code]
Try 2: using Installer
[code]

So that resolution seems not to help!

[2019-02-05 08:33] qrilka commented on #4536
Some of the noticed slowdown gets addressed in #4557 and #4562 improves speed of `stack build`.
Also #4550 should improve the situation

[2019-02-05 09:06] mgsloan commented on #4536
@qrilka Good stuff!  Glad progress is being made on this

[2019-02-05 09:15] #4510 closed

[2019-02-05 13:02] dbaynard commented on #4552
I'd like to hear @wiz's thoughts.

For me: If we call `stack build TARGET` outside of a project, stack builds the targets. So I'd argue `stack ls dependencies TARGET` ought to display the dependencies of the target… but as it would be good for `ls dependencies` not to need network access, I would rather see it fail (gracefully) if this is not possible.

@borsboom is probably the person to ask, her

[2019-02-05 13:29] rikvdkleij opened #4564 "Internal library component not available for REPL"
Cabal 2 support internal libraries and as I understand Stack version 1.9.3 also.

I expect that that `stack ide targets` gives all components but the internal libraries are not mentioned.
Also `stack repl [name of lib]` does  not work.

### Steps to reproduce
Create cabal file `packagename.cabal` which contains components:
`library`
`library libname`

### Expected
To work:
`stack repl packagename:

[2019-02-05 14:04] dbaynard commented on #4551
Thanks for trying, anyway.

This error message is coming from GHC. Would you be able to try using `cabal-install` to identify whether this is actually a stack issue?

[2019-02-05 14:05] dbaynard commented on #4564
@mihaimaruseac Would you take a look, please?

[2019-02-05 14:07] dbaynard commented on #4564
@rikvdkleij Thanks for the report. Would you please indicate which platform you are on, paste the output of `stack --version`, and also paste the verbose logs corresponding to the error messages (you can wrap the log in `<details></details>` tags)?

[2019-02-05 14:09] dbaynard commented on #4551
Oh, before that, how about [this](https://ghc.haskell.org/trac/ghc/ticket/13112) (via https://github.com/haskell-tools/haskell-tools/issues/277#issuecomment-332917356)?

[2019-02-05 14:11] dbaynard commented on #3765
Somehow we all missed [Trac #13112](https://ghc.haskell.org/trac/ghc/ticket/13112).

As pointed out at https://github.com/haskell-tools/haskell-tools/issues/277#issuecomment-332917356

Do indicate if this fixes your issues.

[2019-02-05 14:20] rikvdkleij commented on #4564
Platform is macOS.

stack --version
```Version 1.9.3, Git revision 40cf7b37526b86d1676da82167ea8758a854953b (6211 commits) x86_64 hpack-0.31.1```

What do you mean with the details tags? I can can run the command with the `--verbose` flag and then?

[2019-02-05 14:40] mihaimaruseac commented on #4564
See also #4148, unfortunately until March I don't really have time to look into this due to personal reasons. Hopefully after March I can get back to making internal libraries work as they should everywhere in Stack.

@rikvdkleij, you can copy the output of `--verbose` and paste it in a comment here, between

[code]

and

[code]

(just make sure you remove the spaces between the <key>`</key> chara

[2019-02-05 14:45] tomasaschan commented on #4556
Ah, yes - that works, of course. Thanks!

It would be nice if this was a special case that stack could handle, but I do understand that there are _very_ many file redirection variants supported by various shells, so choosing a (sub)set of them to implement is probably infeasible.

[2019-02-05 14:47] rikvdkleij commented on #4564
@mihaimaruseac Thanks for your reply! Great that you will solve this issue! Currently this is a blocker to use internal libraries. Also for IDE support.

Verbose log in which did some renaming:
<details>```
Version 1.9.3, Git revision 40cf7b37526b86d1676da82167ea8758a854953b (6211 commits) x86_64 hpack-0.31.1
2019-02-05 15:23:05.618589: [debug] Checking for project config at: rik/app/stack.yaml
20

[2019-02-05 14:56] rikvdkleij commented on #4564
@mihaimaruseac Later on I added spaces between the ``` ` ```  but did not see a difference in output Also noticed that you have changed the content.

[2019-02-05 14:56] mihaimaruseac commented on #4564
I tried to get the formatting fixed but failed. It's ok though, the log is readable. Thank you for it

[2019-02-05 15:17] dbaynard commented on #4564
You need a blank line between the html tags and the backticks 👍.

[2019-02-05 15:18] dbaynard commented on #4556
This belongs in the docs. PRs welcome!

[2019-02-05 15:18] rikvdkleij commented on #4564
@dbaynard Thanks!

[2019-02-05 15:20] dbaynard commented on #4564
Do the other commands work, e.g. build?

[2019-02-05 15:37] rikvdkleij commented on #4564
Yes, that's right. Even after a build it does not work.

Also when I do `stack repl` without mentioning a component and select a component which depends on an internal library, it takes the language extensions from other components in scope.

[2019-02-05 16:49] mihaimaruseac commented on #4564
I think #4148 is no longer valid, the last comment there says that ghci after build no longer works (so probably we had a regression there, though since internal libraries support needs to be redone I don't think we should bother bisecting and reverting)

Can you open another issue for that, please? And assign to me too, I'll take care of it too next month (or earlier if I get time)

[2019-02-05 16:50] mihaimaruseac commented on #4148
Seems there has been a regression and now #4564 has the up to date status of this issue

[2019-02-05 19:02] ndmitchell opened #4566 "Repeated rebuilds of Hadrian (GHC build system)"
Using

[code]

Given GHC as checked out with `git clone https://gitlab.haskell.org/ghc/ghc.git --recursive` at SHA
ef25b59a97f419a2ad6457f696e32aef9ffb3a0f, I do:

[code]

I would expect that building twice in a row does little to nothing the second time around. Instead, it biulds a whole heap of stuff. The log is attached: [log.txt](https://github.com/commercialhaskell/stack/files/2833450/log.txt

[2019-02-05 19:23] qrilka commented on #4566
@ndmitchell we've just today changed the way Stack is supposed to work with GHC boot libraries (in  #4547), and from a quick glance into your log it looks like it could be quite related - Stack complains a lot about mismatching libraries. I'll try to find some time to check out building Hadrian with the latest master - it looks to be a good test case (though a lengthy one )

[2019-02-05 20:18] hsyl20 opened #4567 "Custom GHC build"
I have some code that depends on a custom patched GHC. Currently my options to allow other people to build this code are:

1) Create a GHC bindist. Make it available somewhere online. Add this kind of configuration into stack.yaml:

[code]

2) Give instructions to user on how to build the custom GHC and tell them to use the following Stack configuration updated for their system:

[code]

Both opti

[2019-02-05 20:39] dustin commented on #2103
I've been trying to work with aarch64 as well and ran into a different problem.

I successfully built a project from lts-13.5 using 8.6.2 with `--skip-ghc-check`.  I've also built ghc-8.6.3 for aarch64 and am trying to use it.  I'm a bit confused as to how the pieces fit together, though:

I updated `stack-setup-2.yaml` to reference my 8.6.3 build for linux-aarch64, but it doesn't seem to find it:

[2019-02-05 20:59] dbaynard commented on #4567
Hi @hsyl20, thanks for the suggestion.

I'd like to know the pros and cons of each of the options — they aren't obvious to me.

Would you be interesting in contributing and maintaining a solution?

[2019-02-05 21:13] varosi commented on #2103
try —system-ghc option
На вт, 5.02.2019 г., 22:39 ч. Dustin Sallings <notifications@github.com>
написа:

[2019-02-05 21:20] dustin commented on #2103
`--system-ghc` works OK.  I'm trying to figure out how to create a build environment that will correctly use the GHC I'm defining in `stack-setup-2.yaml`

i.e.:

[code]

[2019-02-05 22:45] davidspies opened #4569 "stack downloads github refs in snapshot.yaml file to local .stack-work"
### General summary/comments (optional)

When using a `snapshot.yaml`, it seems to download github refs to the local `.stack-work` directory every time I do a fresh build. These should only be downloaded once and go in the snapshot, not in the local `.stack-work`

### Steps to reproduce

1. Create a `snapshot.yaml` file with a github ref such as
[code]

2. `stack new example --resolver=../snapshot

[2019-02-05 23:00] dbaynard commented on #4569
Hi @davidspies thanks for the report. This is a pet peeve of mine, and I often run the following command when there's no `.stack-work` directory:

[code]

Technically this could cause problems (if you have multiple repos checked out at different commits) but I _think_ stack avoids it.

This was reported in #3551. That issue should have appeared below the title bar when you were typing?

The next v

[2019-02-05 23:00] #4569 closed

[2019-02-06 00:36] borsboom commented on #2103
@dustin I think you've found a Stack bug, in [this line](https://github.com/commercialhaskell/stack/blob/stable/src/Stack/Setup.hs#L1012):

[code]

When that was written, Cabal didn't have a specific enum value for aarch64, so it checks again `OtherArch`.  But since then, looks like Cabal has added a value which means OtherArch is no longer being matched.

I've just pushed a change to the `stable`

[2019-02-06 00:40] borsboom commented on #4567
One thing to keep in mind is that building GHC from source requires a lot extra stuff installed on the developer's machine, so it wouldn't work "out of the box".  We've considered supporting building GHC from source in the past, but decided against it for this reason.

[2019-02-06 04:57] dustin commented on #2103
Didn't quite make it...  I had to fight a little to get it to try (system ghc, allow newer, etc...).  It failed after a while, though:

[code]

[2019-02-06 05:10] hsyl20 commented on #4567
@dbaynard

Solution 1:
* Pro: users of my package only have to type "stack build"
* Con: I need to build and to provide bindists for different architectures/systems which requires *a lot* of time and access to various platforms

Solution 2:
* Pro: I don't have to provide any GHC bindist
* Con: users of my package have to build GHC themselves and to modify stack.yaml accordingly. We could script it

[2019-02-06 08:42] snoyberg commented on #3330
Implemented already on master.

[2019-02-06 08:42] #3330 closed

[2019-02-06 08:42] snoyberg commented on #4336
#4412 was merged.

[2019-02-06 08:42] #4336 closed

[2019-02-06 08:44] snoyberg commented on #4418
Completed via PR by @psibi

[2019-02-06 08:44] #4418 closed

[2019-02-06 08:54] snoyberg commented on #4480
I think this is a great point @dbaynard. I'd be fine with massively simplifying the approach to `clean` to just getting rid of all of the `dist` directories, or perhaps even just wiping out the `.stack-work` directories entirely. I'm not aware of any reason why this should cause breakage. Worst case scenario: some corner case depending on undocumented behavior in Stack ends up having a longer reco

[2019-02-06 09:30] rikvdkleij commented on #4564
@mihaimaruseac

Isn't this the same issue only it appears differently?

[2019-02-06 11:03] ndmitchell commented on #4471
I just reproduced this running on Windows 10 while building Stack itself from Git using the command:

[code]

[2019-02-06 11:32] dbaynard commented on #4484
Closing as the documentation explains the new behaviour.

If there's demand for the behaviour suggested in https://github.com/commercialhaskell/stack/issues/4484#issuecomment-452460200 the please reopen the issue (if you want to contribute the PR, even better! But please reopen the issue first).

[2019-02-06 11:32] #4484 closed

[2019-02-06 12:09] dbaynard opened #4570 "Document interaction with stackage-content"
It would be helpful to explain this in terms of stack's platform support. ~~I'm not yet sure where in the documentation it ought to go.~~ probably in *install_and_upgrade.md*.

Related:
- #3024
- commercialhaskell:stackage-content@3bbfe079501e9b1d47f8737ebbb5ecded8c5a780

[2019-02-06 13:00] dbaynard opened #4571 "Support cabal.project files"
Cabal now has [`cabal.project`](https://cabal.readthedocs.io/en/latest/nix-local-build.html#configuring-builds-with-cabal-project) files, which overlap with some of the features of `stack.yaml` files. It would be good for stack to be able to convert between `stack.yaml` and `cabal.project` files.

-   [stack2cabal](https://hackage.haskell.org/package/stack2cabal) can do one direction.
-   [This ar

[2019-02-06 13:07] qrilka commented on #4566
@ndmitchell it looks like we do some extra rebuilds even using the latest `master` - https://gist.github.com/qrilka/1ee438e352aa8b1539b63bd60483a056 but I get no errors at least.
Checking out if we could have a workaround for boot libraries rebuilds needs further investigation

[2019-02-06 17:22] mpilgrem opened #4572 "No package revision found for: PackageName "ghc""
I am not sure if the following would be considered to be a `stack` issue or not. It flows from https://github.com/haskell/haskell-ide-engine/issues/1074

The Haskell IDE Engine (HIE) builds with stack 1.9.3 under GHC 8.6.2. Command `stack --stack-yaml=stack-8.6.2.yaml ls dependencies` includes in its output:
[code]
`ghc-8.6.2` is the library that comes with GHC 8.6.2 (https://downloads.haskell.org

[2019-02-06 17:45] dbaynard commented on #4572
Hi @mpilgrem, try the current tip of the `master` branch — there was a PR last week which addressed how stack handles these packages.

Also from the version you've given, it looks like you've made changes. If this doesn't resolve the problem, please indicate what they are.

[2019-02-06 21:41] borsboom commented on #4535
#4555 merged.

[2019-02-06 21:41] #4535 closed

[2019-02-06 22:00] jfgossage commented on #2421
@borsboom It seems that this issue is still live. My understanding is that all the problems resolve around the fact that Stack is not platform independent and Stack has no concept of heterogeneous operating environments as we commonly find using Docker. If my assessment is correct I am prepared to try and create a PR for you.

[2019-02-06 22:24] borsboom commented on #2421
Hmm, I'm not sure I'd describe the problem quite that way.  The way `stack` works with Docker is that it re-executes a Linux `stack` inside the container to perform the build (so the "host" `stack` really just sets up the environment but everything is done in the container "natively").  The main problem I'm aware of is that `stack` will try to pass Windows paths to the in-container `stack`, which

[2019-02-06 22:30] jfgossage commented on #2421
In that case I will go ahead as I need Haskell woking under Docker on
Windows 10 with Ubuntu 18.04 as the target environment for Docker.

On Wed, Feb 6, 2019 at 4:24 PM Emanuel Borsboom <notifications@github.com>
wrote:

[2019-02-07 08:10] varosi commented on #4351
I have installed XCode before that. I don’t know if this affected the
success.
На нд, 14.10.2018 г., 22:47 ч. Matt Audesse <notifications@github.com>
написа:

[2019-02-07 08:32] wiz commented on #4552
@dbaynard Sorry for the delay. I collected the outputs you've mentioned: https://gist.github.com/wiz/94a9613005c4835416dbaf0aaf87ed67

[2019-02-07 08:33] wiz commented on #4552
On a related note, `--tree` ignores the `--prune` option.

[2019-02-07 09:23] wiz commented on #4552
It appears I tried to use `ls dependencies` for something it wasn't designed for - exploring dependencies of targets, not the stack project as a whole :thinking:

[2019-02-07 14:31] hsyl20 commented on #4567
Some progress report: with my branch we can now use the following config:
[code]

- [X] we need a GHC which can create an installable bindist with Hadrian (i.e. with this [MR](https://gitlab.haskell.org/ghc/ghc/merge_requests/305) merged).

- [X] `stack setup` correctly builds and installs GHC from source into `STACK_ROOT/programs/ARCH/ghc-git-23b8cb5f98ff4d1cfc641a28743ab0b881d3b52e-quickest`

-

[2019-02-07 14:53] dbaynard commented on #4552
Thanks, @wiz. That's helpful (I like how you found some more bugs in the process).

So you ran this from the `stack` source directory?

We should fix that, too.

To be fair, it should be clear in the documentation. Thanks for pointing this out.

[2019-02-07 15:00] dbaynard commented on #4567
Stack bug. See #4573. It should be merged today — just waiting to see if anybody else comments.

[2019-02-07 15:06] dbaynard commented on #4567
Whoops, accidentally ticked one of the boxes — undone it now.

The rest of your results looks pretty impressive.

This is surely a problem, though. Will your users not mind having to recompile GHC?

[2019-02-07 15:07] #4572 closed

[2019-02-07 15:57] hsyl20 commented on #4567
Nice! I'm glad I have reported it here before investing time into fixing it

It would be a temporary measure until the changes are integrated into a released GHC (if ever). I try to get them merged but it takes quite some time (e.g. I'm trying to get [this MR](https://gitlab.haskell.org/ghc/ghc/merge_requests/84) merged for a month now).

[2019-02-07 16:39] wiz commented on #4552
Yep, in a project directory. `stack  new`, `cd`, add aeson dependency, run `ls`.

[2019-02-07 18:33] dspies-leapyear opened #4574 "Pass `--host` option to `stack hoogle --server`"
There doesn't seem to be a way to pass the `--host` option to `stack hoogle --server`

I'd like to be able to access it from another machine besides localhost.

[2019-02-07 19:26] dspies-leapyear commented on #4574
Ok, I figured it out

It's
`stack hoogle -- server --host=<ip> --local`

That's not clear from documentation. `--local` does the _opposite_ of what it says it does and there's no example of using `stack hoogle -- server` (with the whitespace between the `--` and the `server`) anywhere.

[2019-02-07 21:43] tomasaschan commented on #4556
Coming back to this, I can't get the options right for `stack build --exec`... What would the corresponding incantation be to redirect output in that case?

[2019-02-07 22:37] dbaynard commented on #4574
Thanks for reporting, and investigating @dspies-leapyear.

Fancy making a PR?

-   Fixing the help text for `hoogle` and the docs, where needed.
-   Correcting the behaviour for `--local` (what should it do?)

[2019-02-08 00:03] mpilgrem commented on #4572
That resolved the problem.

[2019-02-08 01:04] dspies-leapyear commented on #4574
Added to hoogle help text in https://github.com/commercialhaskell/stack/pull/4575
Unfortunately the `--local` thing is really more of a `hoogle` thing than a `stack` thing.

[2019-02-08 01:09] dspies-leapyear commented on #4574
Created an issue here: https://github.com/ndmitchell/hoogle/issues/286

[2019-02-08 07:21] pjljvandelaar commented on #4551
before
[code]
After changing package.yaml by adding the proposed flag to the GHC options like this:
[code]
I get an even worse behaviour:
[code]
Indeed, the program hangs! I don't get a command prompt any more....

[2019-02-08 07:24] pjljvandelaar commented on #4551
By the way, I have no idea how to do `cabal-install`.
I just used the rio package for some experiments...

[2019-02-08 09:27] ad-si opened #4576 "Stack does not apply GHC options in package.yaml"
### General summary/comments

I have defined several GHC `-W` options in my package.yaml.
When I run `ghcid` or `stack ghci` they are applied and I get the corresponding warnings.
However, when I run `stack build` no warnings appear.

Maybe related to https://github.com/commercialhaskell/stack/issues/4526 or https://github.com/commercialhaskell/stack/issues/4548

### Steps to reproduce

1. `stack

[2019-02-08 09:53] qrilka commented on #4576
@ad-si what section of `package.yaml` did you add `-Wall` to? In the default one there's `ghc-options` for `test-exe` and `tests`, if you want to have a warning for a library source code you should add it into `library` section of `package.yaml`/Cabal file

[2019-02-08 10:19] ad-si commented on #4576
[code]

That's what it looks like at the moment. I can't see anything about a `ghc-options` field for the `library` section. How do I need to change it?

[2019-02-08 10:50] qrilka commented on #4576
In the code that you show above `ghc-options` is applied only for the `tasklite` executable, you could add top level `ghc-options: -Wall` (and `hpack` will add it into all Cabal stanzas) or you could be more specific and add it into `library` like the following:
[code]

[2019-02-08 10:54] ad-si commented on #4576
Ok cool, thanks for the tip. Unfortunately that doesn't fix my problem. Still no warnings. 😔

[2019-02-08 11:05] qrilka commented on #4576
@ad-si showing the logs could help a lot. My suspicion is that you have your library already built so without a recompilation you won't get any warnings for sure. Just use `stack clean` before running `stack build` and you should be able to see your warning.

[2019-02-08 11:25] ad-si commented on #4576
Oh, wow, `stack clean && stack build` does indeed work.
But what the heck? That's really not what I would inspect.

So this means it shows warnings only on the first compilation.
In this case I'd like to change this issue to "Show GHC warnings on every build",
just because one missed the warning it doesn't mean it's not relevant anymore, right?

I guesss I missed it because I was using `stack buil

[2019-02-08 11:35] qrilka commented on #4576
I suppose your  "Show GHC warnings on every build" isn't quite correct here because consecutive builds by default recompile only changed files, if you want to trigger complete package recompilation you could either use `stack clean` or `stack build --force-dirty --ghc-options=-fforce-recomp`. See e.g. it mentioned in [Stack docs](https://docs.haskellstack.org/en/stable/faq/#why-doesnt-stack-rebuil

[2019-02-08 11:39] ad-si commented on #4576
"recompile only changed files" and "Show GHC warnings on every build" isn't a contradiction.
`ghcid` basically does it.
I think `stack build` should behave more like `ghcid` on consecutive runs.

[2019-02-08 11:51] qrilka commented on #4576
Stack could only show warnings from GHC and you won't get anything from it if compiler doesn't get invoked on a file which was already compiled. And as far as I understand GHCi loads all of the modules and `ghcid` works through GHCi so it is a contradiction between 2 different methods - loading modules in interpreter mode and module recompilation with GHC.
E.g. using the same `Lib.hs`:
[code]

[2019-02-08 12:22] ad-si commented on #4576
Well, I'm coming here solely from the user standpoint and when I run `stack build` I'm expecting it to build it and show me any warnings and errors in the process of doing so. Which stack is obviously not doing. That it reuses compiled modules under the hood is a nice feature, but it shouldn't influence the premise that it shows **any warnings and errors**.

One workaround I just found is to set `

[2019-02-08 12:52] qrilka opened #4577 "tests of the vty package fail with Stack"
### General summary/comments

It appears that Stack is doing something in a different way than what `cabal-install` does in its v1/v2 test commands. Both `cabal test` and `cabal new-test` work fine while `stack test` stucks using the current stable version, that looks to be fixed in #4498 and yet using `master` branch still gives failed tests

### Steps to reproduce

1. `stack unpack vty` to get t

[2019-02-08 13:18] qrilka commented on #4576
You could as well use `stack build --pedantic` to fail on any (not suppressed) warning.
Overall this is not a detail of Stack itself you could open a ticket on GHC Trac if you want to discuss its behavior. As for this issue I'd propose to close it.

[2019-02-08 13:21] ad-si commented on #4576
So you're saying stack is only `ghc build` and therefore it's a "bug" of ghc to not show any warnings?
If that's the case this issue can indeed be closed.

[2019-02-08 13:33] qrilka commented on #4576
It's a GHC behavior, see e.g. some details in https://downloads.haskell.org/~ghc/8.6.3/docs/html/users_guide/separate_compilation.html?highlight=fforce-recomp#ghc-flag--fforce-recomp and I don't think that it's a bug

[2019-02-08 14:00] hsyl20 commented on #4567
It almost works but I encounter a new issue similar to what is presented here: https://www.snoyman.com/blog/2019/01/mismatched-global-packages

The GHC HEAD bindist we build is bundled with Cabal-2.5.0.0 which isn't released on Hackage... Stack reports:
[code]

However, Cabal-2.4.1.0 (the latest Cabal release on Hackage) can't be built against GHC HEAD.

If I add "Cabal-2.5.0.0" as an extra-dep, i

[2019-02-08 14:55] qrilka commented on #4567
@hsyl20 sorry for getting into the middle of this conversation but what package do you compile so you get  a warning about some package wanting version 2.4.1.0 of Cabal? I guess you could try bumping that dependency bound
As for a custom `Cabal` version Stack currently uses only the one which gets shipped with GHC, see #4488

[2019-02-08 15:54] hsyl20 commented on #4567
@qrilka It seems to be from a build dependency of `cabal-doctest`: `Cabal <2.5` (used to get some CPP #define from Cabal package). I've tried:
- `allow-newer:true`: still try to build Cabal 2.4.1.0
- remove the upper bound on Cabal: same
- remove Cabal build dependency: fails because of undefined CPP

---------------

I'm not sure it related to my patches as it is reproducible without using the ne

[2019-02-08 16:18] tathougies commented on #4496
qrilka: The shell.nix is the one in master branch of the beam repository: https://github.com/tathougies/beam

[2019-02-08 17:41] gregor-alexandru commented on #2903
Also have this issue. I get: Cannot find Object file .stack-work/dist/x86_64-linux/Cabal-2.2.0.1/build/main/main-tmp/Commons.dyn_o, where Commons is a project file using some TH-based lens package functions.

[2019-02-08 18:19] gregor-alexandru commented on #2903
Actually, just setting -rtsopts as a ghc argument in my package.yaml fixed the issue for me

[2019-02-08 19:34] qrilka commented on #4567
Actually I think I have confused myself here (and maybe you too?) - #4488 talks about using `Cabal` to build projects for that purpose we use `Cabal` shipped with GHC only and if `Cabal` is a dependency of another package then Stackage snapshot could override it but then you pay extra price of compiling `Cabal` :(
If you have `Cabal-2.5.0.0` in `extra-deps` it should override `Cabal-2.4.1.0` from

[2019-02-08 19:54] qrilka commented on #4496
@tathougies that looks very odd - on NixOS nix more is on by default and your log doesn't show any `nix-shell` invocation, do you have anything about Nix in `~/.stack/config.yaml`?

[2019-02-09 21:03] #4576 closed

[2019-02-09 21:06] dbaynard commented on #4567
Eek, Cabal is complicated. See #4494 for further info.

[2019-02-09 21:12] dbaynard commented on #4551
You should be able to do `stack install cabal-install` or follow install instructions for windows (see https://www.haskell.org/cabal/download.html, probably).

I've just done as you and created the directory. You'll need to install and run `hpack` in order to use `cabal-install` to generate the cabal file. Then `cabal new-build`. If it fails with the same error it's a GHC bug.

If it is fine with

[2019-02-09 21:17] dbaynard commented on #4574
What exact command did you try to do originally?

[2019-02-09 21:25] dbaynard commented on #4566
Is this resolved, then? It would be good to get an integration test on this. We have `4001-excess-recompilation` from #4003 but (as I understand it) it only checks stack doesn't unregister anything when

1. test/bench dependencies change, and
2. only library is targeted.

[2019-02-09 22:09] ndmitchell commented on #4566
Definitely not resolved, since I can reproduce it today using Stack from HEAD.

[2019-02-10 12:32] mgsloan opened #4578 "With stack head, repeated rebuild of dependency"
Similarly to #4566, I'm seeing rebuilds of my xmonad config in https://github.com/mgsloan/mgsloan-dotfiles .  Specifically, `rio` gets unregistered and rebuilt which causes rebuild of the xmonad config.

Locally, I have two versions of stack:

[code]

With `stack-1.9.3`, rebuild works fine:

[code]

Then, when I use `stack-head build` it rebuilds all local packages including `rio`:

[code]

That's

[2019-02-10 12:42] mgsloan commented on #4536
@qrilka Unfortunately those 2 PRs don't seem to have been a measurable improvement for this particular issue.  I've just tested with 4e56620615d31324a6abbba09b7de929d6fc56ac and I'm getting around the same speed for running the script as before. My three runs yielded `3.740s`, `3.492s`, and `3.529s`

[2019-02-10 16:24] qrilka commented on #4578
@mgsloan I think this is a consequence of https://github.com/commercialhaskell/stack/blob/master/doc/build-overview.md#construct-build-plan as :

It looks like check of project packages modification doesn't work properly so `rio` depending on `typed-process` as a project package in your https://github.com/mgsloan/mgsloan-dotfiles/blob/master/env/stack.yaml gets unregistered even without any change

[2019-02-10 17:36] dbaynard opened #4579 "Pantry does not work with git annex"
### General summary/comments (optional)

Pantry does not support a git repo which uses git-annex.

### Steps to reproduce

For example, using `master`:

1. `stack new no-annex --resolver https://gist.github.com/dbaynard/9693107a883a6282f52f22785d0072e2/raw/edd32d61464cf0e19236081e250aebbe8cea1112`

The resolver includes a git repository which uses git-annex.

### Expected

Stack to create the dire

[2019-02-10 17:37] dbaynard commented on #4579
Note that if the directory already exists, `stack build` also fails.

[2019-02-10 17:40] dbaynard commented on #4579
I'd like stack to support git-annex, but I'm happy to consider it out of scope. This error ought to be handled, though. Would you mind taking a look, @qrilka?

[2019-02-10 17:50] flip111 commented on #2244
What about when running this function https://github.com/commercialhaskell/stack/blob/6ec4ac4ee5016e2ecd86af2abfa722b94d2a56c3/src/Stack/Setup.hs#L938-L956 the archive gets removed from disk ?

[2019-02-10 20:56] dbaynard commented on #4579
Actually, in this case I don't need any git-annex files to build the package so it ought to work.

[2019-02-10 21:04] qrilka commented on #4579
Sure, I will try to find time to investigate this

[2019-02-10 21:24] duncan-bayne commented on #3515
Can I help in any way?  I don't have any Haskell but do know FreeBSD reasonably well, and I can set up a development environment for anyone working on this issue to use.

[2019-02-10 22:51] mgsloan commented on #4578
@qrilka The new names make sense (mutable database instead of local database).  Yes, indeed `rio` is installed to the mutable database due to using a locally patched version of `typed-process`.  However, no files are being changed yet rio is being rebuilt.  A further puzzling thing here is that no reason is given for the dirtiness of the package.  To me that seems to suggest that stack isn't aware

[2019-02-10 23:01] dbaynard commented on #4480
This is odd — I'm writing an integration test for #4385 (I've rebased on to master) and `stack clean` has changed. Specifically, it no longer identifies the same GHC variant as `stack build`.

In my test, when I run `stack build` it creates `x86_64-linux-tinfo6` directories inside the `.stack-work/dist` and `.stack-work/install` directory. `stack clean` ought to delete the corresponding directory

[2019-02-11 00:05] vanceism7 commented on #4480
Hey so just to clarify with everyone, should we actually change `stack clean` to do a full clean by default (i.e just delete the .stack-work dir), or are we preferring to keep the `purge` synonym and have stack clean do the "shallow" clean like it currently does?

[2019-02-11 06:55] arrowd commented on #3515
This is already fixed, I'm just waiting a new Stack release.

[2019-02-11 07:28] qrilka commented on #4480
@dbaynard it looks like a side-effect of `SkipDownloadCompiler`. At the same time Michael's proposal is to just delete `dist` without bothering with Cabal/GHC versions. It's a bit of a breaking change but it's not clear what's the point of the current "fine-grained" cleaning and how any code could depend on that. And the question looks to be more about what's @vanceism7 is asking - what will be th

[2019-02-11 07:53] qrilka commented on #4536
Now I see the problem and I'm the author actually. I will think about the ways to resolve this.

[2019-02-11 12:04] qrilka opened #4580 "Can't use Stack's github as an extra-dep: Tar error"
### General summary/comments (optional)

I was trying to use an intermediate commit of Stack as a dependency in a `stack2nix` branch adding compatibility with the upcoming version but failed doing so

### Steps to reproduce

1. Add the following into `stack.yaml`:
[code]
2. Run command `stack build`.

### Expected

Stack checks out Stack sources and builds project.

### Actual

Build fails with
[c

[2019-02-11 13:23] lehins commented on #4580
This is a problem in [tar](https://www.stackage.org/package/tar) package. This tarball contains symbolic link `doc/CONTRIBUTING.md` that points to a top level `CONTRIBUTING.md` using a relative path, hence is the error:

The solution I suggest is to use [tar-conduit](https://www.stackage.org/package/tar-conduit). It has a function  `extractTarballLenient`, which is similar in functionality to `ext

[2019-02-11 14:04] dbaynard commented on #3515
@duncan-bayne If you want to get involved I'm sure @arrowd can find something for you!

[2019-02-11 14:04] #3515 closed

[2019-02-11 14:34] dbaynard commented on #4580
I think this is a superset of #4579.

[2019-02-11 14:53] dbaynard commented on #4480
No, keep the split functionality — it is useful to be able to delete artefacts and keep outputs.

So: delete the build artefacts (`dist`) with `stack clean`, I guess for all the cabal subdirectories there. Delete all `.stack-work` directories with `stack purge`.

How does that sound?

[2019-02-11 15:03] dbaynard commented on #3863
@simonmichael Would you please confirm that this would resolve your issue?

[2019-02-11 15:05] dbaynard commented on #4223
The way stack handles extra-deps has changed. Are you still working on this, @theGhostJW?

[2019-02-11 15:08] dbaynard commented on #4468
@qrilka Where is this branch?

[2019-02-11 15:12] snoyberg commented on #4480
That sounds good to me. To confirm: that would mean that the `clean` command would never need to know anything about GHC or Cabal version, right?

[2019-02-11 15:48] dbaynard commented on #4480
Yes. It would need to know the `.stack-work/dist` directory paths for the project (for when people override `.stack-work`).

[2019-02-11 18:36] qrilka commented on #4468
I think it was a (now deleted) branch for #4467 but if I remember it correctly you don't need a specific branch to see that effect

[2019-02-11 18:55] qrilka commented on #4578
Looks like just a `stack new test-pkg rio` + local checkout of `typed-proces` as a project package gives the same unregistering of `rio` and rebuilds, with that it should be easier to dig it deeper

[2019-02-11 18:58] qrilka commented on #4480
It looks fine to me too, the main point was about not depending on GHC/Cabal.

[2019-02-12 08:01] pjljvandelaar commented on #4551
[code]
More steps are needed ;-(

[2019-02-12 08:03] pjljvandelaar commented on #4551
Can't be installed using ` cabal v1-install ghc`

[2019-02-12 08:04] pjljvandelaar commented on #4551
`stack install ghc` failed as well:
[code]

[2019-02-12 09:01] hsyl20 commented on #4567
I can't specify `Cabal-2.5.0.0` in `extra-deps` directly as it isn't released but I can specify it via its Git repository. It may rebuild a Cabal that has already been built when building GHC but we have no easy way to avoid it. Also it can be useful to pass different options to build Cabal, so we just have to document this. I opened #4581 to add support for Git submodules so that GHC's repository

[2019-02-12 09:29] qrilka commented on #4567
Sorry @hsyl20 for talking only about `extra-deps`, what I meant is that you could have `Cabal-2.5.0.0` as a project package (as e.g. https://github.com/ghc/ghc/blob/master/hadrian/stack.yaml) or an `extra-dep` (using any method - Hackage, local directory or git) and then it should be used by Stack for any project **depending** on `Cabal`. But for building packages only `Cabal` shipped with GHC wil

[2019-02-12 09:44] hsyl20 commented on #4567
According to #4494 (see [here](https://github.com/commercialhaskell/stack/pull/4494/files#diff-95cdd374e9440fde010ff35d65f8cf3fR138)), Custom setups are built with Cabal from the snapshot (or overloaded with extra-deps), not with Cabal shipped with GHC. That seems to explain what's happening when I try to build `cabal-doctest`.

It might be worth adding a way to specify an extra-dep to a boot pack

[2019-02-12 09:46] qrilka commented on #4551
@pjljvandelaar there's no point in installing `ghc` _package_ using Stack or cabal-install, it's a special package which ships with GHC (compiler) itself, what you see is `cabal-install` complaining about missing compiler not the `ghc` package. I don't have Windows available to check it but I guess you could get cabal-install working by using adding GHC installed by Stack do you PATH - on Linux yo

[2019-02-12 09:48] qrilka commented on #4567
Oh, custom setups, sorry, completely forgot about those

[2019-02-12 16:29] davidspies opened #4584 "`stack install ghc` fails"
[code]

So then I tried

[code]

### Stack version

[code]

### Method of installation

* Official binary, downloaded from stackage.org or fpcomplete's package repository

[2019-02-12 21:17] theGhostJW commented on #4223
I'll have a look

[2019-02-12 21:18] qrilka commented on #4579
@dbaynard this doesn't appear to be related to tar problems, e.g. I see the following verbose output:
[code]
See `git archive` being used - that's the way Pantry currently deals with Git repos - it just gets an archive and uses archive handling code and as your archive contains annex files and Pantry doesn't do anything about them you get broken links in tar file and Pantry fails.
@snoyberg could

[2019-02-12 21:26] theGhostJW commented on #4223
Yep that's fixed
Just gives me the line number which removes the misleading part of the info :-).

[code]

[2019-02-12 21:26] #4223 closed

[2019-02-12 23:09] dbaynard commented on #4584
Hi @davidspies, what are you trying to do with `stack install ghc`? Typically, `stack setup` is used to install the `ghc` executable.

[2019-02-13 02:47] afcowie commented on #2983
@borsboom can I suggest that https://docs.haskellstack.org/en/stable/yaml_configuration/#setup-info be updated to explicitly say that you **cannot** use the field in _~/.stack/config.yaml_ / _stack.yaml_ to override with your own _setup-info.yaml_ file and that you **have to** use the command-line option?

[alternately, if there was a way to defeat the default value before appending the supplied v

[2019-02-13 03:46] snoyberg commented on #4579
Yes:

1. It can be more efficient than asking `git` to populate the filesystem
2. On filesystems without proper symbolic link support or case insensitivity, it's the only way to ensure we get reproducible repo contents, otherwise the tree hashes would be different on different OSes

We could theoretically make Pantry simply ignore broken symlinks, but the error we're getting here is due to more ri

[2019-02-13 11:03] ndmitchell commented on #4535
Thanks! Any chance of deploying the updated script to the `https://get.haskellstack.org` now? It means I could simplify my CI scripts. @borsboom

[2019-02-13 12:26] dbaynard commented on #4468
Ah, thanks anyway.

[2019-02-13 12:36] qrilka commented on #4579
@dbaynard the only solution I could propose in this case is to add `fonts export-ignore` to `.gitattributes` of your git-annex repo. If that sounds as a good workaround then it makes sense to document it.

[2019-02-13 15:54] dbaynard commented on #4579
Yes, fixing the archive seems like the right way to do this. I'll try your suggestion. I wonder if there are other cases where archiving fails, too?

---

Meanwhile:

This snippet shows the code which is throwing this error (the upper `case` is the end of the definition of `toSimple`).

https://github.com/commercialhaskell/stack/blob/7a076ab3a79abfe9a65410891b42938825feb96e/subs/pantry/src/Pantry/

[2019-02-14 02:46] spacekitteh opened #4587 "Stack should include pkg-config by default on mingw64"
A bunch of FFI libraries require pkgconfig, and it took several hours to figure out how to get it working.

[2019-02-14 15:19] qrilka commented on #4566
@ndmitchell with fixes in #4588 I see no more repeated rebuilds of Hadrian or its dependencies

[2019-02-14 15:26] #4266 closed

[2019-02-14 15:50] recursion-ninja commented on #4495
Suppose I write a library function like so:
[code]

Then suppose a user of my library a user points out that the function returns the cube of the input and not the square. I would not direct them to the haddock documentation which clearly specifies the unintuitive functionality. I would not classify correcting the issue as a "design change" instead of a "bug."

`square` is clearly a misnamed funct

[2019-02-14 16:02] recursion-ninja commented on #2957
Unfortunately, I have not been able to divert time away from work to rectify this as I hoped I might be able to two years ago.

However, it appears that there has been no movement by anyone on this after two years. Additionally, this seems like pretty basic functionality for a build system. Where is this on the priority queue?

[2019-02-14 17:57] ntc2 commented on #2957
@recursion-ninja here's a related, still open issue, that includes a work around: https://github.com/commercialhaskell/stack/issues/4032

It should also be pretty easy to implement a solution based on that work around (i.e. always have two stack work dirs, one for profiling builds and one for non-profiling builds).

[2019-02-14 18:48] qrilka commented on #2957
I didn't have a chance to try it out yet but theoretically new Pantry version of Stack in the current `master` should give you separately built/stored libraries with profiling

[2019-02-14 20:33] #3951 closed

[2019-02-14 23:05] borsboom commented on #2983
Alright, I clarified the docs in #4589.  I agree it would be nice to support replacing it from the config file too.

[2019-02-14 23:19] borsboom commented on #4535
I've cherry-picked the changes into the `stable` branch.  It should automatically propagate to https://get.haskellstack.org soon (let me know if it doesn't).

[2019-02-15 08:14] hurlebouc commented on #4560
Hello,

I'm also on WSL and I have the same problem.

[2019-02-15 16:53] simonmichael commented on #3863
Hi @dbaynard, I think:

- stack purge would be an improvement on stack clean --full (more discoverable)
- but I don't think adding yet another command is optimal
- I can't see all the implications for existing workflows, and I don't know the exact costs of doing a full clean, but clean means clean - I think doing a full clean is the better default. If half-cleaning is a useful operation, that coul

[2019-02-15 17:03] simonmichael commented on #3863
After rereading this, I'll qualify: my first three points are debatable, perhaps. I'm more confident about the last two. But my main desires are:
- preventing/fixing state-related build problems should be easy, discoverable, and default
- unnecessarily complicated commands and options should be avoided
If half-cleaning remains the default, printing a note explaining what was cleaned and how to cle

[2019-02-17 13:51] f-z commented on #4426
I tried installing from scratch on Mojave both by using homebrew and via the shell script method and the problem appears on both occasions. I also removed the command line tools and reinstalled them using `xcode-select --install`, but that was of no help either. I think it might be caused by an error when trying to compile a C program on Mojave.

[2019-02-17 14:02] f-z commented on #3741
Same issue on 8.6.3, still not fixed

[2019-02-17 14:05] f-z commented on #3741
It also appears that gcc -v has been changed to --version in the latest releases, as the poster above suggested, but that still does not resolve the issue.

[2019-02-17 16:00] #4577 closed

[2019-02-17 20:52] nh2 commented on #4559
New task done:

Here comes [hatrace](https://github.com/nh2/hatrace), a Haskell-API for `strace`-style syscall incerception and scripting.

I made it for my work on https://phabricator.haskell.org/D42, but it's very useful for this problem, too.

[2019-02-18 01:41] pozix604 commented on #4503
When is the next minor release?

[2019-02-18 05:14] #4221 closed

[2019-02-18 05:14] #4578 closed

[2019-02-18 23:40] borsboom commented on #4503
At this point, we don't have a timeline planned.  Pretty good chance we won't do another minor release before the next major release, which is under quite active development at the moment.

[2019-02-19 10:10] qrilka commented on #4428
It looks like https://github.com/haskell/cabal/issues/1919 is the problem, I could reproduce it with the current Stack's `master` in the Stack project of the `internal-libraries` integration test

[2019-02-19 11:34] dbaynard opened #4595 "ghci impossible panic with PackageImports when missing dependency (global-project)"
### General summary/comments (optional)

Outside a project, when using `PackageImports`, `stack ghci` and `stack exec -- ghci` panic when a dependency is not already installed.
`$(stack path --compiler-bin)/ghci` works correctly.

### Steps to reproduce

For example:

1. Outside a project, create a file `ghci-fail.hs` as follows, where the import line corresponds to a library that is not already i

[2019-02-19 13:56] #3989 closed

[2019-02-19 15:20] qrilka commented on #4579
@dbaynard that code deals with archives in general so I'm not sure we could talk explicitly about git-annex here, probably we could give some hint that it could be the reason behind such a failure but also there are other options - e.g. archive could come not from git at all and bad symlinks could get put into it my some accident.

[2019-02-20 04:24] falsandtru opened #4598 "Pull specific images using --docker-auto-pull option"
### General summary/comments (optional)

### Steps to reproduce

### Expected

Pull a suitable image automatically.

### Actual

[code]

### Stack version

[code]

### Method of installation

* Official binary, downloaded from stackage.org or fpcomplete's package repository

[2019-02-20 09:34] DuckOfDoom commented on #4523
I can confirm that too.